{# If a title has been set show the title. #}
{% if Title %}
	<div class="banner_title">
		<{{Title_Tags}}>{{Title}}</{{Title_Tags}}>
	</div>
{% endif %}


	
{# If images have been set then show the images. #}
{% if Images %}
	{# Include the zip download feature. #}
	{% include this.frameworkBaseDir() ~ 'includes/footer.twig.html' %}

	<div class="banner_images"> 
		{% for Image in Images %}
			<div class="banner_image"> 
				{% if Image.Floating_Box %} 
					<a
						rel="colorbox"
						href="{{Image.Floating_Box.Src|escape}}"
						{% if Show_caption_on_enlarged_image %}
							data-box-title='
								{% if Image.Text %}
									{{Image.Text|e}}
								{% endif %}
								{% if Show_image_uploaded_date and Image.Uploaded_Date %}
									<span class="uploaded_date">{{Image.Uploaded_Date|e}}</span>
								{% endif %}
								{% if Show_link_to_download_original %}
									<span class="download_link">
										<a href="{{Image.File_Link}}" download>{{"Download original"|trans}}
											{% if Show_file_size and Image.File_Size %} ({{Image.File_Size}}){% endif %}
										</a>
									</span>
								{% endif %}
							'
						{% endif %}
						data-box-className="multiple_image_container{% if not Image.Text %} caption_hidden{% endif %}"
					>
				{% elseif Image.Image_Link_Href %} 
					<a {{Image.Image_Link_Href}}{{Image.Target_Blank}}>
				{% endif %}
					
					{% if this.setting('lazy_load') %} 
						<img class="lazy" data-src="{{Image.Src|escape}}" alt="{{Image.Alt|escape}}" title="{{Image.Title|escape}}" width="{{Image.Width|escape}}" height="{{Image.Height|escape}}"/>
					{% else %}
						<img src="{{Image.Src|escape}}" alt="{{Image.Alt|escape}}" title="{{Image.Title|escape}}" width="{{Image.Width|escape}}" height="{{Image.Height|escape}}"/>
					{% endif %}
				
				{% if Image.Floating_Box %} 
						<span class="banner_image_zoom" title="{{'Enlarge this image'|trans}}">{{"Enlarge this image"|trans}}</span>
					</a>
				{% elseif Image.Image_Link_Href %} 
					</a>
				{% endif %}
				{% if Show_caption_on_image and Image.Text %}
					<div class="title">{{Image.Text}}</div>
				{% endif %}
				
				{% if Show_link_to_download_original %}
					{% if Show_image_uploaded_date and Image.Uploaded_Date %}
						<span class="uploaded_date">{{Image.Uploaded_Date}}</span>
					{% endif %}
					<span class="download_link">
						<a href="{{Image.File_Link}}" download>
							{{"Download original"|trans}}
							{% if Show_file_size and Image.File_Size %}
								({{Image.File_Size}})
							{% endif %}
						</a>
					</span>
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endif %}

{# If text has been set show the text. #}
{% if Text %}
	<div class="banner_text">{{Text}}</div>
{% endif %}