#organizer_leftColumn .organizer_top_level_image.zenario_videos_manager_top_level {
	background: url('images/icon-videos-off.svg') no-repeat center center / 18px 18px;
}

#organizer_leftColumn .legend_on .organizer_top_level_image.zenario_videos_manager_top_level,
#zenario_at_top_left_menu .organizer_top_level_image.zenario_videos_manager_top_level {
	background: url('images/icon-videos-on.svg') no-repeat center center / 18px 18px;
}

.organizer_item_image.zenario_videos_manager_item {
	background: url('images/icon-videos-dark.svg') no-repeat center center / 18px 18px;
}

#organizer_rightColumn .organizer_item_image.zenario_videos_manager_item {
	background-size:20px 20px;
}