<div class="extranet_wrap">
	{% if extranet_no_user %}
		<p>{{'You must be logged in as an Extranet User to see this Plugin.'|trans}}</p>
	{% else %}
		<div class="{{extranet_profile_mode_class|e}}">
			{{form_HTML}}
			
			{% if extranet_screen_name_unconfirmed %}
				{{extranet_openForm}}
					<div class="screen_name_confirmed_info">{{extranet_screen_name_confirmed_info}}</div>
					<input type="submit" value="{{'Confirm screen name'|trans}}" name="extranet_confirm_screen_name"/>
				{{extranet_closeForm}}
			{% elseif extranet_screen_name_confirmed_message %}
				{{extranet_screen_name_confirmed_message}}
			{% endif %}
		</div>
	{% endif %}
</div>