.zenario_ctype_document h1 {
	font-size:3em;
}

.zenario_ctype_document h2 {
	font-size:2.8em;
}

.zenario_ctype_document .document_details_content_download h3 {
	font-family:'robotoregular',Arial, Helvetica, sans-serif;
	font-size:1.2em;
}

.zenario_ctype_document .document_details_content_download a,
.zenario_ctype_document .document_details_content_download h3 {
	color:#2a98ce;
}

.zenario_ctype_document a.document_download:hover {
	text-decoration:none;
}