.zenario_content_list .content_list_listing:before,
.zenario_content_list .content_list_listing:after,
.Grid_Body .zenario_content_list .content_list_listing .content_list_data_row:before,
.Grid_Body .zenario_content_list .content_list_listing .content_list_data_row:after {
	content: '.';
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	display: block;
	overflow: hidden;
	visibility: hidden;
}

.zenario_content_list .content_list_listing:after,
.Grid_Body .zenario_content_list .content_list_listing .content_list_data_row:after {
	clear: both;
}

.zenario_content_list .content_list_listing .content_list_data_row h2 {
	font-family:'robotolight',Arial, Helvetica, sans-serif;
	font-size:1em;
	margin-bottom:2px;
}

.zenario_content_list .content_list_listing .content_list_data_row h2 > a {
	text-transform:uppercase;
}

.zenario_content_list .content_list_listing .content_list_data_row img {
	max-width:100% !important;
	height:auto !important;
}

.zenario_content_list .content_list_listing .content_list_data_row p.content_list_date {
	font-size:0.857em;
	font-family:'cardoregular',Arial, Helvetica, sans-serif;
}

.zenario_content_list__default_style .content_list_listing .content_list_data_row .content_list_more {
	font-size:0.857em;
}

.zenario_content_list__default_style .content_list_listing .content_list_data_row .content_list_more a {
	color:#2a98ce;
}

.slot:not(.slot_news) .zenario_content_list__default_style .content_list_listing .content_list_data_row {
	margin:10px 0;
	border-bottom:1px dotted #333;
}

.zenario_content_list .link_downloads a {
	color:#2a98ce;
}

/* Home page news
--------------------------------------------------------------------------------------------------*/

.slot_news .zenario_content_list__default_style .content_list_listing .content_list_data_row {
	width:32%;
	float:left;
}

.slot_news .zenario_content_list__default_style .content_list_listing .content_list_data_row.data_row_even {
	margin-left:2%;
	margin-right:2%;
}

.slot_news .zenario_content_list .content_list_listing .content_list_data_row h2 {
	margin-top:10px;
}

/* Listing item
--------------------------------------------------------------------------------------------------*/

.Grid_Body .zenario_content_list .content_list_listing .content_list_data_row {
	padding:20px 0;
	border-bottom:1px dotted #777;
}

.Grid_Body .zenario_content_list .content_list_listing > .content_list_data_row:first-child {
	padding-top:0;
}

.Grid_Body .zenario_content_list .content_list_data_row div.sticky_image {
	width:120px;
	float:left;
	margin-right:20px;
}

.Grid_Body .zenario_content_list .content_list_data_row div.sticky_image img {
	border:1px solid #777;
}

.Grid_Body .zenario_content_list .content_list_data_row .content_list_more {
	text-align:right;
	font-family:'robotolight',Arial, Helvetica, sans-serif;
	font-size:0.857em;
}

.Grid_Body .zenario_content_list .content_list_data_row .content_list_more:after {
	font-family: 'FontAwesome';
	content: "\f138"; /* fa-angle-right */
}

/* CSL Info icon
--------------------------------------------------------------------------------------------------*/

.zenario_content_list .content_list_listing .content_list_data_row {
	position:relative;
	min-height:30px;
}

.zenario_content_list .content_list_listing .content_list_data_row .content_list_infoIcon {
	position:absolute;
	z-index:9;
	top:5px;
	right:5px;
}

.zenario_content_list .content_list_listing .content_list_data_row .content_list_infoIcon a {
	float:right;
}

/* CSL S3
--------------------------------------------------------------------------------------------------*/

.zenario_content_list .link_downloads .copyClipboard,
.zenario_content_list .link_downloads .copyClipboardAWS {
	display:inline-block;
}