.zenario_event_calendar {
	/* This class will be applied to all plugins of this type. */
}

.zenario_event_calendar .calendar_content {
	overflow:hidden;
}

.zenario_event_calendar .calendar_content .calendar_title,
.zenario_event_calendar .calendar_content .calendar_header {
	padding:10px 20px;
	height:40px;
}

.zenario_event_calendar .calendar_content .calendar_title > *,
.zenario_event_calendar .calendar_content .calendar_header .calendar_month > * {
	color:#FFF;
	margin:0;
	line-height:40px;
	font-family:'robotoregular',Arial, Helvetica, sans-serif;
}

.zenario_event_calendar .calendar_content .calendar_title {
	background:#292e35;
	width:200px;
	float:left;
}

.zenario_event_calendar .calendar_content .calendar_title > *:before {
	font-family:"FontAwesome";
	content: "\f073";
	color:#FFF;
	padding-right:10px;
}

.zenario_event_calendar .calendar_content .calendar_title > * {
	font-size:1em;
	text-transform:uppercase;
	letter-spacing:0.04em;
}

/* Header */

.zenario_event_calendar .calendar_content .calendar_header,
.zenario_event_calendar .day_view_title {
	background:#225474;
}

.zenario_event_calendar .calendar_content .calendar_header {
	border-left:2px solid #FFF;
	width:calc(100% - 200px - 82px);
	float:right;
	text-align:right;
}

.zenario_event_calendar .calendar_content .calendar_header .calendar_month > *,
.zenario_event_calendar .day_view_title > * {
	color:#FFF;
	letter-spacing:0.02em;
}

.zenario_event_calendar .calendar_content .calendar_header .calendar_month > * {
	font-size:2em;
}

/* Content */

.zenario_event_calendar .calendar_content .calendar_month_content {
	clear:both;
	float:none;
}

.zenario_event_calendar .calendar_content .calendar_month_content table {
	table-layout: fixed;
	margin:0;
}

.zenario_event_calendar .calendar_content .calendar_month_content table tr,
.zenario_event_calendar .calendar_content .calendar_month_content table td {
	
}

.zenario_event_calendar .calendar_content .calendar_month_content table td {
	vertical-align:top;
	border:1px solid #efefef;
	background:#f9fbfc;
}

.zenario_event_calendar .calendar_content .calendar_month_content table tr.day_header td {
	padding:10px 20px;
	background:#225474;
	color:#FFF;
}

.zenario_event_calendar .calendar_content .calendar_month_content table td.monthcell {
	width:25%;
}

.zenario_event_calendar .calendar_content.month_view .calendar_month_content table td {
	width:14.8%;
}

.zenario_event_calendar .calendar_content .calendar_month_content table td .content_cell {
	display:inline-block;
	width:calc(100% - 20px);
	position:relative;
	height:100px;
	padding:10px;
}

.zenario_event_calendar .calendar_content .calendar_month_content table td .content_cell .content_month,
.zenario_event_calendar .calendar_content .calendar_month_content table td .content_cell div.day_number {
	margin-bottom:10px;
	color:#000;
	font-size:1.1em;
	text-transform:uppercase;
}

.zenario_event_calendar .calendar_content .calendar_month_content table td .content_cell .event {
	width:100%;
	clear:both;
	font-size:0.8125em;
	line-height:1.4em;
	margin-bottom:5px;
}

.zenario_event_calendar .calendar_content .calendar_month_content table td .content_cell .event,
.zenario_event_calendar .calendar_content .calendar_month_content table td .content_cell .event a {
	display:inline-block;
	color:#333;
}

.zenario_event_calendar .calendar_content .calendar_month_content table td .content_cell .event a {
	width:calc(100% - 6px);
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
	padding:2px 2px 2px 4px;
	text-decoration:none;
	background:rgba(187, 68, 71, 0.1);
	-webkit-border-radius:2px;
	border-radius:2px;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.zenario_event_calendar .calendar_content .calendar_month_content table td .content_cell .event a:hover {
	background:rgba(187, 68, 71, 0.2);
}

.zenario_event_calendar .calendar_content .calendar_month_content table td .event_count {
	display:inline-block;
	position:absolute;
	top:10px;
	right:10px;
	width: 22px;
	height: 22px;
	text-align: center;
	line-height: 20px;
	font-size: 13px;	
	background: #bb4447;
	color: #fff;
	-webkit-border-radius:50%;
	border-radius:50%;
}

.zenario_event_calendar .calendar_content .calendar_month_content table td.current_month,
.zenario_event_calendar .calendar_content .calendar_month_content table td.today {
	background:#dbe6ea;
}

.zenario_event_calendar .calendar_content .calendar_month_content table td.monthcell.current_month .content_cell .content_month,
.zenario_event_calendar .calendar_content .calendar_month_content table td.today div.today {
	color:#225474;
}

.zenario_event_calendar .calendar_content .calendar_month_content table td.has_events,
.zenario_event_calendar .calendar_content .calendar_month_content table td.event {
	background:#f1e3e4;
}

.zenario_event_calendar .calendar_content .calendar_month_content table td.monthcell.has_events .content_cell .content_month,
.zenario_event_calendar .calendar_content .calendar_month_content table td.monthcell.has_events .content_cell .content_month a span,
.zenario_event_calendar .calendar_content .calendar_month_content table td.has_events .today,
.zenario_event_calendar .calendar_content .calendar_month_content table td.event .content_cell div.day,
.zenario_event_calendar .calendar_content .calendar_month_content table td.event .content_cell div.day a span,
.zenario_event_calendar .calendar_content .calendar_month_content table td.monthcell.has_events .content_cell .content_month a span.see_events:hover,
.zenario_event_calendar .calendar_content .calendar_month_content table td.event .content_cell div.day a span.see_events:hover {
	color:#bb4447;
}

.zenario_event_calendar .calendar_content .calendar_month_content table td.monthcell.has_events .content_cell .content_month,
.zenario_event_calendar .calendar_content .calendar_month_content table td.event .content_cell div.day {
	overflow:hidden;
}

.zenario_event_calendar .calendar_content .calendar_month_content table td.monthcell.has_events .content_cell .content_month span,
.zenario_event_calendar .calendar_content .calendar_month_content table td.event .content_cell div.day span,
.zenario_event_calendar .calendar_content .calendar_month_content table td.monthcell.has_events .content_cell .content_month a span.see_events,
.zenario_event_calendar .calendar_content .calendar_month_content table td.event .content_cell div.day a span.see_events {
	float:left;
}

.zenario_event_calendar .calendar_content .calendar_month_content table td.monthcell.has_events .content_cell .content_month a span.see_events,
.zenario_event_calendar .calendar_content .calendar_month_content table td.event .content_cell div.day a span.see_events {
	position:relative;
	color:#2a98ce;
	width:20px;
	height:20px;
	display:inline-block;
	text-indent:-99px;
	font-size:0;
	line-height:0;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.zenario_event_calendar .calendar_content .calendar_month_content table td.monthcell.has_events .content_cell .content_month a span.see_events:after,
.zenario_event_calendar .calendar_content .calendar_month_content table td.event .content_cell div.day a span.see_events:after {
	position:absolute;
	right:0;
	font-family:"FontAwesome";
	content: "\f2d2";
	font-size:13px;
	text-indent:0;
	line-height:1em;
}

/* Bottom */

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner {
	overflow:hidden;
	padding:10px;
	border:1px solid #efefef;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_prev {
	width:50%;
	float:left;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_next {
	width:50%;
	float:right;
	text-align:right;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_prev_next a {
	display:inline-block;
	position:relative;
	line-height:30px;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div a:hover {
	text-decoration:none;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_prev a {
	padding-left:40px;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_next a {
	padding-right:40px;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_prev_next a,
.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_prev_next a:before,
.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_prev_next a:after {
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_prev_next a:before,
.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_prev_next a:after {
	position:absolute;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_prev_next a:before {
	content:"";
	top:0;
	width:30px;
	height:30px;
	line-height:30px;
	background:#DBDFDE;
	-webkit-border-radius:50%;
	border-radius:50%;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_prev a:before {
  	left:0;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_next a:before {
  	right:0;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_prev_next a:after {
	top:-1px;
	line-height:30px;
	font-family:"FontAwesome";
  	font-size:1.2em;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_prev a:after {
	content: "\f104";
  	left:10px;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_next a:after {
	content: "\f105";
  	right:10px;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_prev_next a:hover {
	text-decoration:none;
	color:#2a98ce;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_prev_next a:hover:before {
	background:#2a98ce;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner > div.calendar_prev_next a:hover:after {
	color:#fff;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner .calendar_year_navigation {
	text-align:center;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner .calendar_year_navigation span a {
	display:inline-block; 
	padding:2px 8px;
	margin:0 8px;
	background:#DBDFDE;
	-webkit-border-radius:2%;
	border-radius:2px;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner .calendar_year_navigation span a:hover {
	background:#2a98ce;
	color:#FFF;
}

.zenario_event_calendar .calendar_content .calendar_bottom .calendar_bottom_inner .calendar_year_navigation span.on a {
	background:#225474;
	color:#fff;
}

/*  Popup colorbox
--------------------------------------------------------------------------------------------------*/

#colorbox.event_calendar #cboxTitle {
	display:none !important;
}

#colorbox .zenario_event_calendar {
	width:900px;
	height:70vh;
}

#colorbox .zenario_event_calendar .calendar {
    overflow: hidden;
	height: calc(100% - 30px);
	padding:20px 30px 10px;
}

#colorbox .zenario_event_calendar .calendar .day_view {
	height:100%;
	overflow-y:auto;
}

#colorbox .zenario_event_calendar .calendar .day_view .day_view_events_list {
	padding-right:10px;
}

#colorbox .zenario_event_calendar .day_view_title {
	overflow:hidden;
	padding:10px;
}

#colorbox .zenario_event_calendar .day_view_title h1 {
	float:left;
	font-size:1.2em;
}

#colorbox .zenario_event_calendar .day_view_title .event_count_in_window {
	float:right;
	line-height: 20px;
	font-size: 13px;
	padding:0 4px 1px;
	background: #bb4447;
	color: #fff;
	-webkit-border-radius: 2px;
	border-radius: 2px%;
}

#colorbox .zenario_event_calendar .day_view_events_list ul {
	padding:0 10px 0 10px;
}

#colorbox .zenario_event_calendar .day_view_events_list ul li {
	padding:15px 0;
	border-top:1px dotted #333;
}

#colorbox .zenario_event_calendar .day_view_events_list ul li:first-child {
	border-top:0;
}

#colorbox .zenario_event_calendar .day_view_events_list ul li a {
	color:#333;
	text-decoration:none;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#colorbox .zenario_event_calendar .day_view_events_list ul li a:hover {
	color:#2a98ce;
	text-decoration:underline;
}

#colorbox .zenario_event_calendar .day_view_events_list ul li .day_view_event {
	overflow:hidden;
	font-size:90%;
    line-height: 1.4em;
    position:relative;
    padding-left:20px;
}

#colorbox .zenario_event_calendar .day_view_events_list ul li .day_view_event:before {
	font-family:"FontAwesome";
	content: "\f073";
	position:absolute;
	left:0;
	top:0;
}

#colorbox .zenario_event_calendar .day_view_events_list ul li .day_view_event div.sticky_image {
	float:right;
	padding-left:10px;
}

#colorbox .zenario_event_calendar .day_view_events_list ul li .day_view_event h3 {
	overflow:hidden;
	padding-bottom:5px;
}

#colorbox .zenario_event_calendar .day_view_events_list ul li .day_view_event h3 a,
#colorbox .zenario_event_calendar .day_view_events_list ul li .day_view_event:before {
	color:#225474;
}

#colorbox .zenario_event_calendar .day_view_events_list ul li .day_view_event .day_view_event_time {
	padding-bottom:5px;
	font-size: 95%;
	color:#bb4447;
}

#colorbox .zenario_event_calendar .day_view_events_list ul li .day_view_event .day_view_event_summary {
	font-size: 95%;
    color: #555;
}

#colorbox .zenario_event_calendar .day_view_events_list ul li .day_view_event .day_view_event_more a {
	display:inline-block;
	background:#2a98ce;
	color:#FFF;
	font-size:85%;
	padding:1px 8px 2px 8px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#colorbox .zenario_event_calendar .day_view_events_list ul li .day_view_event .day_view_event_more a:hover {
	text-decoration:none;
	background:#225474;
}