.zenario_multiple_image_container .banner_images {
	overflow:hidden;
}

.zenario_multiple_image_container .banner_images .banner_image {
	float:left;
	width:30%;
	margin:20px 1.5%;
	position:relative;
	z-index:1;
}

.zenario_multiple_image_container .banner_images .banner_image:nth-child(3n+1) {
	clear:left;
}

.zenario_multiple_image_container .banner_images .banner_image img {
	max-width:100% !important;
	height:auto !important;ase-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.zenario_multiple_image_container .banner_images .banner_image:hover img {
	opacity:0.8;
}

.zenario_multiple_image_container .banner_images .banner_image .banner_image_zoom {
	opacity:0;
	visibility:hidden;
	position:absolute;
	z-index:3;
	top:10px;
	right:10px;
	width:24px;
	height:24px;
	font-size:0;
	line-height:0;
	text-indent:-99px;
	background:#fff url('../images/icon-magnifyer.svg') no-repeat center / 18px 18px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition : all 200ms ease-in-out;
  	-moz-transition : all 200ms ease-in-out;
  	-o-transition : all 200ms ease-in-out;
  	transition : all 200ms ease-in-out;
}

.zenario_multiple_image_container .banner_images .banner_image:hover .banner_image_zoom {
	opacity:1;
	visibility:visible;
}

.zenario_multiple_image_container .banner_images .banner_image span.download_link {
	display:block;
}

.zenario_multiple_image_container .banner_images .banner_image .title {
	float:none;
	color:#333;
}

.zenario_multiple_image_container .banner_images .banner_image .title,
.zenario_multiple_image_container .banner_images .banner_image span.download_link,
#colorbox.multiple_image_container #cboxTitle {
	font-size:0.857em;
}

#colorbox.multiple_image_container #cboxTitle {
	width:calc(100% - 70px);
	padding-right:60px;
	line-height:1.2em;
}

.zenario_multiple_image_container .banner_images .banner_image span.download_link {
	padding-top:5px;
	color:#2a98ce;
}

.zenario_multiple_image_container .banner_images .banner_image .title {
	line-height:1.4em;
	padding-bottom:5px;
}

.zenario_multiple_image_container .banner_images .banner_image span.uploaded_date {
	font-size:0.813em;
	color:#888;
}

.zenario_multiple_image_container .banner_images .banner_image span.download_link:before,
#colorbox.multiple_image_container  #cboxTitle span.download_link a:before {
	font-family:"FontAwesome";
	content: "\f019";
	color:#2a98ce;
}

/* Colorbox popout
------------------------------------------------------------------------------------------------- */

#colorbox.multiple_image_container  #cboxTitle span.uploaded_date {
	display:block;
	padding-top:2px;
	font-size:0.813em;
	color:#ccc;
}

#colorbox.multiple_image_container  #cboxTitle span.download_link {
	position:absolute;
	top:0;
	bottom:0;
	right:15px;
	border-left: 1px solid #fff;
}

#colorbox.multiple_image_container  #cboxTitle span.download_link a {
	font-size:0;
	text-indent:-999px;
	line-height:0;
}

#colorbox.multiple_image_container  #cboxTitle span.download_link a:before {
	font-size:22px;
	line-height:18px;
	text-indent:0;
	position: relative;
	top: 15px;
	padding-left: 15px;
    -moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#colorbox.multiple_image_container  #cboxTitle span.download_link a:hover:before {
	color:yellow;
}
