.zenario_promo_menu:before,
.zenario_promo_menu:after {
	content: '.';
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	display: block;
	overflow: hidden;
	visibility: hidden;
}

.zenario_promo_menu:after {
	clear: both;
}

.zenario_promo_menu ul,
.zenario_promo_menu ul li {
	list-style:none;
	margin:0;
	padding:0;
}

.zenario_promo_menu__default_style {
	position:relative;
	font-family:'robotoregular',Arial, Helvetica, sans-serif;
	text-align:right;
}

.zenario_promo_menu__default_style ul li { 
	padding:0 15px;
}

.zenario_promo_menu__default_style ul li > a {
	position:relative;
	z-index:60;
	height:50px;
	padding-top:30px;
	-webkit-transition : background-color 200ms ease-in-out;
  	-moz-transition : background-color 200ms ease-in-out;
  	-o-transition : background-color 200ms ease-in-out;
  	transition : background-color 200ms ease-in-out;
}

.zenario_promo_menu__default_style ul,
.zenario_promo_menu__default_style ul li,
.zenario_promo_menu__default_style ul li a {
	display:inline-block;
}

.zenario_promo_menu__default_style ul .columns_wrap {
	width:100%;
	overflow:hidden;
	position:absolute;
	top:80px;
    left:0;
	z-index:59;
}

.zenario_promo_menu__default_style ul .columns_wrap {
	opacity:0;
	visibility:hidden;
	-webkit-transition : opacity 200ms ease-in-out;
  	-moz-transition : opacity 200ms ease-in-out;
  	-o-transition : opacity 200ms ease-in-out;
  	transition : opacity 200ms ease-in-out;
}

.zenario_promo_menu__default_style ul li:hover .columns_wrap {
	opacity:1;
	visibility:visible;
}

body.ie .zenario_promo_menu__default_style ul .columns_wrap {
	display:none;
}

body.ie .zenario_promo_menu__default_style ul li:hover .columns_wrap {
	display:block;
	opacity:1;
	visibility:visible;
}

.zenario_promo_menu__default_style ul .columns_wrap .column {
	float:left;
	width:calc(33.33% - 40px);
	padding:10px 20px;
}

.zenario_promo_menu__default_style .feature_wrap {
	float:right;
	width:calc(33.33% - 20px);
	padding:10px 20px 20px 0;
}

.zenario_promo_menu__default_style ul li.has_child .columns_wrap a {
	border-top:0;
	display:block;
	position:relative;
	line-height:20px;
	padding:5px 0 5px 10px;
	margin:5px 0;
	-webkit-transition : all 200ms ease-in-out;
  	-moz-transition : all 200ms ease-in-out;
  	-o-transition : all 200ms ease-in-out;
  	transition : all 200ms ease-in-out;
}

.zenario_promo_menu__default_style ul li.has_child .columns_wrap .level3 a,
.zenario_promo_menu__default_style ul li.has_child .columns_wrap .level3_on a {
	margin:2px 0;
	padding:2px 0 2px 35px;
}

/**/

.zenario_promo_menu__default_style ul {
	text-transform:uppercase;
}

.zenario_promo_menu__default_style ul .columns_wrap {
	text-transform:none;
	text-align:left;
}

.zenario_promo_menu__default_style ul li a {
	text-decoration:none;
}

.zenario_promo_menu__default_style ul > li.has_child > a:after,
.zenario_promo_menu__default_style .columns_wrap .level2 > a:before,
.zenario_promo_menu__default_style .columns_wrap .level3 > a:before {
	font-family: 'FontAwesome';
}

.zenario_promo_menu__default_style ul > li.has_child > a:after {
	content:'\f107';
}

.zenario_promo_menu__default_style .columns_wrap .level2 > a:before,
.zenario_promo_menu__default_style .columns_wrap .level3 > a:before {
	content:'\f105';
}

.zenario_promo_menu__default_style .columns_wrap .level3 > a {
	font-size:0.875em;
}

.zenario_promo_menu__default_style ul li:hover > a {
	color:#00659b;
}

.zenario_promo_menu__default_style ul li.level1_on > a {
	color:#2a98ce;
}

.zenario_promo_menu__default_style ul li.has_child:hover > a {
	background-image:url('../images/menu-triangle.png');
	background-repeat:no-repeat;
	background-position:center bottom;
}

.zenario_promo_menu__default_style .columns_wrap {
	background:#00659b;
}

.zenario_promo_menu__default_style,
.zenario_promo_menu__default_style a {
	color:#000;
}

.zenario_promo_menu__default_style .columns_wrap,
.zenario_promo_menu__default_style .columns_wrap a {
	color:#FFF;
}

.zenario_promo_menu__default_style .columns_wrap .level2 > a:hover {
	background:rgba(255, 255, 255, 0.4);
}

.zenario_promo_menu__default_style .columns_wrap .level2_on > a,
.zenario_promo_menu__default_style .columns_wrap .level2_on > a:hover {
	background:rgba(255, 255, 255, 0.3);
}

.zenario_promo_menu__default_style .columns_wrap .level3_on > a {
	color:rgba(255, 255, 255, 0.7);
}

.zenario_promo_menu__default_style .columns_wrap .level3_on > a,
.zenario_promo_menu__default_style .columns_wrap .level3 > a:hover {
	text-decoration:underline;
}

.zenario_promo_menu__default_style .columns_wrap .level3_on > a,
.zenario_promo_menu__default_style .columns_wrap .level3_on > a:hover {
	
}

/* Feature image */

.zenario_promo_menu__default_style .second_gallery_wrap {
	display:none;
}

.zenario_promo_menu__default_style .feature_wrap {
	position:relative;
}

.zenario_promo_menu__default_style .feature_wrap img {
	border:5px solid #FFFFFF;
	margin:10px auto;
	max-width:calc(100% - 10px) !important;
	height:auto !important;
}

.zenario_promo_menu__default_style .feature_wrap .feature_title h2,
.zenario_promo_menu__default_style .feature_wrap .feature_text p {
	padding:0 0 5px;
	margin:0;
	font-weight:400;
}

.zenario_promo_menu__default_style .feature_wrap .feature_title a {
	text-decoration:underline;
}

.zenario_promo_menu__default_style ul .columns_wrap .feature_wrap a,
.zenario_promo_menu__default_style ul li.has_child .columns_wrap .feature_wrap a {
	padding:0;
	margin:0;
}

.zenario_promo_menu__default_style .feature_wrap .feature_title h2 {
	display:inline-block;
	line-height:22px;
	font-family:'robotoregular',Arial, Helvetica, sans-serif;
	font-size:1.067em;
	-webkit-transition : color 200ms ease-in-out;
  	-moz-transition : color 200ms ease-in-out;
  	-o-transition : color 200ms ease-in-out;
  	transition : color 200ms ease-in-out;
}

.zenario_promo_menu__default_style .feature_wrap h2,
.zenario_promo_menu__default_style .feature_wrap h2 a {
	color:#FFF !important;
	text-transform:uppercase;
}

.zenario_promo_menu__default_style ul li.has_child .feature_wrap a {
	background:none;
}

.zenario_promo_menu__default_style .feature_wrap .feature_text p {
	font-size:0.875em;
	line-height:18px;
}

.zenario_promo_menu__default_style .feature_wrap div {
	width:100%;
	display:block;
}

.zenario_promo_menu__default_style ul li.node_mobile {
	display:none;
}