.zenario_skin .zfea_button,
.zenario_skin .nest_buttons a,
.zenario_skin .icon_button,
.zenario_skin div[class*="fea"] input[type="submit"], 
.zenario_skin div[class*="fea"] input[type="button"] {
    background-color:#2a98ce;
    color:#fff;
}

.zenario_skin div[class*="fea"] input[type="submit"], 
.zenario_skin div[class*="fea"] input[type="button"] {
	height:36px;
	line-height:1em;
}

.zenario_skin div[class*="fea"] input[type="text"], 
.zenario_skin div[class*="fea"] input[type="password"], 
.zenario_skin div[class*="fea"] input[type="email"], 
.zenario_skin div[class*="fea"] input[type="search"], 
.zenario_skin div[class*="fea"] textarea, 
.zenario_skin div[class*="fea"] select {
	max-width:450px;
}

.zenario_skin .zfea .search_form input[type="submit"] {
	height:41px;
	background-color:#2a98ce;
	border-color:#2a98ce;
	color:#FFF;
}

.zenario_skin .zfea .search_form input[type="submit"]:hover {
	opacity:0.8;
}

.zenario_skin .zfea_table_list_wrap table tr th, 
.zenario_skin .zfea_table_list_wrap table tr td {
	border:0;
	border-bottom:1px solid #ccc;
}

.zenario_skin table.table_list tr th {
	background:#AAA;
}

