/* Layout min-width: 1366px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 1367px) {

	.nest_portfolio .zenario_banner,
	.nest_portfolio .zenario_banner .banner_wrap,
	.nest_portfolio .zenario_banner .banner_wrap .banner_wrap_outer,
	.nest_portfolio .zenario_banner .banner_wrap .banner_wrap_outer .banner_wrap_inner,
	.slot_full_banner .zenario_banner,
	.slot_full_banner .zenario_banner > div,
	.slot_full_banner .zenario_banner > div > div,
	.slot_full_banner .zenario_banner > div > div > div {
		width:100% !important;
	}

	.slot_content_image .zenario_banner .banner_wrap_inner > a,
	.nest_portfolio .zenario_banner .banner_wrap_inner > a,
	.slot_full_banner .zenario_banner .banner_wrap_inner > a {
		width:auto !important;
	}
	
	.slot_content_image .zenario_banner .banner_wrap_inner > a,
	.slot_full_banner .zenario_banner .banner_wrap_inner > a {
		background-size:contain !important;
	}
	
	.zenario_slideshow .zenario_banner .banner_content {
		padding:0 50px;
	}
	
	.zenario_slideshow .zenario_banner .banner_content .banner_title h2 {
		font-size: 3.5em;
		font-size: 3.5vh;
	}

	.zenario_slideshow .zenario_banner .banner_content .banner_text {
		font-size: 2em;
		font-size: 2vh;
	}
	
	.zenario_slideshow a.next {
		right:15px;
	}
	
	.zenario_slideshow a.prev {
		left:15px;
	}
	
	.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_image picture img {
		max-width:100% !important;
		height:auto !important;
	}

}

/* Layout min-width: 1045px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 1045px) {

	.extranet_wrap .extranet_field.zenario_visitor_tooltip_wrap .zenario_visitor_tooltip {
		right:0;
	}
	
}

/* Layout min-width: 1024px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 1025px) {
	
	.zenario_skin img,
	.Grid_Header img {
		max-width:100% !important;
		height:auto !important;
	}
	
	.zenario_skin .zenario_html_snippet img {
		max-width:calc(100% - 20px) !important;
	}
	
	.zenario_menu .wrap_menu_inner > ul > li,
	.zenario_promo_menu ul li {
		padding:0 10px;
	}
	
	.zenario_html_snippet img {
		padding:10px;
	}
	
	.zenario_skin .zenario_google_map img {
		max-width:none !important;
		height:initial !important;
	}
	
	.nest_portfolio .zenario_banner .banner_wrap_inner > a,
	.slot_full_banner .zenario_banner .banner_wrap_inner > a {
		width:auto !important;
		background-size:cover !important;
	}
	
	.nest_portfolio .zenario_banner .banner_wrap_inner > a {
		height:350px !important;
	}
	
	.slot_full_banner .zenario_banner .banner_wrap_inner > a {
		height:350px !important;
	}
	
	.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_content p {
		font-size:0.875em;
	}
	
	.zenario_slideshow .zenario_banner .banner_content .banner_title h2 {
		font-size: 3em;
		font-size: 3vh;
	}

	.zenario_slideshow .zenario_banner .banner_content .banner_text {
		font-size: 1.75em;
		font-size: 1.75vh;
	}
	
}

/* Layout min-width: 768px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 769px) {

	body.mobile .slot_top {
		margin-bottom:50px;
	}

	body.mobile .zenario_skin h1 {
		font-size:3em;
	}

	body.mobile .zenario_skin h2 {
		font-size:2.5em;
	}

	body.mobile .zenario_skin h3 {
		font-size:1.5em;
	}

	body.mobile .zenario_skin h4 {
		font-size:1.375em;
	}

	body.mobile .zenario_skin h5 {
		font-size:1.250em;
	}

	body.mobile .zenario_skin h6 {
		font-size:1.1em;
	}

	body.mobile .section {
		margin-top:20px;
	}
	
	body.mobile .Grid_Header {
		height:50px;
	}
	
	body.mobile .Grid_Header .container {
		position:relative;
		text-align:center;
	}
	
	body.mobile .Grid_Body .container,
	body.mobile .Grid_Content .container,
	body.mobile .Grid_Footer .container,
	body.mobile .Grid_Full_Boxes .container {
		padding-left:15px;
		padding-right:15px;
	}
	
	body.mobile .slot_logo {
		display:inline-block;
		position:absolute;
		left:0;
		right:0;
		margin:auto;
	}
	
	body.mobile .slot_logo .zenario_banner .banner_image {
  		padding-top:8px;
	}
	
	.mm-opened .zenario_slideshow .nest_wrap {
		margin-left:0;
	}
	
	body.mobile .Grid_Body .container {
		min-height:0;
	}
	
	body.mobile .zenario_slideshow {
		padding-bottom:20px;
	}
	
	body.mobile .zenario_slideshow .banner_content {
		font-size:200%;
	}
	
	body.mobile .zenario_slideshow .banner_content .banner_title {
		line-height:1.2em;
	}
	
	body.mobile .zenario_slideshow .banner_content .banner_text {
		line-height:1.2em;
	}
	
	body.mobile .zenario_slideshow a.prev, 
	body.mobile .zenario_slideshow a.next {
		font-size:200%;
	}
	
	body.mobile .zenario_slideshow a.prev {
		left:10px;
	}
	 
	body.mobile .zenario_slideshow a.next {
		right:10px;
	}
	
	body.mobile .slot_masthead .zenario_banner .banner_wrap_inner > a {
		height:250px !important;
	}
	
	body.mobile .slot_masthead .zenario_banner .banner_content {
		bottom:0;
		padding:10px 15px;
	}
	
	body.mobile .slot_masthead .zenario_banner .banner_content .banner_title h2 {
		margin-bottom:5px;
		font-size:1.5em;
	}
	
	body.mobile .slot_masthead .zenario_banner .banner_content .banner_text p {
		font-size:0.875em;
	}
	
	body.mobile .nest_wrap .minigrid.span4 {
		width:30%;
		margin:0 1.5%;
		float:left;
	}
	
	body.mobile .zenario_banner.banner_standard > div {
		padding:0;
	}
	
	body.mobile .zenario_banner.banner_standard .banner_text h2 {
		margin-bottom:20px;
	}
	
	body.mobile .banner_standard {
		padding-bottom:20px;
	}
	
	body.mobile .banner_standard .banner_more {
		text-align:center;
	}
	
	body.mobile .slot_full_banner .zenario_banner .banner_wrap .banner_title h2 {
		font-size:2em;
	}
	
	body.mobile .slot_full_banner .zenario_banner .banner_wrap .banner_content p {
		font-size:1em;
	}
	
	body.mobile .Grouping_Contact {
		background:none;
	}
	
	body.mobile .Grouping_Contact .zenario_user_forms .form_wrapper {
		margin-left:0;
	}
	
	body.mobile .slot_content_image .banner_image {
		text-align:center;
	}
	
	body.mobile .slot_content_image .banner_image img {
		max-width:400px !important;
		margin:auto;
	}
	
	body.mobile .slot_contact_form .zenario_user_forms {
		border-top:2px solid #b8babc;
		margin-top:20px;
		padding-top:20px;
	}
	
	body.mobile .slot_contact_form .form_buttons {
		text-align:center;
	}
	
	body.mobile .Grid_Footer {
		padding:10px 0 50px;
	}
	
	body.mobile .Grid_Footer .zenario_slot {
		padding-top:10px;
	}
	
	body.mobile .Grid_Footer .Slot_Address,
	body.mobile .Grid_Footer .Grouping_Footer {
		text-align:center;
	}
	
	body.mobile .nest_portfolio .zenario_banner .banner_wrap_inner > a {
		width:auto !important;
		height:250px !important;
		background-size:auto 100% !important;
	}
	
	body.mobile .nest_portfolio .span4 .zenario_banner .banner_content .banner_title h2 {
		font-size:1em;
		line-height:22px;
	}
	
	body.mobile .Grid_Footer .Slot_Address,
	body.mobile .Grouping_Footer .zenario_slot,
	body.mobile .nest_portfolio .span4 .zenario_banner .banner_content .banner_text,
	body.mobile .nest_portfolio .span4 .zenario_banner .banner_content .banner_more {
		font-size:0.8em;
		line-height:20px;
	}
	
	body.mobile .zenario_user_forms.form_popup {
		right:0;
		left:0;
		margin:auto;
	}
	
	body.mobile .Grid_Footer .Slot_Address .banner_text p.phone {
		font-size:1em;
	}
	
}

/* Layout max-width: 680px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 681px) {

	body.mobile .zenario_user_forms.form_popup {
		display:none;
	}

	body.mobile .Grid_Full_Boxes {
		padding:30px 0;
	}
	
	body.mobile .nest_wrap .minigrid.span4 {
		width:100%;
		margin:0;
		float:none;
	}
	
	body.mobile .nest_portfolio .nest_wrap .minigrid.span4 {
		width:47%;
		margin:0 1.5%;
		float:left;
	}
	
	body.mobile .nest_portfolio .nest_wrap .minigrid.span4 img {
		max-width:400px !important;
	}
	
	body.mobile .nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_content .banner_title h2 {
		font-size:1.2em;
		margin-bottom:0;
	}
	
	body.mobile .nest_portfolio .span4 .zenario_banner .banner_content .banner_text {
		display:none;
	}
	
	body.mobile .zenario_plugin_nest.nest_full_boxes .zenario_slot {
		clear:both;
		overflow:hidden;
		padding:0 15px;
	}
	
	body.mobile .zenario_plugin_nest.nest_full_boxes .zenario_slot .banner_image {
		width:80px;
		float:left;
	}
	
	body.mobile .zenario_plugin_nest.nest_full_boxes .zenario_slot .banner_content {
		width:calc(100% - 95px);
		float:right;
		text-align:left;
		padding-top:5px;
	}

	body.mobile .slot_full_banner .zenario_banner .banner_wrap .banner_content {
		position:relative;
		top:-5px;
		transform:none;
		padding:15px 15px 20px;
		width:calc(100% - 30px);
		background:#f0f0f0;
	}
	
	body.mobile .slot_full_banner .zenario_banner .banner_wrap .banner_more {
		padding-top:0;
	}
	
	body.mobile .slot_masthead .zenario_banner .banner_content {
		background:rgba(0,0,0,0.65);
		position:static;
	}
	
	body.mobile .slot_masthead .zenario_banner .banner_wrap_inner > a {
		height:150px !important;
	}
	
	body.mobile .slot_masthead .zenario_banner .banner_content {
		padding:8px 15px 5px;
	}
	
	body.mobile .zenario_slideshow .zenario_banner .banner_content .banner_title h2 {
		font-size: 2.25em;
		font-size: 2.25vh;
	}

	body.mobile .zenario_slideshow .zenario_banner .banner_content .banner_text {
		font-size: 1.25em;
		font-size: 1.25vh;
	}
	
	body.mobile .slot_news .zenario_content_list .content_list_listing .content_list_data_row {
		width:100%;
		margin:0 0 15px;
		float:none;
		clear:both;
		overflow:hidden;
	}
	
	body.mobile .slot_news .zenario_content_list .content_list_listing .content_list_data_row .sticky_image {
		float:left;
		width:25%;
		margin-right:10px;
	}
	
	body.mobile .slot_news .zenario_content_list .content_list_listing .content_list_data_row .content_list_text {
		overflow:hidden;
	}
	
	body.mobile .slot_news .zenario_content_list .content_list_listing .content_list_data_row h2 {
		margin-top:0;
	}
	
	body.mobile .slot_news .zenario_content_list .content_list_listing .content_list_data_row .content_list_excerpt p {
		font-size:0.857em;
	}
	
	body.mobile .slot_news .zenario_content_list .content_list_listing .content_list_data_row p.content_list_date {
		margin-bottom:0;
	}
	
	body.mobile .zenario_multiple_image_container .banner_images .banner_image {
		width:48%;
		margin:10px 1%;
	}
	
	body.mobile .zenario_multiple_image_container .banner_images .banner_image .title {
		font-size:0.750em;
	}
	
	body.mobile .slot > .zenario_event_calendar,
	body.mobile x-zenario-admin-slot-wrapper > .zenario_event_calendar {
		border:2px solid #000;
		overflow:hidden;
		overflow-x: auto;
		padding-bottom:10px;
		font-size:85%;
	}
	
	body.mobile .slot > .zenario_event_calendar .calendar,
	body.mobile x-zenario-admin-slot-wrapper > .zenario_event_calendar .calendar {
		width:740px;
	}
	
	body.mobile .slot > .zenario_event_calendar .calendar_content .calendar_month_content table td .content_cell,
	body.mobile x-zenario-admin-slot-wrapper > .zenario_event_calendar .calendar_content .calendar_month_content table td .content_cell {
		width:100%;
		padding:0;
	}
	
	body.mobile .slot > .zenario_event_calendar .calendar_content .calendar_month_content table td .event_count,
	body.mobile x-zenario-admin-slot-wrapper > .zenario_event_calendar .calendar_content .calendar_month_content table td .event_count {
		top: 0;
		right: 0;
	}
	
	#colorbox .zenario_event_calendar {
		width:100%;
		height:90vh;
	}
	
}

/* Layout max-width: 480px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 481px) {

	body.mobile .zenario_skin h1 {
		font-size:2.5em;
	}

	body.mobile .zenario_skin h2 {
		font-size:2em;
	}

	body.mobile .zenario_skin h3 {
		font-size:1.375em;
	}

	body.mobile .zenario_skin h4 {
		font-size:1.250em;
	}

	body.mobile .zenario_skin h5 {
		font-size:1.1em;
	}

	body.mobile .zenario_skin h6 {
		font-size:1em;
	}
	
	body.mobile .slot_content_image .banner_image img,
	body.mobile .nest_portfolio .nest_wrap .minigrid.span4 img {
		max-width:100% !important;
	}
	
	body.mobile .slot_top .zenario_plugin_nest .zenario_language_picker .lang_choose_text {
		display:none;
	}
	
	body.mobile .zenario_google_map > div {
		height:300px !important;
	}
	
	body.mobile .zenario_slideshow .zenario_banner .banner_content {
		position:relative;
		top:-5px;
		background:#f0f0f0;
		padding:10px;
		font-size:100%;
	}
	
	body.mobile .zenario_slideshow .zenario_banner .banner_content .banner_title h2 {
		font-size:1.2em;
		margin-bottom:0;
		padding-bottom:5px;
	}
	
	body.mobile .zenario_slideshow .zenario_banner .banner_content .banner_text {
		font-size:0.8em;
	}
	
	body.mobile .zenario_slideshow .zenario_banner .banner_content .banner_text p {
		font-size:1em;
	}
	
	body.mobile .zenario_slideshow .zenario_banner .banner_content .banner_text {
		font-family:'robotoregular',Arial, Helvetica, sans-serif;
	}
	
	body.mobile .zenario_slideshow a.prev, 
	body.mobile .zenario_slideshow a.next {
		top:40px;
	}
	
	body.mobile .zenario_slideshow .bullet {
		height:40px !important;
		bottom:-30px !important;
	}
	
	body.mobile .zenario_slideshow .bullet div {
		width:40px;
		height:40px;
		margin:0 10px 0;
	}
	
}

/* Layout max-width: 320px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 321px) {

	body.mobile .zenario_skin h1 {
		font-size:2.5em;
	}

	body.mobile .zenario_skin h2 {
		font-size:2em;
	}
	
	body.mobile .nest_portfolio .nest_wrap .minigrid.span4 {
		width:100%;
		margin:0;
		float:none;
	}
	
	body.mobile .zenario_user_forms.form_popup.show .close {
		right:5px;
		top:5px;
		background:transparent;
	}
	
	body.mobile .zenario_user_forms.form_popup.show .close:before {
		color:#FFF !important;
		font-size:20px;
	}
	
}

/* Layout max-width: 1024px - 768px
--------------------------------------------------------------------------------------------------*/

@media all and (min-width : 768px) and (max-width: 1024px) {
	
}
