{% set Show_Div = not Background_Image_Attributes %}
{% set Show_A = Background_Image_Attributes or Image_Link_Href %}

{% if Show_Div %}
	<div class="banner_image">
{% endif %}
		{% if Show_A %}
			<a
				{{Background_Image_Attributes}}
				{{Image_Link_Href}}{{Target_Blank}}
			>
		{% endif %}
				{{Image_HTML}}

				{% if Enlarge_Image %}
					<span class="banner_image_zoom" title="{{'Enlarge this image'|trans}}">{{"Enlarge this image"|trans}}</span>
				{% endif %}

				{% if Image_Credit_1 %}
					<span class="banner_image_credit {{Image_Credit_1_CSS|e}}">{{Image_Credit_1_Text|e}}</span>
				{% endif %}

				{% if Image_Credit_2 %}
					<span class="banner_image_credit {{Image_Credit_2_CSS|e}}">{{Image_Credit_2_Text|e}}</span>
				{% endif %}
		{% if Show_A %}
			</a>
		{% endif %}
{% if Show_Div %}
	</div>
{% endif %}