{% if RSS %}{% include this.frameworkBaseDir() ~ 'includes/rss.twig.html' %}
{% else %}
	
	{% include this.frameworkBaseDir() ~ 'includes/header.twig.html' %}
	
	{% set LINKS_IN_INCLUDES = false %}
	
	{% if Rows %}
		{% for item in Row %}
			<a {{item.Link}}{{item.Target_Blank}}>
				<div class="content_list_data_row{% if Content_Items_Equal_Height %} tothesameheight{% endif %} data_row_{{this.oddOrEven()}}{% if item.Disabled %} disabled_link{% endif %}">
					{% include this.frameworkBaseDir() ~ 'includes/feature_image.twig.html' %}
					
					<div class="content_list_text">
						{% include this.frameworkBaseDir() ~ 'includes/title.twig.html' %}
						
						{% include this.frameworkBaseDir() ~ 'includes/excerpt.twig.html' %}
					</div>
				</div>
			</a>
		{% endfor %}
	{% endif %}
	
	{% include this.frameworkBaseDir() ~ 'includes/footer.twig.html' %}

{% endif %}