/* Form fields
--------------------------------------------------------------------------------------------------*/

.zenario_skin form {
	margin:0;
	padding:0;
}

.zenario_skin input,
.zenario_skin button,
.zenario_skin select,
.zenario_skin textarea {
	font-size:1em;
	font-family: "freight-sans-pro", "Verdana", sans-serif;
}

.zenario_skin input[type='text'],
.zenario_skin input[type='password'],
.zenario_skin input[type='email'],
.zenario_skin textarea,
.zenario_skin select {
	width:97%;
	height:40px;
	line-height:30px;
	padding:0 1%;
	color:#34393e;
	background:#fff;
	border: 1px solid #b5b5b5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.zenario_skin select {
	width: 99%;
}

.zenario_skin textarea {
	padding-top:8px;
	padding-bottom:8px;
	min-height: 180px;
	resize: none;
}


/* Messages
--------------------------------------------------------------------------------------------------*/

.error,
.success,
.warning,
.confirm_email_text,
.extranet_error,
.extranet_message,
.extranet_confirm,
.confirm_email_text,
.form_error {
	font-family: "freight-sans-pro", "Verdana", sans-serif;
	border-width:1px;
	border-style:solid;
	width:97%;
	padding:3px 10px;
	margin-bottom:8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Error 
---------------------------------------------------------------------------------------*/
	
	.error,
	.contact_form_error,
	.extranet_error,
	.form_error {
		font-family: "freight-sans-pro", "Verdana", sans-serif;
		background:#FCE4E1;
		border-color:#FAD3C7;	
		color:#AF0615;
	}
	
/* Sucess 
--------------------------------------------------------------------------------------*/
	
	.success,
	.extranet_message {
		font-family: "freight-sans-pro", "Verdana", sans-serif;
		background:#DFF1C1;
		border-color:#AEDC64;
	}