/* Horizontal menu
--------------------------------------------------------------------------------------------------*/

.zenario_menu {
	position:relative;
	background: #0a4a85;
}

.zenario_menu ul, 
.zenario_menu ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.zenario_menu ul li {
    font-size: .8125em;
}

.zenario_menu ul, 
.zenario_menu ul li, 
.zenario_menu ul li a {
    display: inline-block;
    height: 100%;
}

.zenario_menu ul {
    float: left;
}

.zenario_menu  .wrap_menu_inner{
    width: 1140px; 
    margin: auto; 
}

.zenario_menu,
.zenario_menu ul li,
.zenario_menu ul li a {
	height:45px;
}

.zenario_menu ul li a {
	display:block;
	height:32px;
	padding:13px 16px 0;
	-webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;	
}

.zenario_menu ul li a:hover {
	color: #96b9d9;
	text-decoration: none;
}

.zenario_menu ul li.level1_on a {
	background: #c2e1fd; 
	color: #0a4a85;
}

.zenario_menu ul li.level1_1 a,
.zenario_menu ul li.level1_1_on a {
	width: 24px;
    font-size: 0;
}

.zenario_menu ul li.level1_1 a {
	background: url('../images/icon-home-white.svg') no-repeat center center / 35% auto;
}

.zenario_menu ul li.level1_1 a:hover {
	opacity: .6;
}

.zenario_menu ul li.level1_1_on a {
	background: #c2e1fd url('../images/icon-home-blue.svg') no-repeat center center / 35% auto; 
}

.zenario_menu ul li.level1_1_on a:hover {
	background: #c2e1fd url('../images/icon-home-white.svg') no-repeat center center / 35% auto; 
}


