/* Home Logo
--------------------------------------------------------------------------------------------------*/

.slot_logo .zenario_image_container a{
	width: 212px !important;
	height: 110px !important;
	background-size: cover;
	background-position: center -11px;
}

/* Masthead Image Containers
--------------------------------------------------------------------------------------------------*/

.slot_masthead .zenario_image_container {
	background: url('../images/header-bg-gradient-1px-strip.jpg');
}

.slot_masthead .zenario_image_container a {
	margin: auto;
	cursor: default;
}


/* Home Info
--------------------------------------------------------------------------------------------------*/

.slot_info .zenario_image_container {
	position: relative;
	top: -45px;
	display: inline-block;
}

.slot_info .zenario_image_container a:hover {
	cursor: auto;
}






