.zenario_html_snippet {
	line-height: 1.6em;
}

.zenario_html_snippet p, 
.zenario_html_snippet li {
	font-family: "freight-sans-pro", "Verdana", sans-serif;
	font-size: 1.1em;
	font-weight: 500;
}

.zenario_html_snippet img.circle {
	border-radius: 50%;
	border: 8px solid #fff;
	box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.9);
	margin: 10px 10px 10px 45px;
	position: relative;
	z-index: 9;
}

.zenario_html_snippet a {
	font-family: "freight-sans-pro", "Verdana", sans-serif;
	color: #0a4a85;
}

/* Header Title
--------------------------------------------------------------------------------------------------*/

.slot_header_title .zenario_html_snippet {
	position: relative;
	top: 18px;
	margin-bottom: 15px;
}

.slot_header_title .zenario_html_snippet p {
	color: #96b9d9;
    font-size: 1.6em;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    line-height: 1.5em;
}


/* Home Intro
--------------------------------------------------------------------------------------------------*/

.home_intro {
	padding: 0 90px;
	margin-bottom: 90px !important;
	max-width: 655px;
	background-image: url('../images/quotes-down.png'), url('../images/quotes-up.png');
	background-position: left top, right bottom;
	background-repeat: no-repeat;
}

.home_intro h2 {
	font-size: 1.4em;
	font-weight: 700;
	color: #0a4a85;
	font-style: italic;
}

.home_intro h2:nth-child(1) {
	margin-bottom: 20px;
}

/* Home Info
--------------------------------------------------------------------------------------------------*/

.home_info {
	margin-left: 40px;
	/*max-width: 620px;*/
	max-width: 620px;
	
}

.home_info p {
	font-family: "freight-sans-pro", "Verdana", sans-serif;
	font-size: 1.1em;
	font-weight: 500;
}


/* EU
--------------------------------------------------------------------------------------------------*/

.slot_eu .zenario_html_snippet  {
	margin: 0 0 40px 40px;
}

.slot_eu .zenario_html_snippet p {
	font-family: "freight-sans-pro", "Verdana", sans-serif;
	font-style: italic;
	padding-left: 80px;
	background: url('../images/eu-flag.jpg') no-repeat left 6px;
}


/* Copyright
--------------------------------------------------------------------------------------------------*/

.slot_copyright .zenario_html_snippet {
	margin-left: 40px;
}

.slot_copyright .zenario_html_snippet  p {
	color: #0a4a85;
	font-family: "freight-sans-pro", "Verdana", sans-serif;
	font-weight: 500;
}


/* Powered
--------------------------------------------------------------------------------------------------*/

.slot_powered .zenario_html_snippet {
	text-align: right;
}

.slot_powered .zenario_html_snippet p,
.slot_powered .zenario_html_snippet p a  {
	color: #0a4a85;
	font-family: "freight-sans-pro", "Verdana", sans-serif;
	font-weight: 500;
}


/* Privacy Policy 
--------------------------------------------------------------------------------------------------*/

.zenario_html_snippet table.privacy_policy tr th,
.zenario_html_snippet table.privacy_policy tr td {
	border: 1px solid  #2e74b4;
	padding: 5px 10px;
}

.zenario_html_snippet table.privacy_policy tr th {
	color: #2e74b4; 
}


    
    

