/* Layout max-width: 769px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 769px) {
		
	.zenario_skin {
   		font-size: 87.5%;
	}
	
	img {
    	max-width: 100%;
   	 	height: auto !important;
	}

	.Grid_Header {
		padding: 7px 0 12px;
		position: relative;
	}

	.slot_main_menu {
		display: none;
	}

	.slot_logo .zenario_image_container a {
		position: relative;
		left: 17px
	}
	
	.slot_logo .zenario_image_container a {
		width: 111px !important;
		height: 55px !important;
		background-position: center center;
	}
	
	.slot_header_title .zenario_html_snippet {
		position: absolute;
    	top: 14px;
    	left: 30%;
    	margin-right: 20%;
	}
	
	.slot_header_title .zenario_html_snippet p {
		font-size: 1.3em;
		line-height: 1.2em;
	}
	

	.Grid_Body,
	.home_page .Grid_Body {
		position: static;
	}

	.Grid_Body .container,
	.Grid_Grey .container,
	.Grid_Footer .container,
	.Grid_Bottom .container  {
		margin: 0 20px;
	}
	
	.home_page .Grouping_Secondary {
		background: none;
		height: auto;
	}
	
	.home_intro {
		margin-bottom: 35px !important;
	}
	
	.slot_info .zenario_image_container {
		display: none;
	}
	
	.Grid_Grey {
		padding-top: 40px;
	}
	
	.Grid_Bottom .Grouping_Bottom {
		background: none;
		padding-top: 0;
	}
	
	.slot_eu .zenario_html_snippet, 
	.slot_copyright .zenario_html_snippet,
	.slot_connect .zenario_plugin_nest,
	.slot_powered .zenario_html_snippet {
		text-align: center;
	}
	
	.slot_eu .zenario_html_snippet {
		margin-bottom: 10px;
	}
	
	.slot_eu .zenario_html_snippet p {
		padding-left: 0;
		padding-bottom: 30px;
		background: url(../images/eu-flag.jpg) no-repeat 50% bottom / 45px auto;
	}
	
	.slot_connect .zenario_plugin_nest {
		margin-bottom: 0;
	}
	
	.news_listing .content_list_data_row .sticky_image img {
		width: 250px !important;
	}
	
	.events_listing .single_event_sticky_image img {
		width: 250px !important;
	}	
	
	.zenario_html_snippet img.circle {
		width: 200px;
	}
	
	.zenario_user_forms {
		position: static;
	}
	
	.zenario_user_forms .form_field {
		padding: 10px 0;
	}
	
	.zenario_skin input[type='text'], 
	.zenario_skin input[type='password'], 
	.zenario_skin input[type='email'], 
	.zenario_skin textarea, .zenario_skin select {
		height: 35px;
	}
	
	.zenario_skin textarea {
		min-height: 100px;
	}
	
	.zenario_user_forms input[type="submit"] {
		margin-top: 10px;
	}
	
	.slot_masthead .zenario_image_container a  {
		width: 100% !important;
		height: 153px !important;
   		background-size: auto 100%;
	}
	
	.news_meta_data img,
	.events_meta_data img {
		width: 250px !important;
	}
	
	.grey_first_row .zenario_content_list .content_list_data_row h2, 
	.grey_first_row .zenario_content_list .content_list_data_row p, 
	.grey_first_row .zenario_event_listing .single_event h2, 
	.grey_first_row .zenario_event_listing .single_event_description span,
	.grey_first_row .zenario_event_listing .single_event p, 
	.grey_first_row .zenario_banner .banner_text p:nth-child(1),
	.grey_first_row .zenario_banner .banner_text p:nth-child(2), 
	.grey_second_row .zenario_banner .banner_text p:nth-child(2), 
	.grey_second_row .zenario_banner .banner_text p:nth-child(1) {
		font-size:1em;
	}
	
	.grey_first_row .zenario_banner .banner_more a, 
	.grey_second_row .zenario_banner .banner_more a, 
	.grey_first_row .zenario_content_list .content_list_more a, 
	.subscribe_button .banner_more a, 
	.news_listing .content_list_more a, 
	.events_listing .single_event_description .single_event_more_link, 
	.zenario_skin input[type="submit"], 
	.slot_back_link .zenario_banner a, 
	.grey_first_row .zenario_content_list .content_list_more_link, 
	.grey_first_row .zenario_event_listing .single_event_more_link {
		font-size:0.929em;
	}
}

/* Layout max-width: 1300px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 1300px) {

	.slot_eu .zenario_html_snippet,
	.slot_copyright .zenario_html_snippet {
		margin-left: 0;
	}
	
	.news_content_item .container_12 .span9 {
    	width: 100%
	}
	 
	.news_listing .content_list_data_row .content_list_title ,
	.news_listing .content_list_data_row .content_list_excerpt {
		width: 95%;
	}
	
	.twitter_widget {
		display: none;
	}
	
	.slot_masthead .zenario_image_container a {
		width:100% !important;
		background-position:center center !important;
	}
}

/* Layout max-width: 1141px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 1141px) {
	
	.zenario_menu .wrap_menu_inner {
		width:auto;
	}
	
}

/* Layout max-width: 850px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 850px) {

	.home_page .Grouping_Secondary {
		background-size: 90% auto;
	}

	.home_intro {
    	padding: 0 8% 0 11%;
    	background-size: 8%;
	}
	
	.partners .nest_plugins .zenario_image_container {
		height: 120px;
	}
}

/* Layout max-width: 680px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 680px) { 
	
	.Grid_Grey {
		padding-bottom: 0;
	}

	.grey_second_row {
    	margin-top: 20px;
	}

	.grey_first_row .zenario_slot, 
	.grey_second_row .zenario_slot {
		width: 100% !important;
   	 	float: none;
    	overflow: hidden;
    	text-align: left;
    	margin: 0;
    }
    
    .grey_first_row .zenario_slot .banner_title,
    .grey_first_row .zenario_content_list h3,
    .grey_first_row .zenario_event_listing .event_listing > h2,
    .grey_second_row .zenario_slot .banner_title {
    	width: 28%;
    	text-align: center;
    }
    
    .grey_first_row .zenario_slot .banner_image,
    .grey_first_row .zenario_content_list .sticky_image, 
    .grey_first_row .zenario_event_listing .single_event_sticky_image, 
    .grey_first_row .zenario_event_listing .sticky_image_placeholder, 
	.grey_second_row .zenario_slot .banner_image {
    	float: left;
    	
	}
	
	.grey_first_row .zenario_slot .banner_image,
	.grey_first_row .zenario_content_list .sticky_image,
	.grey_first_row .zenario_event_listing .single_event_sticky_image,
	.grey_first_row .zenario_event_listing .sticky_image_placeholder {
		width: 100px;
		margin: 0 35px 0 10px;
	}
	
	.grey_second_row .zenario_slot .banner_image {
		width: 120px;
	}
	
	.grey_first_row .zenario_slot .banner_image img,
	.grey_first_row .zenario_content_list .sticky_image img,
	.grey_first_row .zenario_event_listing .single_event_sticky_image img,
	.grey_first_row .zenario_event_listing .single_event_sticky_image a,
	.grey_first_row .zenario_event_listing .sticky_image_placeholder img,
	.grey_first_row .zenario_event_listing .sticky_image_placeholder a {
	    border-width: 6px;
	    margin: 5px 0 15px
	}
	
	.grey_first_row .zenario_event_listing .single_event_sticky_image a,
	.grey_first_row .zenario_event_listing .sticky_image_placeholder a {
		width:100px;
		height:100px;
	}
	
	.grey_second_row .zenario_slot .banner_image img {
		margin: 0;
	}
	
	.grey_first_row .zenario_slot .banner_title, 
	.grey_first_row .zenario_content_list h3, 
	.grey_first_row .zenario_event_listing .event_listing > h2, 
	.grey_second_row .zenario_slot .banner_title {
		width:auto;
		text-align:left;
	}
	
	.grey_first_row .zenario_slot .banner_text, 
	.grey_first_row .zenario_content_list .content_list_text,
	.grey_first_row .zenario_content_list .content_list_more_link,
	.grey_first_row .zenario_event_listing .single_event_description,
	.grey_first_row .zenario_slot .banner_text,
	.grey_second_row .zenario_slot .banner_text, 
	.grey_second_row .zenario_slot .banner_more {
		overflow: hidden;
	}
	
	
	.grey_second_row .zenario_slot .banner_more {
		position: absolute;
    	top: 50%;
    	left: 29%;
	}
	
	.grey_second_row .zenario_slot .banner_more a {
		margin-left: 10px;
	}
	
	.news_listing .content_list_data_row .sticky_image  {
		float: none;
	}
	
	.events_listing .single_event_sticky_image  {
		float: none;
	}
	
	
}

/* Layout max-width: 657px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 657px) {  
	
	.Grid_Header {
		padding: 7px 0 16px;
	}

	.slot_header_title .zenario_html_snippet {
		top: 8px;
	}
}

/* Layout max-width: 530px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 530px) { 

	 .home_info {
    	margin-left: 0;
    }
    
    .zenario_html_snippet img.circle {
		width: 150px;
	}
	
	.partners .nest_plugins .zenario_image_container {
		width: 31.2% !important;
		height: 100px;
	}
	
	.slot_back_link {
		text-align: center;
	}
}

/* Layout max-width: 480px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 480px) { 

	.home_intro,
	.home_info {
		text-align: center;
	}

	.home_intro {
    	padding: 0 6% 0 9%;
    }
    
    .zenario_html_snippet img.circle {
		display: none;
	}
	
	.slot_header_title .zenario_html_snippet {
		position: relative;
   		top: 10px;
    	left: auto;
    	padding-top: 6px;
    	margin-right: 0;
    	margin-bottom: 8px;
    	border-top: 1px solid #deeefd !important;
	}
}


/* Layout max-width: 430px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 430px) { 

	.grey_first_row .zenario_slot, 
	.grey_second_row .zenario_slot {
		margin-bottom: 20px;
	}

	.grey_first_row .zenario_slot .banner_title,
	.grey_first_row .zenario_content_list  h3,
	.grey_first_row .zenario_event_listing .event_listing > h2,
	.grey_second_row .zenario_slot .banner_title {
		width: auto;
	}
	

	.grey_first_row .zenario_slot .banner_image,
	.grey_first_row .zenario_content_list .sticky_image,
	.grey_first_row .zenario_event_listing .single_event_sticky_image,
	.grey_first_row .zenario_event_listing .sticky_image_placeholder  {
		width: 30%;
	}
	
	.grey_second_row .zenario_slot .banner_image {
		width: 40%;
	}
	
	.grey_second_row .zenario_slot .banner_more {
		top: 45%;
    	left: 39%;
	}	
}

/* Layout max-width: 330px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 330px) {

	.grey_first_row .zenario_slot .banner_more {
		text-align: right;
	}
	
	.grey_first_row .zenario_content_list .content_list_more_link,
	.grey_first_row .zenario_event_listing .single_event_more_link {
		float: right;
	}
	
	.grey_second_row .zenario_slot .banner_more {
		left: 45%;
	}
}

/* Layout min-width: 770px
--------------------------------------------------------------------------------------------------*/

@media all and (min-width: 770px) {
	
	.slot_responsive_menu {
		display: none !important;
	}
}

}

