
{% if All_Currently_Selected_Categories %}
	<div class="currently_selected_categories">
		<h5>Category filters</h5>
	 	
		{% if More_Than_One and  All_Or_Any %}
			<p class="label">{{All_Or_Any|trans}}</p>
		{% endif %}	
		
		<ul>
			{% for category in All_Currently_Selected_Categories %}
				<li>{{category}}</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

{% if Rows %}
	{% if Show_RSS_Link %}
		<div class="content_list_rss_link"><a href="{{RSS_Link}}"><span>{{'RSS'|trans}}</span></a></div>
	{% endif %}
	{% if Show_Title %}
		<{{Title_Tags}}>{{Title_With_Content}}</{{Title_Tags}}>
	{% endif %}

	{# Zip downloads of files #}

	{% if Error %}
		{{Message}}
	{% endif %}

	{% if Empty_Archive %}
		{{NO_CONTENT_ITEMS}}
	{% endif %}
	{% if Link_To_Download_Page %}
		<div
			id="generating_documents_{{Main_Link_Slot}}"
			class="download_documents_preparing_archive"
			style="display:none;"
		>
			{{PREPARING_DOCUMENTS}}
		</div>
		<div id="link_to_download_page_{{Main_Link_Slot}}" class="link_to_zip_download_page">
			<span>{{DOWNLOAD_PREPARE_LABEL}}</span>
			<div class="prepare_data">
				{{openForm}}
					<input type="hidden" name="documentIds" value="{{Request_Docids|e}}"/>
					<input type="hidden" name="slotName" value="{{Request_slotName|e}}"/>
					<div class="controls">
						<input type="submit" name="prepareDownloadData" value="{{Filename}}"/>
					</div>
				{{closeForm}}
			</div>
		</div>
	{% endif %}
	{% if Download_Page %}
		<div id="download_documents_links" >
			{% for linkItem in Main_Link_Array %}
				{% if linkItem.errorMsg %}
					<div id="download_documents_errmsg" >{{linkItem.errorMsg}}</div>
				{% endif %}
				{% if linkItem.labelName and linkItem.fileName %}
					<div id="download_documents_link" >
						<span>{{linkItem.labelName}}</span>
						<a href="{{linkItem.linkName}}">{{linkItem.fileName}}</a>
						<span>{{linkItem.fileSize}}</span>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
	<div class="content_list_listing{% if Content_Items_Equal_Height %} setmychildren {% endif %}">
{% endif %}