<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<atom:link href="{{RSS_Link}}" rel="self" type="application/xml" />
		<title>{{Title}}</title>
		<link>{{Link}}</link>
		{% if Description %}
			<description>{{Description}}</description>
		{% endif %}
		{% if Language %}
			<language>{{Language}}</language>
		{% endif %}
		
		{% for item in RSS_Item %}
			<item>
				{% if Show_item_title %}
					<title>{{item.Title}}</title>
				{% endif %}

				{% if Show_item_description %}
					<description>{{item.Excerpt_Text}}</description>
				{% endif %}

				{% if Show_item_link %}
					<link>{{item.Full_Link}}</link>
				{% endif %}

				{% if Show_item_guid %}
					<guid>{{item.Full_Link}}</guid>
				{% endif %}

				{% if Show_item_author %}
					<author>{{item.Author}}</author>
				{% endif %}

				{% if Show_item_publication_date %}
					<pubDate>{{item.Date}}</pubDate>
				{% endif %}
			</item>
		{% endfor %}
	</channel>
</rss>