{% if parentNest %}
	{% set slides = parentNest.getSlides() %}
	{% set slideNum = parentNest.getSlideNum() %}
	
	{% if slides %}
		<div class="switch_views assetwolf_switch_views switch_views_tabs">
			<ul>
			{% for slide in slides %}
				<li class="
					{% if slide.slideNum == slideNum %}
						current
					{% endif %}
				">
					<a {{parentNest.refreshPluginSlotTabAnchor('slideId=' ~ slide.id, false)}}>{{slide.slide_label|trans}}</a>
				</li>
			{% endfor %}
		</div>
	{% endif %}
{% endif %}