{% if parentNest %}
	{% set slides = parentNest.getSlides() %}
	{% set slideNum = parentNest.getSlideNum() %}
	
	{% if slides %}
		<div class="switch_views assetwolf_switch_views switch_views_dropdown">
			<ul>
				<li>
					{% if slides[slideNum] %}
						<a>{{slides[slideNum].slide_label|trans}}</a>
					{% endif %}
					<ul>
						{% for slide in slides %}
							<li class="
								{% if slide.slideNum == slideNum %}
									current
								{% endif %}
							">
								<a {{parentNest.refreshPluginSlotTabAnchor('slideId=' ~ slide.id, false)}}>{{slide.slide_label|trans}}</a>
							</li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
	{% endif %}
{% endif %}