{% if parentNest %}
	{% set tabs = parentNest.getTabs() %}
	{% set tabNum = parentNest.getTabNum() %}
	
	{% if tabs %}
		<div class="switch_views assetwolf_switch_views switch_views_tabs">
			<ul>
			{% for tab in tabs %}
				{% if not tab.invisible_in_nav %}
					<li class="
						{% if tab.tab == tabNum %}
							current
						{% endif %}
					">
						<a {{parentNest.refreshPluginSlotTabAnchor('tab=' ~ tab.id, false)}}>{{tab.name_or_title|trans}}</a>
					</li>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
{% endif %}