<div class="banner_wrap"><div class="banner_wrap_outer"><div class="banner_wrap_inner" {{Wrap}}>
	{% if privacy_warning %}
		{% if privacy == 'offline' %}
			<p class="privacy_warning">{{ze('admin', 'phrase', 'Warning: the selected document \"[[filename]]\" is Offline, so the document will not appear to visitors.', {filename: filename})}}</p>
		{% elseif privacy == 'private' %}
			<p class="privacy_warning">{{ze('admin', 'phrase', 'Warning: content item is Public, the selected document \"[[filename]]\" is Private, so the document will not appear to visitors.', {filename: filename})}}</p>
		{% endif %}
	{% endif %}
	{% if Title %}
		<div class="banner_title">
			<{{Title_Tags}}>
				{% if Link_Href %}
					<a {{Link_Href}}{{Target_Blank}}>{{Title}}</a>
				{% else %}
					{{Title}}
				{% endif %}
			</{{Title_Tags_Close}}>
		</div>
	{% endif %}
	
	{% if Background_Image %}
		<a {{Image_Link_Href}}{{Target_Blank}} id="{{Image_css_id}}"></a>
	
	{% elseif Image %}
		<div class="banner_image" >  
			{% if Image_Link_Href %} 
				<a {{Image_Link_Href}}{{Target_Blank}}>
			{% endif %}
			
				<picture>
					{% if Mobile_Media %}
						<source media="{{Mobile_Media|e}}" srcset="{{Mobile_Srcset|e}}">
					{% endif %}
					<img src="{{Image_URL|e}}" alt="{{Image_Alt}}" {{Image_Style}} {% if Image_Srcset %} srcset="{{Image_Srcset|e}}" {% endif %} />
				</picture>
				{{Rollover_Images}}
			
			
			{% if Enlarge_Image %}
				<span class="banner_image_zoom" title="{{'Enlarge this image'|trans}}">{{"Enlarge this image"|trans}}</span>
			{% endif %}
			
			{% if Image_Link_Href %} 
				</a>
			{% endif %}
		</div>
	{% endif %}

	{% if Text %}
		<div class="banner_text">{{Text}}</div>
	{% endif %}

	{% if More_Link_Text %}
		<div class="banner_more">
			<a {{Link_Href}}{{Target_Blank}}>{{More_Link_Text}}</a>
		</div>
	{% endif %}
</div></div></div>