{% if User_Image %}
<div class="user_image">
	<img src="{{Image_Src}}" width="{{Image_Width}}" height="{{Image_Height}}" />
</div>
{% endif %}
<div class="user_details">
<h2>{{Title}} {{First_Name}} {{Last_Name}}</h2>
<div class="user_details_col1">
{% if Bus_Phone %}
	<div class="label">{{"Telephone:"|trans}}</div><div class="value">{{Bus_Phone}}</div>
{% endif %}
{% if Mobile %}
	<div class="label">{{"Mobile:"|trans}}</div><div class="value">{{Mobile}}</div>
{% endif %}
{% if Fax %}
	<div class="label">{{"Fax:"|trans}}</div><div class="value">{{Fax}}</div>
{% endif %}
{% if Email %}
	<div class="label">{{"Email:"|trans}}</div><div class="value"><a href="mailto:{{Email}}">{{Email}}</a></div>
{% endif %}
{% if Website %}
	<div class="label">{{"Website:"|trans}}</div><div class="value"><a href="{{Website}}">{{Website}}</a></div>
{% endif %}
{% if Bus_Address %}
	<div class="label">{{"Address:"|trans}}</div>
	<div class="value">
	{% if Bus_Address1 %}
		{{Bus_Address1}}<br />
	{% endif %}
	{% if Bus_Address2 %}
		{{Bus_Address2}}<br />
	{% endif %}
	{% if Bus_Address3 %}
		{{Bus_Address3}}<br />
	{% endif %}
	{% if Bus_Town %}
		{{Bus_Town}}<br />
	{% endif %}
	{% if Bus_State %}
		{{Bus_State}}<br />
	{% endif %}
	{% if Bus_Country %}
		{{Bus_Country}}
	{% endif %}
	</div>
{% endif %}
{% if Forum_posts %}
	<div class="messages">
		{{Number_of_posts_last_post_number_days_ago}}	
	</div>
{% endif %}
</div>

</div>
</div>
