{% import _self as self %}
{% macro childNodes(nodes) %}
	{% import _self as self %}
	<ul>
		{% for node in nodes %}
			{% if not node.Conditionally_Hidden %}
				<li class="{{node.Class}}">
					<div class="left_end"></div>
						<span class="menu_image">{{node.Image}}</span>
						{% if node.Inactive_Open_Tag %}
							{{node.Inactive_Open_Tag}}
						{% endif %}
					
						{{node.Hyperlink}}
					
						{% if node.Inactive_Close_Tag %}
							{{node.Inactive_Close_Tag}}
						{% endif %}
					
						{% if node.children %}
							{{ self.childNodes(node.children) }}
						{% endif %}
					<div class="right_end"></div>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endmacro %}

{% set hasChildren = false %}

<div class="wrap_menu">
<div class="wrap_menu_outer">
<div class="wrap_menu_inner">
	{% for node in nodes %}
		{% if not node.Conditionally_Hidden %}
			<ul>
				<li class="{{node.Class}}">
					<div class="left_end"></div>
						<span class="menu_image">{{node.Image}}</span>
						{% if node.Inactive_Open_Tag %}
							{{node.Inactive_Open_Tag}}
						{% endif %}
					
						{{node.Hyperlink}}
					
						{% if node.Inactive_Close_Tag %}
							{{node.Inactive_Close_Tag}}
						{% endif %}
					
						{% if node.children and not node.All_Children_Are_Hidden %}
							{{ self.childNodes(node.children) }}
						
							{% set hasChildren = true %}
						{% endif %}
					<div class="right_end"></div>
				</li>
			</ul>
		{% endif %}
	{% endfor %}
</div>
</div>
</div>

{% if hasChildren %}
	{% do this.jQuery('#' ~ containerId ~ ' .level1.has_child > a', 'doubleTapToGo') %}
{% endif %}