* {
  margin: 0;
}

html {
	position:relative;
}

.zenario_skin {
	min-height: 100%;
}

#zenario_citem {
	position:relative;
}

/*  HEADER
--------------------------------------------------------------------------------------------------*/

.slot_top {
	position:relative;
	z-index:3;
	height:35px;
	text-align:center;
	background:#fff;
	border-bottom:1px solid #f0f0f0;
	margin-bottom:80px;
}

.Grid_Header {
	position:absolute;
	z-index:98;
	top:36px;
	width:100%;
	height:80px;
	background:#fff;
	box-shadow: 0px 2px 6.44px 0.56px rgba(0, 0, 0, 0.18);
}

.Grid_Header.fixed_header {
	position:fixed;
	top:0;
}

	/* ADMIN HACKS */
	
/*
	The following statement is needed if the zenario_menu_responsive_push_pull plugin is on the page:
	
	.zenario_adminLoggedIn .Grid_Header,
	.zenario_adminLoggedIn .Grid_Header.fixed_header {
		position:absolute;
		top:calc(36px + 129px);
	}
*/
	.zenario_adminLoggedIn.zenario_pageModeIsnt_preview.zenario_pageModeIsnt_menu .Grid_Header {
		height:auto;
	}

	.zenario_adminLoggedIn.zenario_pageModeIsnt_preview.zenario_pageModeIsnt_menu .slot_top {
		margin-bottom:140px;
	}

	.zenario_adminLoggedIn.zenario_pageModeIsnt_preview.zenario_pageModeIsnt_menu .zenario_menu_responsive_push_pull {
		position:relative;
	}

	.zenario_adminLoggedIn.zenario_pageModeIsnt_preview.zenario_pageModeIsnt_menu .zenario_menu_responsive_push_pull #mmenu-hamburger {
		padding:0;
	}


/*  BODY
--------------------------------------------------------------------------------------------------*/

.Grid_Body .container {
	min-height:450px;
}

.Grid_Body .zenario_slot,
.slot_masthead .zenario_slot {
	margin-bottom:50px;
}

.Grid_Body .zenario_slot .zenario_slot,
.slot_masthead .zenario_slot .zenario_slot {
	margin-bottom:0;
}

.section {
	margin-top:65px;
}

.Grid_Full_Boxes {
	padding:100px 0;
	background:#292e35;
}

.Grid_Full_Boxes *,
.Grid_Full_Boxes h2,
.Grid_Full_Boxes a {
	color:#FFF;
}

.Grouping_Contact {
	background:url('../images/vertical-divider.png') repeat-y center top;
}

body.desktop .Grouping_Contact .zenario_slot {
	padding-right:40px;
}

/*  FOOTER
--------------------------------------------------------------------------------------------------*/

.Grid_Footer {
	padding:30px 0 40px;
	background:#292e35;
}

.Grid_Footer *,
.Grid_Footer a {
	color:#FFF;
}

.Grid_Footer .zenario_slot {
	padding-top:10px;
}

.Grid_Footer .zenario_slot .zenario_slot {
	padding-top:0;
}

.Grid_Footer .Grouping_Footer {
	text-align:right;
}