.zenario_sitemap {
	max-width:740px;
	margin:auto;
}

.zenario_sitemap ul.sitemap,
.zenario_sitemap ul.sitemap ul,
.zenario_sitemap ul.sitemap li {
	list-style:none;
	padding:0;
	margin:0;
}

.zenario_sitemap ul.sitemap ul {
	margin-left:15px;
}

.zenario_sitemap ul.sitemap h2,
.zenario_sitemap ul.sitemap h3,
.zenario_sitemap ul.sitemap h4,
.zenario_sitemap ul.sitemap h5,
.zenario_sitemap ul.sitemap h6 {
	font-family:'robotoregular',Arial, Helvetica, sans-serif;
	font-size:1em;
	margin:0;
}

.zenario_sitemap ul.sitemap h2 {
	text-transform:uppercase;
}

.zenario_sitemap ul.sitemap h2:before {
	font-family: 'FontAwesome';
	content:"\f107";
	padding-right:5px;
}

.zenario_sitemap ul.sitemap li {
	padding:10px 0;
}

.zenario_sitemap ul.sitemap li.level1 {
	border-bottom:1px dotted #CCC;
}

.zenario_sitemap ul.sitemap ul a {
	text-decoration:underline;
}

.zenario_sitemap ul.sitemap a:hover {
	color:#2a98ce;
}