.zenario_menu_vertical__default_style ul,
.zenario_menu_vertical__default_style ul li {
	list-style:none;
	padding:0;
	margin:0;
}

.zenario_menu_vertical__default_style .wrap_menu_inner {
	padding:10px;
}

.zenario_menu_vertical__default_style .wrap_menu_inner h2.side_menu_title {
	font-size:2em;
	margin-bottom:5px;
}

.zenario_menu_vertical__default_style .wrap_menu_inner h2.side_menu_title a {
	display:block;
	padding:8px 8px 8px 14px;
}

.zenario_menu_vertical__default_style .wrap_menu_inner ul li a {
	display:block;
	padding:5px 8px 5px 14px;
}

.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li > a {
	position:relative;
	border-top:1px dotted #ccc;
}

.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li.level1_1 > a {
	border-top:0;
}

.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li > a:before {
	font-family: 'FontAwesome';
	content:'\f105';
	position:absolute;
	left:0;
	top:4px;
}

.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li.level1_on > a:before {
	content:'\f107';
}

.zenario_menu_vertical__default_style a:hover {
	text-decoration:none;
}

.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li > ul > li > a {
	padding-left:25px;
}

.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li > ul > li > ul > li > a {
	padding-left:35px;
}

.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li > ul > li > ul > li > ul > li > a {
	padding-left:45px;
}

/* Levels 3, 4, 5 */

.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li ul {
	background:rgba(0,0,0,0.04);
}

.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li ul li {
	border-top:1px dotted #ccc;
}

.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li ul > li {
	font-size:0.938em;
}

.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li > ul > li li {
	font-size:1em;
}

.zenario_menu_vertical__default_style a {
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}

/* Colors */

.zenario_menu_vertical__default_style .wrap_menu_inner h2.side_menu_title a {
	background:#2a98ce;
	color:#fff;
}

.zenario_menu_vertical__default_style .wrap_menu_inner h2.side_menu_title a:hover {
	background:#00659b;
}

.zenario_menu_vertical__default_style .wrap_menu_inner {
	background:#EFEFEF;
}

.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li a:hover {
	color:#00659b;
}

.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li.level1_on > a,
.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li.level1_on > a:hover,
.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li.level1_on > ul > li.level2_on > a,
.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li.level1_on > ul > li.level2_on > a:hover,
.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li.level1_on > ul > li.level2_on > ul > li.level3_on > a,
.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li.level1_on > ul > li.level2_on > ul > li.level3_on > a:hover,
.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li.level1_on > ul > li.level2_on > ul > li.level3_on > ul > li.level4_on > a,
.zenario_menu_vertical__default_style .wrap_menu_inner > ul > li.level1_on > ul > li.level2_on > ul > li.level3_on > ul > li.level4_on > a:hover {
	color:#2a98ce;
}