.zenario_menu {
	position:relative;
	height:80px;
	text-align:right;
	font-family:'robotoregular',Arial, Helvetica, sans-serif;
}

.zenario_menu,
.zenario_menu ul,
.zenario_menu ul li {
	position:relative;
}

.zenario_menu ul,
.zenario_menu ul li,
.zenario_menu ul li a {
	display:inline-block;
}

.zenario_menu ul li div,
.zenario_menu ul li span {
	display:none;
}

.zenario_menu ul li div {
	display:none:
}

.zenario_menu .wrap_menu_inner > ul > li {
	padding:0 15px;
}

.zenario_menu .wrap_menu_inner > ul > li a {
	height:50px;
	padding-top:30px;
}

.zenario_menu ul li a {
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

/* Level 2 */

.zenario_menu ul li li,
.zenario_menu ul li li a {
	display:block;
}

.zenario_menu .wrap_menu_inner > ul > li li {
	padding:0 5px;
}

.zenario_menu .wrap_menu_inner > ul > li li a {
	height:auto;
	position:relative;
	padding:7px 10px 7px 20px;
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}

.zenario_menu .wrap_menu_inner > ul > li li a:before {
	font-family: 'FontAwesome';
	content:'\f105';
	position:absolute;
	left:8px;
	top:9px;
}

.zenario_menu ul ul {
	position:absolute;
	z-index:30;
	top:80px;
	left:0;
	width:240px;
	float:none;
	margin:0;
	padding:4px 0;
	text-align:left;
	background:#00659b;
	-webkit-box-shadow: 0px 0px 7.68px 0.32px rgba(0, 0, 0, 0.28);
	box-shadow: 0px 0px 7.68px 0.32px rgba(0, 0, 0, 0.28);
}

.zenario_menu ul ul:after {
	bottom: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(103, 103, 103, 0);
	border-bottom-color: #00659b;
	border-width: 10px;
	margin-left: -10px;
}

.zenario_menu ul ul {
	opacity:0;
	visibility:hidden;
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}

.zenario_menu ul li:hover ul {
	opacity:1;
	visibility:visible;
}

body.ie8 .zenario_menu ul ul,
body.ie9 .zenario_menu ul ul {
	display: none;
}

body.ie8 .zenario_menu ul li:hover ul,
body.ie9 .zenario_menu ul li:hover ul {
	display: block;
}

.zenario_menu ul li.node_mobile,
.zenario_menu .node_responsive {
	display:none;
}

.zenario_menu ul li li {
	float:none;
}

.zenario_menu ul li li a {
	display:block;
}

/* Colors and fonts */

.zenario_menu .wrap_menu_inner > ul > li {
	text-transform:uppercase;
}

.zenario_menu .wrap_menu_inner > ul > li li {
	text-transform:none;
}

.zenario_menu ul li a,
.zenario_menu ul li a:hover {
	text-decoration:none;
}

.zenario_menu .wrap_menu_inner > ul > li a {
	color:#000;
}

.zenario_menu .wrap_menu_inner > ul > li:hover a {
	color:#00659b;
}

.zenario_menu .wrap_menu_inner > ul > li.level1_on a {
	color:#2a98ce;
}

.zenario_menu .wrap_menu_inner > ul > li.level1_on li.level2_on a {
	background:#000;
}

.zenario_menu .wrap_menu_inner > ul > li li a,
.zenario_menu .wrap_menu_inner > ul > li li a:hover,
.zenario_menu .wrap_menu_inner > ul > li:hover li a,
.zenario_menu .wrap_menu_inner > ul > li.level1_on li a {
	color:#FFF;
}

.zenario_menu .wrap_menu_inner > ul > li li a:hover {
	background:#2a98ce;
}