/* Admin hack
--------------------------------------------------------------------------------------------------*/

.zenario_adminLoggedIn .slot_top .zenario_plugin_nest x-zenario-admin-slot-wrapper {
	display:inline-block;
}

/* Nest tabs
--------------------------------------------------------------------------------------------------*/

.zenario_plugin_nest .nest_tabs {
	overflow:hidden;
}

.zenario_plugin_nest .nest_tabs ul,
.zenario_plugin_nest .nest_tabs ul li {
	list-style:none;
	padding:0;
	margin:0;
	display:inline-block;
	float:left;
}

.zenario_plugin_nest .nest_tabs ul {
	margin-right:2px;
}

.zenario_plugin_nest .nest_tabs ul li a {
	display:inline-block;
	padding:5px 10px;
	background:#f0f0f0;
}

.zenario_plugin_nest .nest_tabs ul li a:hover {
	text-decoration:none;
}

.zenario_plugin_nest .nest_tabs ul li.tab_on a {
	color:#2a98ce; 
}

.zenario_plugin_nest .prev,
.zenario_plugin_nest .next {
	color:rgba(0,0,0,0.9);
}

.zenario_plugin_nest .prev:hover,
.zenario_plugin_nest .next:hover {
	color:rgba(0,0,0,0.7);
}

.zenario_plugin_nest .prev_disabled,
.zenario_plugin_nest .next_disabled,
.zenario_plugin_nest .prev_disabled:hover,
.zenario_plugin_nest .next_disabled:hover {
	color:rgba(0,0,0,0.4);
	cursor:default;
}

.zenario_plugin_nest .prev,
.zenario_plugin_nest .prev_disabled,
.zenario_plugin_nest .next,
.zenario_plugin_nest .next_disabled {
	float:left;
	margin:0 5px;
	display:inline-block;
	font-size:30px;
	line-height:1.3em;
	font-family: 'FontAwesome';
	opacity:0.5;
   	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}

.zenario_plugin_nest .prev:hover,
.zenario_plugin_nest .prev_disabled:hover,
.zenario_plugin_nest .next:hover,
.zenario_plugin_nest .next_disabled:hover {
	text-decoration:none;
}

.zenario_plugin_nest .prev:before,
.zenario_plugin_nest .prev_disabled:before {
	content: "\f137"; /* fa-angle-left */
}

.zenario_plugin_nest .next:after,
.zenario_plugin_nest .next_disabled:after {
	content: "\f138"; /* fa-angle-right */
}

.zenario_plugin_nest .prev span,
.zenario_plugin_nest .prev_disabled span,
.zenario_plugin_nest .next span,
.zenario_plugin_nest .next_disabled span {
	display:none;
}

/* Top
--------------------------------------------------------------------------------------------------*/

.slot_top .zenario_plugin_nest .nest_plugins_wrap {
	display:inline-block;
	overflow:hidden;
	margin:auto;
}

.slot_top .zenario_plugin_nest .zenario_slot {
	display:inline-block;
	float:left;
	margin:0 5px;
}

.slot_top .zenario_plugin_nest .zenario_slot_padding {
	display:none;
}

.slot_top .zenario_plugin_nest .zenario_html_snippet {
	overflow:inherit;
}

/* Full boxes  
--------------------------------------------------------------------------------------------------*/

.zenario_plugin_nest.nest_full_boxes {
	overflow:hidden;
}

.zenario_plugin_nest.nest_full_boxes .zenario_slot {
	text-align:center;
}

.zenario_plugin_nest.nest_full_boxes .zenario_slot .banner_image {
	padding-bottom:20px;
}

.zenario_plugin_nest.nest_full_boxes .zenario_slot .banner_title h2 {
	font-size:1.500em;
	margin-bottom:10px;
}

/* Portfolio
--------------------------------------------------------------------------------------------------*/

.nest_portfolio.zenario_plugin_nest {
	overflow:hidden;
}

.nest_portfolio.zenario_plugin_nest .nest_title h1 {
	font-size:3em;
}

.nest_portfolio.zenario_plugin_nest .zenario_slot {
	margin-bottom:22px;
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_wrap_inner {
	position:relative;
	display:inline-block;
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_content {
	opacity:0;
	visibility:hidden;
	position:absolute;
	z-index:2;
	overflow:hidden;
	height:calc(100% - 40px);
	padding:20px;
	background:rgba(0,0,0,0.5);
	left:0;
	right:0;
  	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	text-align:center;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner:hover .banner_content {
	opacity:1;
	visibility:visible;
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_content * {
	color:#FFF;
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_content .banner_title h2 {
	font-size:1.6em;
	margin-bottom:5px;
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_content .banner_text {
	overflow:hidden;
	height:calc(100% - 70px);
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_image picture,
.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_image picture img {
	display:block;
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_content .banner_more {
	font-family:'robotolight',Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	padding-top:8px;
}