{# If a title has been set show the title. #}
{% if Title %}
	<div class="banner_title">
		<{{Title_Tags}}>{{Title|e}}</{{Title_Tags}}>
	</div>
{% endif %}


{% set Show_Caption = this.setting('show_caption_on_image') %}
{% set Show_Top_Caption = Show_Caption and this.setting('show_caption_above_thumbnail') %}
{% set Show_Bottom_Caption = Show_Caption and not Show_Top_Caption %}


	
{# If images have been set then show the images. #}
{% if Images %}
	{# Include the zip download feature. #}
	{% include this.frameworkBaseDir() ~ 'includes/footer.twig.html' %}
	
	<div class="banner_images"> 
		{% for Image in Images %}
			<div class="banner_image"> 
				{% if Show_Top_Caption and Image.Caption %}
					<div class="title">{{Image.Caption|e}}</div>
				{% endif %}
				
				
				{% if Image.Image_Link_Href %} 
					<a {{Image.Image_Link_Href}}{{Image.Target_Blank}}>
				{% else %}
					<div class="banner_image_wrap">
				{% endif %}
					
					{{Image.Image_HTML}}
					
					{% if Image.Image_Credit %}
						<span class="banner_image_credit">{{Image.Image_Credit_Text|e}}</span>
					{% endif %}
				
					{% if Image.Enlarge_Image %} 
						<span class="banner_image_zoom" title="{{'Enlarge this image'|trans}}">{{"Enlarge this image"|trans}}</span>
					{% endif %}
				
				{% if Image.Image_Link_Href %} 
					</a>
				{% else %}
					</div>
				{% endif %}
				

				{% if Show_Bottom_Caption and Image.Caption %}
					<div class="title">{{Image.Caption|e}}</div>
				{% endif %}

				{% if this.setting('show_image_uploaded_date') and Image.Uploaded_Date %}
					<span class="uploaded_date">{{Image.Uploaded_Date|e}}</span>
				{% endif %}
				
				{% if this.setting('show_link_to_download_original') %}
					<span class="download_link">
						<a href="{{Image.File_Link|e}}" download>
							{{"Download original"|trans}}
							{% if this.setting('show_file_size') and Image.File_Size %}
								({{Image.File_Size|e}})
							{% endif %}
						</a>
					</span>
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endif %}