<div class="recently_viewed_wrap">
	<div class="recently_viewed_wrap_outer">
    	<div class="recently_viewed_wrap_inner">
            <h2>{{"Recently Viewed Pages:"|trans}}</h2>
            <ul>
                {% for item in Recently_Viewed_Items %}
                    <li><a href="{{item.Recently_Viewed_Item_Url}}" class="link">{{item.Recently_Viewed_Item_Title}}</a> <a {{item.Recently_Viewed_Item_Href_And_Onclick}} class="delete">X</a></li>
                {% endfor %}
                {% if No_Items_Viewed %}
                    <li>{{"No Items have been viewed"|trans}}</li>
                {% endif %}
            </ul>
		</div>
	</div>          
</div>
