<div id="zenario_fabPreview">
	<div id="zenario_fabPreviewInfo"></div>
</div>

<div id="zenario_fabBox">
	<div id="zenario_fabBox_readonlyMarker"><div>{{zenarioA.phrase.readonly}}</div></div>
	<div id="zenario_fabOpenPreview">
		<a onclick="zenarioAB.showPreviewInPopoutBox(false, true);">{{zenarioA.phrase.preview}}</a>
	</div>
	<div id="zenario_fabBox_Header">
		<div class="zenario_fabHead"><div><div>
			<div id="zenario_fabId" class="zenario_fabId"></div>
			<a class="zenario_fabClose" onclick="return zenarioAB.closeButton();" href="#">
				<div><p>{{zenarioA.phrase.close}}</p></div>
			</a>
			<a id="zenario_fabSlideToggle" class="zenario_fabSlideToggle zenario_fabSlideToggleDown" onclick="zenarioAB.slideToggle();"></a>
			<div id="zenario_fabTitleWrap" class="zenario_fabTitleWrap"><div><div id="zenario_fabTitle"></div></div></div>
		</div></div></div>
		<div id="zenario_fabTabs"></div>
	</div>
	<div id="zenario_fabBox_Body">
		<div class="zenario_fabMain"><div class="zenario_fabMainBor"><div class="zenario_fabMainBor">
			
			<div id="zenario_fbMain" class="zenario_fbMain">
				<% if (zenarioA.adminSettings.show_dev_tools) { %>
					<div class="zenario_debug" onclick="zenarioA.debug('zenarioAB');"><div></div></div>
				<% } %>
		
				<div class="zenario_fabWinBor"><div class="zenario_fabWinBor" id="zenario_fbAdminInner">
					<div id="zenario_abtab" style="display: none;"></div>
				</div></div>
		
				<div class="zenario_fbButtons" id="zenario_fbButtons"></div>
			</div>
		</div></div></div>
		<div class="zenario_fabFoot"></div>
	</div>
</div>