<form>
	<div class="zenario_grid_options">
		<div class="zenario_grid_type">
			<input type="radio" id="{{m.formId}}--setting_fixed" name="zenario_grid_type" class="zenario_grid_setting_fixed" {{(!zenarioG.data.fluid? 'checked="checked"' : '')}}/> <label for="{{m.formId}}--setting_fixed">{{zenarioA.phrase.gridFixed}}</label> <span class="zenario_grid_i" title="{{zenarioA.phrase.gridFixedTooltip}}">i</span> 
			<input type="radio" id="{{m.formId}}--setting_flu" name="zenario_grid_type" class="zenario_grid_setting_flu" {{(zenarioG.data.fluid? 'checked="checked"' : '')}}/> <label for="{{m.formId}}--setting_flu">{{zenarioA.phrase.gridFluid}}</label> <span class="zenario_grid_i" title="{{zenarioA.phrase.gridFluidTooltip}}">i</span> 
		</div>
	
		<div class="zenario_grid_resp_and_rtl">
			<input type="checkbox" id="{{m.formId}}--setting_responsive" class="zenario_grid_setting_responsive" {{(zenarioG.data.responsive? 'checked="checked"' : '')}}/> <label for="{{m.formId}}--setting_responsive">{{zenarioA.phrase.gridResponsive}}</label> <span class="zenario_grid_i" title="{{zenarioA.phrase.gridResponsiveTooltip}}">i</span> 
			<input type="checkbox" id="{{m.formId}}--setting_mirror" class="zenario_grid_setting_mirror" {{(zenarioG.data.mirror? 'checked="checked"' : '')}}/> <label for="{{m.formId}}--setting_mirror">{{zenarioA.phrase.gridMirror}}</label> <span class="zenario_grid_i" title="{{htmlspecialchars(zenarioA.phrase.gridMirrorTooltip)}}">i</span> 
		</div>
	</div>
	
	<div class="zenario_grid_options">
		<div class="zenario_grid_dims">
			<% if (zenarioG.data.fluid) { %>
				<label for="{{m.formId}}--setting_min_width">{{zenarioA.phrase.gridMinWidth}}</label> <input type="text" step="10" id="{{m.formId}}--setting_min_width" class="zenario_grid_setting_min_width" value="{{zenarioG.data.minWidth}}" size="4"/> 
				<label for="{{m.formId}}--setting_max_width">{{zenarioA.phrase.gridMaxWidth}}</label> <input type="text" step="10" id="{{m.formId}}--setting_max_width" class="zenario_grid_setting_max_width" value="{{zenarioG.data.maxWidth}}" size="4"/> 
			<% } else { %>
				<% var fullWidth = (zenarioG.data.colWidth * zenarioG.data.cols + zenarioG.data.gutter * (zenarioG.data.cols - 1) + zenarioG.data.gutterLeftEdge + zenarioG.data.gutterRightEdge); %>
				<label for="{{m.formId}}--setting_full_width">{{zenarioA.phrase.gridFullWidth}}</label> <input type="text" step="10" id="{{m.formId}}--setting_full_width" class="zenario_grid_setting_full_width" value="{{fullWidth}}" data-initial-value="{{fullWidth}}" size="5"/> 
			<% } %>
			
			<label for="{{m.formId}}--setting_cols">{{zenarioA.phrase.gridCols}}</label> <input type="text" step="1" id="{{m.formId}}--setting_cols" class="zenario_grid_setting_cols" value="{{zenarioG.data.cols}}" data-initial-value="{{zenarioG.data.cols}}" size="4"/> 
			
			<% if (zenarioG.data.fluid) { %>
				<label for="{{m.formId}}--setting_gutter_left_flu">{{zenarioA.phrase.gridGutterLeftEdge}}</label> <input type="text" step="0.1" id="{{m.formId}}--setting_gutter_left_flu" class="zenario_grid_setting_gutter_left_flu" value="{{zenarioG.data.gutterLeftEdgeFlu}}" size="3"/> 
				<label for="{{m.formId}}--setting_gutter_right_flu">{{zenarioA.phrase.gridGutterRightEdge}}</label> <input type="text" step="0.1" id="{{m.formId}}--setting_gutter_right_flu" class="zenario_grid_setting_gutter_right_flu" value="{{zenarioG.data.gutterRightEdgeFlu}}" size="3"/> 
				<label for="{{m.formId}}--setting_gutter_flu">{{zenarioA.phrase.gridGutter}}</label> <input type="text" step="0.1" id="{{m.formId}}--setting_gutter_flu" class="zenario_grid_setting_gutter_flu" value="{{zenarioG.data.gutterFlu}}" size="3"/> 
			<% } else { %>
				<label for="{{m.formId}}--setting_gutter_left">{{zenarioA.phrase.gridGutterLeftEdge}}</label> <input type="text" step="1" id="{{m.formId}}--setting_gutter_left" class="zenario_grid_setting_gutter_left" value="{{zenarioG.data.gutterLeftEdge}}" data-initial-value="{{zenarioG.data.gutterLeftEdge}}" size="4"/> 
				<label for="{{m.formId}}--setting_gutter_right">{{zenarioA.phrase.gridGutterRightEdge}}</label> <input type="text" step="1" id="{{m.formId}}--setting_gutter_right" class="zenario_grid_setting_gutter_right" value="{{zenarioG.data.gutterRightEdge}}" data-initial-value="{{zenarioG.data.gutterRightEdge}}" size="4"/> 
				
				<label for="{{m.formId}}--setting_col_width">{{zenarioA.phrase.gridGutterAndWidth}}</label> <select id="{{m.formId}}--setting_col_width" class="zenario_grid_setting_col_and_gutter" data-initial-value="{{zenarioG.data.colWidth}}/{{zenarioG.data.gutter}}"><option value="{{zenarioG.data.colWidth}}/{{zenarioG.data.gutter}}" selected="selected">{{zenarioG.data.colWidth}} px / {{zenarioG.data.gutter}} px</option></select> 
			<% } %>
		</div>
	</div>
</form>

<div class="zenario_grid_undo_redo">
	<a id="{{m.formId}}--setting_undo" class="zenario_grid_setting_undo {{(zenarioG.canUndo()? '' : 'zenario_grid_setting_undo_disabled')}}" title="{{zenarioA.phrase.gridUndo}}">{{zenarioA.phrase.gridUndo}}</a> 
	<a id="{{m.formId}}--setting_redo" class="zenario_grid_setting_redo {{(zenarioG.canRedo()? '' : 'zenario_grid_setting_redo_disabled')}}" title="{{zenarioA.phrase.gridRedo}}">{{zenarioA.phrase.gridRedo}}</a> 
</div>

<div id="{{m.formId}}--tabs" class="zenario_grid_tabs zenario_grid_tabs_{{(zenarioG.editing? 'grid_selected' : 'slots_selected')}}">
	<a id="{{m.formId}}--setting_preview_grid" class="zenario_grid_setting_preview_grid">{{zenarioA.phrase.gridPreviewGrid}}</a> 
	<a id="{{m.formId}}--setting_edit_slots" class="zenario_grid_setting_edit_slots">{{zenarioA.phrase.gridEditSlots}}</a> 
</div>