<div class="zenario_at_toolbar_container_top">
	<div class="zenario_at_content zenario_at_toolbar">
		<% if (m.sections[zenarioA.toolbar]) { %>
			<div class="zenario_at_menu_node">
				<!--
					Slight hack here to allow for multiple Menu Tabs:
					I've made the names of the sections equal to the names of the toolbars.
					Thus passing the name of the current toolbar in for the name of the section that we want will work.
				-->
				{{zenarioT.microTemplate('zenario_toolbar_button', m.sections[zenarioA.toolbar])}}
			</div>
		<% } %>
		<% if (!zenarioT.hidden(m.sections.menu_node_help)) { %>
			<div class="zenario_at_help">
				{{zenarioT.microTemplate('zenario_toolbar_button', m.sections.menu_node_help)}}
			</div>
		<% } %>
	</div>
</div>
<div class="zenario_at_toolbar_container_bottom">
	<div id="zenario_at_lower_section">
		<div class="zenario_at_infobar_menu_section">
			{{zenarioAT.tuix.sections[zenarioA.toolbar].buttons.menu_section.label|escape}}
		</div>
		<div class="zenario_at_infobar zenario_at_infobar_menu_path {{zenarioAT.tuix.sections[zenarioA.toolbar].buttons.menu_path.css_class|escape}}">
			{{zenarioAT.tuix.sections[zenarioA.toolbar].buttons.menu_path.label|escape}}
		</div>
	</div>
</div>