<ul>
	<li
		id="zenario_at_button__{{m.id|e}}"
		class="
			{{m.css_class|escape}}
			{{m.disabled? 'zenario_at_button_disabled' : ''}}
		"
		<% if (m.id != 'slot_control_dropdown') { %>
			onmouseover="zenarioA.closeSlotControls();"
		<% } %>
	>
		<% if (m.featured_image_container) { %>
			<span class="content_item_images <% if (m.inline_images_count) { %> has_images_count <% } %>">
			<% if (m.featured_image_src) { %>
				<img src="{{m.featured_image_src}}" alt="{{m.featured_image_alt}}" />
			<% } else { %>
				<span class="content_item_no_image"></span>
			<% } %>
			<% if (m.inline_images_count) { %>
				<span class="inline_images_count zenario_item_record_count">{{m.inline_images_count}}</span>
			<% } %>
			</span>
		<% } %>
		<a
			title="{{m.tooltip|escape}}"
			
			<% if (m.href) { %>
				href="{{m.href|escape}}"
			<% } else if (m.onclick) { %>
				onclick="{{m.onclick|escape}}"
			<% } %>
			<% if (m.onmouseover) { %>
				onmouseover="{{m.onmouseover|escape}}"
			<% } %>
		>
			<span>{{m.label|escape}}</span>
		</a>
		{{m.children? '<ul>' + zenarioT.microTemplate('zenario_toolbar_button_children', m.children) + '</ul>'  : ''}}
	</li>
</ul>