<% if (zenario.engToBoolean(m.errors)) { %>
	<div id="errorDisplayRow"><div><div class="messageDisplay" id="errorDisplay">
		<% for (var e in m.errors) { %>
			<div id="errorDisplay_inner">
				{{zenario.htmlspecialchars(m.errors[e].message, true)}}
			</div>
		<% } %>
	</div></div></div>
<% } %>	
<% for (var n in m.notices) { %>
	<div class="{{m.notices[n].type|escape}}DisplayRow"><div><div class="messageDisplay"><div>
		{{zenario.htmlspecialchars(m.notices[n].message, true)}}
	</div></div></div></div>
<% } %>

<% if (m.fields) { %>
	<% var firstField = m.fields[0]; %>
	
	<% if (firstField._lastVisibleGrouping !== firstField.grouping) { %>
		<% if (firstField._lastVisibleGrouping) { %>
			</fieldset>
		<% } %>
		<% if (firstField.grouping) { %>
			<fieldset class="zenario_grouping zenario_grouping__{{firstField.grouping|escape}}">
		<% } %>
	<% } %>
	<% if (firstField.legend) { %>
		<legend class="zenario_legend zenario_legend_for__{{firstField._id|escape}}"><span>{{firstField.legend}}</span></legend>
	<% } %>
	
	<div id="row__{{m.fields[0]._id|escape}}" class="zenario_ab_row zenario_ab_row__{{m.fields[0]._id|escape}} {{m.fields[0].row_class|escape}} {{m.fields[0]._hideOnOpen? 'zenario_hide_row_on_open' : ''}}">
		<% if (zenario.engToBoolean(m.fields[0].full_width)) { %>
			<div >
		<% } else { %>
			<div class="title" {{zenario.browserIsIE(8)? ' style="width: 25%"' : ''}}>
				<div class="{{m.fields[0]._hideOnOpen? 'zenario_hide_on_open' : ''}} {{m.fields[0]._showOnOpen? 'zenario_show_on_open' : ''}}">
					<label for="{{m.fields[0]._id|escape}}">{{m.fields[0].label}}</label>
				</div>
			</div><div>
		<% } %>
				<div class="{{m.fields[0]._hideOnOpen? 'zenario_hide_on_open' : ''}} {{m.fields[0]._showOnOpen? 'zenario_show_on_open' : ''}}">
					{{zenarioT.microTemplate('zenario_welcome_field', m.fields)}}
				</div>
			</div>
	</div>
	
	<% if (firstField._isLastRow) { %>
		<% if (firstField.grouping) { %>
			</fieldset>
		<% } %>
	<% } %>
<% } %>