<li>
	<a
		<% if (m.href) { %>
			href="{{URLBasePath + (zenarioATLinks.organizer || 'organizer.php') + zenarioAT.customiseOrganizerLink(m.href, false)|escape}}"
		<% } else if (m.onclick) { %>
			onclick="{{m.onclick|escape}}"
		<% } %>
	>
		<span>
			<span class="organizer_top_level_image {{m.css_class|escape}}"></span>
			{{m.label|escape}}
		</span>
	</a>
	<% if (m.items && m.items.length) { %>
		
		<% if (m.id == 'zenario__administration') { %>
			<!-- Show the "Configuration" section using two columns -->
			<% var hi, hBlock, vi, vBlock, vBlocks = zenarioO.splitCols(m.items); %>
			<div class="
				zenario_attld_vertical_blocks
			
				<% switch (_.size(vBlocks)) { %>
					<% case 1: %>
						zenario_attld_1_vertical_block
						<% break; %>
				
					<% default: %>
						zenario_attld_multiple_vertical_blocks
						zenario_attld_{{_.size(vBlocks)}}_vertical_blocks
				<% } %>
			">
				<% foreach (vBlocks as vi => vBlock) { %>
					<div class="zenario_attld_vertical_block">
						<div class="zenario_attld_horizontal_blocks">
							<% foreach (vBlock as hi => hBlock) { %>
								<% if (!_.isEmpty(hBlock)) { %>
									<div class="zenario_attld_horizontal_block">
										<ul>{{zenarioT.microTemplate('zenario_toolbar_organizer_link_children', hBlock)}}</ul>
									</div>
								<% } %>
							<% } %>
						</div>
					</div>
				<% } %>
			</div>
		<% } else { %>
			<!-- Show all other sections using one column -->
			<ul>{{zenarioT.microTemplate('zenario_toolbar_organizer_link_children', m.items)}}</ul>
		<% } %>
	<% } %>
</li>
