<div id="organizer_total_wrapper" class="organizer_total_wrapper">
	
	<% if (zenarioO.inspectionViewEnabled()) { %>
	    <div class="organizer_slidedown_view_toggle  placeholder-slidedown_view_toggle"></div>
	<% } %>
	
    <div class="organizer_total_cell  placeholder-checkbox"></div>
    <div class="organizer_total_cell firstcol listicon" style="
    
    <% if(m.rowWidth == 0 || m.rowWidth === undefined) { %>
    	width: {{30|escape}}px;
    <% } else { %>
    	width: {{m.rowWidth|escape}}px;
    <% } %>
    
    "></div>
	{{zenarioA.microTemplate('zenario_organizer_list_total_cell', m.columns)}}
</div>