<div id="organizer_hierarchy_view" class="organizer_hierarchy_view">
	<% if (zenarioO.multipleSelectEnabled) { %>
		<div class="organizer_header">
			<div class="organizer_row">
				<div id="organizer_non_sortable_resizeable_cols" class="organizer_non_sortable_resizeable_cols">
					<div id="organizer_checkbox_col" class="organizer_cell">
						<div onclick="zenarioO.toggleAllItems();">
							<input
								type="checkbox"
								id="organizer_toggle_all_items_checkbox"
								{{m.allItemsSelected? ' checked="checked"' : ''}}
							/>
						</div>
					</div>
					<div class="organizer_cell action_column firstcol">&nbsp;</div>
				</div>
			</div>
		</div>
	<% } %>
	
	<div class="organizer_hierarchy_view_body_wrap">
		<div id="organizer_items_wrapper" class="organizer_hierarchy_view_body {{m.reordering|escape}} dd">
			<% if (m.items && m.items.length) { %>
				<ol class="dd-list">
					{{zenarioA.microTemplate('zenario_organizer_hierarchy_documents_group', m.items)}}
				</ol>
			<% } else { %>
				{{zenarioA.microTemplate('zenario_organizer_no_items', m)}}
			<% } %>
		</div>
	</div>
</div>