<ul>
	<li
		id="zenario_at_button__{{m.id|e}}"
		class="
			{{m.css_class|escape}}
			{{m.disabled? 'zenario_at_button_disabled' : ''}}
		"
	>
		<a
			title="{{m.tooltip|escape}}"
			
			<% if (m.href) { %>
				href="{{m.href|escape}}"
			<% } else if (m.onclick) { %>
				onclick="{{m.onclick|escape}}"
			<% } %>
			<% if (m.onmouseover) { %>
				onmouseover="{{m.onmouseover|escape}}"
			<% } %>
		>
			<span>{{m.label|escape}}</span>
		</a>
		{{m.children? '<ul>' + zenarioT.microTemplate('zenario_toolbar_button_children', m.children) + '</ul>'  : ''}}
	</li>
</ul>