<div class="checkbox_value" id="organizer_field_value__{{m.name|e}}__{{m.value|e}}">
	<input 
		id="organizer_field_value_checkbox__{{m.name|e}}__{{m.value|e}}" 
		type="checkbox" 
		name="{{m.name|e}}" 
		value="{{m.value|e}}"
		onchange="zenarioO.pi.tuixFieldDetailsChanged('{{m.itemType|e}}', '{{m.itemId|e}}', '{{m.tuixTabId|e}}', '{{m.name|e}}');"
		<% if (m.selected) { %>
			checked
		<% } %>
		<% if (m.readonly) { %>
			disabled
		<% } %>
	>
	<label for="organizer_field_value_checkbox__{{m.name|e}}__{{m.value|e}}">{{m.label|e}}</label>
</div>