<div class="zenario_at_toolbar_container_top">
	<div class="zenario_at_content zenario_at_toolbar">
		<% if (!zenarioA.hidden(m.sections.edit)) { %>
			<div class="zenario_at_edit">
				{{zenarioA.microTemplate('zenario_toolbar_button', m.sections.edit)}}
			</div>
		<% } %>
		<% if (!zenarioA.hidden(m.sections.slot_controls)) { %>
			<div class="zenario_at_slot_controls">
				{{zenarioA.microTemplate('zenario_toolbar_button', m.sections.slot_controls)}}
			</div>
		<% } %>
		<% if (!zenarioA.hidden(m.sections.slot_wand)) { %>
			<div class="zenario_at_slot_wand">
				{{zenarioA.microTemplate('zenario_toolbar_button', m.sections.slot_wand)}}
			</div>
		<% } %>
		<% if (!zenarioA.hidden(m.sections.help)) { %>
			<div class="zenario_at_help">
				{{zenarioA.microTemplate('zenario_toolbar_button', m.sections.help)}}
			</div>
		<% } %>
	</div>
</div>
<div class="zenario_at_toolbar_container_bottom">
	<div id="zenario_at_lower_section">
		<div class="zenario_at_infobar zenario_at_infobar_title" onclick="zenarioAB.open('zenario_content', {cID: zenario.cID, cType: zenario.cType, cVersion:zenario.cVersion});">
			{{zenarioAT.tuix.meta_info.title|escape}}
		</div>
		<div class="zenario_at_infobar zenario_at_infobar_version">
			{{zenarioAT.tuix.meta_info.version|escape}}
		</div>
	</div>
</div>