<div id="organizer_rightColumnOptions" class="organizer_toolbar clearfix">
	<% if (m.collectionButtons && m.collectionButtons.length) { %>
		<div id="organizer_collectionToolbarWrap">
			<div class="toolbar" id="organizer_collectionToolbar">
				<span id="organizer_collectionToolbarButtons" class="toolbarButtons">
					{{zenarioT.microTemplate('zenario_organizer_button', m.collectionButtons)}}
				</span>
			</div>
		</div>
	<% } %>
	
	<% if (m.itemsSelected && m.itemButtons && m.itemButtons.length) { %>
	
		<div id="organizer_itemToolbarWrap">
			<div class="toolbar" id="organizer_itemToolbar">
			
				<div id="organizer_itemToolbarButtons" class="toolbarButtons">
			
					<% var bi, button; %>
					<% foreach (m.itemButtons as bi => button) { %>
						<% if (bi == 0 && m.itemCSSClass) { %>
							<% button.itemCSSClass = m.itemCSSClass; %>
						<% } %>
						
						{{zenarioT.microTemplate('zenario_organizer_button', button)}}
						
						<% delete button.itemCSSClass; %>
					<% } %>
				</div>
			</div>
		</div>
	<% } %>
	
	<div class="organizer_dropToUpload">
		<span>{{zenarioA.phrase.dropToUpload}}</span>
	</div>
</div>
