<div class="zenario_ywip_dropdown_inner">
	<div class="zenario_ywip_dropdown_title">{{m.title|escape}}</div>
	<ul>
		<% for (var i = 0; m.__item_sort_order__[i] && m.items[m.__item_sort_order__[i]]; ++i) { %>
			{{zenarioT.microTemplate('zenario_ywip_item', m.items[m.__item_sort_order__[i]])}}
		<% } %>
		<li class="zenario_ywip_more">
			<a href="#zenario__content/panels/content/refiners/work_in_progress////" onclick="zenarioO.go('zenario__content/panels/content/refiners/work_in_progress////'); return false;">
				<% if (!i) { %>
					There are no draft content items
				<% } else if (m.__item_count__ <= i) { %>
					View in panel
				<% } else if (m.__item_count__ == i + 1) { %>
					1 more item...
				<% } else { %>
					{{m.__item_count__ - i|escape}} more items...
				<% } %>
			</a>
		</li>
	</ul>
</div>