<div id="organizer_rightColumnOptions" class="organizer_toolbar clearfix">
	<% if (m.itemButtons && m.itemButtons.length) { %>
		<div class="toolbar" id="organizer_itemToolbar">
			<span id="organizer_itemToolbarButtons" class="toolbarButtons">
				{{zenarioT.microTemplate('zenario_organizer_button', m.itemButtons)}}
			</span>
		</div>
	
	<% } else if (m.collectionButtons && m.collectionButtons.length) { %>
		<div class="toolbar" id="organizer_collectionToolbar">
			<span id="organizer_collectionToolbarButtons" class="toolbarButtons">
				{{zenarioT.microTemplate('zenario_organizer_button', m.collectionButtons)}}
			</span>
		</div>
	<% } %>
	
	<div class="organizer_dropToUpload">
		<span>{{zenarioA.phrase.dropToUpload}}</span>
	</div>
</div>
