<div class="
	<% if(
		m.extension == 'pdf' || 
		m.extension == 'doc' || 
		m.extension == 'docx' || 
		m.extension == 'avi' || 
		m.extension == 'ppt' || 
		m.extension == 'xls' || 
		m.extension == 'zip'
		) { %>
			zenario_doc_type_image_exists
	<% } %>
		zenario_row_input_button zenario_group zenario_group_{{m.cols|e}}_cols zenario_group_col_{{m.col|e}}
	">
	<% if (m.noItemSelected) { %>
		<span class="
			form_field form_picked_item
			form_picked_item_nothing_selected
		">{{m.nothing_selected_phrase|e}}</span>

	<% } else if (m.missing) { %>
			<span class="
				form_field form_picked_item
				zenario_missing_picked_item warning_icon
				{{(m.readOnly? ' form_picked_item_readonly' : '')}}
			">{{zenarioA.phrase.missingId}} {{m.label|e}}</span>

	<% } else { %>
	
		<% if (m.isUpload) { %>
			<span class="zenario_picked_file_wrapper">
				<% if (m.thumbnail) { %>
					<img
						class="zenario_picked_image zenario_picked_image__{{m.extension|e}}"
						src="{{m.thumbnail.src|e}}"
					
						<% if (!m.isInDropDown) { %>
							onclick="{{m.thumbnail.onclick|e}}"
						<% } %>
				
						<% if (m.thumbnail.width) { %>
							width="{{m.thumbnail.width|e}}"
						<% } %>
						<% if (m.thumbnail.height) { %>
							height="{{m.thumbnail.height|e}}"
						<% } %>
					/>
				<% } else { %>
					<a
						target="_blank"
						class="zenario_picked_file_icon zenario_picked_file_icon__{{m.extension|e}}"
						<% if (!m.isInDropDown) { %>
							href="{{m.adminDownload|e}}"
						<% } %>
					>Download</a>
				<% } %>
			</span>
		<% } %>
	
		<% if (m.tag_color) { %>
			<label class="zenario_tag zenario_tag_{{m.tag_color|escape}}">
				{{m.label|e}}
			</label>
		<% } else { %>
			<% if (!m.isUpload) { %>
				<% if (m.list_image) { %>
					<div
						class="zenario_fab_picked_item_image"
						style="background-image: url('{{zenario.addBasePath(m.list_image)|e}}');"
					></div>
				<% } else if (m.css_class) { %>
					<div
						class="zenario_fab_picked_item_icon organizer_item_image {{m.css_class|e}}"
					></div>
				<% } %>
			<% } %>
			
			<span class="
				form_field form_picked_item
				{{(m.readOnly? ' form_picked_item_readonly' : '')}}
			">{{m.label|e}}</span>
		<% } %>
		
		<% if (m.organizerPath) { %>
			<a
				target="_blank"
				class="zenario_fab_picked_item_info"
				<% if (!m.isInDropDown) { %>
					href="{{URLBasePath|e}}zenario/admin/organizer.php#{{m.organizerPath|e}}"
				<% } %>
			>i</a>
		<% } %>
	<% } %>
</div>