<div class="title">
	<h2>{{m.foreground_item_controls_title|e}}</h2>
</div>
<div class="fields">
	<form id="organizer_schematic_builder__foreground_item_custom_fields">
		<% if (m.customFields) { %>
			{{zenarioT.microTemplate('zenario_organizer_schematic_builder_forground_field_details', m.customFields)}}
		<% } %>
	</form>
	<div class="field">
		<input type="button" id="organizer_schematic_builder__duplicate_foreground_image" value="Duplicate"/>
	</div>
	<div class="field">
		<input type="button" id="organizer_schematic_builder__delete_foreground_image" value="Delete"/>
	</div>
</div>