<div id="organizer_rightColumnOptions_no_items" class="organizer_panel_no_items clearfix">
	<% if (m.itemButtons && m.itemButtons.length) { %>
		<div class="panel_no_items" id="organizer_itemPanel_no_items">
			<span id="organizer_itemPanelButtons_no_items" class="panelButtons_no_items">
				{{zenarioA.microTemplate('zenario_organizer_button', m.itemButtons)}}
			</span>
		</div>
	
	<% } else if (m.collectionButtons && m.collectionButtons.length) { %>
		<div class="panel_no_items" id="organizer_collectionPanel_no_items">
			<span id="organizer_collectionPanelButtons_no_items" class="panelButtons_no_items">
				{{zenarioA.microTemplate('zenario_organizer_button', m.collectionButtons)}}
			</span>
		</div>
	<% } %>

</div>
