<div id="organizer_rightColumnOptions" class="organizer_toolbar clearfix">
	<% if (m.collectionButtons && m.collectionButtons.length) { %>
		<div id="organizer_collectionToolbarWrap">
			<div class="toolbar" id="organizer_collectionToolbar">
				<span id="organizer_collectionToolbarButtons" class="toolbarButtons">
					{{zenarioT.microTemplate('zenario_organizer_button', m.collectionButtons)}}
				</span>
			</div>
		</div>
	<% } %>
	
	<% if (m.itemsSelected) { %>
	
		<div id="organizer_itemToolbarWrap">
			<div class="toolbar" id="organizer_itemToolbar">
			
				<div id="organizer_itemToolbarButtons" class="toolbarButtons">
			
					<% if (m.itemCSSClass) { %>
						<div class="organizer_item_toolbar_image">
							<div class="listicon organizer_item_image {{m.itemCSSClass|escape}}">
								<div class="organizer_items_selected">
									<% if (m.itemsSelected > 1) { %>
										{{m.itemsSelected}} items
									<% } %>
								</div>
							</div>
						</div>
					<% } %>
				
					<% if (m.itemButtons && m.itemButtons.length) { %>
						{{zenarioT.microTemplate('zenario_organizer_button', m.itemButtons)}}
					<% } %>
				</div>
			</div>
		</div>
	<% } %>
	
	<div class="organizer_dropToUpload">
		<span>{{zenarioA.phrase.dropToUpload}}</span>
	</div>
</div>
