
<!--
	To do: when the design is finalised, replace the hard-coded messages below with phrases
-->

<form class="zenario_grid_form zenario_grid_properties_form" onsubmit="return false;">
	<div class="content_wrap">
		
		<% switch (m.type) { %>
			<% case 'grouping': %>
				<h3>Grouping</h3>
				<p>Groupings are a way of putting one or more slots into a single container.</p>
			<% break; %>
			<% case 'space': %>
				<h3>Whitespace</h3>
				<p>Whitespace lets you add some empty space on a layout.
					No HTML is written to the screen (unless you enter some custom HTML in the box below).<p>
			<% break; %>
			<% case 'grid_break': %>
				<h3>Gridbreak</h3>
				<p>Gridbreaks split a grid into two sections, interrupting the usual column structure.</p>
				<p>Use gridbreaks to split a layout into say header, body and footer. A name (and hence class) is not mandatory, but will be needed if you wish to target the gridbreak with JS effects (typical names would be Gridbreak_Header, Gridbreak_Body, Gridbreak_Footer). Add a class called "Fixed" to a gridbreak near the top of a layout to make a sticky header.</p>
				<p>Their HTML has a structure like this:<p>
				<pre>
				&nbsp; &nbsp; &lt;/div&gt;
<br/>			&lt;/div&gt;
<br/>			[[Custom HTML]]
<br/>			&lt;div class=&quot;{{m.data.grid_css_class|e}}&quot;&gt;
<br/>			&nbsp; &nbsp; &lt;div class=&quot;container ...&quot;&gt;
				</pre>
			<% break; %>
			<% case 'grid_break_with_slot': %>
				<h3>Slot outside the grid</h3>
				<p>A slot outside of the grid creates a break in the grid, with a slot in the break that may contain a plugin.
				 The HTML has a structure like this:<p>
				<pre>
					&nbsp; &nbsp; &lt;/div&gt;
<br/>				&lt;/div&gt;
<br/>				&lt;div id=&quot;plgslt_{{m.data.name|e}}&quot; class=&quot;zenario_slot ... &quot;&gt;
<br/>				&nbsp; &nbsp; [[Slot contents]]
<br/>				&lt;/div&gt;
<br/>				&lt;div class=&quot;{{m.data.grid_css_class|e}}&quot;&gt;
<br/>				&nbsp; &nbsp; &lt;div class=&quot;container ...&quot;&gt;
				</pre>
			<% break; %>
			<% case 'slot': %>
				<h3>Slot</h3>
				<p>Slots are the most common element, have a width in columns, and may contain plugins. Their HTML has this structure:<p>
				<pre>
					&lt;div id=&quot;plgslt_{{m.data.name|e}}&quot; class=&quot;zenario_slot ... &quot;&gt;
<br/>				&nbsp; &nbsp; [[Plugin contents]]
<br/>				&lt;/div&gt;
				</pre>
				
			<% break; %>
		<% } %>
		
		<div id="zenario_grid_error"></div>
	
		<input type="hidden" name="type" value="{{m.type|e}}" maxlength="100"/>
	
		<% if (m.type == 'slot' || m.type == 'grid_break_with_slot') { %>
			<p>{{zenarioA.phrase.gridSlotName}}</p>
			<input type="text" name="name" value="{{m.data.name|e}}" maxlength="100"/>
			<div id="zenario_grid_slot_contents"><span>{{zenarioGM.getSlotDescription(m.slot)}}</span></div>
		<% } %>
	
		<% if (m.type != 'grid_break' && m.type != 'grid_break_with_slot') { %>
			<div id="zenario_grid_slot_columns">
				<span>
					<span class="value">{{m.data.width|e}}</span>
					<span class="title">columns</span>
				</span>
			</div>
		<% } %>
	
		<% if (m.type != 'grid_break') { %>
			<p>{{zenarioA.phrase.gridCSSClass}}</p>
			<input type="text" name="css_class" value="{{m.data.css_class|e}}" maxlength="100"/>
		<% } %>
	
		<% if (m.type == 'space' || m.type == 'grid_break') { %>
			<p>{{zenarioA.phrase.gridHtml}}</p>
			<textarea name="html">{{m.data.html|e}}</textarea>
		<% } %>
	
		<% if (m.type == 'slot') { %>
			<div class="zenario_grid_slot_heights">
				<% var h, heights = ['small', 'medium', 'large', 'xlarge', 'xxlarge']; %>
				<% for (h in heights) { %>
					<input type="radio" name="height" value="{{heights[h]}}"
						id="zenario_grid_height_{{heights[h]}}"
						{{(heights[h] == m.data.height || (h == 0 && !m.data.height)? 'checked="checked"' : '')}}
					/>
					<label for="zenario_grid_height_{{heights[h]}}">{{heights[h]}}</label>
					
				<% } %>
			</div>
			<br/>
		<% } %>
	
		<% var show = false, showFirst = false, showOnly = false; %>
	
		<% if (m.type == 'grid_break' || m.type == 'grid_break_with_slot') { %>
			<p>{{zenarioA.phrase.gridGridCSSClass}}</p>
			<input type="text" name="grid_css_class" value="{{m.data.grid_css_class|e}}" maxlength="100"/>
		
			<% if (m.type == 'grid_break_with_slot') { %>
				<% show = showOnly = true; %>
			<% } %>
	
		<% } else if (m.lib.data.responsive && m.type == 'space') { %>
			<p>
				<input type="radio" name="small" id="grid_resp_hide" value="hide" checked="checked"/>
				<label for="grid_resp_hide">{{zenarioA.phrase.gridResp_hide}}</label>
			</p>
	
		<% } else if (m.lib.data.responsive) { %>
			<% show = true; %>
			
			<% var isLastSlot = !m.cell.is_alpha && m.cell.is_omega; %>
			<% var isFullSlot = m.cell.is_alpha && m.cell.at_right_edge; %>
			
			<% if (isLastSlot) { %>
				<% showFirst = true; %>
			<% } else if (isFullSlot) { %>
				<% showOnly = true; %>
			<% } %>
		<% } %>
	
	
	
	
		<% if (show) { %>
			<p>
				<input type="radio" name="small" id="grid_resp_always" value="" {{(!m.data.small? 'checked="checked"' : '')}}/>
				<label for="grid_resp_always">{{zenarioA.phrase.gridResp_always}}</label>
			
				<br/>
				<input type="radio" name="small" id="grid_resp_hide" value="hide" {{('hide' == m.data.small? 'checked="checked"' : '')}}/>
				<label for="grid_resp_hide">{{zenarioA.phrase.gridResp_hide}}</label>
		
				<% if (showFirst) { %>
					<br/>
					<input type="radio" name="small" id="grid_resp_first" value="first" {{('first' == m.data.small? 'checked="checked"' : '')}}/>
					<label for="grid_resp_first">{{zenarioA.phrase.gridResp_first}}</label>
				<% } %>
				<% if (showOnly) { %>
					<br/>
					<input type="radio" name="small" id="grid_resp_only" value="only" {{('only' == m.data.small? 'checked="checked"' : '')}}/>
					<label for="grid_resp_only">{{zenarioA.phrase.gridResp_only}}</label>
				<% } %>
			</p>
		<% } %>
	

		<div class="nice_button"><div class="r"><input type="submit" id="zenario_grid_slotname_button" class="i" value="{{zenarioA.phrase.gridSaveProperties}}"/></div></div>
	</div>
</form>
