<% var section = zenarioAT.tuix.sections[zenarioA.toolbar],
	images = section.images || {},
	buttons = section.buttons || {},
	editFAB = buttons.edit_menu_item && buttons.edit_menu_item.admin_box;
%>

<div class="zenario_at_toolbar_container_top">
	<div class="zenario_at_content zenario_at_toolbar">
		<% if (m.sections[zenarioA.toolbar]) { %>
			<div class="zenario_at_menu_node">
				<!--
					Slight hack here to allow for multiple Menu Tabs:
					I've made the names of the sections equal to the names of the toolbars.
					Thus passing the name of the current toolbar in for the name of the section that we want will work.
				-->
				{{zenarioT.microTemplate('zenario_toolbar_button', m.sections[zenarioA.toolbar])}}
			</div>
		<% } %>
		<% if (!zenarioT.hidden(m.sections.menu_node_help)) { %>
			<div class="zenario_at_help">
				{{zenarioT.microTemplate('zenario_toolbar_button', m.sections.menu_node_help)}}
			</div>
		<% } %>
	</div>
</div>
<div class="zenario_at_toolbar_container_bottom">
	<div id="zenario_at_lower_section">
		<div class="
			zenario_at_infobar_icon organizer_item_image
			{{section.custom__menu_icon_css_class|escape}}
		"></div>
		<div class="zenario_at_infobar_menu_section">
			{{buttons.menu_section.label|escape}}
		</div>
		<% if (images.image) { %>
			<img
				src="{{images.image.url|escape}}"
				title="{{zenarioA.phrase.menuImage}}"
				class="zenario_at_menu_image"
				
				<% if (editFAB) { %>
					onclick="
						zenarioAB.open('{{editFAB.path|escape}}', {{JSON.stringify(editFAB.key)|escape}}, 'feature_image');
					"
				<% } %>
			/>
		<% } %>
		<% if (images.rollover_image) { %>
			<img
				class="zenario_at_menu_image zenario_at_menu_rollover_image"
				src="{{images.rollover_image.url|escape}}"
				title="{{zenarioA.phrase.menuRolloverImage}}"
				
				<% if (editFAB) { %>
					onclick="
						zenarioAB.open('{{editFAB.path|escape}}', {{JSON.stringify(editFAB.key)|escape}}, 'feature_image');
					"
				<% } %>
			/>
		<% } %>
		<% if (images.feature_image) { %>
			<img
				class="zenario_at_menu_image zenario_at_menu_feature_image"
				src="{{images.feature_image.url|escape}}"
				title="{{zenarioA.phrase.menuFeatureImage}}"
				
				<% if (editFAB) { %>
					onclick="
						zenarioAB.open('{{editFAB.path|escape}}', {{JSON.stringify(editFAB.key)|escape}}, 'feature_image');
					"
				<% } %>
			/>
		<% } %>
		<div
			class="
				zenario_at_infobar
				zenario_at_infobar_menu_path
				{{buttons.menu_path.css_class|escape}}
				
				<% if (buttons.edit_menu_text && buttons.edit_menu_text.admin_box) { %>
					zenario_at_clickable_infobar" onclick="zenarioAT.clickButton(zenarioA.toolbar, 'edit_menu_text');
				<% } %>
			"
		>
			<span>{{buttons.menu_path.label|escape}}</span>
		</div>
	</div>
</div>