<div id="organizer__box_wrap"><div id="organizer__box_inner" class="
	organizer_not_loaded organizer_not_changing_hierarchy organizer_not_multiple_items_selected organizer_not_uploading
"><div>
	<div id="organizer__box_top" class="zenario_drag">
		<div id="organizer_wrapOuter_tm" class="organizer_wrapOuter">
			<div>
				{{m.topLeftHTML}}
				
				<div id="organizer_branding_title">
					{{htmlspecialchars(zenarioA.siteSettings.organizer_title).replace(/\bOrganizer\b/gi, '<span class="organizer_name"><span>O</span>rganizer</span>')}}
				</div>
				
				<% if (zenarioA.isFullOrganizerWindow && !zenarioA.openedInIframe) { %>
					<input id="organizer_whereWasThatThing_search" placeholder="{{zenarioA.phrase.wwttPlaceholder}}" />
				<% } %>
				
				{{m.topRightHTML}}
			</div>
		</div>
	</div>
			
	<div id="organizer__box_center">
		<div class="organizer__box_center_inner">
			<div id="organizer_container">
				<div id="organizer_Outer">
					<div class="organizer_findOuterWrap" style="">
						<div id="organizer_mainColumnsWrap">
							<div id="organizer_leftColumnOuter" data-step="10" data-position="right" data-intro="{{'<p><strong>Navigation panel</strong></p><p>This navigation lets you view various panels within the organiser.</p>'|escape}}">
								<div id="organizer_leftColumn"></div>
							</div>
							<div id="organizer_rightColumn"
								data-step="15" data-position="left" data-intro="{{'<p><strong>Main panel</strong></p><p>This panel displays information in relation to the navigation tab selected on the left.</p>'|escape}}">
								<div id="organizer_preloader_circle">
									<div></div>
								</div>

								<div id="organizer_search" class="viewMode toolbar" style="visibility: hidden;" data-step="9" data-position="right" data-intro="{{'<p><strong>Search this panel</strong></p><p>Search here for any content in the panel.<p>'|escape}}">
									<form id="organizer_searchForm" onsubmit="return false;">
										<input type="search" id="organizer_search_term" value="" placeholder="{{zenarioA.phrase.skQuickSearch}}"
										 onclick="zenarioO.searchOnClick(this);"
										 onkeyup="zenarioO.searchOnKeyUp(this);"
										 onchange="zenarioO.searchOnChange(this);"
										 onsearch="zenarioO.doSearch(this);"
										 onfocus="zenarioO.searchFocused = true;"
										 onblur="zenarioO.searchFocused = false;"
										/>
									</form>
								</div>

								<div id="organizer_rightColumnInner">
									{{zenarioT.microTemplate('zenario_organizer_panel', m)}}
								</div>
							</div>
						</div>
						<div id="organizer_bottomWrap">
							<div id="organizer_lowerLeftColumn"></div>
							<div id="organizer_lowerMiddleColumn"></div>
							<div id="organizer_lowerRightColumn">
								<form style="float: right;" id="organizer_bottomRightForm">
									<input type="button" id="organizer_choose_button" class="submit_disabled" onclick="zenarioO.choose();" style="display: none;"/>
									<span id="organizer_trash_button"  data-step="18" data-position="left" data-intro="{{'<p><strong>View trash</strong></p><p>View all items that have been deleted into the trash.</p>'|escape}}" style="display: none;"><a onclick="zenarioO.viewTrash();"></a></span>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
			
	<div id="organizer__box_bottom">
		<div class="organizer_bl"></div>
		
			<div id="organizer_wrapInner_bm" class="organizer_wrapInner"></div>
		
		<div class="organizer_br"></div>
	</div>
</div></div></div>
