<div class="field" <% if (m.hidden) { %> style="display:none;" <% } %>>
	<% if (m.type == 'select') { %>
		<div class="label">{{m.label|e}}</div>
		<div class="content">
			<select id="forground_item_field__{{m.name|e}}" name="{{m.name|e}}">
				<% if (m.empty_value) { %>
					<option value="">{{m.empty_value|e}}</option>
				<% } %>
				<% for (var i = 0; i < m.values.length; i++) { %>
					<option value="{{m.values[i].value|e}}" <% if (m.value == m.values[i].value) { %> selected <% } %>>{{m.values[i].label|e}}</option>
				<% } %>
			</select>
		</div>
	<% } else if (m.pick_items) { %>
		<div class="label">{{m.label|e}}</div>
		<div class="content">
			<input type="hidden" id="{{m.name|e}}" name="{{m.name|e}}" value="{{m.value|e}}"/>
			<input type="text" id="{{m.name|e}}__display_text" disabled/>
			<input type="button" id="{{m.name|e}}__choose_button" value="{{m.pick_items.select_phrase|e}}"/>
		</div>
	<% } %>
</div>