<input type="button" value="{{zenarioSE.tuix.custom__update_preview_message|e}}" onclick="
		if (zenarioSE.canUpdatePreview) {
			zenarioSE.updatePreview(1);
		}
	" class="zenario_disabled_button" id="zenario_fabUpdatePreview"/>

<input id="zenario_fabSaveAndContinue" type="button" value="{{zenarioSE.tuix.save_and_continue_button_message|e}}"

<% if (m.isReadOnly) { %>
	 class="zenario_disabled_button"/>
<% } else { %>
	 class="{{_.isEmpty(zenarioSE.changed)? 'zenario_disabled_button' : 'zenario_submit_button'}}"
	 onclick="
		if (zenarioSE.canUpdatePreview) {
			zenarioSE.updatePreview(1);
		}
	 	if (!_.isEmpty(zenarioSE.changed)) {
	 		zenarioSE.save(undefined, true);
	 	}
	 "/>
<% } %>
<input id="zenario_fabSave" type="button" value="{{zenarioSE.tuix.save_button_message || zenarioA.phrase.save|e}}"

<% if (m.isReadOnly) { %>
	 class="zenario_disabled_button"/>
<% } else { %>
	 class="{{_.isEmpty(zenarioSE.changed)? 'zenario_disabled_button' : 'zenario_submit_button'}}"
	 onclick="zenarioSE.save();"/>
<% } %>