<div class="zenario_at_toolbar_container_top">
	<div class="zenario_at_content zenario_at_toolbar">
		<% if (!zenarioT.hidden(m.sections.slot_controls)) { %>
			<div class="zenario_at_slot_controls">
				{{zenarioT.microTemplate('zenario_toolbar_button', m.sections.slot_controls)}}
			</div>
		<% } %>
		<% if (!zenarioT.hidden(m.sections.slot_wand)) { %>
			<div class="zenario_at_slot_wand">
				{{zenarioT.microTemplate('zenario_toolbar_button', m.sections.slot_wand)}}
			</div>
		<% } %>
		<% if (!zenarioT.hidden(m.sections.help)) { %>
			<div class="zenario_at_help">
				{{zenarioT.microTemplate('zenario_toolbar_button', m.sections.help)}}
			</div>
		<% } %>
	</div>
</div>
<div class="zenario_at_toolbar_container_bottom">
	<div id="zenario_at_lower_section">
	</div>
	{{zenarioT.microTemplate('zenario_toolbar_common_footer', m)}}
</div>