<div class="zenario_at_toolbar_container_top">
	<div class="zenario_at_content zenario_at_toolbar">
		<% if (!zenarioA.hidden(m.sections.template, true)) { %>
			<div class="zenario_at_template">
				{{zenarioA.microTemplate('zenario_toolbar_button', m.sections.template)}}
			</div>
		<% } %>
		<% if (!zenarioA.hidden(m.sections.slot_wand, true)) { %>
			<div class="zenario_at_slot_wand">
				{{zenarioA.microTemplate('zenario_toolbar_button', m.sections.slot_wand)}}
			</div>
		<% } %>
		<% if (!zenarioA.hidden(m.sections.help, true)) { %>
			<div class="zenario_at_help">
				{{zenarioA.microTemplate('zenario_toolbar_button', m.sections.help)}}
			</div>
		<% } %>
	</div>
</div>
<div class="zenario_at_toolbar_container_bottom">
	<div id="zenario_at_lower_section">
		<div class="zenario_at_infobar zenario_at_infobar_layout_id_and_name">
			{{zenarioAT.tuix.sections.template.buttons.id_and_name.label|escape}}
		</div>
		<div class="zenario_at_infobar zenario_at_infobar_layout_usage">
			{{zenarioAT.tuix.sections.template.buttons.usage.label|escape}}
		</div>
	</div>
</div>