<div id="organizer_rightColumnTitle" class="zenario_toolbar_header">
	<div id="organizer_panelTitle"></div>
	<% if (zenarioT.showDevTools()) { %>
		<div id="organizer_debug_button" class="zenario_debug" onmouseover="zenarioO.infoBox(this);" onclick="zenarioO.closeInfoBox(); zenarioA.debug('zenarioO');"><div></div></div>
	<% } %>
</div>
<div id="organizer_header" class="zenario_toolbar_header" onclick="zenarioO.closeInfoBox();"></div>
<div id="organizer_buttons" class="organizer_rightColumnOptions_panel" onmouseover="zenarioO.closeInfoBox();"></div>
<div id="organizer_rightColumnContent" onmouseover="zenarioO.closeInfoBox();"></div>
