<% if (zenarioA.hasPriv('_PRIV_EDIT_SITE_SETTING')) { %>
	<div
		data-position="bottom-right-aligned"
		onclick="zenarioAB.enableOrDisableSite();"
	
		data-tooltip-options="
			{position: {collision: 'flipfit'}}
		"
	
		<% if (zenarioA.siteSettings.site_enabled) { %>
			<% if (zenarioA.siteSettings.site_in_dev_mode) { %>
				class="organizer_enabled_disabled site_enabled_development"
				title="Site enabled, but in developer mode"
			<% } else { %>
				class="organizer_enabled_disabled site_enabled"
				title="Site enabled"
			<% } %>
		<% } else { %>
			<% if (zenarioA.siteSettings.site_in_dev_mode) { %>
				class="organizer_enabled_disabled site_disabled"
				title="Site disabled and in developer mode"
			<% } else { %>
				class="organizer_enabled_disabled site_disabled"
				title="Site disabled"
			<% } %>
		<% } %>
	></div>
<% } %>
<% if (zenarioA.hasPriv('_PRIV_EDIT_SITE_SETTING')) { %>
	<div
	class="organizer_help_box"
	data-step="16" data-position="bottom-right-aligned"
	data-intro="{{'<p><strong>Help</strong></p><p>Click here for help.</p>'|escape}}"
	onclick="zenarioAB.open('zenario_help_line', {currentUrl: document.location.href});"
	title="Zenario support line"
	data-tooltip-options="
		{position: {collision: 'flipfit'}}
	"
></div>
<% } %>
<div
	class="organizer_info_box"
	data-step="16" data-position="bottom-right-aligned"
	data-intro="{{'<p><strong>Information</strong></p><p>Zenario software version and installation details.</p>'|escape}}"
	onclick="zenarioA.infoBox();"
	title="View site info"
	data-tooltip-options="
		{position: {collision: 'flipfit'}}
	"
></div>
<% if (zenarioA.hasPriv('_PRIV_VIEW_DIAGNOSTICS')) { %>
	<div
		class="organizer_diagnostics"
		onclick="zenario.goToURL(URLBasePath + 'zenario/admin/welcome.php?task=diagnostics&amp;og=' + encodeURIComponent(zenarioO.getHash()));"
		title="View site diagnostics"
		data-tooltip-options="
			{position: {collision: 'flipfit'}}
		"
	></div>
<% } %>
<div
	class="organizer_help"
	data-step="17" data-position="bottom-right-aligned"
	data-intro="{{'<p><strong>Organizer quick tour</strong></p><p>Take a quick tour on how to use the Zenario Organizer interface.</p>'|escape}}"
	onclick="zenarioA.showHelp('#zenario_fbog [data-intro]:visible');"
	title="Zenario quick tour"
	data-tooltip-options="
		{position: {collision: 'flipfit'}}
	"
></div>
