<div class="zenario_ywip_dropdown_inner">
	<div class="zenario_ywip_dropdown_title">{{m.title|escape}}</div>
	<ul>
		<% for (var i = 0; m._cms_itemSortOrder[i] && m.items[m._cms_itemSortOrder[i]]; ++i) { %>
			{{zenarioT.microTemplate('zenario_ywip_item', m.items[m._cms_itemSortOrder[i]])}}
		<% } %>
		<li class="zenario_ywip_more">
			<a href="#zenario__content/panels/content/refiners/work_in_progress////" onclick="zenarioO.go('zenario__content/panels/content/refiners/work_in_progress////'); return false;">
				<% if (!i) { %>
					There are no draft content items
				<% } else if (m._cms_itemCount <= i) { %>
					View in panel
				<% } else if (m._cms_itemCount == i + 1) { %>
					1 more item...
				<% } else { %>
					{{m._cms_itemCount - i|escape}} more items...
				<% } %>
			</a>
		</li>
	</ul>
</div>