<div class="zenario_at_toolbar_container_top">
	<div class="zenario_at_content zenario_at_toolbar">
		<% if (!zenarioT.hidden(m.sections.translations)) { %>
			<div class="zenario_at_translations">
				{{zenarioT.microTemplate('zenario_toolbar_button', m.sections.translations)}}
			</div>
		<% } %>
		<% if (!zenarioT.hidden(m.sections.help)) { %>
			<div class="zenario_at_help">
				{{zenarioT.microTemplate('zenario_toolbar_button', m.sections.help)}}
			</div>
		<% } %>
	</div>
</div>
<div class="zenario_at_toolbar_container_bottom">
	{{zenarioT.microTemplate('zenario_toolbar_common_footer', m)}}
</div>