<div class="toolbar_content">
	<div class="zenario_debug"><div></div></div>
	<h1>Zenario TUIX (Tribal User Interface) Inspector</h1>
	<p>
	<% switch (devTools.mode) { %>
		<% case 'zenarioAB': %>
			The TUIX shown below describes the <strong>Admin Box</strong> with the path
			<strong>{{devTools.path|escape}}</strong>
			<% break; %>
		
		<% case 'zenarioAT': %>
			The TUIX shown below describes the <strong>Admin Toolbar</strong>
			<% break; %>
		
		<% case 'zenarioO': %>
			<% if (devTools.orgMap) { %>
				The TUIX shown below describes <strong>Organizer's map</strong>. This contains
				basic information on all of the navigation and panels in Organizer
			<% } else { %>
				The TUIX shown below describes the <strong>Panel</strong> with the path
				<strong>{{devTools.path|escape}}</strong>
			<% } %>
			<% break; %>
		
		<% default: %>
			The TUIX shown below describes the <strong>Front-End Administration plugin</strong>
			with the path <strong>{{devTools.path|escape}}</strong>
			<% break; %>
	
	<% } %>
	</p>
</div>
<div class="buttons">
	<input id="refresh" type="button" value="Reload" onclick="devTools.load();" />
	<input class="foldall" type="button" value="Collapse all" onclick="editor.execCommand('foldall');" />
	<input class="unfoldall" type="button" value="Expand all" onclick="editor.execCommand('unfoldall');" />
</div>

