<ul class="organizer_button__{{m.id|escape}}">
	<li class="
		{{m.css_class|escape}}
		{{m.disabled? 'organizer_button_disabled' : ''}}
	">
		<% if (m.itemCSSClass) { %>
			<div class="organizer_item_toolbar_image">
				<div class="listicon organizer_item_image {{m.itemCSSClass|escape}}">
					<div class="organizer_items_selected">
						<% if (m.itemsSelected > 1) { %>
							{{m.itemsSelected}} items
						<% } %>
					</div>
				</div>
			</div>
		<% } %>
		
		<a
			title="{{m.tooltip|escape}}"
			onclick="{{m.onclick|escape}}"
			<% if (m.href) { %>
				href="{{m.href|escape}}"
				<% if (m.new_window) { %>
					target="_blank"
				<% } %>
			<% } %>
		>
			<span>{{m.label|escape}}</span>
		</a>
		{{m.children? '<ul>' + zenarioT.microTemplate('zenario_organizer_button_children', m.children) + '</ul>'  : ''}}
	</li>
</ul>