<div class="zenario_at_toolbar_container_top">
	<div class="zenario_at_content zenario_at_toolbar">
		<% if (!zenarioT.hidden(m.sections.edit)) { %>
			<div class="zenario_at_edit">
				{{zenarioT.microTemplate('zenario_toolbar_button', m.sections.edit)}}
			</div>
		<% } %>
		<% if (!zenarioT.hidden(m.sections.slot_controls)) { %>
			<div class="zenario_at_slot_controls">
				{{zenarioT.microTemplate('zenario_toolbar_button', m.sections.slot_controls)}}
			</div>
		<% } %>
		<% if (!zenarioT.hidden(m.sections.slot_wand)) { %>
			<div class="zenario_at_slot_wand">
				{{zenarioT.microTemplate('zenario_toolbar_button', m.sections.slot_wand)}}
			</div>
		<% } %>
		<% if (!zenarioT.hidden(m.sections.help)) { %>
			<div class="zenario_at_help">
				{{zenarioT.microTemplate('zenario_toolbar_button', m.sections.help)}}
			</div>
		<% } %>
	</div>
</div>
<div class="zenario_at_toolbar_container_bottom">
	<div id="zenario_at_lower_section">
		<div class="
			zenario_at_infobar_icon organizer_item_image
			{{zenarioAT.tuix.meta_info.cversion_css_class|escape}}
		"></div>
		<div
			class="zenario_at_infobar zenario_at_infobar_title zenario_at_clickable_infobar"
			onclick="zenarioAB.open('zenario_content', {cID: zenario.cID, cType: zenario.cType, cVersion:zenario.cVersion});"
		>
			<span>{{zenarioAT.tuix.meta_info.title|escape}}</span>
		</div>
		<div class="zenario_at_infobar_version_half">
			{{zenarioAT.tuix.meta_info.version|escape}}
		</div>
	</div>
	{{zenarioT.microTemplate('zenario_toolbar_common_footer', m)}}
</div>