<% if (zenario.engToBoolean(m.errors)) { %>
	<div id="errorDisplayRow" class="div_table_row"><div class="div_table_column"><div class="messageDisplay" id="errorDisplay">
		<% for (var e in m.errors) { %>
			<div id="errorDisplay_inner">
				{{zenario.htmlspecialchars(m.errors[e].message, true)}}
			</div>
		<% } %>
	</div></div></div>
<% } %>	
<% for (var n in m.notices) { %>
	<div class="{{m.notices[n].type|escape}}DisplayRow div_table_row">
		<div class="div_table_column">
			<div class="messageDisplay">
				<div>
					{{zenario.htmlspecialchars(m.notices[n].message, true)}}
				</div>
			</div>
		</div>
	</div>
<% } %>

<% if (m.fields) { %>
	<% var f; %>
	<% var firstField = m.fields[0]; %>
	
	<% if (firstField._lastGrouping !== firstField.grouping) { %>
		<% if (firstField._lastGrouping) { %>
			</fieldset>
		<% } %>
		<% if (firstField.grouping) { %>
			<fieldset class="zenario_grouping zenario_grouping__{{firstField.grouping|escape}}">
		<% } %>
	<% } %>
	<% if (firstField.legend) { %>
		<legend class="zenario_legend zenario_legend_for__{{firstField._id|escape}}"><span>{{firstField.legend}}</span></legend>
	<% } %>
	
	<div id="row__{{firstField._id|escape}}" class="
		{{firstField.type=='checkbox'? 'zenario_single_line' : ''}}
		zenario_ab_row__{{firstField._id|escape}}
		{{firstField.row_class|escape}}
		{{firstField._hideOnOpen? 'zenario_hide_row_on_open' : ''}}
		div_table_row
		{{firstField.indent? 'zenario_indent_level zenario_indent_level_' +  (1*firstField.indent) : ''}}
	">
		
		<div class="div_table_column">
			
			<% if (!zenario.engToBoolean(firstField.full_width)) { %>
				<% for (f in m.fields) { %>
					<% if (m.fields[f].side_note) { %>
						<div class="zenario_side_note_wrap zenario_side_note_wrap_for_field">
							<div class="zenario_side_note">
								<div class="zenario_note_icon"></div>
								<div class="zenario_note_content">{{zenario.unfun(m.fields[f].side_note)}}</div>
							</div>
						</div>
					<% } %>
				<% } %>
				<% if (firstField.label && !(firstField.type == 'checkbox' || firstField.type == 'radio' || firstField.type == 'toggle')) { %>
					<div class="title {{firstField._hideOnOpen? 'zenario_hide_on_open' : ''}} {{firstField._showOnOpen? 'zenario_show_on_open' : ''}}">
						<label class="{{firstField.label_class|escape}}" for="{{firstField._id|escape}}">{{firstField.label}}</label>
					</div>
				<% } %>
			<% } %>
			
			<div class="{{firstField._hideOnOpen? 'zenario_hide_on_open' : ''}} {{firstField._showOnOpen? 'zenario_show_on_open' : ''}} {{firstField.type=='checkbox'? 'zenario_input_checkbox' : ''}}">
				<% for (f in m.fields) { %>
					{{m.fields[f]._html}}
					
					<% if (m.fields[f].show_phrase_icon) { %>
						<a class="zenario_fab_phrase_icon" title="{{zenarioA.phrase.translatedField}}"></a>
					<% } %>
					
				<% } %>
			</div>
			<% for (f in m.fields) { %>
				<% if (m.fields[f].note_below) { %>
					<div class="zenario_note_below">
						<div class="zenario_note_icon"></div>
						<div class="zenario_note_content">{{zenario.unfun(m.fields[f].note_below)}}</div>
					</div>
				<% } %>
			<% } %>
		</div>
	</div>
	
	<% if (firstField._isLastRow) { %>
		<% if (firstField.grouping) { %>
			</fieldset>
		<% } %>
	<% } %>
<% } %>