<div class="zenario_radio_or_checkbox zenario_group zenario_group_{{m.cols|e}}_cols zenario_group_col_{{m.col|e}}">

	<% if (m.lovField.pre_field_html !== undefined) { %>
		{{m.lovField.pre_field_html}}
	<% } %>

	<% if (m.lovField.side_note) { %>
		<div class="zenario_side_note_wrap zenario_side_note_wrap_for_field_option">
			<div class="zenario_side_note">
				<div class="zenario_note_icon"></div>
				<div class="zenario_note_content">{{zenario.unfun(m.lovField.side_note)}}</div>
			</div>
		</div>
	<% } %>

	{{m.lovHTML}}
	
	<label
		for="{{m.lovId|escape}}"
		id="label_for__{{m.lovId|escape}}"
		class="
			{{m.lovField.label_class}}
			<% if (m.tag_color) { %>
				zenario_tag zenario_tag_{{m.tag_color|escape}}
			<% } %>
		"
	>
		{{m.lovField.label|e}}
	</label>

	<% if (m.lovField.post_field_html !== undefined) { %>
		{{m.lovField.post_field_html}}
	<% } %>

</div>

<% if (m.lovField.note_below) { %>
	<div class="zenario_note_below">{{zenario.unfun(m.lovField.note_below)}}</div>
<% } %>

<% if (m.childrenHTML) { %>
	{{m.childrenHTML}}
<% } %>