{% if RSS %}<?xml version="1.0" encoding="UTF-8" ?>
	<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
		<channel>
			<atom:link href="{{RSS_Link}}" rel="self" type="application/xml" />
			<title>{{Title}}</title>
			<link>{{Link}}</link>
			<description>{{Description}}</description>
			
			{% for item in RSS_Item %}
				<item>
					<title>{{item.Title}}</title>
					<description>{{item.Excerpt_Text}}</description>
					<link>{{item.Full_Link}}</link>
					<guid>{{item.Full_Link}}</guid>
					{% if item.Language %}
						<language>{{item.Language}}</language>
					{% endif %}
					{% if item.Date %}
						<pubDate>{{item.Date}}</pubDate>
					{% endif %}
				</item>
			{% endfor %}
		</channel>
	</rss>
{% else %}
	{% if All_Currently_Selected_Categories %}
		<div class="currently_selected_categories">
		<h5>Category filters</h5>
		 
			{% if More_Than_One and  All_Or_Any %}
				<p class="label">{{All_Or_Any|trans}}</p>
			{% endif %}	
		    
		    <ul>
				{% for category in All_Currently_Selected_Categories %}
					<li>{{category}}</li>
				{% endfor %}
	 		</ul>
	 	</div>
	{% endif %}
		
	{% if Rows %}
		{% if Show_RSS_Link %}
			<div class="content_list_rss_link"><a href="{{RSS_Link}}"><span>{{'_RSS'|trans}}</span></a></div>
		{% endif %}
		{% if Show_Title %}
			<{{Title_Tags}}>{{Title_With_Content}}</{{Title_Tags}}>
		{% endif %}
		<div class="content_list_listing{% if Content_Items_Equal_Height %} setmychildren {% endif %}">
			{% for item in Row %}
				<div class="content_list_data_row{% if Content_Items_Equal_Height %} tothesameheight{% endif %} data_row_{{this.oddOrEven()}}{% if item.Disabled %} disabled_link{% endif %}">
					{% if Show_Sticky_Image %}
						<div class="sticky_image">
							<a {{item.Link}}{{item.Target_Blank}}>
								{{item.Sticky_Image}}
							</a>
						</div>
					{% endif %}
					<div class="content_list_text">
						{% if Show_Item_Title %}
							
							{% if Aws_Link and item.s3_File_Id %}
								<{{Item_Title_Tags}} class="content_list_title {{item.Content_Type|e}}{% if item.Disabled %} disabled_link{% endif %}">
									<span class="link_title">{{item.Title|e}}</span>
								</{{Item_Title_Tags}}>
								<div class="link_downloads">
									{% if item.Local_File_Id %}
										<a {{item.Link}}{{item.Target_Blank}}>{{Local_File_Link_Text}}</a>
										{% if Show_Format_And_Size %}
											({{item.Local_File_Size}}) | 
										{% endif %} 
									{% endif %}
									{% if item.s3_File_Id %}
										
										<a href = "{{item.S3_Anchor_Link}}" download >{{S3_File_Link_Text}}  </a>
										{% if Show_Format_And_Size %}
											({{item.S3_File_Size}})
										{% endif %}
									{% endif %}	
								</div>
							{% else %}	
								<{{Item_Title_Tags}} class="content_list_title {{item.Content_Type|e}}{% if item.Disabled %} disabled_link{% endif %}">
									<a {{item.Link}}{{item.Target_Blank}}>{{item.Title|e}}</a> 
									{% if Show_File_Size and item.Local_File_Size %}
										({{item.Local_File_Size}})
									{% endif %} 
								</{{Item_Title_Tags}}>
							{% endif %}	
								{% if this.setting('show_language') %}
									<span>({{item.Language|e}})</span>
								{% endif %}
							
						{% endif %}
						{% if Show_Author_Image %}
							<div class="content_list_author_image">
								<img alt="{{item.Author_Image_Alt|e}}" src="{{item.Author_Image_Src|e}}" width="{{item.Author_Image_Width|e}}" height="{{item.Author_Image_Height|e}}"/>
							</div>
						{% endif %}
						{% if Show_Author %}
							<p class="content_list_author">{{item.Author|e}}</p>
						{% endif %}
						{% if Show_Date %}
							<p class="content_list_date">{{item.Date|e}}</p>
						{% endif %}
						{% if Show_Excerpt %}
							<div class="content_list_excerpt">{{item.Excerpt_Text}}</div>
						{% endif %}
					</div>
					{% if item.Logged_in_user_is_admin and item.Content_panel_organizer_href_start %}
					<div class="content_list_infoIcon">
						<a
							class="zenario_front_end_picked_item_info"
							href="
								{{item.Content_panel_organizer_href_start}}"
							target="_blank">i</a>
					</div>
					{% endif %}
					{% if Show_Category and item.Category %}
						{% if item.Category_Landing_Page_Link %}
							<a href="{{item.Category_Landing_Page_Link|e}}">
						{% endif %}
						<div class="content_list_category category_{{item.Category_Id|e}}">{{item.Category|e}}</div>
						{% if item.Category_Landing_Page_Link %}
							</a>
						{% endif %}
					{% endif %}
				</div>
			{% endfor %}
			{% if More %}
				<a class="content_list_more_link" {{More_Link}}>{{More_Link_Title|e}}</a>
			{% endif %}
			
		</div>
	{% endif %}
	{% if No_Rows %}
		{% if Show_No_Title %}
			<{{Title_Tags}}>{{Title_With_No_Content|e}}</{{Title_Tags}}>
		{% endif %}
	{% endif %}
	{% if Years %}
		<form class="content_list_date_select">
			{{'_PUBLISHED:'|trans}}
		</form>
	{% endif %}
	{{Pagination}}
	<!--To show download zip files  -->
	{% if Error %}
				{{Message}}
			{% endif %}

			{% if Empty_Archive %}
				{{NO_CONTENT_ITEMS}}
			{% endif %}
			{% if Link_To_Download_Page %}
				<div id="generating_documents_{{Main_Link_Slot}}" class = "download_documents_preparing_archive" style="display:none;">
					{{PREPARING_DOCUMENTS}}
				</div>
				<div id="link_to_download_page_{{Main_Link_Slot}}" class = "link_to_zip_download_page">
					<span>{{DOWNLOAD_PREPARE_LABEL}}</span>
					<a {{Anchor_Link}} onclick="javascript:zenario_content_list.generateZIP(this,'{{Request}}','{{Main_Link_Slot}}');return false;">{{Filename}}</a>
				</div>
			{% endif %}
			{% if Download_Page %}
				<div id="download_documents_links" >
					{% for linkItem in Main_Link_Array %}
						{% if linkItem.errorMsg %}
							<div id="download_documents_errmsg" >{{linkItem.errorMsg}}</div>
						{% endif %}
						{% if linkItem.labelName and linkItem.fileName %}
							<div id="download_documents_link" >
								<span>{{linkItem.labelName}}</span>
								<a href="{{linkItem.linkName}}">{{linkItem.fileName}}</a> 
							</div>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}

{% endif %}