<div class="lang_pick_box">
	{% if Prompt_Phrase_Section %}
		<div class="lang_choose_text">{{'Choose your language:'|trans}}</div>
	{% endif %}
	<div class="lang_choices">
		{% for lang in Languages %}
			{% if lang.current_language %}
				<div class="lang_{{lang.flag|e}} lang_flag" title="{{lang.name|e}}">
					<span class="flag">{{lang.flag|e}}</span>
				</div>
			
			{% elseif lang.link %}
				<div class="lang_{{lang.flag|e}} lang_flag" title="{{lang.name|e}}">
					<a href="{{lang.link|e}}">
						<span class="flag">{{lang.flag|e}}</span>
					</a>
				</div>
			
			{% else %}
				<div class="lang_{{lang.flag|e}} lang_flag lang_disabled" title="{{lang.name|e}}">
					<span class="flag">{{lang.flag|e}}</span>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>