{% set advancedSearchCoreFrameworksPath = ze('', 'moduleDir', 'zenario_advanced_search', 'frameworks/') %}

{% include advancedSearchCoreFrameworksPath ~ 'includes/open_form_search.twig.html' %}

<div class="search_area">
	<div class="zenario_advanced_search_criteria">
		{% include advancedSearchCoreFrameworksPath ~ 'includes/search_form.twig.html' %}
	</div>

	<div id="{{Container_Id}}_results" class="zenario_advanced_search_results">
		{# The search results heading is only available in "Search page" mode. #}
		{% include advancedSearchCoreFrameworksPath ~ 'includes/search_results_heading.twig.html' %}
		
		{% if Search_Results %}
			{% include advancedSearchCoreFrameworksPath ~ 'includes/search_results_tabs.twig.html' %}
		
			{% set Column = 0 %}
			{% if Search_Result_Rows %}
				<div id="{{Container_Id}}_search_results" class="search_results {% if Mode == 'search_entry_box' %} column_count_{{Column_Count}} {% endif %}">
					{% for searchResultType in Search_Result_Types_Order %}
						{% if searchResultType == 'html' %}
							{% include advancedSearchCoreFrameworksPath ~ 'includes/search_results_html_pages.twig.html' %}
						{% elseif searchResultType == 'document' %}
							{% include advancedSearchCoreFrameworksPath ~ 'includes/search_results_documents.twig.html' %}
						{% elseif searchResultType == 'news' %}
							{% include advancedSearchCoreFrameworksPath ~ 'includes/search_results_news.twig.html' %}
						{% elseif searchResultType == 'blog' %}
							{% include advancedSearchCoreFrameworksPath ~ 'includes/search_results_blog.twig.html' %}
						{% elseif searchResultType == 'other_modules' %}
							{% include advancedSearchCoreFrameworksPath ~ 'includes/search_results_other_module.twig.html' %}
						{% endif %}
					{% endfor %}

					{% include advancedSearchCoreFrameworksPath ~ 'includes/press_enter_to_see_all_results.twig.html' %}
				</div>
			{% endif %}
			
			{# Pagination is only available in "Search page" mode. #}
			{{Search_Pagination}}
		{% endif %}
	</div>
</div>

{% include advancedSearchCoreFrameworksPath ~ 'includes/close_form_search.twig.html' %}