<table>
    <% if(zenarioO.columnValue(m.id, 'summary_field')) { %>
        <tr><th>Summary:</th><td>{{zenarioO.columnValue(m.id, 'summary_field').substr(0,10)}}</td></tr>
    <% } %>
    <% if (zenarioO.columnValue(m.id, 'city')) { %>
        <tr><th>City:</th><td>{{zenarioO.columnValue(m.id, 'city')}}</td></tr>
    <% } %>
    <% if(zenarioO.columnValue(m.id, 'country')) { %>
    <tr><th>Country:</th><td>{{zenarioO.columnValue(m.id, 'country')}}</td></tr>
    <% } %>
    <tr><th>Status:</th><td>{{zenarioO.columnValue(m.id, 'status')}}</td></tr>
</table>