<IfModule mod_rewrite.c>
	RewriteEngine On
	
	# A rule to catch anything pointing to the old "bower" directory and hasn't updated their URL
	RewriteRule ^jQuery-MultiSelect/jquery.multiselect(.*)$ /zenario/libs/yarn/jquery-multiselect/jquery-MultiSelect$1 [L,R=301]
	RewriteRule ^jQuery-MultiSelect/(.*)$ /zenario/libs/yarn/jquery-multiselect/$1 [L,R=301]
	RewriteRule ^jquery-bez/(.*)$ /zenario/libs/yarn/bez/$1 [L,R=301]
	RewriteRule ^spectrum/(.*)$ /zenario/libs/yarn/spectrum-colorpicker/$1 [L,R=301]
	RewriteRule ^respond/(.*)$ /zenario/libs/yarn/respond.js/$1 [L,R=301]
	RewriteRule ^fabric/(.*)$ /zenario/libs/manually_maintained/mit/fabric/$1 [L,R=301]
	RewriteRule ^d3/(.*)$ /zenario/libs/manually_maintained/bsd/d3/$1 [L,R=301]
	RewriteRule ^(.*)$ /zenario/libs/yarn/$1 [L,R=301]
</IfModule>
