<% var revealId = m.lib.containerId + "_tgroup_" + m.id; %>
<% var showToggle = m.show_toggle; %>
<% var invertToggle = m.toggle_starts_open; %>
<% var isOn; %>

<% if (showToggle) { %>
	<% isOn = zenario_conductor.getToggles(m.lib.slotName)[m.id]; %>
	<% if (invertToggle) { %>
		<% isOn = !isOn; %>
	<% } %>
<% } else { %>
	<% isOn = true; %>
<% } %>


<tr class="zfea_list_grouping">
	<td colspan="99">
		<h5>
			<span>
			<% if (m.image) { %>
				{{m.image}}
			<% } %>
			<% if (m.label) { %>
				{{m.label|escape}}
			<% } %>
			<% if (m.html) { %>
				{{m.html}}
			<% } %>
			<% if (showToggle) { %>
				<span
					style="
						cursor: pointer;
						display: inline-block;
						border: 1px black solid;
						border-radius: 50%;
					" onclick="
						zenario_conductor.toggleClick(this, {{m.id|e}}, '{{revealId|e}}', 100, {{!!invertToggle}});
					" class="
						zfea_toggle
						
						<% if (isOn) { %>
							zfea_toggle_on
						<% } else { %>
							zfea_toggle_off
						<% } %>
					"
				></span>
			<% } %>
			</span>
		</h5>
	</td>
</tr>
<tbody
	id="{{revealId|escape}}"
	
	<% if (!isOn) { %>
		style="display: none;"
	<% } %>
>