<div class="zfea_error" style="min-width: 300px; min-height: 300px;">
	<div class="zfea_error_body">
		{{m.body}}
	</div>
	
	<div class="zfea_error_buttons">
		<form>
			<% if (m.continueAnyway) { %>
				<input type="button" class="zfea_continueAnyway" value="{{m.that.hardcodedPhrase.continueAnyway|escape}}" id="zfea_continueAnyway"/>
			<% } %>
			<% if (m.retry) { %>
				<input type="button" class="zfea_retry" value="{{m.that.hardcodedPhrase.retry|escape}}" id="zfea_retry"/>
			<% } %>
			<% if (m.retry || m.continueAnyway) { %>
				<input type="button" class="zfea_ok zfea_cancel" value="{{m.that.hardcodedPhrase.close|escape}}" onclick="$.colorbox.close();"/>
			<% } else { %>
				<input type="button" class="zfea_ok" value="{{m.that.hardcodedPhrase.ok|escape}}" onclick="$.colorbox.close();"/>
			<% } %>
		</form>
	</div>
</div>