<% if (zenario.engToBoolean(m.errors)) { %>
	<div id="errorDisplayRow"><div><div class="messageDisplay" id="errorDisplay">
		<% for (var e in m.errors) { %>
			<div id="errorDisplay_inner">
				{{zenario.htmlspecialchars(m.errors[e].message, true)}}
			</div>
		<% } %>
	</div></div></div>
<% } %>	
<% for (var n in m.notices) { %>
	<div class="{{m.notices[n].type|escape}}DisplayRow"><div><div class="messageDisplay"><div>
		{{zenario.htmlspecialchars(m.notices[n].message, true)}}
	</div></div></div></div>
<% } %>

<% if (m.fields) { %>
	<% var ff = m.fields[0]; %>
	
	<% if (ff._lastVisibleGrouping !== ff.grouping) { %>
		<% if (ff._lastVisibleGrouping) { %>
			</fieldset>
		<% } %>
		<% if (ff.grouping) { %>
			<% var grouping = m.grouping || {}; %>
			<fieldset class="zfea_form_grouping zfea_form_grouping__{{ff.grouping|escape}} {{grouping.grouping_css_class|escape}}" style="{{grouping.grouping_style|escape}}">
		<% } %>
	<% } %>
	<% if (ff.legend) { %>
		<legend class="zfea_form_legend zfea_form_legend_for__{{ff._id|escape}}"><span>{{ff.legend}}</span></legend>
	<% } %>
	
	<div id="row__{{ff._id|escape}}" style="{{ff.row_style|escape}}" class="
		zfea_form_row
		zfea_form_row__{{ff._id|escape}}
		{{ff.row_class|escape}}
		{{ff.pressed? 'zfea_row_pressed' : ''}}
		{{ff._hideOnOpen? 'zfea_form_hide_row_on_open' : ''}}
		{{ff.indent? 'zfea_form_indent_level zfea_form_indent_level_' +  (1*ff.indent) : ''}}
		zfea_row_for_{{ff.snippet? 'snippet' : ff.upload? 'upload' : ff.pick_items? 'pick_items' : ff.type |escape}}
	">
		<div class="{{ff._hideOnOpen? 'zfea_form_hide_on_open' : ''}} {{ff._showOnOpen? 'zfea_form_show_on_open' : ''}}">	
			<% if (ff.label !== undefined && !(ff.type == 'checkbox' || ff.type == 'radio' || ff.type == 'toggle')) { %>
				<div class="title">
					<label for="{{ff._id|escape}}">{{ff.label}}</label>
				</div>
			<% } %>
			<div class="{{ff._hideOnOpen? 'zfea_form_hide_on_open' : ''}} {{ff._showOnOpen? 'zfea_form_show_on_open' : ''}}">
				{{m.that.microTemplate(m.that.mtPrefix + '_field', m.fields)}}
			</div>
		</div>
	</div>
	
	<% if (ff._isLastRow) { %>
		<% if (ff.grouping) { %>
			</fieldset>
		<% } %>
	<% } %>
<% } %>