<% if (zenarioT.showDevTools()) { %>

	<% var $wrap = $("#" + m.thus.containerId + "-wrap"); %>
	<% var cusTUIX = $wrap.hasClass("zenario_slot_with_tuix_snippet"); %>
	<% var extended = $wrap.hasClass("zenario_slot_with_extending_modules"); %>
	<% var $wrap = $("#" + m.thus.containerId + "-wrap"); %>

	<div class="zenario_debug" style="z-index: 1;"
	
		onclick="{{m.lib.fun('debug')}}(this, event);"
	
		data-tooltip-options='{"tooltipClass": "zenario_admin_tooltip", "position": {"my": "right top", "at": "left"}}'
	
	><div></div></div>

<% } %>


<% if (m.lib.tsLink) { %>
	<a class="zenario_tslink" target="_blank" href="{{zenario.addBasePath(m.lib.tsLink)|e}}" title="View/edit TUIX Snippet"></a>
<% } %>