{{m.lib.pMicroTemplate('dev_tools', m)}}


<% if (m.lib.showCloseButtonAtTopRight) { %>
	<div class="zfea_close" onclick="{{m.lib.fun('closePopout')}}();"></div>
<% } %>

<div class="
	zfea
	zfea_{{m.lib.path|escape}}
	{{m.tuix.css_class|escape}}
	
	<% if (m.tuix.show_overlay_layer) { %>
		modal_window
	<% } %>
	
	<% if (m.lib.newlyNavigated) { %>
		zfea_newly_navigated
	<% } %>
">
	<div class="zfea_back_button">
		{{m.lib.pMicroTemplate('button', m.thus.sortedCollectionButtons, 'back')}}
	</div>
	<div class="zfea_top_buttons">
		{{m.lib.pMicroTemplate('button', m.thus.sortedCollectionButtons, 'top')}}
	</div>
	
	<% if (m.tuix.form_title !== undefined) { %>
	    <% if (m.tuix.title_tags) { %>
		    <{{m.tuix.title_tags|e}}>{{m.tuix.form_title|e}}</{{m.tuix.title_tags|e}}>
		<% } else { %>
		    <h1>{{m.tuix.form_title|e}}</h1>
		<% } %>
	<% } %>
	
	<form onsubmit="return false;">
		<div>{{m.lib.pMicroTemplate('row', m.rows)}}</div>
		<div>
			{{m.lib.pMicroTemplate('button', m.thus.sortedCollectionButtons, false)}}
		</div>
	</form>
</div>

<% if (m.tuix.show_overlay_layer) { %>
	<div class="overlay_layer"></div>
<% } %>