<div class="zfea_confirm zfea_colorbox_content zfea_confirm_{{m.message_type|escape}}">
	<% if (m.title) { %>
		<div class="zfea_confirm_title zfea_colorbox_title">
			<h1>{{m.title|escape}}</h1>
		</div>
	<% } %>
	
	<div class="zfea_confirm_body zfea_colorbox_body">
		{{m.message|escape}}
	</div>
	
	<div class="zfea_confirm_buttons zfea_colorbox_buttons">
		<form>
			<input type="button" class="zfea_do_it" value="{{m.button_message|escape}}" id="zfea_do_it"/>
			<input type="button" class="zfea_cancel" value="{{m.cancel_button_message|escape}}" onclick="$.colorbox.close();"/>
		</form>
	</div>
</div>