<% if (!m.tuix.hide_search_bar) { %>
	
	<form
		id="search_form_{{m.that.containerId}}"
		class="search_form"
		onsubmit="return {{m.that.fun('doSearch')}}(event);"
	>
		<input
			type="search"
			name="search"
			id="search_{{m.that.containerId}}"
			value="{{zenario.htmlspecialchars(m.that.request.search)}}"
			placeholder="{{m.tuix.search_bar_placeholder|e}}"
			{{zenarioT.onChangeOrSearch()}}="return {{m.that.fun('doSearch')}}(event);"
		/>
		<input type="submit" value="&#xf002;"/>

		<% if (m.that.showClearSearchButton()) { %>
			<input type="button" class="clear_search" value="&#xf057;" onclick="
					{{m.that.fun('doSearch')}}(event, '');
					return false;
				"/>
		<% } %>
	</form>
	
	<% if (zenarioT.find(m.tuix.sortedCollectionButtons, 'search')) { %>
		<div class="zfea_buttons zfea_search_buttons">
			{{m.that.pMicroTemplate('button', m.tuix.sortedCollectionButtons, 'search')}}
		</div>
	<% } %>
<% } %>