<% var b, val = m.item[m.col.id]; %>
<% if (b = m.item.__columnButtons && m.item.__columnButtons[m.col.id]) { %>
	<a
		title="{{b.tooltip|escape}}"
	
		<% if (b._isDisabled) { %>
			class="zfea_link_on_column zfea_link_on_column_disabled {{b.css_class|escape}}"
	
		<% } else { %>
			class="zfea_link_on_column {{b.css_class|escape}}"
		
			<% if (b.href) { %>
				href="{{b.href|escape}}"
			
				<% if (b.new_window) { %>
					target="_blank"
				<% } %>
			<% } %>
		
			<% if (b.onclick && !(b.href && b.new_window)) { %>
				onclick="{{b.onclick|escape}}"
			<% } %>
		<% } %>
	>
<% } %>


<% if (m.col.sparkline) { %>
	{% m.lib.hadSparkline = true; %}

<% } else if (m.col.microtemplate) { %>
	{{m.lib.microTemplate(m.col.microtemplate, m)}}

<% } else if ((m.col.html || m.col.twig_snippet) && !m.col.convert_to_percentage_of_total) { %>
	{{val}}

<% } else if (m.col.is_icon) { %>
	<span class="fea_icon {{val|escape}}"></span>
    
<% } else if (val && m.col.values && m.col.values[val]) { %>
	{{m.col.values[val]|escape}}

<% } else if (m.col.convert_to_percentage_of_total && m.thus.pcOfTotal[m.col.id] && zenario.defined(val) && val !== "") { %>
	{{zenario.round(100 * val / m.thus.pcOfTotal[m.col.id], 1)}} %

<!--
	If a column is empty, and the column has an empty value defined,
	then show the empty value
-->
<% } else if (!val && m.col.empty_value) { %>
	<span class="fea_empty_value">{{m.col.empty_value|escape}}</span>

<!--
	Otherwise, just display the value of the column
-->
<% } else { %>
	{{val|escape}}
<% } %>




<% if (b) { %>
	</a>
<% } %>