<% if (zenarioA.adminSettings && zenarioA.adminSettings.show_dev_tools) { %>
	<div class="zenario_debug" style="z-index: 1;" onclick="{{m.that.globalName}}.debug();"><div></div></div>
<% } %>

<div class="
	zfea
	zfea_{{m.that.path|escape}}
	{{m.tuix.css_class|escape}}
	
	<% if (m.tuix.show_overlay_layer) { %>
		modal_window
	<% } %>
	
	<% if (m.that.newlyNavigated) { %>
		zfea_newly_navigated
	<% } %>
">
	<% if (m.tuix.form_title) { %>
		<h1>{{m.tuix.form_title|escape}}</h1>
	<% } %>
	
	<div class="zfea_back_button">
		{{m.that.microTemplate(m.that.mtPrefix + '_button', m.tuix.sortedCollectionButtons, button => {return button.location == 'back';} )}}
	</div>
	<div class="zfea_top_buttons">
		{{m.that.microTemplate(m.that.mtPrefix + '_button', m.tuix.sortedCollectionButtons, button => {return button.location == 'top';} )}}
	</div>
	
	<form onsubmit="return false;">
		<div>{{m.that.microTemplate(m.that.mtPrefix + '_row', m.rows)}}</div>
		<div>
			{{m.that.microTemplate(m.that.mtPrefix + '_button', m.tuix.sortedCollectionButtons, button => {return !button.location;} )}}
		</div>
	</form>
</div>

<% if (m.tuix.show_overlay_layer) { %>
	<div class="overlay_layer"></div>
<% } %>