{% if Error_no_event_content_type %}
	{{"Error. This plugin will only work when placed on an Event content item."|trans}}
{% endif %}


{% if Event_Details %}
	<div class="Event_details">
		{% if show_title %}
			<{{title_tags|e}}>{{title}}</{{title_tags|e}}>
		{% endif %}

		<h3>{{dates_range}}</h3>
		<div class="event_weekdays_details_wrap">
			{% for day in Event_On_Weekday_Details %}
				<div class="event_weekday">
					{{day.weekday}}: {{day.time}}
				</div>
			{% endfor %}
		</div>
		{% if stop_dates %}
			<div class="event_stopdates">
				{{"Does not run:"|trans}} {{stop_dates}}
			</div>
		{% endif %}

		{% if Online_Text %}
			<div class="event_online_text">
				{{Online_Text|trans}}
			</div>
		{% endif %}

		{% if Address_Text %}
			<div class="event_address_text">
				{% if At_Location_Text %}
					{{At_Location_Text|e}}
				{% endif %}
				
				{{Address_Text|e}}
			</div>
		{% endif %}

		{% if More_Info_Url %}
			<div class="event_more_info">
				<a target="_blank" href="{{event_url}}"/>{{"For more info, click here"|trans}}</a>
			</div>
		{% endif %}
	</div>
{% endif %}