.organizer_item_image.document_envelope,
.organizer_item_image.envelope {
	background: url('images/icon-envelope-dark-v3.svg') no-repeat center / 18px 18px;
}

#organizer_leftColumn .organizer_legend a.document_envelopes_top_level:hover,
#organizer_leftColumn .organizer_legend.legend_on a.document_envelopes_top_level,
#zenario_at_top_left_menu .organizer_top_level_image.document_envelopes_top_level {
	background: url('images/icon-envelope-white-v3.svg') no-repeat center / 18px 18px;
}

#organizer_leftColumn .organizer_legend a.document_envelopes_top_level {
	background: url('images/icon-envelope-grey-v3.svg') no-repeat center / 18px 18px;
}

#organizer_rightColumnContent .organizer_start_page .organizer_start_page_section .organizer_start_page_item .organizer_start_page_item_icon.document_envelopes_top_level {
	background-image: url('images/icon-envelope-green-v3.svg');
	background-size:58px 58px;
}