<div class="hide_in_edit_mode">
{% if error == false %}
	{% if Documents %}
		{% if main_folder_title %}
			<div class="folder_title"><h1>{{main_folder_title}}</h1></div>
		{% endif %}
		{% for item in Documents %}
			<div class="document_wrap">
			{% if item.Thumbnail %}
				<div class="thumbnail thumbnail_{{item.Document_Mime}}">
					{{item.Thumbnail}}
				</div>
			{% else %}
				<div class="thumbnail no_thumbnail_{{item.Document_Mime}}"></div>
			{% endif %}
			{% if item.Document_Type == 'file' %}
				<div class="level_{{item.Document_Level}}"><a href="{{item.Document_Link}}" target="_blank">{{item.Document_Link_Text}}</a></div>
			{% else %}
				<div class="level_{{item.Document_Level}}"><h3>{{item.Document_Link_Text}}</h3></div>
			{% endif %}
			</div>
		{% endfor %}
	{% else %}
		{% if Thumbnail %}
			<div class="thumbnail thumbnail_{{item.Document_Mime}}">
				{{Thumbnail}}
			</div>
		{% else %}
			<div class="no_thumbnail_{{Document_Mime}}"></div>
		{% endif %}
		<div id="{{Document_css_id}}"><a href="{{Document_Link}}" target="_blank">{{Document_Link_Text}}</a></div>
	{% endif %}
{% else %}
	{% if error == 'no_user' %}
		<div id="no_user" class="error">You must be an extranet user to see this plugin</div>
	{% endif %}
{% endif %}
</div>