{% if error == false %}
	{% if Documents or Download_Archive %}
		{% if main_folder_title %}
			<div class="folder_title"><{{Title_Tags}}>{{main_folder_title}}</{{Title_Tags}}></div>
		{% endif %}
	{% endif %}
	
	{% if Download_Archive %}
		{% if Archive_Error %}
			<div class="error">{{Archive_Error}}</div> 
		{% endif %}
		<div id="archive_download_link">
			{% if Anchor_Link %}
				{{'Download all documents as single ZIP file:'|trans}} <a {{Anchor_Link}} onclick="{{Google_Analytics_Link}}">{{'Download ZIP'|trans}}</a>
			{% elseif Empty_Archive %}
				{{'No documents to download'|trans}}
			{% endif %}
		</div>
	{% endif %}
	{% if Documents %}
		{% for item in Documents %}
			<div class="document_wrap">
				{% if item.privacy_warning %}
					<div class="privacy_warning">
						{% if item.privacy == 'private' %}
							<p class="privacy_warning">{{ze('admin', 'phrase', 'Warning: this content item is public, the document \"[[Document_Link_Text]]\" is private, so it will not appear to visitors.', item)}}</p>
						{% elseif item.privacy == 'offline' %}
							<p class="privacy_warning">{{ze('admin', 'phrase', 'Warning: the document \"[[Document_Link_Text]]\" is offline, so it will not appear to visitors.', item)}}</p>
						{% endif %}
					</div>
				{% else %}
					<a href="{{item.Document_Link}}" target="_blank" onclick="{{item.Google_Analytics_Link}}">
						{% if item.Thumbnail %}
							<div class="thumbnail thumbnail_{{item.Document_Mime}}">
								{{item.Thumbnail}}
							</div>
						{% else %}
							<div class="thumbnail no_thumbnail_{{item.Document_Mime}}"></div>
						{% endif %}
					</a>
					{% if item.Document_Type == 'file' %}
						<div class="level_{{item.Document_Level}}">
							{% if item.Document_Link_Text %}
								<a href="{{item.Document_Link}}" target="_blank" onclick="{{item.Google_Analytics_Link}}">{{item.Document_Link_Text}}</a>
							{% endif %}
							{% if item.File_Size %}
								<span class="file_size">{{item.File_Size|e}}</span>
							{% endif %}
							{% if item.Upload_Date %}
								<span class="upload_date">{{item.Upload_Date|e}}</span>
							{% endif %}
							
							{% if View_Button %}
								<div class="view_button">
									<a href="{{item.Document_Link}}" target="_blank" onclick="{{item.Google_Analytics_Link}}">{{'View'|trans}}</a>
								</div>
							{% endif %}
							
							{% if Download_Link %}
								<div class="download_link">
									<a href="{{item.Document_Link}}" onclick="{{item.Google_Analytics_Link}}" download>{{Download_Link_Phrase|trans}}</a>
								</div>
							{% endif %}
						</div>
					{% else %}
						<div class="level_{{item.Document_Level}}"><h3>{{item.Document_Link_Text}}</h3></div>
					{% endif %}
				{% endif %}
			</div>
		{% endfor %}
	{% endif %}
{% else %}
	{% if error == 'no_user' %}
		<div id="no_user" class="error">You must be an extranet user to see this plugin</div>
	{% endif %}
{% endif %}