{% for key, meta_data in content %}
	{% if key == "show_writer_image" %}
		<div class="{{meta_data.class}}">
			{% if show_labels %}
				<{{meta_data.html_tag}}>
				<span>{{meta_data.label}}:</span>
				</{{meta_data.html_tag}}>
			{% endif %}
			<img alt="{{meta_data.Writer_Alt}}" src="{{meta_data.Writer_Src}}"/>
		</div>

	{% elseif key == "show_sticky_image" %}
		<div class="{{meta_data.class}}">
			{% if show_labels %}
				<{{meta_data.html_tag}}>
				<span>{{meta_data.label}}:</span>
				</{{meta_data.html_tag}}>
			{% endif %}
			<img alt="{{meta_data.Sticky_Image_Alt}}" src="{{meta_data.Sticky_Image_Src}}"/>
		</div>
	
	{% elseif key == "show_categories" %}
		<div class="{{meta_data.class}}">
			<{{meta_data.html_tag}}>
			{% if show_labels %}
				<span>{{meta_data.label}}:</span>
			{% endif %}
				{% for item in categories %}
					<a>{{item.Category}}</a>{{item.separator}}
				{% endfor %}
			</{{meta_data.html_tag}}>
		</div>
	
	{% else %}
			<div class="{{meta_data.class}}">
				<{{meta_data.html_tag}}>
				{% if show_labels %}
					<span>{{meta_data.label}}:</span>
				{% endif %}
				{{meta_data.value}}
				</{{meta_data.html_tag}}>
			</div>
	{% endif %}

{% endfor %}