{% if show_pinned_icon %}
	{% if show_title %}
		{# Do nothing, the pinned icon will be on the title #}
	{% else %}
		<div class="pinned_icon pinned">
		</div>
	{% endif %}
{% endif %}

{% for key, meta_data in content %}
	{% if key == "show_pinned_icon" %}
		{# Do nothing, the pinned icon has already been handled. #}
		
	{% elseif key == "show_writer_image" %}
		<div class="{{meta_data.class}}">
			{% if show_labels %}
				<{{meta_data.html_tag}}>
				<span>{{meta_data.label}}</span>
				</{{meta_data.html_tag}}>
			{% endif %}
			<img alt="{{meta_data.Writer_Alt}}" src="{{meta_data.Writer_Src}}"/>
		</div>

	{% elseif key == "show_featured_image" %}
		<div class="{{meta_data.class}}">
			{% if show_labels %}
				<{{meta_data.html_tag}}>
				<span>{{meta_data.label}}</span>
				</{{meta_data.html_tag}}>
			{% endif %}
			
			{{meta_data.Featured_Image_HTML}}
			{% if meta_data.Image_credit %}
				<span class="image_credit ">{{meta_data.Image_credit}}</span>
			{% endif %}
		</div>
	
	{% elseif key == "show_categories" %}
		<div class="{{meta_data.class}}">
			<{{meta_data.html_tag}}>
			{% if show_labels %}
				<span>{{meta_data.label}}</span>
			{% endif %}
				{% for item in categories %}
					<a {% if item.Category_landing_page %} href="{{item.Category_landing_page|e}}" target="_blank" {% endif %}>
						{{item.Category}}
					</a>
				{% endfor %}
			</{{meta_data.html_tag}}>
		</div>
	
	{% elseif key == "show_writer_profile" %}
		<div class="{{meta_data.class}}">
			{% if show_labels %}
				<{{meta_data.html_tag}}>
				<span>{{meta_data.label}}</span>
				</{{meta_data.html_tag}}>
			{% endif %}
			<span>{{meta_data.value}}</span>
		</div>
	
	{% else %}
		<div class="{{meta_data.class}}">
			<{{meta_data.html_tag}} {% if meta_data.class == 'page_title' and show_pinned_icon %} class="pinned_icon" {% endif %}>
			{% if show_labels and meta_data.label %}
				<span>{{meta_data.label}}</span>
			{% endif %}
			{{meta_data.value}}
			</{{meta_data.html_tag}}>
		</div>
	{% endif %}

{% endfor %}