{% if Email_friend_section %}
	<div class="email_friend_section" >
		<a title="{{'Email this page to a friend'|trans}}" class="print_page_section_link" {{email_friend_onclick_attr_plus_script_plus_href}} >
			<span class="email_friend_section_text" >
				{{"Email page"|trans}}
			</span>
		</a>
	</div>
{% endif %}

{% if Email_friend_popup_window %}
	<div class="email_friend_popup">
		{% if Email_friend_popup_header %}
			<h2>{{"Use this window to email our page to a friend"|trans}}</h2>
		{% endif %}

		{% if Input_error_section %}
			<div class="errors_in_floating_box">
				{{Error_message}}
			</div>
		{% endif %}
		
		{% if Email_friend_sending_error %}
			<div class="email_friend_popup_error_msg">
				{{"Message send error."|trans}}
			</div>
		{% endif %}

		{% if Email_friend_popup_msg_sent %}
			<div class="email_friend_popup_msg_sent">
				{{"Your email was sent. Thank you."|trans}}
			</div>
		{% endif %}


		{% if Email_friend_popup_form_elements %}
			{{Open_form}}
			<input type="hidden" name="floatingBoxMode" value="1"/>
			{{"Your name"|trans}}:<input class="email_friend_popup_textbox" type="text" value="{{name}}" name="name"/>
			{{"Your email address"|trans}}:<input class="email_friend_popup_textbox" type="text" value="{{email}}" name="email"/>
			{{"Your friend's email address"|trans}}:<input class="email_friend_popup_textbox" type="text" value="{{email_to}}" name="email_to"/>
			{{"Message for your friend"|trans}}:<textarea class="email_friend_popup_textarea" value="" name="msg">{{msg}}</textarea>
			<input class="email_friend_popup_button" type="submit" name="Go" value="{{'Send email'|trans}}"></input>
			{{Close_form}}
		{% endif %}


		{% if Email_friend_popup_close %}
			<div class="email_friend_popup_close">			
				{% if Email_friend_popup_close_text %}
					<a class="email_friend_popup_close_link" onclick="{{Email_friend_popup_close_script}}" href ="#" >
						<span class="email_friend_popup_close_text">
							{{"Close this window"|trans}}	
						</span>
					</a>
				{% endif %}

				{% if Email_friend_popup_close_image %}
					<img title="{{'Click here to close this window'|trans}}" onclick="{{Email_friend_popup_close_script}}" >
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endif %}