{% if Email_friend_section %}
	<div class="email_friend_section" >
		<a title="{{'_EMAIL_FRIEND_HINT'|trans}}" class="print_page_section_link" {{email_friend_onclick_attr_plus_script_plus_href}} >
			<span class="email_friend_section_text" >
				{{"_EMAIL_FRIEND"|trans}}
			</span>
		</a>
	</div>
{% endif %}

{% if Email_friend_popup_window %}
	<div class="email_friend_popup">
		{% if Email_friend_popup_header %}
			<h2>{{"_POPUP_HEADER"|trans}}</h2>
		{% endif %}

		{% if Input_error_section %}
			<div class="errors_in_floating_box">
				{{Error_message}}
			</div>
		{% endif %}
		
		{% if Email_friend_sending_error %}
			<div class="email_friend_popup_error_msg">
				{{"_EMAIL_SENDING_ERR"|trans}}
			</div>
		{% endif %}

		{% if Email_friend_popup_msg_sent %}
			<div class="email_friend_popup_msg_sent">
				{{"_EMAIL_SENT"|trans}}
			</div>
		{% endif %}


		{% if Email_friend_popup_form_elements %}
			{{Open_form}}
			<input type="hidden" name="floatingBoxMode" value="1"/>
			{{"_SENDER_NAME"|trans}}:<input class="email_friend_popup_textbox" type="text" value="{{name}}" name="name"/>
			{{"_EMAIL_FROM"|trans}}:<input class="email_friend_popup_textbox" type="text" value="{{email}}" name="email"/>
			{{"_EMAIL_ADDRESS"|trans}}:<input class="email_friend_popup_textbox" type="text" value="{{email_to}}" name="email_to"/>
			{{"_MESSAGE"|trans}}:<textarea class="email_friend_popup_textarea" value="" name="msg">{{msg}}</textarea>
			<input class="email_friend_popup_button" type="submit" name="Go" value="{{'_SUBMIT_EMAIL_FORM'|trans}}"></input>
			{{Close_form}}
		{% endif %}


		{% if Email_friend_popup_close %}
			<div class="email_friend_popup_close">			
				{% if Email_friend_popup_close_text %}
					<a class="email_friend_popup_close_link" onclick="{{Email_friend_popup_close_script}}" href ="#" >
						<span class="email_friend_popup_close_text">
							{{"_CLOSE_POPUP_WINDOW"|trans}}	
						</span>
					</a>
				{% endif %}

				{% if Email_friend_popup_close_image %}
					<img title="{{'_CLOSE_EMAIL_POPUP_HINT'|trans}}" onclick="{{Email_friend_popup_close_script}}" >
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endif %}