
/*  Styles for the language switcher  */

#zenario_fbAdminLangSwitcher {
	z-index: 1050;
}

#zenario_fbAdminLangSwitcher .zenario_fbAdminLangSwitcherWrap {
	float: left;
	width: auto;
}

#zenario_fbAdminLangSwitcher .zenario_fbAdminLangSwitcherTop {
	width: 100%;
	float: left;
	background: url(images/lang_switch_bg_top.gif) bottom left repeat-x;
}

#zenario_fbAdminLangSwitcher .zenario_fbAdminLangSwitcherTop .zenario_fbAdminLangSwitcherTopLeft,
#zenario_fbAdminLangSwitcher .zenario_fbAdminLangSwitcherTop .zenario_fbAdminLangSwitcherTopMiddle,
#zenario_fbAdminLangSwitcher .zenario_fbAdminLangSwitcherTop .zenario_fbAdminLangSwitcherTopRight {
	float: left;
	height: 28px;
	cursor: pointer;
}

#zenario_fbAdminLangSwitcher .zenario_fbAdminLangSwitcherTop .zenario_fbAdminLangSwitcherTopLeft {
	width: 7px;
	background: url(images/more_actions_open_left.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher .zenario_fbAdminLangSwitcherTop .zenario_fbAdminLangSwitcherTopMiddle {
	width: auto;
	background: url(images/more_actions_open_center.png) repeat-x;
	font-family: 'Trebuchet MS',Helvetica,sans-serif;
	font-size: 11px;
	line-height: 25px;
	color: #606060;
	padding: 0 6px 0 4px;
}

#zenario_fbAdminLangSwitcher .zenario_fbAdminLangSwitcherTop .zenario_fbAdminLangSwitcherTopRight {
	width: 26px;
	background: url(images/more_actions_open_right.png) no-repeat;
}


#zenario_fbAdminLangSwitcher .zenario_fbAdminLangSwitcherInner {
	clear: both;
	width: auto;
	border: 1px solid #555656;
	border-top: none;
	background: url(images/lang_switch_bg.gif) top left repeat-x #d6d5d5;
}

#zenario_fbAdminLangSwitcher table {
	margin: 0 6px 11px;
}

#zenario_fbAdminLangSwitcher tr {
	background: repeat-x left top url(images/sep.gif);
}

#zenario_fbAdminLangSwitcher tr:first-child {
	background: transparent;
}

#zenario_fbAdminLangSwitcher td {
	font-family: 'Trebuchet MS',Helvetica,sans-serif;
	font-size: 12px;
	color: #606060;
	padding: 6px 4px 2px;
}



#zenario_fbAdminLangSwitcher td.current {
	width: 10px;
	background: url(images/lang_switch_current.gif) no-repeat 50% 60%;
}

#zenario_fbAdminLangSwitcher .default_lang {
	font-weight: bold;
}

#zenario_fbAdminLangSwitcher .status_icon {
	width: 17px;
	height: 21px;
}

#zenario_fbAdminLangSwitcher .chained,
#zenario_fbAdminLangSwitcher .linked,
#zenario_fbAdminLangSwitcher .unlinked_warning,
#zenario_fbAdminLangSwitcher .unlinked_no_warning {
	display: block;
	width: 25px;
	height: 21px;
	margin: 0 6px 0 2px;
}

#zenario_fbAdminLangSwitcher .chained {
	background: url(images/chain.png) left 2px no-repeat;	
}

#zenario_fbAdminLangSwitcher .linked {
	background: url(images/item_link.png) left top no-repeat;	
}

#zenario_fbAdminLangSwitcher .unlinked_warning {
	background: url(images/unlinked_warning.png) 2px 1px no-repeat;	
}

#zenario_fbAdminLangSwitcher .unlinked_no_warning {
	background: url(images/unlinked_no_warning.png) 2px 1px no-repeat;	
}



#zenario_fbAdminLangSwitcher div.home_content_draft_published {
	background: url(images/list_home_revised_icon.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.home_content_published {
	background: url(images/list_published_home_icon.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.home_content_draft {
	background: url(images/list_draft_home_icon.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.special_content_draft_published {
	background: url(images/list_special_draft_published_icon.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.special_content_published {
	background: url(images/list_special_published_icon.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.special_content_draft_hidden {
	background: url(images/list_special_draft_hidden_icon.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.special_content_hidden {
	background: url(images/list_special_hidden_icon.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.special_content_draft {
	background: url(images/list_special_draft_icon.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.special_content_draft_trashed {
	background: url(images/list_special_draft_trashed_icon.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.special_content_trashed {
	background: url(images/list_special_archived.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.content_draft_published {
	background: url(images/list_draft_published_icon.gif) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.content_published {
	background: url(images/list_published_icon.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.content_draft_hidden {
	background: url(images/list_draft_hidden_icon.gif) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.content_hidden {
	background: url(images/list_hidden_icon.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.content_draft {
	background: url(images/list_draft_icon.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.content_draft_trashed {
	background: url(images/list_draft_trashed_icon.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.content_trashed {
	background: url(images/list_archived_icon.png) no-repeat;	
}

#zenario_fbAdminLangSwitcher div.content_chained_single {
	background: url(images/list_chained_single.png) no-repeat;
}

#zenario_fbAdminLangSwitcher div.ghost {
	opacity: 0.3;
}
