.zenario_slot x-zenario-cache-info.zenario_cache_info {
	position: relative;
	float: right;
	bottom: 18px;
	z-index: 9999;
}

body > x-zenario-cache-info.zenario_cache_info {
	position: fixed;
    z-index: 9999999;
    text-align: center;
    font-size: 12px;
    background: #fafafa;
    border: #fafafa 0;
    padding: 5px;
    border-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0 0 10px 0 gray;
    
    width:45px;
    height:30px;
    top:20%;
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

x-zenario-cache-info.zenario_cache_info x-zenario-cache-info {
	height: 22px;
	width: 22px;
	position: absolute;
	right: 15px;
	cursor: pointer;
	opacity: 0.9;
}

body > x-zenario-cache-info.zenario_cache_info x-zenario-cache-info {
	width:50px;
	right:30px;
	right:0;
	left:0;
	margin:auto;
}

.zenario_cache_box h1 {
	font-weight: bold;
	min-height: 18px;
	padding: 0 0.2em 0.2em 28px;
}

.zenario_cache_box h2 {
	padding: 1em 0.3em 0.2em;
}

.zenario_cache_box h1.zenario_cache_disabled,
x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_cache_disabled {
	background: url('images/icon-non-spinning-propeller-grey.svg') no-repeat left top / 22px 22px;
}

.zenario_cache_box h1.zenario_not_cached,
x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_not_cached {
	background: url('images/icon-propeller-orange.svg') no-repeat left top / 22px 22px;
}

.zenario_cache_box h1.zenario_cache_in_use,
x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_cache_in_use {
	background: url('images/icon-propeller-blue.svg') no-repeat left top / 22px 22px;
}

.zenario_cache_box h1.zenario_from_cache,
x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_from_cache {
	background: url('images/icon-propeller-green.svg') no-repeat left top / 22px 22px;
}

body > x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_cache_disabled,
body > x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_not_cached,
body > x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_cache_in_use,
body > x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_from_cache {
	background-size:30px 30px;
	width:30px;
	height:30px;
	margin-right:15px;
}

.zenario_cache_box h1.zenario_cache_disabled,
.zenario_cache_box h1.zenario_not_cached,
.zenario_cache_box h1.zenario_cache_in_use,
.zenario_cache_box h1.zenario_from_cache {
	background-position:3px 2px;
	background-size:18px 18px;
}

.zenario_slot x-zenario-cache-info.zenario_cache_info {
	bottom: auto;
}

.zenario_slot x-zenario-cache-info.zenario_cache_info x-zenario-cache-info {
	background-color:#FFF;
	background-position:center;
	padding:2px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	border:1px solid #ccc;
}

.zenario_slot x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_not_cached {
	border-color:#DC621F;
}

.zenario_slot x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_cache_in_use {
	border-color:#1F2EDC;
}

.zenario_slot x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_from_cache {
	border-color:#0A663E;
}

.zenario_cache_box table th {
	background: #F7F7F7;
	color: #444444;
	font-weight:600;
}

.zenario_cache_box table td {
	background: #444;
}

.zenario_cache_box table th.zenario_cache_rule_not_met {
	font-weight: bold;
}

.zenario_cache_box table td,
.zenario_cache_box table th {
	padding: 5px;
	border: 1px solid #E4E4E4;
}

.zenario_cache_box table td {
	white-space: nowrap;
	text-align: center;
}

.zenario_cache_box table tr.zenario_cache_table_last_row th,
.zenario_cache_box table tr.zenario_cache_table_last_row td {
	background:#DAB847;
	border-color:#DAB847;
	color:#333;
	font-weight:600;
}

.zenario_cache_box table tr td:nth-child(4) {
	text-align:left;
}

.zenario_cache_box ul {
	list-style-type: disc;
	padding-left: 3em;
}

/* Cache info on frontend */
.zenario_cache_info_tooltip {
	max-width:365px;
	background: #333;
	filter: Alpha(Opacity=100); /* support: IE8 */
	opacity:1 !important;
	padding:10px;
}

.zenario_cache_info_tooltip .zenario_cache_box .zenario_from_cache,
.zenario_cache_info_tooltip .zenario_cache_box h2,
.zenario_cache_info_tooltip .zenario_cache_box {
	color: #ffffff;
	font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
}

.zenario_cache_info_tooltip {
	border: 0;
}

.zenario_cache_info_tooltip {
	position:fixed;
	top:0;
	z-index: 99999999;
}

.zenario_cache_info_tooltip .zenario_cache_box .zenario_from_cache {
	font-size: 0.9em;
	font-weight: 700;
}

.zenario_cache_info_tooltip .zenario_cache_box h2 {
	font-size: 12px;
	line-height:1.5em;
	font-weight: 500;
	padding:5px 0;
}

.zenario_cache_info_tooltip .zenario_cache_box ul {
	margin-top: 5px;
	padding-bottom:5px;
	font-size: 11px;
	list-style-position: inside;
	padding-left: 10px;
}

.zenario_cache_info_tooltip .zenario_cache_box ul li {
	padding-bottom:4px;
}

.zenario_cache_info_tooltip .zenario_cache_box table {
	font-size: 11px;
	margin-top:5px;
	margin-bottom:10px;
}

.zenario_cache_info_tooltip .zenario_cache_footnote {
	font-size: 9px;
	position:relative;
	padding:3px 0 3px 20px;
}

.zenario_cache_info_tooltip .zenario_cache_footnote .zenario_cache_footnote_character {
	position:absolute;
	left:0;
	top:3px;
}