div.zenario_cache_info {
	position: relative;
	float: right;
	bottom: 18px;
	z-index: 9999;
}

div.zenario_cache_info div {
	height: 18px;
	width: 15px;
	position: absolute;
	right: 0px;
	cursor: pointer;
	opacity: 0.5;
}

.zenario_cache_box h1 {
	font-weight: bold;
	min-height: 18px;
	padding: 0 0.2em 0.2em 20px;
}

.zenario_cache_box h2 {
	font-style: italic;
	padding: 1em 0.3em 0.2em;
}

.zenario_cache_box h1.zenario_cache_disabled,
div.zenario_cache_info div.zenario_cache_disabled {
	background: url('images/placeholder_cache_disabled_drum.png') top left no-repeat;
}

.zenario_cache_box h1.zenario_not_cached,
div.zenario_cache_info div.zenario_not_cached {
	background: url('images/placeholder_not_cached_drum.png') top left no-repeat;
}

.zenario_cache_box h1.zenario_cache_in_use,
div.zenario_cache_info div.zenario_cache_in_use {
	background: url('images/placeholder_cache_drum.png') top left no-repeat;
}

.zenario_cache_box h1.zenario_from_cache,
div.zenario_cache_info div.zenario_from_cache {
	background: url('images/placeholder_from_cache_drum.png') top left no-repeat;
}

.zenario_slot div.zenario_cache_info {
	bottom: auto;
}


.zenario_cache_box table th {
	background: #dddddd;
	color: #333333;
}

.zenario_cache_box table th {
	background: #F7F7F7;
	color: #444444;
}

.zenario_cache_box table th.zenario_cache_rule_not_met {
	font-weight: bold;
}

.zenario_cache_box table td,
.zenario_cache_box table th {
	padding: 5px;
	border: 1px solid #E4E4E4;
}

.zenario_cache_box table td {
	white-space: nowrap;
	text-align: center;
}


.zenario_cache_box span.zenario_cache_cross {
	background: url('images/placeholder_cross.gif') 50% 50% no-repeat;
	padding: 8px;
}

.zenario_cache_box span.zenario_cache_zero {
	background: url('images/placeholder_zero.gif') 50% 50% no-repeat;
	padding: 8px;
}

.zenario_cache_box span.zenario_cache_one {
	background: url('images/placeholder_one.gif') 50% 50% no-repeat;
	padding: 8px;
}

.zenario_cache_box ul {
	list-style-type: disc;
	padding-left: 3em;
}