

#rightColumn div.item .list_characteristic {
	background: url(images/list-characteristic-grid.jpg) no-repeat 0 6px;
}
#rightColumn .list_characteristic {
	background: url(images/list-characteristic-list.jpg) no-repeat 50% 50%;
}

#rightColumn div.item .list_single_select_characteristic {
	background: url(images/list-single-select-grid-icon.png) no-repeat 0 6px;
}
#rightColumn .list_single_select_characteristic {
	background: url(images/list-single-select-list-icon.png) no-repeat 50% 50%;
}

#rightColumn div.item .simple_characteristic {
	background: url(images/simple-characteristic-grid.jpg) no-repeat 0 6px;
}
#rightColumn .simple_characteristic {
	background: url(images/simple-characteristic-list.jpg) no-repeat 50% 50%;
}


#rightColumn div.item .text_characteristic {
	background: url(images/text-characteristic-grid.jpg) no-repeat 0 6px;
}
#rightColumn .text_characteristic {
	background: url(images/text-characteristic-list.jpg) no-repeat 50% 50%;
}



#rightColumn div.item .characteristic_value {
	background: url(images/characteristic-value-grid.jpg) no-repeat 0 6px;
}

#rightColumn .characteristic_value {
	background: url(images/characteristic-value-list.jpg) no-repeat 50% 50%;
}

#header .toolbar div.characteristics div {
	background:url(images/characteristics-btn-off.gif) no-repeat 0 -2px;
}

#header .toolbar div.characteristics:hover div {
	background:url(images/characteristics-btn-over.gif) no-repeat 0 -2px;
}

#zenario_server_time,
#zenario_scheduled_tasks_status {
	height:18px;
	line-height:20px;
	padding: 8px 0px 0px 2px;
	float:left;
	text-align:left;
	font-weight: bold;
	font-family: 'Courier New',Courier,monospace;
}

#organizer_bottomWrap #organizer_lowerLeftColumn div#zenario_server_time {
	margin-left: 0;
}

#zenario_scheduled_tasks_status {
	width: 18px;
	cursor: pointer;
	background: url('images/icon-footer-scheduled-tasks-grey.svg') no-repeat center bottom / 18px auto;
}

#zenario_scheduled_tasks_status.jobs_running {
	background: url('images/icon-footer-scheduled-tasks-green.svg') no-repeat center bottom / 18px auto;
}

#zenario_scheduled_tasks_status.jobs_not_running {
	background: url('images/icon-footer-scheduled-tasks-warning.svg') no-repeat center bottom / 18px auto;
}

#zenario_page_caching {
	margin: 9px 0px 0px 2px;
	width: 18px;
	height: 19px;
	cursor: pointer;
	float:left;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#zenario_page_caching:hover {
	opacity:0.7;
}

#zenario_page_caching.zenario_page_caching_off {
	background: url('images/icon-footer-optimisation-off.svg') no-repeat center center / 18px auto;
}

#zenario_page_caching.zenario_page_caching_on {
	background: url('images/icon-footer-optimisation-on.svg') no-repeat center center / 18px auto;
}


body._NO_PRIV_EDIT_SITE_SETTING #zenario_page_caching {
	filter: grayscale(75%);
	cursor: not-allowed;
}






span.zenario_cache_info_icon_example {
	height: 18px;
	width: 15px;
	display: inline-block;
	opacity: 0.5;
}

span.zenario_cache_info_icon_example.zenario_cache_disabled {
	background: url('images/placeholder_cache_disabled_drum.png') top left no-repeat;
}

span.zenario_cache_info_icon_example.zenario_not_cached {
	background: url('images/placeholder_not_cached_drum.png') top left no-repeat;
}

span.zenario_cache_info_icon_example.zenario_cache_in_use {
	background: url('images/placeholder_cache_drum.png') top left no-repeat;
}

span.zenario_cache_info_icon_example.zenario_from_cache {
	background: url('images/placeholder_from_cache_drum.png') top left no-repeat;
}