* {
  margin: 0;
}

html, body {
	height: 100%;
}

body .zenario_skin {
	background:#7A8080;
}

.zenario_skin {
	min-height: 100%;
}

.zenario_slot_padding,
.pad_slot {
	display:none;
}

.Grid_Header {
	background:#17202B;
}

.zenario_adminLoggedIn .Grid_Header .Top_Area {
	margin-top:1px;
}

.Grid_Header .slot .zenario_slot {
	height:100px;
}

.Grid_Body {
	background:#FFF;
}

.Grid_Body .Full_Width {
	margin-top:15px;
}

.Grid_Body .Main_Area {
	margin-top:15px;
}

.Grid_Body .slot .zenario_slot {
	margin-bottom:30px;
}

.Grid_Body .slot.Full_Width .zenario_slot,
.Grid_Body .slot .zenario_slot .zenario_slot {
	margin-bottom:0;
}

.Grid_Footer {
	background:#7A8080;
}

.Grid_Footer .Footer_Area {
	padding:15px 0;
}

.Grid_Footer .Footer_Area .slot .zenario_slot {
	margin-bottom:5px;
}

.Grid_Footer .Footer_Area .slot .zenario_slot .zenario_slot {
	margin-bottom:0;
}

/*  Default slot sizes
--------------------------------------------------------------------------------------------------*/

body.zenario_adminLoggedIn .medium_slot .zenario_slot,
body.zenario_pageMode_preview .medium_slot,
body.zenario_pageMode_menu .medium_slot {
	min-height: 150px;
}

body.zenario_adminLoggedIn .large_slot .zenario_slot,
body.zenario_pageMode_preview .large_slot,
body.zenario_pageMode_menu .large_slot {
	min-height: 225px;
}

body.zenario_adminLoggedIn .xlarge_slot .zenario_slot,
body.zenario_pageMode_preview .xlarge_slot,
body.zenario_pageMode_menu .xlarge_slot {
	min-height: 300px;
}

body.zenario_adminLoggedIn .xxlarge_slot .zenario_slot,
body.zenario_pageMode_preview .xxlarge_slot,
body.zenario_pageMode_menu .xxlarge_slot {
	min-height: 375px;
}

body.zenario_adminLoggedIn .zenario_slotWithNoContents .zenario_slot {
	background:#f0f0f0;
}