.zenario_skin img {
	display:block;
}

/* Access key map
--------------------------------------------------------------------------------------------------*/

.zenario_access_key_map__default_style ul.access_key_map,
.zenario_access_key_map__default_style ul.access_key_map li {
	margin:0;
	padding:0;
	list-style:none;
}

.zenario_access_key_map__default_style ul.access_key_map li {
	margin-left:5px;
	padding-left:15px;
	background:url('images/arrow-small-next.png') no-repeat left 4px;
}

/* Breadcrumbs
--------------------------------------------------------------------------------------------------*/

.Grid_Body .slot .zenario_breadcrumbs__default_style {
	margin-bottom:15px;
}

.zenario_breadcrumbs__default_style {
	font-size:0.800em;
}

.zenario_breadcrumbs__default_style a {
	color:#27303f;
}

.zenario_breadcrumbs__default_style .current a {
	color:#a65b38;
}

/* Banner
--------------------------------------------------------------------------------------------------*/

.zenario_banner__default_style > div {
	width:100%;
	overflow:hidden;
	background:#273040;
}

.zenario_banner__default_style .banner_content {
	padding:10px 10px 10px 25px;
}

.zenario_banner__default_style .banner_title h2 {
	padding:0;
	margin:0;
	line-height:26px;
	font-size:1.333em;
}

.zenario_banner__default_style .banner_title h2 a {
	color:#FFF;
	display:inline-block;
	min-height:23px;
	padding-right:35px;
	background:url('images/bullet-circle-arrow.png') no-repeat right center;
}

.zenario_banner__default_style .banner_image img {
	margin:auto;
}

.zenario_banner__default_style h2,
.zenario_banner__default_style h2 a,
.zenario_banner__default_style p,
.zenario_banner__default_style a {
	color:#FFF;
}

.zenario_banner__default_style .banner_more {
	font-size:0.867em;
	padding-bottom:10px;
}

.zenario_banner__default_style .banner_more a {
	text-decoration:underline;
}

/* Banner, Masthead
--------------------------------------------------------------------------------------------------*/

.banner_masthead img {
	border:5px solid #D7D7CF;
}

/* Content list
--------------------------------------------------------------------------------------------------*/

.zenario_content_list__default_style {
	overflow:hidden;
}

.zenario_content_list__default_style .content_list_rss_link a {
	font-weight:bold;
	font-size:10px;
	display:inline-block;
	float:right;
	padding:0 5px;
	color:#FFF;
	background:#7A8080;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
   	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.zenario_content_list__default_style .content_list_rss_link a:hover {
	text-decoration:none;
	background:#364255;
}

.zenario_content_list__default_style .content_list_data_row {
	overflow:hidden;
	padding:10px 0;
	border-bottom:1px dotted #27303f;
}

.zenario_content_list__default_style .content_list_data_row:first-child {
	border-top:1px dotted #27303f;
}

.zenario_content_list__default_style .content_list_data_row h2 {
	font-size:1em;
	font-weight:bold;
}

.zenario_content_list__default_style .content_list_data_row p.content_list_date {
	color:#a65b38;
	font-size:0.867em;
}

.zenario_content_list__default_style .content_list_data_row h2,
.zenario_content_list__default_style .content_list_data_row p {
	margin:0;
}

.zenario_content_list__default_style .content_list_data_row div.sticky_image {
	float:left;
	margin-right:10px;
}

.zenario_content_list__default_style .content_list_data_row .content_list_text {
	overflow:hidden;
}

.zenario_content_list__default_style a.content_list_more_link {
	clear:both;
	display:inline-block;
	margin-top:10px;
	color:#27303f;
	font-weight:bold;
	padding-right:15px;
	background:url('images/arrow-small-next.png') no-repeat right center;
}

/* Content list, Recent pages
--------------------------------------------------------------------------------------------------*/

.content_list_sand_box {
	background:#E5E5DE;
	padding:15px;
}

.content_list_sand_box h2 {
	font-size:1.333em;
	padding:0;
	margin:0;
}

.content_list_sand_box h2 a {
	color:#27303f;
}

.content_list_sand_box .content_list_date {
	font-size:0.800em;
}

.content_list_sand_box .content_list_excerpt h1,
.content_list_sand_box .content_list_excerpt h2,
.content_list_sand_box .content_list_excerpt h3,
.content_list_sand_box .content_list_excerpt h4,
.content_list_sand_box .content_list_excerpt h5,
.content_list_sand_box .content_list_excerpt h6,
.content_list_sand_box .content_list_excerpt p,
.content_list_sand_box .content_list_data_row .content_list_more {
	font-size:0.933em;
}

.content_list_sand_box .content_list_data_row {
	overflow:hidden;
	margin-bottom:10px;
}

.content_list_sand_box .content_list_data_row .sticky_image {
	float:left;
}

.content_list_sand_box .content_list_data_row .sticky_image img {
	margin-right:20px;
}

.content_list_sand_box .content_list_data_row .content_list_text {
	overflow:hidden;
}

.content_list_sand_box .content_list_data_row .content_list_text p {
	margin-bottom:0;
}

.content_list_sand_box .content_list_data_row .content_list_more {
	text-align:right;
}

/* Contact form
--------------------------------------------------------------------------------------------------*/

.zenario_contact_form__default_style {
	background:#e5e5de;
	padding:15px 20px;
}

.zenario_contact_form__default_style form {
	overflow:hidden;
}

.zenario_skin .zenario_contact_form__default_style input[type='text'],
.zenario_skin .zenario_contact_form__default_style input[type='password'],
.zenario_skin .zenario_contact_form__default_style textarea {
	border-color:#e5e5de;
}

.zenario_skin .zenario_contact_form__default_style input[type='text']:focus,
.zenario_skin .zenario_contact_form__default_style input[type='password']:focus,
.zenario_skin .zenario_contact_form__default_style textarea:focus {
	border:1px solid #7a8080;
}

.zenario_contact_form__default_style .label {
	padding-top:10px;
}

.zenario_contact_form__default_style .contact_form_buttons {
	margin-top:20px;
}

/* Document container
--------------------------------------------------------------------------------------------------*/

.zenario_document_container__default_style {
	background:#e5e5de;
	padding:15px;
}

.zenario_document_container__default_style h1 {
	padding:5px 10px;
	background:#7a8080;
	color:#FFF;
	font-size:1.333em;
}

.zenario_document_container__default_style h3 {
	margin:0;
	font-size:1em;
	font-weight:bold;
}

.zenario_document_container__default_style a {
	color:#27303f;
}

.zenario_document_container__default_style .document_wrap {
	padding:5px;
	border-bottom:1px dotted #333;
	overflow:hidden;
}

.zenario_document_container__default_style .level_0,
.zenario_document_container__default_style .level_1,
.zenario_document_container__default_style .level_2,
.zenario_document_container__default_style .level_3,
.zenario_document_container__default_style .level_4,
.zenario_document_container__default_style .level_5 {
	overflow:hidden;
}

.zenario_document_container__default_style .sticky_image {
	float:left;
	margin-right:10px;
	border:1px solid #7a8080;
}

.zenario_document_container__default_style #archive_download_link {
	padding:5px 10px;
	overflow:hidden;
	background:#F0F0F0;
	text-align:center;
}

/* Email a friend
--------------------------------------------------------------------------------------------------*/

.zenario_email_a_friend__default_style .email_friend_section {
	font-size:0.867em;
	text-align:center;
}

.zenario_email_a_friend__default_style .email_friend_section a.print_page_section_link {
	display:inline-block;
	padding-left:25px;
	background:url('images/icon-envelope.png') no-repeat 0 center;
}

.zenario_email_a_friend__default_style .email_friend_popup {
	width:700px;
	padding:15px 20px;
}

.zenario_email_a_friend__default_style .email_friend_popup h2 {
	text-align:center;
	margin-bottom:10px;
}

.zenario_email_a_friend__default_style .email_friend_popup form {
	width:80%;
	margin:auto;
}

#colorbox.zenario_email_a_friend__default_style .email_friend_popup form input[type='text'],
#colorbox.zenario_email_a_friend__default_style .email_friend_popup form textarea {
	display:block;
	margin:5px 0 10px;
}

#colorbox.zenario_email_a_friend__default_style .email_friend_popup form input[type='submit'] {
	position:relative;
	left:40%;
}

#colorbox.zenario_email_a_friend__default_style .errors_in_floating_box,
#colorbox.zenario_email_a_friend__default_style .email_friend_popup form input[type='text'],
#colorbox.zenario_email_a_friend__default_style .email_friend_popup form textarea {
	width:95%;
}

/* Feed reader
--------------------------------------------------------------------------------------------------*/

.zenario_feed_reader__default_style h1,
.zenario_feed_reader__default_style .feed_reader_data_row {
	padding:10px 0;
	border-bottom: 1px dotted #27303f;
}

.zenario_feed_reader__default_style .feed_reader_data_row h2 {
	font-size:1em;
	font-weight:bold;
	margin-bottom:5px;
}

.zenario_feed_reader__default_style h1,
.zenario_feed_reader__default_style .feed_reader_data_row p {
	margin-bottom:0;
}

/* Font size
--------------------------------------------------------------------------------------------------*/

.zenario_font_size__default_style {
	background:#546178;
	clear:both;
	overflow:hidden;
}

.zenario_font_size__default_style div {
	display:inline-block;
	float:left;
}

.zenario_font_size__default_style div,
.zenario_font_size__default_style div a {
	color:#FFF;
	text-transform:uppercase;
}

.zenario_font_size__default_style div.font_size_text,
.zenario_font_size__default_style div a {
	padding:8px;
}

.zenario_font_size__default_style div.font_size_text {
	padding-left:10px;
	font-size:12px;
}

.zenario_font_size__default_style div a {
	display:block;
	width:24px;
	text-align:center;
	border-right:1px solid #FFF;
	font-size:13px;
}

.zenario_font_size__default_style div a:hover {
	background:#364155;
	text-decoration:none;
}

.zenario_font_size__default_style div.font_size_decrease a {
	border-left:1px solid #FFF;
	font-size:10.5px;
}

.zenario_font_size__default_style div.font_size_reset a {
	font-size:12px;
	background:#364155;
}

.zenario_font_size__default_style div.font_size_increase a {
	font-size:13px;
}

/* Footer
--------------------------------------------------------------------------------------------------*/

.zenario_footer__default_style {
	text-align:center;
	padding:0 10px;
	font-size:0.933em;
}

/* Google map
--------------------------------------------------------------------------------------------------*/

.zenario_google_map__default_style > div {
	border:5px solid #D7D7CF;
	margin:auto;
}

/* Image container
--------------------------------------------------------------------------------------------------*/

.zenario_image_container__default_style a {
	height:100% !important;
	margin:auto;
	background-position:center center !important;
}

/* HTML snippet
--------------------------------------------------------------------------------------------------*/

.zenario_html_snippet table {
	width:100%;
}

.zenario_html_snippet table tr th,
.zenario_html_snippet table tr td {
	padding:5px 8px;
	border:1px solid #FFF;
}

.zenario_html_snippet table tr th {
	background:#7a8080;
	color:#fff;
	text-align:center;
}

.zenario_html_snippet table tr td {
	background:#e5e5de;
	vertical-align:top;
}

.zenario_html_snippet hr {
	width: 80%;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:10px;
	margin-top:10px;
	background-color:#cac9c4;
	color:#cac9c4;
	border: 0 none;
}

/* HTML snippet, Watch our video
--------------------------------------------------------------------------------------------------*/

.html_video_box .watch_our_video_link {
	display:block;
	background:#7A8080 url('images/image-video-zenario.jpg') no-repeat center 0;
	color:#FFF;
	line-height:45px;
	font-size:1.333em;
	padding:195px 10px 0 25px;
}
	
/* Language picker
--------------------------------------------------------------------------------------------------*/

.zenario_language_picker__default_style .lang_pick_box {
	text-align:right;
}

.zenario_language_picker__default_style .lang_pick_box .lang_choose_text {
	font-size:0.867em;
	color:#FFF;
	padding:10px 0;
	display:none;
}

.zenario_language_picker__default_style .lang_pick_box .lang_flag span {
	margin-left:7px;
	text-indent:-999;
	line-height:0;
	font-size:0;
}

.zenario_language_picker__default_style .lang_pick_box .lang_flag {
	display:inline-block;
}

.zenario_language_picker__default_style .lang_pick_box .lang_flag span,
.zenario_language_picker__default_style .lang_pick_box .lang_flag span a {
	width: 100%;
	height: 100%;
	display: block;
}

.zenario_language_picker__default_style .lang_choices select {
	font-size:0.867em;
	
}

/* Menu horizontal
--------------------------------------------------------------------------------------------------*/

.zenario_menu__default_style ul,
.zenario_menu__default_style ul li {
	list-style:none;
	padding:0;
	margin:0;
}

.zenario_menu__default_style ul,
.zenario_menu__default_style ul li,
.zenario_menu__default_style ul li a {
	display:inline-block;
	height:100%;
}

.zenario_menu__default_style ul {
	float:left;
}

.zenario_menu__default_style ul li {
	position:relative;
}

.zenario_menu__default_style ul li a {
	line-height:100px;
	padding:0 30px;
}

.zenario_menu__default_style ul ul {
	opacity:0;
	visibility:hidden;
	-webkit-transition : all 200ms ease-in-out;
  	-moz-transition : all 200ms ease-in-out;
  	-o-transition : all 200ms ease-in-out;
  	transition : all 200ms ease-in-out;
}

.zenario_menu__default_style ul li:hover ul {
	opacity:1;
	visibility:visible;
}

body.ie .zenario_menu__default_style ul ul {
	display:none;
}

body.ie .zenario_menu__default_style ul li:hover ul {
	display:block;
	opacity:1;
	visibility:visible;
}

.zenario_menu__default_style ul ul {
	position:absolute;
	top:100px;
    left:0;
	width:195px;
	padding:15px;
	z-index:99;
	background:#364155;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.30);
}

.zenario_menu__default_style ul ul,
.zenario_menu__default_style ul ul li,
.zenario_menu__default_style ul ul li a {
	height:auto;
}

.zenario_menu__default_style ul ul li,
.zenario_menu__default_style ul ul li a {
	display:block;
}

.zenario_menu__default_style ul ul li a {
	line-height:16px;
	padding:3px 0 4px;
}

.zenario_menu__default_style ul li {
	font-size:0.933em;
}

.zenario_menu__default_style ul li.level1_on a {
	background:#546178;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.zenario_menu__default_style ul li:hover a {
	background:#364255;
}

.zenario_menu__default_style ul ul li a,
.zenario_skin .Top_Area .zenario_menu__default_style ul ul li a {
	color:#cbb4a6;
}

.zenario_menu__default_style ul ul li a:hover,
.zenario_skin .Top_Area .zenario_menu__default_style ul ul li a:hover,
.zenario_skin .Top_Area .zenario_menu__default_style ul ul li.level2_on a {
	color:#e5e5de;
}

.zenario_menu__default_style ul li {
	text-transform:uppercase;
}

.zenario_menu__default_style ul ul li {
	text-transform:none;
}

.zenario_menu__default_style ul li a:hover {
	text-decoration:none;
}

.zenario_menu__default_style ul ul li a:hover {
	text-decoration:underline;
}

/* Menu multicolumn
--------------------------------------------------------------------------------------------------*/

.zenario_menu_multicolumn__default_style ul,
.zenario_menu_multicolumn__default_style ul li {
	list-style:none;
	padding:0;
	margin:0;
}

.zenario_menu_multicolumn__default_style ul,
.zenario_menu_multicolumn__default_style ul li,
.zenario_menu_multicolumn__default_style ul li a {
	display:inline-block;
	height:100%;
}

.zenario_menu_multicolumn__default_style ul {
	float:left;
}

.zenario_menu_multicolumn__default_style ul li a {
	line-height:100px;
	padding:0 30px;
}

.zenario_menu_multicolumn__default_style .columns_wrap {
	position:absolute;
	top:100px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	width:660px; /* 3 columns wide 220px each */
	z-index:99;
	background:#364155;
	overflow:hidden;
}

.zenario_menu_multicolumn__default_style ul .columns_wrap {
	opacity:0;
	visibility:hidden;
	-webkit-transition : all 200ms ease-in-out;
  	-moz-transition : all 200ms ease-in-out;
  	-o-transition : all 200ms ease-in-out;
  	transition : all 200ms ease-in-out;
}

.zenario_menu_multicolumn__default_style ul li:hover .columns_wrap {
	opacity:1;
	visibility:visible;
}

body.ie .zenario_menu_multicolumn__default_style ul .columns_wrap {
	display:none;
}

body.ie .zenario_menu_multicolumn__default_style ul li:hover .columns_wrap {
	display:block;
	opacity:1;
	visibility:visible;
}

.zenario_menu_multicolumn__default_style ul .columns_wrap .column {
	width:190px;
	margin:15px;
	float:left;
}

.zenario_menu_multicolumn__default_style ul .columns_wrap a {
	display:block;
	height:auto;
	line-height:18px;
	padding:0;
}

.zenario_menu_multicolumn__default_style ul li {
	text-transform:uppercase;
}

.zenario_menu_multicolumn__default_style ul li .columns_wrap {
	text-transform:none;
}

.zenario_menu_multicolumn__default_style ul li a:hover {
	text-decoration:none;
}

.zenario_menu_multicolumn__default_style ul li .columns_wrap a:hover {
	text-decoration:underline;
}

.zenario_menu_multicolumn__default_style ul li {
	font-size:0.933em;
}

.zenario_menu_multicolumn__default_style ul li .level3 {
	font-size:0.929em;
}

.zenario_menu_multicolumn__default_style ul li a.level1_on {
	background:#546178;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.zenario_menu_multicolumn__default_style ul li a.has_child:hover,
.zenario_menu_multicolumn__default_style ul li a.level1_on.has_child:hover {
	background:#364255;
}

.zenario_menu_multicolumn__default_style ul li .node-level-2 a {
	color:#cbb4a6;
	margin-bottom:10px;
}

.zenario_menu_multicolumn__default_style ul li .node-level-2 a,
.zenario_menu_multicolumn__default_style ul li .node-level-2-on a {
	font-weight:bold;
}

.zenario_menu_multicolumn__default_style ul li .node-level-2-on a,
.zenario_menu_multicolumn__default_style ul li .node-level-2 a:hover {
	color:#e5e5de;
}

.zenario_menu_multicolumn__default_style ul li .node-level-3 a {
	color:#FFF;
}

/* Menu vertical
--------------------------------------------------------------------------------------------------*/

.zenario_menu_vertical__default_style .wrap_menu {
	background:#E5E5DE;
	padding-bottom:20px;
}

.zenario_menu_vertical__default_style ul,
.zenario_menu_vertical__default_style ul li {
	list-style:none;
	padding:0;
	margin:0;
}

.zenario_menu_vertical__default_style h2.side_menu_title {
	background:#7A8080;
	padding:8px 15px 25px 15px;
	margin:0;
}

.zenario_menu_vertical__default_style h2.side_menu_title a {
	color:#FFF;
}

.zenario_menu_vertical__default_style h2.side_menu_title a:hover {
	text-decoration:none;
}

.zenario_menu_vertical__default_style ul {
	padding:0 8px;
}

.zenario_menu_vertical__default_style ul li { 
	font-weight:bold;
	border-bottom:1px solid #7A8080;
}

.zenario_menu_vertical__default_style ul li a {	
	display:block;
	padding:5px 15px;
	margin:2px 0;
	color:#27303f;
}

.zenario_menu_vertical__default_style ul li li li a {
	padding-left:25px;
}

.zenario_menu_vertical__default_style ul li li li li a {
	padding-left:35px;
}

.zenario_menu_vertical__default_style ul li li li li li a {
	padding-left:45px;
}

.zenario_menu_vertical__default_style ul li li li li li li a {
	padding-left:55px;
}

.zenario_menu_vertical__default_style ul ul {
	padding:0;
}

.zenario_menu_vertical__default_style ul ul li {
	font-size:0.933em;
	font-weight:normal;
	line-height:18px;
	border:0;
}

.zenario_menu_vertical__default_style ul ul ul li {
	font-size:1em;
}

.zenario_menu_vertical__default_style ul li a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li.level5_on li a:hover {
	text-decoration:none;
	color:#a65b38;
}

.zenario_menu_vertical__default_style ul li.level1_on a,
.zenario_menu_vertical__default_style ul li.level1_on a:hover {
	background:#7A8080;
	color:#FFF;
}

.zenario_menu_vertical__default_style ul li.level1_on li a,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li.level5_on a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li.level5_on li.level6_on a:hover {
	color:#27303f;
}

.zenario_menu_vertical__default_style ul li.level1_on li a,
.zenario_menu_vertical__default_style ul li.level1_on li a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li a,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li a,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li a,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li.level5_on li a,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li.level5_on li a:hover {
	background:#E5E5DE;
}

.zenario_menu_vertical__default_style ul li.level1_on li.level2_on a,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on a,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on a,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li.level5_on a,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li.level5_on a:hover,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li.level5_on li.level6_on a,
.zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li.level5_on li.level6_on a:hover {
	background:#CAC9C4;
}

/* Meta data
--------------------------------------------------------------------------------------------------*/

.zenario_meta_data__default_style {
	background:#E5E5DE;
	padding:15px;
}

.zenario_meta_data__default_style h2 {
	color:#27303f;
	font-size:1em;
	margin:0;
}

.zenario_meta_data__default_style h2:first-child {
	font-size:1.333em;
}

/* Multiple image container
--------------------------------------------------------------------------------------------------*/

.zenario_multiple_image_container__default_style .banner_images {
	overflow:hidden;
}

.zenario_multiple_image_container__default_style .banner_images .banner_image {
	display:inline-block;
	position:relative;
	overflow:hidden;
	margin:8px;
	background:#e5e5de;
	border:1px solid #ccc;
	padding:5px 5px 30px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 5px 5px 0 #CFCFCF;
	box-shadow: 0 5px 5px 0 #CFCFCF;
}

.zenario_multiple_image_container__default_style .banner_text {
	margin-top:10px;
	padding:5px;
	border-top:1px dotted #333;
	border-bottom:1px dotted #333;
}

.zenario_multiple_image_container__default_style .banner_text p {
	margin:0;
}

.zenario_multiple_image_container__default_style .banner_images .banner_image .banner_image_zoom {
	display:none;
	text-indent:-999;
	font-size:0;
	line-height:0;
	width:15px;
	height:15px;
	background:url('images/magnifying-glass.png') no-repeat;
	position:absolute;
	top:10px;
	right:10px;
}

.zenario_multiple_image_container__default_style .banner_images .banner_image:hover .banner_image_zoom {
	display:block;
}

/* News ticker
--------------------------------------------------------------------------------------------------*/

.zenario_news_ticker__default_style input[type='text'] {
	width:94%;
	height:40px;
	line-height:40px;
	padding:0 3%;
	border:0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color:#fff;
	background:#364155;
	font-size:0.867em;
	text-transform:uppercase;
}

.zenario_news_ticker__default_style input.has_link {
	cursor:pointer;
}

/* Nest revealable panel
--------------------------------------------------------------------------------------------------*/

.zenario_plugin_nest__default_style .revealable_panel_wrap {
	position:relative;
}

.zenario_plugin_nest__default_style .revealable_panel_wrap .panel_anchor .panel {
	display:none;
	position:absolute;
	top:30px;
	left:0;
	padding:10px;
}

.zenario_plugin_nest__default_style .revealable_panel_wrap .panels_tabs ul,
.zenario_plugin_nest__default_style .revealable_panel_wrap .panels_tabs ul li {
	list-style:none;
	padding:0;
	margin:0;
}

.zenario_plugin_nest__default_style .revealable_panel_wrap .panels_tabs ul li div {
	display:none;
}

.zenario_plugin_nest__default_style .revealable_panel_wrap .panels_tabs ul li a {
	display:inline-block;
	height:20px;
	line-height:20px;
	padding:5px 10px 5px 20px;
	background:#cac9c4 url('images/arrow-small-down.png') no-repeat 8px center;
	color:#27303f;
}

.zenario_plugin_nest__default_style .revealable_panel_wrap .panels_tabs ul li a:hover,
.zenario_plugin_nest__default_style .revealable_panel_wrap .panel_anchor .panel {
	background:#e5e5de;
}

.zenario_plugin_nest__default_style .revealable_panel_wrap .panels_tabs .panel_open ul li a,
.zenario_plugin_nest__default_style .revealable_panel_wrap .panels_tabs .panel_open ul li a:hover {
	background:#e5e5de url('images/arrow-small-up.png') no-repeat 8px center;
}

.zenario_plugin_nest__default_style .revealable_panel_wrap .panels_tabs ul li a:hover {
	text-decoration:none;
}

/* Print page
--------------------------------------------------------------------------------------------------*/

.zenario_print_page__default_style .print_page_section {
	font-size:0.867em;
	text-align:center;
}

.zenario_print_page__default_style .print_page_section a.print_page_section_link {
	display:inline-block;
	padding-left:25px;
	background:url('images/icon-print.png') no-repeat 0 center;
}

/* Promo menu
--------------------------------------------------------------------------------------------------*/

.zenario_promo_menu__default_style .wrap_menu {
	position:relative;
}

.zenario_promo_menu__default_style ul,
.zenario_promo_menu__default_style ul li {
	list-style:none;
	padding:0;
	margin:0;
}

.zenario_promo_menu__default_style ul,
.zenario_promo_menu__default_style ul li,
.zenario_promo_menu__default_style ul li a {
	display:inline-block;
	height:100%;
}

.zenario_promo_menu__default_style ul {
	float:left;
}

.zenario_promo_menu__default_style ul li a {
	line-height:100px;
	padding:0 30px;
}

.zenario_promo_menu__default_style ul .columns_wrap {
	position:absolute;
	top:100px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	width:660px; /* 3 columns wide 220px each */
	z-index:99;
	background:#364155;
	overflow:hidden;
}

.zenario_promo_menu__default_style ul .columns_wrap {
	opacity:0;
	visibility:hidden;
	-webkit-transition : all 200ms ease-in-out;
  	-moz-transition : all 200ms ease-in-out;
  	-o-transition : all 200ms ease-in-out;
  	transition : all 200ms ease-in-out;
}

.zenario_promo_menu__default_style ul li:hover .columns_wrap {
	opacity:1;
	visibility:visible;
}

body.ie .zenario_promo_menu__default_style ul .columns_wrap {
	display:none;
}

body.ie .zenario_promo_menu__default_style ul li:hover .columns_wrap {
	display:block;
	opacity:1;
	visibility:visible;
}

.zenario_promo_menu__default_style ul .columns_wrap .column,
.zenario_promo_menu__default_style .feature_wrap {
	width:190px;
	margin:15px;
	float:left;
}

.zenario_promo_menu__default_style ul .columns_wrap a {
	display:block;
	height:auto;
	line-height:18px;
	padding:0;
}

.zenario_promo_menu__default_style ul li {
	text-transform:uppercase;
}

.zenario_promo_menu__default_style ul li .columns_wrap {
	text-transform:none;
}

.zenario_promo_menu__default_style ul li a:hover {
	text-decoration:none;
}

.zenario_promo_menu__default_style ul li .columns_wrap a:hover {
	text-decoration:underline;
}

.zenario_promo_menu__default_style ul li {
	font-size:0.933em;
}

.zenario_promo_menu__default_style ul li .level3,
.zenario_promo_menu__default_style ul li .level3_on {
	font-size:0.929em;
}

.zenario_promo_menu__default_style ul li.level1_on a {
	background:#546178;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.zenario_promo_menu__default_style ul li.has_child:hover a,
.zenario_promo_menu__default_style ul li.level1_on.has_child:hover a {
	background:#364255;
}

.zenario_promo_menu__default_style ul li .level2,
.zenario_promo_menu__default_style ul li .level2_on {
	margin-top:10px;
}

.zenario_promo_menu__default_style ul li .level2:first-child,
.zenario_promo_menu__default_style ul li .level2_on:first-child {
	margin-top:0;
}

.zenario_promo_menu__default_style ul li .level2 a,
.zenario_promo_menu__default_style ul li .level2_on a {
	font-weight:bold;
	margin-bottom:10px;
	color:#cbb4a6;
}

.zenario_promo_menu__default_style ul li .level2_on a,
.zenario_promo_menu__default_style ul li .level3_on a {
	text-decoration:underline;
}

.zenario_promo_menu__default_style ul li .level2 a:hover {
	color:#e5e5de;
}

.zenario_promo_menu__default_style ul li .level3,
.zenario_promo_menu__default_style ul li .level3_on {
	margin-top:2px;
	margin-bottom:5px;
	margin-left:8px;
}

.zenario_promo_menu__default_style ul li .level3 a {
	color:#FFF;
}

.zenario_promo_menu__default_style ul li .level3 a,
.zenario_promo_menu__default_style ul li .level3_on a {
	line-height:16px;
}

.zenario_promo_menu__default_style ul li.has_child:hover .columns_wrap a,
.zenario_promo_menu__default_style ul li.level1_on.has_child:hover .columns_wrap a {
	background:transparent;
}

.zenario_promo_menu__default_style .feature_wrap {
	position:relative;
}

.zenario_promo_menu__default_style .feature_wrap .feature_title,
.zenario_promo_menu__default_style .feature_wrap .feature_text {
	background:url('images/background-90opacity-grey.png');
	width:92%;
	padding:2% 4%;
}

.zenario_promo_menu__default_style .feature_wrap .feature_title h2 {
	font-size:1.067em;
}

.zenario_promo_menu__default_style .feature_wrap .feature_text p {
	font-size:0.800em;
	line-height:14px;
}

.zenario_promo_menu__default_style .feature_wrap .feature_title h2,
.zenario_promo_menu__default_style .feature_wrap .feature_text p {
	padding:0;
	margin:0;
}

.zenario_promo_menu__default_style .feature_wrap .feature_title h2,
.zenario_promo_menu__default_style .feature_wrap .feature_text p,
.zenario_promo_menu__default_style .feature_wrap .feature_text a {
	color:#FFF;
}

.zenario_promo_menu__default_style .feature_wrap div {
	width:100%;
	display:block;
}

/* Search results
--------------------------------------------------------------------------------------------------*/

.zenario_search_results__default_style form input[type="text"] {
	width:50%;
}

.zenario_search_results__default_style .search_heading {
	padding:10px 0;
	font-weight:bold;
}

.zenario_search_results__default_style #search_results_tabs {
	width:100%;
	overflow:hidden;
}

.zenario_search_results__default_style #search_results_tabs div {
	display:inline-block;
}

.zenario_search_results__default_style #search_results_tabs div div {
	padding:5px 15px;
}

.zenario_search_results__default_style #search_results_tabs div a {
	display:block;
	padding:10px 15px;
	background:#CAC9C4;
	color:#27303f;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.zenario_search_results__default_style #search_results_tabs div a:hover {
	text-decoration:none;
	background:#7a8080;
	color:#FFF;
}

.zenario_search_results__default_style #search_results_tabs div.search_results_tab_on a,
.zenario_search_results__default_style #search_results_tabs div.search_results_tab_on a:hover {
	background:#E5E5DE;
	color:#27303f;
}

.zenario_search_results__default_style .search_no_results,
.zenario_search_results__default_style .search_results {
	border:5px solid #E5E5DE;
	padding:20px;
}

.zenario_search_results__default_style .search_results .search_result {
	border-bottom:1px dotted #27303f;
	padding:10px 0;
}

.zenario_search_results__default_style .search_results .search_result h2 {
	font-size:1em;
	font-weight:bold;
}

/* Slideshow 2
--------------------------------------------------------------------------------------------------*/

.zenario_slideshow_2__default_style .slideshow_container {
	/*border:5px solid #D7D7CF;*/
	padding-bottom:20px;
}

.zenario_slideshow_2__default_style .slide_inner .content_container {
	position:absolute;
	left:8%;
	bottom:5% !important;
	background:url('images/grey-bg-transparent.png');
	color:#FFF;
	padding:2%;
	margin-right:5%;
}

.zenario_slideshow_2__default_style .slide_title {
	font-size:2.2em;
	font-weight:bold;
	line-height:1.2em;
	text-shadow:0 1px 1px #000;
	margin-bottom:3px;
}

.zenario_slideshow_2__default_style .slide_extra_html {
	font-size:1.200em;
	font-weight:bold;
	line-height:1.3em;
	text-shadow:0 1px 1px #000;
}

.zenario_slideshow_2__default_style .arrowl, .zenario_slideshow_2__default_style .arrowldn {
    background: url("images/slideshow-left-arrow-off-state.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.zenario_slideshow_2__default_style .arrowr, .zenario_slideshow_2__default_style .arrowrdn {
    background: url("images/slideshow-right-arrow-off-state.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.zenario_slideshow_2__default_style .arrowl:hover {
    background: url("images/slideshow-left-arrow-over-state.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-size:100%;
}

.zenario_slideshow_2__default_style .arrowr:hover {
    background: url("images/slideshow-right-arrow-over-state.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-size:100%;
}

.zenario_slideshow_2__default_style .arrowl, 
.zenario_slideshow_2__default_style .arrowr, 
.zenario_slideshow_2__default_style .arrowldn, 
.zenario_slideshow_2__default_style .arrowrdn {
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    width: 4.5%;
    height: 14.2%;
    top: 40%;
    background-size:100%;
}

.zenario_slideshow_2__default_style .arrowl, 
.zenario_slideshow_2__default_style .arrowldn {
    left: 0;
}

.zenario_slideshow_2__default_style .arrowr, 
.zenario_slideshow_2__default_style .arrowrdn {
    right: 0;
}

.zenario_slideshow_2__default_style .bullet {
	position:absolute;
	bottom:0px !important;
	width:100% !important;
	height:16px !important;
	text-align:center;
	overflow:hidden;
}

.zenario_slideshow_2__default_style .bullet div {
    background: none repeat scroll 0 0 #A5A9AA;
    position:static !important;
	width:8px;
	height:8px;
	margin:0 2px 0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	display:inline-block;
}

.zenario_slideshow_2__default_style .bullet div.av {
    background: none repeat scroll 0 0 #A65B32;
}

/* Sitemap
--------------------------------------------------------------------------------------------------*/

.zenario_skin .zenario_sitemap__default_style ul,
.zenario_skin .zenario_sitemap__default_style ul li {
	list-style:none;
	padding:0;
	margin:0;
}

.zenario_skin .zenario_sitemap__default_style h2,
.zenario_skin .zenario_sitemap__default_style h3,
.zenario_skin .zenario_sitemap__default_style h4,
.zenario_skin .zenario_sitemap__default_style h5,
.zenario_skin .zenario_sitemap__default_style h6 {
	font-size:1em;
	margin:0;
	padding:3px 0;
}

.zenario_skin .zenario_sitemap__default_style li h2 {
	font-weight:bold;
	padding:5px 15px;
	background:url('images/arrow-small-next.png') no-repeat 0 8px;
}

.zenario_skin .zenario_sitemap__default_style li.has_child h2 {
	background:url('images/arrow-small-down.png') no-repeat 0 11px;
}

.zenario_skin .zenario_sitemap__default_style h3 a,
.zenario_skin .zenario_sitemap__default_style h4 a,
.zenario_skin .zenario_sitemap__default_style h5 a,
.zenario_skin .zenario_sitemap__default_style h6 a {
	color:#27303f;
}

.zenario_skin .zenario_sitemap__default_style ul ul {
	padding-left:15px;
	padding-bottom:8px;
}

.zenario_skin .zenario_sitemap__default_style ul ul ul {
	padding-bottom:0;
}

.zenario_skin .zenario_sitemap__default_style li.level1 {
	border-bottom:1px dotted #27303f;
}

.zenario_skin .zenario_sitemap__default_style li.level1_1 {
	border-top:1px dotted #27303f;
}

/* User form
--------------------------------------------------------------------------------------------------*/

.zenario_user_forms__default_style {
	background:#e5e5de;
	padding:15px 20px;
}

.zenario_user_forms__default_style .title {
	font-size:1.333em;
	line-height:1.2em;
	margin-bottom:8px;
}

.zenario_skin .zenario_user_forms__default_style input[type='text'],
.zenario_skin .zenario_user_forms__default_style input[type='password'],
.zenario_skin .zenario_user_forms__default_style textarea {
	border-color:#e5e5de;
}

.zenario_skin .zenario_user_forms__default_style input[type='text']:focus,
.zenario_skin .zenario_user_forms__default_style input[type='password']:focus,
.zenario_skin .zenario_user_forms__default_style textarea:focus {
	border:1px solid #7a8080;
}

.zenario_user_forms__default_style .form_field  {
	padding-top:10px;
}

.zenario_user_forms__default_style input[type='submit'] {
	margin-top:20px;
}

/* Common styles: pagination
--------------------------------------------------------------------------------------------------*/

.pag_pagination {
	margin-top:10px;
	text-align:center;
	font-size:0.867em;
}

.pag_pagination span a {
	display:inline-block;
    line-height: 16px;
    margin: 0 1px;
    padding: 2px 5px;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color:#FFF;
	background:#7A8080;
   	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.pag_pagination span a:hover,
.pag_pagination span.pag_page_on a {
    background:#273040;
    text-decoration:none;
}