/* Layout max-width: 1200px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 1200px) {
	
	.zenario_menu ul li a,
	.zenario_promo_menu ul li a {
		padding:0 15px;
	}
}

/* Layout max-width: 1140px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 1180px) {
	img { 
		max-width: 100%; 
		height:auto !important;
	}
	
	.banner_masthead img {
		max-width: 97%;
	}
	
	.Top_1 .zenario_slot {
		margin-left:10px;
	}
	
	.Full_Width .zenario_slot,
	.Main_Area .zenario_slot {
		margin:0 10px 10px;
	}
	
	.Full_Width .zenario_slot .zenario_slot,
	.Main_Area .zenario_slot .zenario_slot {
		margin:0;
	}
	
}


/* Layout max-width: 1140px - 769px
--------------------------------------------------------------------------------------------------*/

@media all and (min-width : 769px) and (max-width: 1140px) {

	.zenario_image_container a {
		width:100% !important;
		background-size:100% auto;
	}
	
}

/* Layout max-width: 850px - 769px
--------------------------------------------------------------------------------------------------*/

@media all and (min-width : 769px) and (max-width: 850px) {

	.zenario_menu ul li a,
	.zenario_promo_menu ul li a {
		padding:0 10px;
	}
	
}

	
/* Layout max-width: 560px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 560px) {
	
	.Full_Width {
		margin-top:5px;
	}
	
}