.organizer_top_level_image.zenario_user_forms_top_level {
	background: url('images/icon-forms-off.svg') no-repeat center / 16px 16px;
}

#zenario_at_top_left_menu .organizer_top_level_image.zenario_user_forms_top_level,
#organizer_leftColumn .legend_on a.zenario_user_forms_top_level,
.organizer_top_level_image.zenario_user_forms_top_level:hover {
	background: url('images/icon-forms-on.svg') no-repeat center / 16px 16px;
}

.organizer_item_image.zenario_user_forms,
.organizer_item_image.form_type_registration {
	background: url('images/icon-forms.svg') no-repeat center / 16px 16px;
}

.organizer_item_image.zenario_user_forms_archive {
	background: url('images/icon-archive.svg') no-repeat center / 16px 16px;
}