.organizer_top_level_image.zenario_user_forms_top_level {
	background:transparent url('../../../admin/images/sprites/sprite-grid-icons-single-col-v2.png') no-repeat scroll;
	background-position:-7px -386px;
}

#zenario_at_top_left_menu .organizer_top_level_image.zenario_user_forms_top_level,
#organizer_leftColumn .legend_on a.zenario_user_forms_top_level,
.organizer_top_level_image.zenario_user_forms_top_level:hover {
	background-position:-7px -436px;
}

.organizer_item_image.zenario_user_forms {
	background: center 1px no-repeat url('images/icon-forms-dark.png');
}

.organizer_item_image.zenario_user_forms_archive {
	background: url('images/icon-archive-black.png') no-repeat center center;
}