/* Reset backgrounds */
#cboxTitle,
#cboxLoadingGraphic,
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxClose:hover {
	background:none;
}

body #cboxOverlay {
	filter:alpha(opacity=80) !important;
	opacity:.8 !important;
	background:#000;
}

#cboxContent {
	font-family:'robotolight',Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:22px;
}

#cboxTitle {
	width:calc(100% - 20px);
	padding:3px 10px;
	background:rgba(0,0,0,0.6);
}

#cboxClose {
	width:20px;
	height:20px;
	top:5px;
	right:5px;
}

#cboxClose:before, 
#cboxClose:after {
  position: absolute;
  left: 10px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #000;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#cboxClose:hover:before, 
#cboxClose:hover:after {
  background-color: #2a98ce;
}

#cboxClose:before {
  transform: rotate(45deg);
}
#cboxClose:after {
  transform: rotate(-45deg);
}

#cboxPrevious,
#cboxNext {
	display: inline-block;
	width: 12px;
	height: 12px;
}

#cboxPrevious:after,
#cboxNext:after {
	content: '';
	display: inline-block;
	height: 12px;
	width: 12px;
	position: absolute;
	left: 0;
	top: 0;
	border:0;
	border-bottom:2px solid #000;
	border-right:2px solid #000;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#cboxPrevious:hover:after,
#cboxNext:hover:after {
  border-color: #2a98ce;
}

#cboxClose,
#cboxClose:before, 
#cboxClose:after,
#cboxPrevious,
#cboxNext,
#cboxPrevious:after,
#cboxNext:after {
	outline:none;
	outline:0;
}

#cboxPrevious {
	left:15px;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

#cboxNext {
	right:15px;
	-moz-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}

#cboxLoadingGraphic {
	display: inline-block;
  	width: 40px;
  	height: 40px;
  	right:0;
  	bottom:0;
  	margin:auto;
  	background:none;
}

#cboxLoadingGraphic:after {
  content: " ";
  display: block;
  width: 34px;
  height: 34px;
  margin: 0;
  border-radius: 50%;
  border: 4px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  Colorbox 
--------------------------------------------------------------------------------------------------*/

#colorbox form {
	margin:0;
	padding:0;
}

#colorbox input,
#colorbox button,
#colorbox select,
#colorbox textarea,
#colorbox select {
	font-size:1em;
	font-family:'robotolight',Arial, Helvetica, sans-serif;
}

#colorbox input[type='text'],
#colorbox input[type='password'],
#colorbox input[type='email'],
#colorbox input[type='search'],
#colorbox textarea,
#colorbox select {
	width:calc(100% - 22px);
	padding:0 10px;
	color:#525151;
	background:#FFF;
	border:1px solid #b8babc;
}

#colorbox select {
	width:100%;
}

#colorbox textarea {
	padding-top:10px;
	padding-bottom:10px;
}

#colorbox input[type='text'],
#colorbox input[type='password'],
#colorbox input[type='email'],
#colorbox input[type='search'],
#colorbox select {
	height:30px;
	line-height:30px;
	font-size:1em;
}

#colorbox input[type='text'],
#colorbox input[type='password'],
#colorbox input[type='email'],
#colorbox input[type='search'],
#colorbox select,
#colorbox textarea {
   	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#colorbox input[readonly=''],
#colorbox input[disabled='disabled'],
#colorbox textarea[disabled='disabled'],
#colorbox select[disabled='disabled'] {
	color:#888 !important;
	background-color:#DFDFDF !important;
	border-color:#DFDFDF !important;
	opacity:0.8 !important;
}

#colorbox input[type='file'] {
	width:100%;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

#colorbox input[type='submit'],
#colorbox input[type='button'],
#colorbox button:not(#cboxClose):not(#cboxPrevious):not(#cboxNext) {
	display:inline-block;
	height:36px;
	line-height:32px;
	padding: 0 15px;
	border:0;
	background:#000;
	color:#FFF;
	text-align:center;
	font-size:0.938em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
  	cursor:pointer;
}

#colorbox input[type='submit']:hover,
#colorbox input[type='button']:hover,
#colorbox button:not(#cboxClose):not(#cboxPrevious):not(#cboxNext):hover {
	background:#b8babc;
	color:#282e35;
	text-decoration:none;
}

#colorbox.zenario_slot,
#colorbox.zenario_slot #cboxWrapper {	
	width:540px !important;
}

#colorbox.zenario_slot #cboxContent,
#colorbox.zenario_slot #cboxLoadedContent {	
	width:520px !important;
}

#colorbox.zenario_slot #cboxTitle {
	display:none !important;
}