/* Reset backgrounds */
#colorbox:not(.zenario_admin_cb) #cboxTitle,
#colorbox:not(.zenario_admin_cb) #cboxLoadingGraphic,
#colorbox:not(.zenario_admin_cb) #cboxPrevious,
#colorbox:not(.zenario_admin_cb) #cboxNext,
#colorbox:not(.zenario_admin_cb) #cboxClose,
#colorbox:not(.zenario_admin_cb) #cboxClose:hover {
	background:none;
}

#colorbox:not(.zenario_admin_cb) #cboxTopLeft, 
#colorbox:not(.zenario_admin_cb) #cboxTopCenter, 
#colorbox:not(.zenario_admin_cb) #cboxTopRight, 
#colorbox:not(.zenario_admin_cb) #cboxMiddleLeft, 
#colorbox:not(.zenario_admin_cb) #cboxMiddleRight, 
#colorbox:not(.zenario_admin_cb) #cboxBottomLeft, 
#colorbox:not(.zenario_admin_cb) #cboxBottomCenter, 
#colorbox:not(.zenario_admin_cb) #cboxBottomRight {
	visibility:hidden;
}

#colorbox:not(.zenario_admin_cb) #cboxMiddleLeft {
	display:none;
}

body #colorbox:not(.zenario_admin_cb) #cboxOverlay,
body > #cboxOverlay {
	opacity:1 !important;
	background:rgba(0,0,0,0.8);
	position: fixed;
	z-index: 999;
 	width: 100%;
  	height: 100%;
  	top: 0;
	left: 0;
	overflow: hidden;
}

#colorbox:not(.zenario_admin_cb) #cboxContent {
  	background: #FFF;
  	-webkit-border-radius: 6px;
  	margin: 5px;
  	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.7);
  	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.7);
  	border: 5px solid #fff;
	font-family:'robotolight',Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:1.5;
}

#colorbox:not(.zenario_admin_cb) #cboxLoadedContent {
	margin-bottom:0;
}

#colorbox:not(.zenario_admin_cb) #cboxTitle {
	bottom:0; 
	left:0; 
	color:#fff; 
	width:100%; 
	padding:0;
	width:calc(100% - 20px);
	padding:3px 10px;
	background:rgba(0,0,0,0.6);
	text-align:left;
}

#colorbox:not(.zenario_admin_cb) #cboxClose {
	min-width:auto;
	width:20px;
	height:20px;
	top:5px;
	right:5px;
}

#colorbox:not(.zenario_admin_cb) #cboxClose:before, 
#colorbox:not(.zenario_admin_cb) #cboxClose:after {
  position: absolute;
  left: 10px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #000;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#colorbox:not(.zenario_admin_cb) #cboxClose:hover:before, 
#colorbox:not(.zenario_admin_cb) #cboxClose:hover:after {
  background-color: #2a98ce;
}

#colorbox:not(.zenario_admin_cb) #cboxClose:before {
  transform: rotate(45deg);
}
#colorbox:not(.zenario_admin_cb) #cboxClose:after {
  transform: rotate(-45deg);
}

#colorbox:not(.zenario_admin_cb) #cboxPrevious,
#colorbox:not(.zenario_admin_cb) #cboxNext {
	display: inline-block;
	width: 12px;
	height: 12px;
	top:50%;
}

#colorbox:not(.zenario_admin_cb) #cboxCurrent {
	display:none !important;
}

#colorbox:not(.zenario_admin_cb) #cboxPrevious:after,
#colorbox:not(.zenario_admin_cb) #cboxNext:after {
	content: '';
	display: inline-block;
	height: 12px;
	width: 12px;
	position: absolute;
	left: 0;
	top: 0;
	border:0;
	border-bottom:2px solid #000;
	border-right:2px solid #000;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#colorbox:not(.zenario_admin_cb) #cboxPrevious:hover:after,
#colorbox:not(.zenario_admin_cb) #cboxNext:hover:after {
  border-color: #2a98ce;
}

#colorbox:not(.zenario_admin_cb) #cboxClose,
#colorbox:not(.zenario_admin_cb) #cboxClose:before, 
#colorbox:not(.zenario_admin_cb) #cboxClose:after,
#colorbox:not(.zenario_admin_cb) #cboxPrevious,
#colorbox:not(.zenario_admin_cb) #cboxNext,
#colorbox:not(.zenario_admin_cb) #cboxPrevious:after,
#colorbox:not(.zenario_admin_cb) #cboxNext:after {
	outline:none;
	outline:0;
}

#colorbox:not(.zenario_admin_cb) #cboxPrevious {
	left:15px;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

#colorbox:not(.zenario_admin_cb) #cboxNext {
	right:15px;
	left:auto;
	-moz-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}

#colorbox:not(.zenario_admin_cb) #cboxLoadingGraphic {
	display: inline-block;
  	width: 40px;
  	height: 40px;
  	right:0;
  	bottom:0;
  	margin:auto;
  	background:none;
}

#colorbox:not(.zenario_admin_cb) #cboxLoadingGraphic:after {
  content: " ";
  display: block;
  width: 34px;
  height: 34px;
  margin: 0;
  border-radius: 50%;
  border: 4px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  Colorbox 
--------------------------------------------------------------------------------------------------*/

#colorbox:not(.zenario_admin_cb) form {
	margin:0;
	padding:0;
}

#colorbox:not(.zenario_admin_cb) input,
#colorbox:not(.zenario_admin_cb) button,
#colorbox:not(.zenario_admin_cb) select,
#colorbox:not(.zenario_admin_cb) textarea,
#colorbox:not(.zenario_admin_cb) select {
	font-size:1em;
	font-family:'robotolight',Arial, Helvetica, sans-serif;
}

#colorbox:not(.zenario_admin_cb) input[type='text'],
#colorbox:not(.zenario_admin_cb) input[type='password'],
#colorbox:not(.zenario_admin_cb) input[type='email'],
#colorbox:not(.zenario_admin_cb) input[type='search'],
#colorbox:not(.zenario_admin_cb) textarea,
#colorbox:not(.zenario_admin_cb) select {
	width:calc(100% - 22px);
	padding:0 10px;
	color:#525151;
	background:#FFF;
	border:1px solid #b8babc;
}

#colorbox:not(.zenario_admin_cb) select {
	width:100%;
}

#colorbox:not(.zenario_admin_cb) textarea {
	padding-top:10px;
	padding-bottom:10px;
}

#colorbox:not(.zenario_admin_cb) input[type='text'],
#colorbox:not(.zenario_admin_cb) input[type='password'],
#colorbox:not(.zenario_admin_cb) input[type='email'],
#colorbox:not(.zenario_admin_cb) input[type='search'],
#colorbox:not(.zenario_admin_cb) select {
	height:30px;
	line-height:30px;
	font-size:1em;
}

#colorbox:not(.zenario_admin_cb) input[type='text'],
#colorbox:not(.zenario_admin_cb) input[type='password'],
#colorbox:not(.zenario_admin_cb) input[type='email'],
#colorbox:not(.zenario_admin_cb) input[type='search'],
#colorbox:not(.zenario_admin_cb) select,
#colorbox:not(.zenario_admin_cb) textarea {
   	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#colorbox:not(.zenario_admin_cb) input[readonly=''],
#colorbox:not(.zenario_admin_cb) input[disabled='disabled'],
#colorbox:not(.zenario_admin_cb) textarea[disabled='disabled'],
#colorbox:not(.zenario_admin_cb) select[disabled='disabled'] {
	color:#888 !important;
	background-color:#DFDFDF !important;
	border-color:#DFDFDF !important;
	opacity:0.8 !important;
}

#colorbox:not(.zenario_admin_cb) input[type='file'] {
	width:100%;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

#colorbox:not(.zenario_admin_cb) input[type='submit'],
#colorbox:not(.zenario_admin_cb) input[type='button'],
#colorbox:not(.zenario_admin_cb) button:not(#cboxClose):not(#cboxPrevious):not(#cboxNext) {
	display:inline-block;
	height:36px;
	line-height:32px;
	padding: 0 15px;
	border:0;
	background:#000;
	color:#FFF;
	text-align:center;
	font-size:0.938em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
  	cursor:pointer;
}

#colorbox:not(.zenario_admin_cb) input[type='submit']:hover,
#colorbox:not(.zenario_admin_cb) input[type='button']:hover,
#colorbox:not(.zenario_admin_cb) button:not(#cboxClose):not(#cboxPrevious):not(#cboxNext):hover {
	background:#b8babc;
	color:#282e35;
	text-decoration:none;
}

#colorbox.zenario_slot,
#colorbox.zenario_slot #cboxWrapper {	
	width:540px !important;
}

#colorbox.zenario_slot #cboxContent,
#colorbox.zenario_slot #cboxLoadedContent {	
	width:520px !important;
}

#colorbox.zenario_slot #cboxTitle {
	display:none !important;
}

#colorbox.caption_hidden #cboxTitle {
	display:none !important;
}

#colorbox .form_wrapper {
	padding:1em 30px;
}

#colorbox.zenario_user_forms .form_wrapper .user_form form {
	padding:0;
}

#colorbox .form_wrapper .form_field {
	margin:0;
}

#colorbox .form_wrapper .form_buttons {
	text-align:center;
	padding-bottom:1em;
}