/* Reset element properties
--------------------------------------------------------------------------------------------------*/

.zenario_skin input[type="submit"],
.zenario_skin input[type="button"],
.zenario_skin button {
	-webkit-appearance: none; /*Safari/Chrome*/
    -moz-appearance: none; /*Firefox*/
    appearance: none;

    -webkit-border-radius: 0;
}

::-moz-placeholder {
	opacity: 1;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

/* Form fields
--------------------------------------------------------------------------------------------------*/

.zenario_skin form {
	margin:0;
	padding:0;
}

.zenario_slot:not(.zenario_comments) input,
.zenario_slot:not(.zenario_comments) button,
.zenario_slot:not(.zenario_comments) select,
.zenario_slot:not(.zenario_comments) textarea,
.zenario_slot:not(.zenario_comments) select {
	font-size:1em;
	font-family:'robotolight',Arial, Helvetica, sans-serif;
}

body.ie .zenario_skin input[type='password'] {
	font-family: Helvetica, Arial, sans-serif;
}

.zenario_skin input[type='text'],
.zenario_skin input[type='password'],
.zenario_skin input[type='email'],
.zenario_skin input[type='search'],
.zenario_skin textarea,
.zenario_skin select {
	width:calc(100% - 22px);
	padding:0 10px;
	color:#525151;
	background:#FFF;
	border:1px solid #c3c3c3;
}

.zenario_skin select {
	width:100%;
}

.zenario_skin textarea {
	padding-top:10px;
	padding-bottom:10px;
}

.zenario_skin input[type='text'],
.zenario_skin input[type='password'],
.zenario_skin input[type='email'],
.zenario_skin input[type='search'],
.zenario_skin select {
	height:40px;
	line-height:40px;
	font-size:1em;
}

.zenario_skin input[readonly=''],
.zenario_skin input[disabled='disabled'],
.zenario_skin textarea[disabled='disabled'],
.zenario_skin select[disabled='disabled'] {
	color:#888 !important;
	background-color:#DFDFDF !important;
	border-color:#DFDFDF !important;
	opacity:0.8 !important;
}

.zenario_skin input[type='file'] {
	width:100%;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.zenario_skin input[type='text']:focus,
.zenario_skin input[type='password']:focus,
.zenario_skin input[type='email']:focus,
.zenario_skin textarea:focus,
.zenario_skin select:focus {
	outline:none;
	outline:0;
	box-shadow: inset 0px 0px 0 1px #80dd78;
}

.zenario_skin input[readonly]:focus,
.zenario_skin textarea[readonly]:focus,
.zenario_skin select[readonly]:focus {
	box-shadow:none;
}

.form_field.mandatory .field_title {
	font-weight:600;
}

.form_field.mandatory .field_title:after {
	content:" *";
	color:red;
}

.form_field.mandatory input[type='text'], 
.form_field.mandatory input[type='password'], 
.form_field.mandatory input[type='email'], 
.form_field.mandatory textarea, 
.form_field.mandatory select,
.field_checkbox.mandatory input[type=checkbox] + label:before,
.field_radios.mandatory input[type=radio] + label:before {
	border-color:#171717;
}

.form_field.has_error input[type='text'], 
.form_field.has_error input[type='password'], 
.form_field.has_error input[type='email'], 
.form_field.has_error input[type='search'], 
.form_field.has_error textarea, 
.form_field.has_error select {
	border-color:#C10516;
}

.form_field.mandatory.has_error input[type='text'], 
.form_field.mandatory.has_error input[type='password'], 
.form_field.mandatory.has_error input[type='email'], 
.form_field.mandatory.has_error textarea, 
.form_field.mandatory.has_error select,
.field_checkbox.mandatory.has_error input[type=checkbox] + label:before,
.field_radios.mandatory.has_error input[type=radio] + label:before {
    box-shadow: inset 0px 0px 0 1px #C10516;
}

.field_checkbox.mandatory.has_error input[type=checkbox] + label:before,
.field_radios.mandatory.has_error input[type=radio] + label:before {
	border-color:#C10516;
}

.form_field .note_to_user {
	font-size:0.857em;
	font-style:italic;
}

.form_field .note_to_user a {
	text-decoration:underline;
}

.form_field.field_checkbox input {
	float:left;
	margin-top:4px;
}

.form_field.field_checkbox .field_title {
	display:inline-block;
	float:left;
	width:calc(100% - 30px);
}

.form_field.field_checkbox .note_to_user {
	clear:both;
	float:none;
}

.form_field.field_checkbox > .note_to_user {
	padding-left:30px;
}

.extranet_wrap .form_field.field_checkbox .field_title {
	padding-left:8px;
}

.extranet_wrap .form_field.field_checkbox > .note_to_user {
	padding-left:20px;
}

/* Fix for captcha
--------------------------------------------------------------------------------------------------*/

#recaptcha_widget_div {
	margin-top:10px;
}

#recaptcha_area, 
#recaptcha_table { 
	line-height: 0!important;
}

.recaptchatable a, 
.recaptchatable a:hover {
	color:#A51400 !important;
}

.recaptcha_only_if_privacy {
	position:absolute !important;
	width:100px;
	left:185px !important;
}

/* Messages
--------------------------------------------------------------------------------------------------*/

.error,
.success,
.warning,
.extranet_error,
.extranet_message,
.extranet_confirm,
.form_error {
	display:block;
	margin-bottom:8px;
}

/* - Error ---------------------------------------------------------------------------------------*/
	
	.error,
	.contact_form_error,
	.extranet_error,
	.form_error {	
		color:#AF0615;
	}
	
/* - Sucess --------------------------------------------------------------------------------------*/
	
	.success,
	.contact_form_message,
	.extranet_message {
		color:#54a44d;
	}
	
	.confirm_email_text {
		text-align:center;
	}

/* - Warning -------------------------------------------------------------------------------------*/

	.extranet_confirm,
	.warning {
		color:#817134;
	}