.zenario_skin {
	font-family:'robotolight',Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:22px;
}

.zenario_skin h1,
.zenario_skin h2,
.zenario_skin h3,
.zenario_skin h4,
.zenario_skin h5,
.zenario_skin h6,
#colorbox h1, #colorbox h2, #colorbox h3, #colorbox h4, #colorbox h5, #colorbox h6 {
	font-family: 'cardoregular',Arial, Helvetica, sans-serif;
}

.zenario_skin table {
	font-size:1em;
}

.zenario_skin {
	color:#525151;
}

.zenario_skin h1,
.zenario_skin h2,
.zenario_skin h3,
.zenario_skin h4,
.zenario_skin h5,
.zenario_skin h6,
.zenario_skin a,
#colorbox h1, #colorbox h2, #colorbox h3, #colorbox h4, #colorbox h5, #colorbox h6 {
	color:#000;
}

.zenario_skin h1 {
	font-size:2.5em;
}

.zenario_skin h2,
#colorbox h1 {
	font-size:2em;
}

.zenario_skin h3,
#colorbox h2 {
	font-size:1.5em;
}

.zenario_skin h4,
#colorbox h3 {
	font-size:1.375em;
}

.zenario_skin h5,
#colorbox h4 {
	font-size:1.25em;
}

.zenario_skin h6,
#colorbox h5 {
	font-size:1.125em;
}

#colorbox h6 {
	font-size:1em;
}

.zenario_skin h1,
.zenario_skin h2,
.zenario_skin h3,
.zenario_skin h4,
.zenario_skin h5,
.zenario_skin h6 {
	line-height:1.2em;
}

.zenario_skin h1,
.zenario_skin h2,
.zenario_skin h3,
.zenario_skin h4,
.zenario_skin h5,
.zenario_skin h6 {
	margin-bottom:15px;
}

.zenario_skin p {
	line-height:1.5em;
	margin-bottom:15px;
}

.zenario_skin a {
	text-decoration:none;
}

.zenario_skin a:hover {
	text-decoration:underline;
}

.zenario_skin ul,
.zenario_skin ol {
	padding:0 0 15px 10px;
	margin-left:30px;
}

.zenario_skin ul li {
	list-style:disc;
	line-height:1.5em;
}

.zenario_skin hr {
	border:0;
	color:#CCC;
	background-color:#CCC;
	height:2px;
}

.zenario_skin table {
	width:100%;
	margin-bottom:15px;
}

.zenario_skin table tr th {
	background:#CCC;
}

.zenario_skin table tr th,
.zenario_skin table tr td {
	border:1px solid #ccc;
	padding:10px;
}

.zenario_skin blockquote {
  	position: relative; 
    text-align: center;
    padding: 1rem 1.2rem;
    width: 80%;  /* create space for the quotes */
    color: #484748;
    margin: 30px auto 2rem;
	background:
    linear-gradient(to right, #000000 4px, transparent 4px) 0 100%,
    linear-gradient(to left, #000000 4px, transparent 4px) 100% 0,
    linear-gradient(to bottom, #000000 4px, transparent 4px) 100% 0,
    linear-gradient(to top, #000000 4px, transparent 4px) 0 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    font-style:italic;
}

.zenario_skin blockquote:before,
.zenario_skin blockquote:after{
    font-family: FontAwesome;
    position: absolute;
    color: #000000;
    font-size: 34px;
}

.zenario_skin blockquote:before{
    content: "\f10d";
    top: -12px;
    margin-right: -20px;
    right: 100%;
}
.zenario_skin blockquote:after{
    content: "\f10e";
    margin-left: -20px;
    left: 100%;  
    top: auto;
    bottom: -20px;
}

/*  Styles for text.
	These rules are listed in the description.yaml file in the 'style_formats', 
	so they will be selectable in in the WYSIWYG Editor.  
--------------------------------------------------------------------------------------------------*/

.x-small {
	font-size: .7em;
}

.small {
	font-size: .85em;
}

.medium {
	font-size: 1em;
}

.large {
	font-size: 1.3em;
	line-height:1.2em;
}

.x-large {
	font-size: 2em;
	line-height:1.2em;
}

.code {
    font-family: monospace;
}