.zenario_slideshow {
	text-align:center;
}

.zenario_slideshow .nest_wrap {
	position:relative;
	z-index:19;
	display:inline-block;
	margin:auto;
}

.zenario_slideshow .nest_wrap,
.zenario_slideshow .nest_wrap .nest_plugins {
	width:100%;
}

.zenario_slideshow .zenario_banner > div, 
.zenario_slideshow .zenario_banner > a {
	width:auto;
	background:transparent;
}

.zenario_slideshow .zenario_banner {
	position:relative;
}

.zenario_slideshow .zenario_banner img {
	max-width:100% !important;
	height:auto !important;
}

.zenario_slideshow .zenario_banner .banner_content {
	position:absolute;
	z-index:20;
	top:10%;
	left:0;
	right:0;
	text-align:center;
	max-width:1230px;
	margin:auto;
	padding:0 20px 5px;
	overflow:hidden;
}

.zenario_slideshow .zenario_banner .banner_content * {
	color:#000;
	font-family: 'cardoregular',Arial, Helvetica, sans-serif;
	text-shadow:0 0 8px rgba(255,255,255,0.7);
}

.zenario_slideshow .zenario_banner .banner_content .banner_title h2 {
	font-size: 3.625em;
	font-size: 3.625vh;
	line-height:1.25em;
}

.zenario_slideshow .zenario_banner .banner_content .banner_text {
	font-size: 2.125em;
	font-size: 2.125vh;
	line-height:1.25em;
}

.zenario_slideshow .nest_tabs {
	position:absolute;
	bottom:-25px !important;
	width:100% !important;
	height:24px !important;
	text-align:center;
	overflow:hidden;
}

.zenario_slideshow .nest_tabs ul,
.zenario_slideshow .nest_tabs ul li {
	list-style:none;
	padding:0;
	margin:0;
	display:inline-block;
}

.zenario_slideshow .nest_tabs ul li a {
	float:left;
	position:static !important;
	width:9px;
	height:9px;
	margin:0 2px 0;
	background:#CCC;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display:inline-block;
	
	text-indent:-99px;
	line-height:0;
	font-size:0;
}

.zenario_slideshow .nest_tabs ul li.tab_on a {
	background:#333;
}

.zenario_slideshow a.prev span,
.zenario_slideshow a.next span {
	display:none;
}

.zenario_slideshow a.prev,
.zenario_slideshow a.next {
	position:absolute;
	z-index:101;
	top:50%;
	display:inline-block;
	text-align:center;
	color:#FFF;
	font-size:30px;
	line-height:1.3em;
	font-family: 'FontAwesome';
	opacity:0.5;
   	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}

.zenario_slideshow a.prev:hover,
.zenario_slideshow a.next:hover {
	text-decoration:none;
	opacity:1;
}

.zenario_slideshow a.prev {
	left:50px;
}

.zenario_slideshow a.next {
	right:50px;
}

.zenario_slideshow a.prev:before {
	content: "\f137"; /* fa-angle-left */
}

.zenario_slideshow a.next:after {
	content: "\f138"; /* fa-angle-right */
}