.zenario_menu ul,
.zenario_menu ul li {
	list-style:none;
	margin:0;
	padding:0;
}

.zenario_menu__default_style {
	position:relative;
	height:80px;
}

.zenario_menu__default_style,
.zenario_menu__default_style .wrap_menu_inner > ul,
.zenario_menu__default_style .wrap_menu_inner > ul li,
.zenario_menu__default_style .wrap_menu_inner > ul > ul {
	position:relative;
}

.zenario_menu__default_style .wrap_menu_inner > ul,
.zenario_menu__default_style .wrap_menu_inner > ul > li,
.zenario_menu__default_style .wrap_menu_inner > ul > li > a,
.zenario_menu__default_style .wrap_menu_inner > ul > li > em {
	display:inline-block;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li {
	padding:0 15px;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li > a,
.zenario_menu__default_style .wrap_menu_inner > ul > li > em,
.zenario_menu__default_style .wrap_menu_inner > ul > li > span.menu_image {
	height:50px;
	padding-top:30px;
}

.zenario_menu__default_style ul li,
.zenario_menu__default_style ul li a {
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.zenario_menu__default_style ul {
	font-family:'robotoregular',Arial, Helvetica, sans-serif;
}

.zenario_menu__default_style ul ul {
	font-family:'robotolight',Arial, Helvetica, sans-serif;
}

/* Level 2 */

.zenario_menu__default_style ul li li,
.zenario_menu__default_style ul li li a {
	display:block;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li li a {
	height:auto;
	position:relative;
	padding:7px 15px 7px 10px;
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li.has_child > a:after,
.zenario_menu__default_style .wrap_menu_inner > ul > li > ul > li.has_child a:after {
	font-family: 'FontAwesome';
}

.zenario_menu__default_style .wrap_menu_inner > ul > li.has_child > a:after {
	content:'\f107';
	padding-left:5px;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li.has_child.link_external > a:after {
	padding-left: 30px;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li.has_child.link_external > a:before {
  	position:absolute;
  	right:30px;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li > ul > li.has_child > a:after,
.zenario_menu__default_style .wrap_menu_inner > ul > li > ul > li.has_child > ul > li.has_child > a:after,
.zenario_menu__default_style .wrap_menu_inner > ul > li > ul > li.has_child > ul > li.has_child > ul > li.has_child > a:after {
	content:'\f105';
	position:absolute;
	right:8px;
	top:7px;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li > ul {
	position:absolute;
	z-index:30;
	top:80px;
	left:0;
	width:220px;
	float:none;
	margin:0;
	padding:0;
	background:#00659b;
	-webkit-box-shadow: 0px 0px 7.68px 0.32px rgba(0, 0, 0, 0.28);
	box-shadow: 0px 0px 7.68px 0.32px rgba(0, 0, 0, 0.28);
}

.zenario_menu__default_style .wrap_menu_inner > ul > li > ul:after {
	bottom: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(103, 103, 103, 0);
	border-bottom-color: #00659b;
	border-width: 10px;
	margin-left: -10px;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li > ul {
	opacity:0;
	visibility:hidden;
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li:hover > ul {
	opacity:1;
	visibility:visible;
}

body.ie8 .zenario_menu__default_style .wrap_menu_inner > ul > li > ul,
body.ie9 .zenario_menu__default_style .wrap_menu_inner > ul > li > ul {
	display: none;
}

body.ie8 .zenario_menu__default_style .wrap_menu_inner > ul > li:hover > ul,
body.ie9 .zenario_menu__default_style .wrap_menu_inner > ul > li:hover > ul {
	display: block;
}

.zenario_menu__default_style ul li.node_mobile,
.zenario_menu__default_style .node_responsive {
	display:none;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li > ul > li {
	font-size:0.938em;
}

/* Level 3+ */

.zenario_menu__default_style .wrap_menu_inner > ul > li > ul > li ul {
	position: absolute;
    top: 0;
    left: 220px;
	width: 180px;
	background:#2a98ce;
	border-left:1px solid #fff;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li li li {
	font-size:1em;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li li li a {
	padding-top:6px;
	padding-bottom:6px;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li > ul > li ul {
	opacity:0;
	visibility:hidden;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li > ul > li:hover > ul,
.zenario_menu__default_style .wrap_menu_inner > ul > li > ul > li:hover > ul > li:hover > ul,
.zenario_menu__default_style .wrap_menu_inner > ul > li > ul > li:hover > ul > li:hover > ul > li:hover > ul {
	opacity:1;
	visibility:visible;
}

/* Level 4 + */

.zenario_menu__default_style .wrap_menu_inner > ul > li > ul > li ul ul {
	left:180px;
}

/* Colors and fonts */

.zenario_menu__default_style .wrap_menu_inner > ul > li {
	text-transform:uppercase;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li li {
	text-transform:none;
}

.zenario_menu__default_style ul li a,
.zenario_menu__default_style ul li a:hover {
	text-decoration:none;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li a {
	color:#000;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li:hover a {
	color:#00659b;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li.level1_on a {
	color:#2a98ce;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li.level1_on li.level2_on {
	background-color:#225474;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li li a,
.zenario_menu__default_style .wrap_menu_inner > ul > li li a:hover,
.zenario_menu__default_style .wrap_menu_inner > ul > li:hover li a,
.zenario_menu__default_style .wrap_menu_inner > ul > li.level1_on li a {
	color:#FFF;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li > ul > li > ul > li a:hover {
	color:#B0E0E6;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li.level1_on li.level2_on li.level3_on > a,
.zenario_menu__default_style .wrap_menu_inner > ul > li.level1_on li.level2_on li.level3_on > em > a,
.zenario_menu__default_style .wrap_menu_inner > ul > li.level1_on li.level2_on li.level3_on li.level4_on > a,
.zenario_menu__default_style .wrap_menu_inner > ul > li.level1_on li.level2_on li.level3_on li.level4_on > em > a,
.zenario_menu__default_style .wrap_menu_inner > ul > li.level1_on li.level2_on li.level3_on li.level4_on li.level5_on > a,
.zenario_menu__default_style .wrap_menu_inner > ul > li.level1_on li.level2_on li.level3_on li.level4_on li.level5_on > em > a {
	color:#225474;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li > ul > li:hover {
	background-color:#2a98ce;
}

/* menu image */

.zenario_menu__default_style .wrap_menu_inner > ul > li span.menu_image {
	float:left;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li span.menu_image img {
	width:auto !important;
	max-height:22px !important;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li span.menu_image a {
	padding-right:3px;
}

.zenario_menu__default_style .wrap_menu_inner > ul > li li span.menu_image a {
	padding:7px 5px 0 10px;
}

/* Admin hack */

.zenario_adminLoggedIn .zenario_menu__default_style .zenario_slot_padding {
	display:none;
}

/* More button mode 
--------------------------------------------------------------------------------------- */

.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul > li:not(.zenario_menu_node_more) {
	position:relative;
}

.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul > li > .menu_more_text {
	color:#000;
	display:inline-block;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
  	cursor:pointer;
}

.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul > li > .menu_more_text:after {
	font-family: 'FontAwesome';
	content:'\f107';
	padding-left:5px;
}

.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul > li.zenario_menu_node_more:hover > .menu_more_text {
	color:#00659b;
}

.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul > li > a, 
.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul > li > span.menu_image,
.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul > li > .menu_more_text {
	height:50px;
	padding-top:30px;
}

.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul, 
.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul li.zenario_menu_node_more {
	position:initial;
}

.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul li.zenario_menu_node_more .menu_more_div {
    position: absolute;
    background: #FFF;
    right: 0;
    top:70px;
    
    
    max-height:0;
    transition: max-height 0.2s ease-in; 
    overflow:hidden;
    box-shadow:inset 0 0 1px 1px #f0f0f0;
}

.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul li.zenario_menu_node_more:hover .menu_more_div {
	max-height:56px;
}

.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul li.zenario_menu_node_more .menu_more_div ul {
	float:left;
}

.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul li.zenario_menu_node_more .menu_more_div ul li {
	padding:0;
}

.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul li.zenario_menu_node_more .menu_more_div ul li a {
	height:40px;
	line-height: 38px;
	padding-left:20px;
	padding-right:20px;
	text-transform:uppercase;
	color:#000;
}

.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul li.zenario_menu_node_more .menu_more_div ul li a:hover {
	color:#00659b;
}

.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul li.zenario_menu_node_more .menu_more_div ul li.level1_on a {
	color:#2a98ce;
}

.zenario_menu__default_style .menu_with_more_button .wrap_menu_inner > ul li.zenario_menu_node_more .menu_more_div ul li a.unlinked_menu_item .link_error {
	color:#ccc;
}