.zenario_plugin_nest .nest_wrap {
	position:relative;
}

.zenario_plugin_nest .nest_wrap:before,
.zenario_plugin_nest .nest_wrap:after {
	content: '.';
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	display: block;
	overflow: hidden;
	visibility: hidden;
}

.zenario_plugin_nest .nest_wrap:after {
	clear: both;
}

.zenario_plugin_nest .nest_plugins {
	background:transparent !important;
}

/* Nest tabs */

.zenario_plugin_nest .nest_tabs {
	overflow:hidden;
}

.zenario_plugin_nest .nest_tabs ul,
.zenario_plugin_nest .nest_tabs ul li {
	list-style:none;
	padding:0;
	margin:0;
	display:inline-block;
	float:left;
}

.zenario_plugin_nest .nest_tabs ul {
	margin-right:2px;
}

.zenario_plugin_nest .nest_tabs ul li a {
	display:inline-block;
	padding:5px 10px;
	background:#f0f0f0;
}

.zenario_plugin_nest .nest_tabs ul li a:hover {
	text-decoration:none;
}

.zenario_plugin_nest .nest_tabs ul li.tab_on a {
	color:#2a98ce; 
}

/* Indicators */

.zenario_plugin_nest .nest_tabs.indicators {
	position:absolute;
	bottom:-25px !important;
	width:100% !important;
	height:24px !important;
	text-align:center;
	overflow:hidden;
	
	display: flex;
	justify-content: center;
}

.zenario_plugin_nest .nest_tabs.indicators ul li a {
	float:left;
	position:static;
	width:9px;
	height:9px;
	margin:0 2px 0;
	padding:0;
	background:#CCC;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	
	text-indent:-99px;
	line-height:0;
	font-size:0;
}

.zenario_plugin_nest .nest_tabs.indicators ul li.tab_on a {
	background:#333;
}

/* Prev next arrows */

.zenario_plugin_nest .prev,
.zenario_plugin_nest .next {
	color:rgba(0,0,0,0.9);
}

.zenario_plugin_nest .prev:hover,
.zenario_plugin_nest .next:hover {
	color:rgba(0,0,0,0.7);
}

.zenario_plugin_nest .prev_disabled,
.zenario_plugin_nest .next_disabled,
.zenario_plugin_nest .prev_disabled:hover,
.zenario_plugin_nest .next_disabled:hover {
	color:rgba(0,0,0,0.4);
	cursor:default;
}

.zenario_plugin_nest .prev,
.zenario_plugin_nest .prev_disabled,
.zenario_plugin_nest .next,
.zenario_plugin_nest .next_disabled {
	margin:0 5px;
	font-size:30px;
	line-height:1.3em;
	font-family: 'FontAwesome';
	opacity:0.5;
   	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}

.zenario_plugin_nest .prev,
.zenario_plugin_nest .prev_disabled {
	float:left;
}

.zenario_plugin_nest .next,
.zenario_plugin_nest .next_disabled {
	float:right;
}

.zenario_plugin_nest .prev:hover,
.zenario_plugin_nest .prev_disabled:hover,
.zenario_plugin_nest .next:hover,
.zenario_plugin_nest .next_disabled:hover {
	text-decoration:none;
}

.zenario_plugin_nest .prev:before,
.zenario_plugin_nest .prev_disabled:before {
	content: "\f137"; /* fa-angle-left */
}

.zenario_plugin_nest .next:after,
.zenario_plugin_nest .next_disabled:after {
	content: "\f138"; /* fa-angle-right */
}

.zenario_plugin_nest .prev span,
.zenario_plugin_nest .prev_disabled span,
.zenario_plugin_nest .next span,
.zenario_plugin_nest .next_disabled span {
	display:none;
}

/* Nest top bar
--------------------------------------------------------------------------------------------------*/

.zenario_plugin_nest.nest_top_bar .nest_plugins_wrap {
	position:relative;
}

.zenario_plugin_nest.nest_top_bar .zenario_language_picker .lang_pick_box {
	font-size:0.813em;
	position:relative;
	display:inline-block;
}

/* Full boxes  
--------------------------------------------------------------------------------------------------*/

.zenario_plugin_nest.nest_full_boxes {
	overflow:hidden;
}

.zenario_plugin_nest.nest_full_boxes .zenario_slot {
	text-align:center;
}

.zenario_plugin_nest.nest_full_boxes .zenario_slot .banner_image {
	padding-bottom:20px;
}

.zenario_plugin_nest.nest_full_boxes .zenario_slot .banner_title h2 {
	font-size:1.500em;
	margin-bottom:10px;
}

.zenario_plugin_nest.nest_full_boxes *,
.zenario_plugin_nest.nest_full_boxes h2,
.zenario_plugin_nest.nest_full_boxes a {
	color:#FFF;
}

/* Portfolio
--------------------------------------------------------------------------------------------------*/

.nest_portfolio.zenario_plugin_nest {
	overflow:hidden;
}

.nest_portfolio.zenario_plugin_nest .nest_title h1 {
	font-size:3em;
}

.nest_portfolio.zenario_plugin_nest .zenario_slot {
	margin-bottom:22px;
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_wrap_inner {
	position:relative;
	display:inline-block;
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_content {
	opacity:0;
	visibility:hidden;
	position:absolute;
	z-index:2;
	overflow:hidden;
	height:calc(100% - 40px);
	padding:20px;
	background:rgba(0,0,0,0.5);
	left:0;
	right:0;
  	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	text-align:center;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner:hover .banner_content {
	opacity:1;
	visibility:visible;
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_content * {
	color:#FFF;
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_content .banner_title h2 {
	font-size:1.6em;
	margin-bottom:5px;
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_content .banner_text {
	overflow:hidden;
	height:calc(100% - 70px);
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_image picture,
.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_image picture img {
	display:block;
}

.nest_portfolio.zenario_plugin_nest .span4 .zenario_banner .banner_content .banner_more {
	font-family:'robotolight',Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	padding-top:8px;
}

/* Accordion (note: make sure you have the JS file)
--------------------------------------------------------------------------------------------------*/

.nest_accordion.zenario_plugin_nest .zenario_banner {
	margin-bottom:20px;
}

.nest_accordion.zenario_plugin_nest .zenario_banner .banner_title,
.nest_accordion.zenario_plugin_nest .zenario_banner .banner_text {
	background:#eee;
	padding:10px 20px;
}

.nest_accordion.zenario_plugin_nest .zenario_banner .banner_title {
	padding-bottom:15px;
	cursor:pointer;
}

.nest_accordion.zenario_plugin_nest .zenario_banner .banner_text {
	display:none;
	padding-top:5px;
}

.nest_accordion.zenario_plugin_nest .zenario_banner .banner_title > * {
	font-family:'robotolight',Arial, Helvetica, sans-serif;
	font-size:1.2em;
	margin:0;
	padding:0;
	position:relative;
	padding-right:10px;
}

.nest_accordion.zenario_plugin_nest .zenario_banner .banner_title > *:after {
	font-family:"FontAwesome";
	content:"\f107";
	position:absolute;
	right:0;
}

.nest_accordion.zenario_plugin_nest .zenario_banner.active .banner_title > *:after {
	content:"\f106";
}

.nest_accordion.zenario_plugin_nest .zenario_banner .banner_title *,
.nest_accordion.zenario_plugin_nest .zenario_banner .banner_title > *:after {
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.nest_accordion.zenario_plugin_nest .zenario_banner .banner_title:hover *,
.nest_accordion.zenario_plugin_nest .zenario_banner .banner_title:hover > *:after {
	color:#2a98ce;
}

/* Extra useful styles. Nested banners listing
--------------------------------------------------------------------------------------------------*/

.zenario_plugin_nest.nest_banners_listing .zenario_banner {
	margin-bottom:40px;
}

.zenario_plugin_nest.nest_banners_listing .zenario_banner .banner_title {
	padding:8px 20px 12px;
	background:#efefef;
	margin-bottom:15px;
}

.zenario_plugin_nest.nest_banners_listing .zenario_banner .banner_title > * {
	padding:0;
	margin:0;
}

.zenario_plugin_nest.nest_banners_listing .zenario_banner .banner_image {
	text-align:center;
	padding-top:20px;
}

.zenario_plugin_nest.nest_banners_listing .zenario_banner .banner_image img {
	margin:auto;
}

/* Extra useful styles. Nest paginate top
--------------------------------------------------------------------------------------------------*/

.zenario_plugin_nest.nest_paginate_top .nest_tabs {
	text-align:center;
}

.zenario_plugin_nest.nest_paginate_top .nest_tabs ul, 
.zenario_plugin_nest.nest_paginate_top .nest_tabs ul li {
	float:none;
}