.zenario_language_picker .lang_pick_box {
	display:flex;
	gap:10px;
  	align-items: center;
}

.zenario_language_picker .lang_pick_box .lang_choose_text,
.zenario_language_picker .lang_pick_box .lang_choices {
	display:inline-block;
}

.zenario_language_picker .lang_pick_box .lang_choices select {
	height:22px;
	padding:0 5px;
	-webkit-border-radius:0;
	border-radius:0;
	font-size: 0.857em;
}

.zenario_language_picker .lang_pick_box .lang_choices {
	display:flex;
	gap:8px;
}

.zenario_language_picker .lang_pick_box .lang_choices .lang_flag span {
	display:none;
}

.zenario_language_picker .lang_pick_box .lang_choices .lang_flag > a {
  	display: inline-block;
  	width: 100%;
  	height: 100%;
}