.zenario_html_snippet .zenario_wysiwyg:before,
.zenario_html_snippet .zenario_wysiwyg:after {
	content: '.';
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	display: block;
	overflow: hidden;
	visibility: hidden;
}

.zenario_html_snippet .zenario_wysiwyg:after {
	clear: both;
}

.zenario_html_snippet a {
	color:#2a98ce;
}

.zenario_html_snippet img {
	max-width:100% !important;
	height:auto !important;
	padding:20px;
}

.zenario_html_snippet img[align="right"] {
	padding-right:0;
}

.zenario_html_snippet img[align="left"] {
	padding-left:0;
}

.zenario_html_snippet blockquote {
  	position: relative; 
    text-align: center;
    padding: 1rem 1.2rem;
    width: 80%;  /* create space for the quotes */
    color: #484748;
    margin: 30px auto 2rem;
	background:
    linear-gradient(to right, #000000 4px, transparent 4px) 0 100%,
    linear-gradient(to left, #000000 4px, transparent 4px) 100% 0,
    linear-gradient(to bottom, #000000 4px, transparent 4px) 100% 0,
    linear-gradient(to top, #000000 4px, transparent 4px) 0 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    font-style:italic;
}

.zenario_html_snippet blockquote:before,
.zenario_html_snippet blockquote:after{
    font-family: FontAwesome;
    position: absolute;
    color: #000000;
    font-size: 34px;
}

.zenario_html_snippet blockquote:before{
    content: "\f10d";
    top: -12px;
    margin-right: -20px;
    right: 100%;
}

.zenario_html_snippet blockquote:after{
    content: "\f10e";
    margin-left: -20px;
    left: 100%;  
    top: auto;
    bottom: -20px;
}

.zenario_html_snippet p + h2,
.zenario_html_snippet p + h3,
.zenario_html_snippet p + h4 {
	margin-top:30px;
}

.zenario_html_snippet p + h5,
.zenario_html_snippet p + h6 {
	margin-top:20px;
}

/* Footer address
--------------------------------------------------------------------------------------------------*/

.zenario_html_snippet.content_address,
.zenario_html_snippet.content_address * {
	color:#fff;
}

.zenario_html_snippet.content_address h3 {
	font-size:1.4em;
	margin:0 0 5px;
}

/* Footer social
--------------------------------------------------------------------------------------------------*/

.zenario_html_snippet .social_links {
	padding-bottom:10px;
}

.zenario_html_snippet .social_links a {
	display: inline-block;
	font-size:30px;
	padding-left:10px;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.zenario_html_snippet .social_links a:hover i {
	opacity:0.85;
}

/* Preformatted
--------------------------------------------------------------------------------------------------*/

.zenario_html_snippet pre {
	margin-bottom:15px;
	padding:1em;
	background:#f5f2f0;
}

/* Format class defined on description.yaml : Image no padding
--------------------------------------------------------------------------------------------------*/

.zenario_html_snippet img.image_no_padding {
	padding:0;
}

/* Format class defined on description.yaml : Paragraph highlight
--------------------------------------------------------------------------------------------------*/
.zenario_html_snippet .paragraph_highlight {
	padding:15px;
	margin-bottom:15px;
	background:#2A46CE;
	color:#FFF;
}

/* Format class defined on description.yaml : Paragraph tip info
--------------------------------------------------------------------------------------------------*/

.zenario_html_snippet p.tip_info {
	position:relative;
	padding:15px 15px 15px 55px;
	background:#DEBC31;
}

.zenario_html_snippet p.tip_info,
.zenario_html_snippet p.tip_info a {
	color:#FFF;
}

.zenario_html_snippet p.tip_info a {
	text-decoration:underline;
}

.zenario_html_snippet p.tip_info:before {    
	font-family: "FontAwesome";
    content: "\f05a";
    padding-right: 10px;
    font-size: 30px;
    position: absolute;
    left: 15px;
    top: 15px;
}

/* Main site
--------------------------------------------------------------------------------------------------*/

.zenario_html_snippet p.main_site_link {
	margin:0;
	padding:0 0 0 14px;
	font-size:0.813em;
}

.zenario_html_snippet p.main_site_link:before {
  	font-family: 'FontAwesome';
  	content: "\f104";
  	font-size: 16px;
  	position: absolute;
  	top: 0;
  	left: 0;
  	padding-right: 5px;
}