a.zenario_push_pull-hamburger {
	display: block;
	overflow: hidden;
	width: 30px;
	padding: 10px;
}

a.zenario_push_pull-hamburger span {
	display:block;
	height:5px;
	margin:0 0 4px;
	background:#000;
}

.zenario_push_pull-menu,
.zenario_push_pull-panels,
.zenario_push_pull-panels>.zenario_push_pull-panel {
	margin:0;
	left:0;
	right:0;
	top:0;
	bottom:0;
	box-sizing:border-box
}

.zenario_push_pull-btn,
.zenario_push_pull-menu {
	box-sizing:border-box
}

.zenario_push_pull-wrapper {
	overflow-x:hidden;
	position:relative
}

.zenario_push_pull-panels,
.zenario_push_pull-panels>.zenario_push_pull-panel {
	position:absolute
}

.zenario_push_pull-panels {
	overflow:hidden
}

.zenario_push_pull-panels>.zenario_push_pull-panel {
	padding-top:40px;
	-webkit-overflow-scrolling:touch;
	overflow:scroll;
	overflow-x:hidden;
	overflow-y:auto;
}

.zenario_push_pull-menu .zenario_push_pull-navbar a,
.zenario_push_pull-listview>li>a, 
.zenario_push_pull-listview>li>span {
	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden;
}

.zenario_push_pull-btn {
	width:40px;
	height:40px;
	position:absolute;
	top:0
}

.zenario_push_pull-btn_next:after,
.zenario_push_pull-btn_prev:before {
	content:'';
	border:2px solid transparent;
	display:block;
	width:8px;
	height:8px;
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg)
}

.zenario_push_pull-btn_prev:before {
	border-right:none;
	border-bottom:none;
	left:17px
}

.zenario_push_pull-btn_next:after {
	border-top:none;
	border-left:none;
	right:23px
}

.zenario_push_pull-navbar {
	border-bottom:1px solid;
	border-color:inherit;
	text-align:center;
	line-height:20px;
	height:40px;
	padding:0 40px;
	margin:0;
	position:absolute;
	top:0;
	left:0;
	right:0
}

.zenario_push_pull-navbar>* {
	display:block;
	padding:10px 0
}

.zenario_push_pull-navbar .zenario_push_pull-btn:first-child {
	width:40px;
	right:auto;
	left:0;
	border-left:0;
}

.zenario_push_pull-menu .zenario_push_pull-navbar a,
.zenario_push_pull-menu .zenario_push_pull-navbar>* {
	color:#000
}

.zenario_push_pull-menu .zenario_push_pull-navbar a {
  	padding:10px;
}

.zenario_push_pull-menu>.zenario_push_pull-navbar {
	background:inherit;
	padding:0;
	z-index:3;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}

.zenario_push_pull-navbar[class*=zenario_push_pull-navbar-content-]>* {
	box-sizing:border-box;
	display:block;
	float:left
}

.zenario_push_pull-listview,.zenario_push_pull-listview>li {
	list-style:none;
	display:block;
	padding:0;
	margin:0
}

.zenario_push_pull-listview {
	font:inherit;
	font-size:14px;
	line-height:20px
}

.zenario_push_pull-listview>li {
	position:relative
}

.zenario_push_pull-listview>li,
.zenario_push_pull-listview>li .zenario_push_pull-btn_next,
.zenario_push_pull-listview>li .zenario_push_pull-btn_next:before,
.zenario_push_pull-listview>li:after {
	border-color:inherit
}

.zenario_push_pull-listview>li>a,
.zenario_push_pull-listview>li>span {
	color:inherit;
	display:block;
	padding:10px 10px 10px 20px;
	margin:0
}

.zenario_push_pull-listview>li.has_child>a:first-child {
	padding-right:60px;
}

.zenario_push_pull-listview>li:after {
	content:'';
	border-bottom-width:1px;
	border-bottom-style:solid;
	display:block;
	position:absolute;
	right:0;
	bottom:0;
	left:0
}

.zenario_push_pull-listview .zenario_push_pull-btn_next {
	width:50px;
	padding:0;
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	z-index:2
}

.zenario_push_pull-listview .zenario_push_pull-btn_next:before {
	content:'';
	border-left-width:1px;
	border-left-style:solid;
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0
}

.zenario_push_pull-listview .zenario_push_pull-btn_next+a,
.zenario_push_pull-listview .zenario_push_pull-btn_next+span {
	margin-right:50px
}

.zenario_push_pull-menu .zenario_push_pull-btn:after,
.zenario_push_pull-menu .zenario_push_pull-btn:before,
.zenario_push_pull-menu .zenario_push_pull-listview,
.zenario_push_pull-menu .zenario_push_pull-listview>li .zenario_push_pull-btn_next:after {
	border-color:#000;
}

.zenario_push_pull-menu .zenario_push_pull-listview>li a:not(.zenario_push_pull-btn_next){
	-webkit-tap-highlight-color:rgba(255,255,255,.5);
	tap-highlight-color:rgba(255,255,255,.5)
}

.zenario_push_pull-menu .zenario_push_pull-listview>li.zenario_push_pull-selected>a:not(.zenario_push_pull-btn_next),
.zenario_push_pull-menu .zenario_push_pull-listview>li.zenario_push_pull-selected>span{
	background:rgba(255,255,255,.5)
}

.zenario_push_pull-menu .zenario_push_pull-listview>li.zenario_push_pull-wrapper_opened.zenario_push_pull-vertical>.zenario_push_pull-panel,
.zenario_push_pull-menu .zenario_push_pull-listview>li.zenario_push_pull-wrapper_opened.zenario_push_pull-vertical>a.zenario_push_pull-btn_next{
	background:rgba(0,0,0,.05)
}

.zenario_push_pull-page {
	box-sizing:border-box;
}

body.mobile .zenario_push_pull-page {
	position:relative
}

.zenario_push_pull-slideout {
	-webkit-transition:-webkit-transform .4s ease;
	transition:-webkit-transform .4s ease;
	transition:transform .4s ease;
	transition:transform .4s ease,-webkit-transform .4s ease;
	z-index:1
}

html.zenario_push_pull-wrapper_opened {
	overflow-x:hidden;
	position:relative
}

html.zenario_push_pull-wrapper_opened a.zenario_push_pull-hamburger {
	height:30px;
}

html.zenario_push_pull-wrapper_opened a.zenario_push_pull-hamburger:before, 
html.zenario_push_pull-wrapper_opened a.zenario_push_pull-hamburger:after {
  position: absolute;
  left: 0;
  right:0;
  margin:auto;
  content: ' ';
  height: 24px;
  width: 5px;
  background-color: #000;
}

html.zenario_push_pull-wrapper_opened a.zenario_push_pull-hamburger:before {
  transform: rotate(45deg);
}

html.zenario_push_pull-wrapper_opened a.zenario_push_pull-hamburger:after {
  transform: rotate(-45deg);
}

html.zenario_push_pull-wrapper_opened a.zenario_push_pull-hamburger span {
	display:none;
}

html.zenario_push_pull-wrapper_blocking,
html.zenario_push_pull-wrapper_blocking body {
	overflow:hidden
}

.zenario_push_pull-wrapper__blocker {
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:2
}

html.zenario_push_pull-wrapper_blocking .zenario_push_pull-wrapper__blocker {
	display:block;
}

.zenario_push_pull-menu.zenario_push_pull-menu_offcanvas {
	z-index:1;
	display:none;
	position:fixed
}

.zenario_push_pull-menu_offcanvas {
	-webkit-transition:-webkit-transform .4s ease;
	transition:-webkit-transform .4s ease;
	transition:transform .4s ease;
	transition:transform .4s ease,-webkit-transform .4s ease;
	-webkit-transform:translate3d(-100%,0,0);
	transform:translate3d(-100%,0,0)
}

html.zenario_push_pull-wrapper_opening .zenario_push_pull-menu_offcanvas {
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}

.zenario_push_pull-menu {
	width:80%;
	min-width:140px;
	max-width:440px;
	padding:0;
	position:absolute;
	-webkit-text-size-adjust: 100%;
	background:#f3f3f3;
	border-color:#000;
	color:#000
}

html.zenario_push_pull-wrapper_opening .zenario_push_pull-slideout {
	-webkit-transform:translate3d(80%,0,0);
	transform:translate3d(80%,0,0)
}

.zenario_push_pull-sronly {
	text-indent:10px;
	overflow:hidden;
	display:block;
	width:1px;
	height:1px;
	position:absolute;
	z-index:-1
}

.zenario_push_pull-hidden { 
	display:none; 
}

.zenario_push_pull-panels > .zenario_push_pull-panel.zenario_push_pull-panel_opened {
	z-index: 1;
}

.zenario_push_pull-menu a,
.zenario_push_pull-menu a:hover,
.zenario_push_pull-navbar a,
.zenario_push_pull-navbar a:hover,
a.zenario_push_pull-hamburger,
html.zenario_push_pull-wrapper_opened a.zenario_push_pull-hamburger,
html.zenario_push_pull-wrapper_opened a.zenario_push_pull-hamburger:before {
	text-decoration:none;
}

.zenario_push_pull-listview > li,
.zenario_push_pull-listview > li > a, 
.zenario_push_pull-listview > li > span {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

@media all and (max-width:175px) {
	html.zenario_push_pull-wrapper_opening .zenario_push_pull-slideout {
		-webkit-transform:translate3d(140px,0,0);
		transform:translate3d(140px,0,0)
	}
}

@media all and (min-width:550px) {
	html.zenario_push_pull-wrapper_opening .zenario_push_pull-slideout {
		-webkit-transform:translate3d(440px,0,0);
		transform:translate3d(440px,0,0)
	}
}

/* Customized styles
--------------------------------------------------------------------------------------------------*/

a.zenario_push_pull-hamburger {
	position:absolute;
	z-index:99;
	top:0;
   	padding:14px 10px 8px;
}

.zenario_push_pull-panel .zenario_push_pull-navbar {
	background: #000000;
    border-bottom: 4px solid #ccc;
    font-size: 1.1em;
}

.zenario_push_pull-navbar,
.zenario_push_pull-listview {
	font-family:'robotolight',Arial, Helvetica, sans-serif;
}

.zenario_push_pull-panel.zenario_push_pull-panel_opened .zenario_push_pull-navbar,
.zenario_push_pull-navbar {
	text-transform:uppercase;
}

.zenario_push_pull-panels > .zenario_push_pull-panel > .zenario_push_pull-listview:first-child, 
.zenario_push_pull-panels > .zenario_push_pull-panel > .zenario_push_pull-navbar + .zenario_push_pull-listview {
    border-top: 1px solid #FFF;
}

.zenario_push_pull-menu {
	background:#f0f0f0;
}

.zenario_push_pull-listview {
	padding-top:4px;
}

.zenario_push_pull-listview > li > em a {
	display:block;
	padding:10px 10px 10px 20px;
}

.zenario_push_pull-navbar,
.zenario_push_pull-listview > li > a,
.zenario_push_pull-listview > li > em a, 
.zenario_push_pull-listview > li > span {
	color:#151515;
}

.zenario_push_pull-menu .zenario_push_pull-navbar a, 
.zenario_push_pull-menu .zenario_push_pull-navbar > * {
	color:#FFF;
}

.zenario_push_pull-navbar,
.zenario_push_pull-menu .zenario_push_pull-btn::after, 
.zenario_push_pull-menu .zenario_push_pull-btn::before,
.zenario_push_pull-listview > li, 
.zenario_push_pull-listview > li .zenario_push_pull-btn_next, 
.zenario_push_pull-listview > li .zenario_push_pull-btn_next::before, 
.zenario_push_pull-listview > li::after {
	border-color:#d9dadb;
}
 
.zenario_push_pull-menu .zenario_push_pull-listview > li .zenario_push_pull-btn_next::after {
	border-color:#2a98ce;
}

.zenario_push_pull-menu .zenario_push_pull-listview > li.level1_on .zenario_push_pull-btn_next::before,
.zenario_push_pull-menu .zenario_push_pull-listview > li.level2_on .zenario_push_pull-btn_next::before,
.zenario_push_pull-menu .zenario_push_pull-listview > li.level3_on .zenario_push_pull-btn_next::before,
.zenario_push_pull-menu .zenario_push_pull-listview > li.level4_on .zenario_push_pull-btn_next::before,
.zenario_push_pull-menu .zenario_push_pull-listview > li.level5_on .zenario_push_pull-btn_next::before,
.zenario_push_pull-menu .zenario_push_pull-listview > li.level1_on .zenario_push_pull-btn_next::after,
.zenario_push_pull-menu .zenario_push_pull-listview > li.level2_on .zenario_push_pull-btn_next::after,
.zenario_push_pull-menu .zenario_push_pull-listview > li.level3_on .zenario_push_pull-btn_next::after,
.zenario_push_pull-menu .zenario_push_pull-listview > li.level4_on .zenario_push_pull-btn_next::after,
.zenario_push_pull-menu .zenario_push_pull-listview > li.level5_on .zenario_push_pull-btn_next::after,
.zenario_push_pull-menu .zenario_push_pull-listview > li:hover .zenario_push_pull-btn_next,
.zenario_push_pull-menu .zenario_push_pull-listview > li:hover .zenario_push_pull-btn_next::before,
.zenario_push_pull-menu .zenario_push_pull-listview > li:hover .zenario_push_pull-btn_next::after {
	border-color:#FFF;
}

.zenario_push_pull-listview > li:hover > a, 
.zenario_push_pull-listview > li:hover > span,
.zenario_push_pull-listview > li.level1_on a,
.zenario_push_pull-listview > li.level2_on a,
.zenario_push_pull-listview > li.level3_on a,
.zenario_push_pull-listview > li.level4_on a,
.zenario_push_pull-listview > li.level5_on a {
	color:#FFF;
}

.zenario_push_pull-listview > li:hover,
.zenario_push_pull-listview > li.level1_on,
.zenario_push_pull-listview > li.level2_on,
.zenario_push_pull-listview > li.level3_on,
.zenario_push_pull-listview > li.level4_on,
.zenario_push_pull-listview > li.level5_on {
	background-color:#2a98ce;
}

/* Special nodes: Search, Sign in, Login and Home
--------------------------------------------------------------------------------------------------*/

.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special.search_box,
.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special a {
	padding:10px 10px 10px 20px;
}

.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special a {
	display:block;
	position:relative;
	padding-left:40px;
	border-bottom:1px solid #d9dadb;
	color:#151515;
}

.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special:hover a {
	color:#FFF;
}

.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special {
	background-color:#e2e6e8;
}

.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special:hover {
	background-color:#2a98ce;
}

.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special a:before {
	font-family:"FontAwesome";
	position:absolute;
	left:20px;
	top:10px;
}

.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special.contact a:before {
	content:"\f095";
	font-size:16px;
}

.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special.log_in a:before {
	content:"\f007";
}

.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special.sign_up a:before {
	content:"\f234";
}

.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special.home a:before {
	content:"\f015";
}

.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special.search_box:hover {
	background:transparent;
}

.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special .search_entry_box {
	overflow:hidden;
}

.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special .search_entry_box input.search_entry_input_box,
.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special .search_entry_box input.search_entry_button {
    padding:0;
    float:left;
    border: none;
    margin:0;
   	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
    
.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special .search_entry_box input.search_entry_input_box {
    width:calc(100% - 15px - 60px);
    height:31px;
    line-height:31px;
    padding-left:15px;
    font-family: Verdana;
    font-style: italic;
    background-color: #FFF;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
    
.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special .search_entry_box input.search_entry_button {
    width:60px;
    height:31px;
    font-size:0;
    line-height:0;
    background: #fff url('../images/icon-magnifyer.svg') no-repeat center / 16px 16px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
    
.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special .search_entry_box input.search_entry_button:hover {
    cursor:pointer;
}

.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special .search_entry_box input.search_entry_button:focus,
.zenario_push_pull-menu .zenario_push_pull-listview .zenario_menu_node_special .search_entry_box input.search_entry_input_box:focus {
    outline:0;
    outline:none;
}

@media all and (max-width:370px) {
	.zenario_push_pull-navbar, 
	.zenario_push_pull-listview {
		font-size:13px;
	}
}

/* Page semi-opaque and close button stand out
--------------------------------------------------------------------------------------------------*/

.zenario_push_pull-page:after,
.fixed:after {
	opacity:0;
	visibility:hidden;
	content:"";
	position:absolute;
	z-index:20;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.7);
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

html.zenario_push_pull-wrapper_blocking .zenario_push_pull-page:after,
html.zenario_push_pull-wrapper_blocking .fixed:after {
	opacity:1;
	visibility:visible;
}

html.zenario_push_pull-wrapper_blocking .zenario_push_pull-page .Slot_Header_Top {
	z-index:0;
}

html.zenario_push_pull-wrapper_blocking a.zenario_push_pull-hamburger {
	background:#000;
	border-left:1px solid #FFF;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

html.zenario_push_pull-wrapper_opened a.zenario_push_pull-hamburger:before, 
html.zenario_push_pull-wrapper_opened a.zenario_push_pull-hamburger:after {
	background-color:#FFF;
	width:2px;
}

.zenario_push_pull-panels>.zenario_push_pull-panel {
	padding-top:52px;
}

.zenario_push_pull-navbar {
	height:52px;
}

.zenario_push_pull-menu .zenario_push_pull-navbar a {
	padding:15px 10px;
}

/* External links */

.link_external a.zenario_push_pull-btn:after,
.zenario_push_pull-panel .has_child.link_external > a:before {
	content:"";
	padding-left:0;
}

/* Admin hacks
--------------------------------------------------------------------------------------------------*/

.zenario_adminLoggedIn .zenario_push_pull-menu {
	top:129px;
}

.zenario_adminLoggedIn.zenario_adminToolbarHidden .zenario_push_pull-menu {
	top:0;
}

.zenario_adminLoggedIn.zenario_pageMode_edit .zenario_menu_responsive_push_pull,
.zenario_adminLoggedIn.zenario_pageMode_item .zenario_menu_responsive_push_pull,
.zenario_adminLoggedIn.zenario_pageMode_menu .zenario_menu_responsive_push_pull,
.zenario_adminLoggedIn.zenario_pageMode_template .zenario_menu_responsive_push_pull {
	position:relative;
	min-height:50px;
}