/* This class will be applied to all plugins of this type,
	unless overridden or removed for a specific plugin. */

.zenario_ctype_event__default_style .event_online_text,
.zenario_ctype_event__default_style .event_timezone,
.zenario_ctype_event__default_style .event_address_text {
	color:#00659b;
	position:relative;
	padding-left:25px;
	padding-bottom:5px;
}

.zenario_ctype_event__default_style .event_online_text:before,
.zenario_ctype_event__default_style .event_timezone:before,
.zenario_ctype_event__default_style .event_address_text:before {
	font-family:"FontAwesome";
	position:absolute;
	left:0;
}

.zenario_ctype_event__default_style .event_online_text:before {
	content:"\f108";
}

.zenario_ctype_event__default_style .event_address_text:before {
	content:"\f3c5";
}

.zenario_ctype_event__default_style .event_timezone:before {
	content:"\f017";
}

.zenario_ctype_event__default_style .event_more_info {
	margin-top:20px;
}