.zenario_banner .banner_wrap_inner > a + .banner_content,
.zenario_banner .banner_wrap_inner .banner_image + .banner_content {
	margin-top:15px;
}

/* Logo
--------------------------------------------------------------------------------------------------*/

.zenario_banner.banner_logo .banner_image {
  	padding-top:15px;
}

.zenario_banner.banner_logo .banner_image a {
	display:inline-block;
}

/* Masthead
--------------------------------------------------------------------------------------------------*/

.zenario_banner.banner_masthead {
	position:relative;
}

.zenario_banner.banner_masthead .banner_image {
	text-align:center;
}

.zenario_banner.banner_masthead .banner_image img {
	margin:auto;
}

.zenario_banner.banner_masthead .banner_content {
	position:absolute;
	left:0;
	right:0;
	bottom:15px;
	margin:auto;
	max-width:1250px;
	padding:20px;
	background:rgba(0,0,0,0.5);
}

.zenario_banner.banner_masthead .banner_content * {
	color:#FFF;
}

.zenario_banner.banner_masthead .banner_content .banner_title h2 {
	font-size:2em;
}

/* Masthead background image
--------------------------------------------------------------------------------------------------*/

.zenario_banner.banner_masthead .banner_wrap_inner > a {
	width:100% !important;
	height:350px !important;
	background-size:cover !important;
	background-position:center !important;
}

/* Standard
--------------------------------------------------------------------------------------------------*/

.zenario_banner.banner_standard > div {
	padding:30px 0 0;
}

.zenario_banner.banner_standard .banner_title h2 {
	font-size:1em;
	font-family:'robotolight',Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	margin-bottom:10px;
}

.zenario_banner.banner_standard .banner_title h2,
.zenario_banner.banner_standard .banner_title h2 a {
	color:#525151;
}

.zenario_banner.banner_standard .banner_title h2 a:hover {
	text-decoration:none;
}

.zenario_banner.banner_standard .banner_text h2 {
	margin-bottom:20px;
}

.zenario_banner.banner_standard .banner_more {
	padding-top:20px;
}

/* Full banner
--------------------------------------------------------------------------------------------------*/

.zenario_banner.banner_overlay_content {
	overflow:hidden;
}

.zenario_banner.banner_overlay_content .banner_wrap {
	display:inline-block;
	margin:auto;
	position:relative;
}

.zenario_banner.banner_overlay_content .banner_wrap .banner_content {
  	position: absolute;
  	z-index:10;
  	top: 50%;
  	transform: translateY(-50%);
  	padding:0 20px;
  	width:calc(100% - 40px);
  	left:0;
  	right:0;
  	margin:auto;
}

body.desktop .zenario_banner.banner_overlay_content .banner_wrap .banner_content {
  	padding:0 30px;
  	width:calc(100% - 60px);
}

.zenario_banner.banner_overlay_content .banner_wrap .banner_content h2 a:hover {
	text-decoration:none;
}

.zenario_banner.banner_overlay_content .banner_wrap .banner_more {
	padding-top:30px;
}

body.desktop .zenario_banner.banner_overlay_content .banner_wrap .banner_content .banner_title,
body.desktop .zenario_banner.banner_overlay_content .banner_wrap .banner_content .banner_text {
  	font-size:130%;
}

/* Link back
--------------------------------------------------------------------------------------------------*/

.banner_link_back .banner_title a:before {
	font-family: 'FontAwesome';
	content: "\f137"; /* fa-angle-left */
	padding-right:5px;
}

/* Animated ghost button
--------------------------------------------------------------------------------------------------*/

.zenario_banner.banner_ghost_button *:before,
.zenario_banner.banner_ghost_button *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.zenario_banner.banner_ghost_button .banner_more {
	display:flex;
	align-items:center;
	justify-content:center;
}

.zenario_banner.banner_ghost_button .banner_more a {
	display:inline-block;
  	width:200px;
  	padding:15px 0px;
  	position:relative;
  	box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
	-webkit-transition:0.3s all ease;
  	transition:0.3s ease all;
  	text-transform:uppercase;
  	text-align:center;
  	color:#00698C;
  	border:3px solid #00698C;
}

.zenario_banner.banner_ghost_button .banner_more a:hover,
.zenario_banner.banner_ghost_button .banner_more a:focus {
	color:#FFF;
	text-decoration:none;
}

.zenario_banner.banner_ghost_button .banner_more a:before {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    background-color:#00698C;
    z-index:-2;
}

.zenario_banner.banner_ghost_button .banner_more a:hover:before {
	-webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    left:0;
    right:0;
    opacity:1;
}

.zenario_banner.banner_ghost_button .banner_more a:focus:before {
	transition:0.5s all ease;
    left:0;
    right:0;
    opacity:1;
}

/* Anchor
--------------------------------------------------------------------------------------------------*/

.zenario_banner a.anchor {
	display: block;
    position: relative;
    visibility: hidden;
	top:-110px;
}

.zenario_adminLoggedIn .zenario_banner a.anchor {
	top:-150px;
}

body.mobile .zenario_banner a.anchor,
body.zenario_adminLoggedIn.mobile .zenario_banner a.anchor {
	top:-80px;
}

/* Banner Zenario and TS websites
--------------------------------------------------------------------------------------------------*/

.zenario_banner.banner_zenario_website {
	text-align:center;
}

.zenario_banner.banner_zenario_website,
.zenario_banner.banner_tribal_systems_website {
	font-size:0.813em;
}

.zenario_banner.banner_zenario_website .banner_image {
	padding-bottom:10px;
}

.zenario_banner.banner_tribal_systems_website p.phone {
	font-size:1em;
}