.zenario_sking table tr th,
.zenario_sking table tr td {
	vertical-align:top;
}

/* Buttons
--------------------------------------------------------------------------------------------------*/

.zenario_slot:not(.zenario_comments) input[type='submit'],
.zenario_slot:not(.zenario_comments) input[type='button'],
.zenario_slot:not(.zenario_comments) button,
.banner_more_button .banner_more a,
.extranet_wrap .extranet_view_profile .extranet_links a,
a.nice_button,
.zenario_user_forms .repeat_block_buttons .add,
.zenario_ctype_event .event_more_info a,
.zenario_ctype_document_search .search_results .result .result_info a {
	display:inline-block;
	min-width:120px;
	height:45px;
	line-height:42px;
	padding: 0 20px;
	border:0;
	background:#000;
	color:#FFF;
	text-align:center;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
  	cursor:pointer;
}

.zenario_slot:not(.zenario_comments) input[type='submit']:hover,
.zenario_slot:not(.zenario_comments) input[type='button']:hover,
.zenario_slot:not(.zenario_comments) button:hover,
.extranet_wrap a.nice_button:hover,
.banner_title_button .banner_title a:hover,
.banner_more_button .banner_more a:hover,
.extranet_wrap .extranet_view_profile .extranet_links a:hover,
a.nice_button:hover,
.zenario_user_forms .repeat_block_buttons .add:hover,
.zenario_ctype_event .event_more_info a:hover,
.zenario_ctype_document_search .search_results .result .result_info a:hover {
	background:#b8babc;
	color:#282e35;
	text-decoration:none;
}

.light.banner_more_button .banner_more a {
	background:#FFF;
	color:#000;
}

.light.banner_more_button .banner_more a:hover {
	background:#b8babc;
	color:#282e35;
}

/* Small buttons */

.zenario_user_forms .repeat_block_buttons .add,
.zenario_ctype_document_search .search_results .result .result_info a {
	min-width:auto;
	height: 30px;
	line-height: 28px;
	font-size:0.9em;
}

/* Aligment and colors options
--------------------------------------------------------------------------------------------------*/

.align_left {
	text-align:left;
}

.align_center {
	text-align:center;
}

.align_center img {
	margin:auto;
}

.align_right {
	text-align:right;
}

.dark,
.dark a {
	color:#000;
}

.light,
.light a {
	color:#FFF;
}

/* Sections titles
--------------------------------------------------------------------------------------------------*/

.zenario_banner.banner_standard .banner_title h2,
.zenario_html_snippet p.section_title,
.zenario_plugin_nest.nest_portfolio .nest_title p,
.zenario_plugin_nest.nest_full_boxes .nest_title p {
	font-size: 1em;
    font-family: 'robotolight',Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Various phone styles
--------------------------------------------------------------------------------------------------*/

p.phone {
	margin:0;
	padding-left:18px;
	font-size:0.813em;
	position:relative;
	display:inline-block;
}

p.phone:before {
	font-family: 'FontAwesome';
	content: "\f095";
	font-size:16px;
	position:absolute;
	top:0;
	left:0;
	padding-right:5px;
}

/* Enlarge icon
--------------------------------------------------------------------------------------------------*/

.banner_image {
	position:relative;
	z-index:1;
}

.banner_image .banner_image_zoom {
	opacity:0;
	visibility:hidden;
	position:absolute;
	z-index:90;
	top:10px;
	right:10px;
	width:24px;
	height:24px;
	font-size:0;
	line-height:0;
	text-indent:-99px;
	background:#fff url('../images/icon-magnifyer.svg') no-repeat center / 18px 18px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition : all 200ms ease-in-out;
  	-moz-transition : all 200ms ease-in-out;
  	transition : all 200ms ease-in-out;
}

.zenario_banner:hover .banner_image .banner_image_zoom,
.zenario_multiple_image_container .banner_image:hover .banner_image_zoom {
	opacity:1;
	visibility:visible;
}

/* Extranet forms
--------------------------------------------------------------------------------------------------*/

.zenario_extranet p.extranet_redirect_message {
	text-align:center;
	margin-bottom:20px;
}

.extranet_wrap {
	max-width:740px;
	padding:40px;
	margin:auto;
	border:4px solid #dcdcdc;
	box-shadow:0 0 12px rgba(0,0,0,0.1);
	text-align:center;
}

.extranet_wrap h1,
.extranet_wrap h2,
.extranet_wrap .extranet_welcome_text {
	margin-bottom:30px;
}

.extranet_wrap h1,
.extranet_wrap .extranet_welcome_text {
	font-size:3em;
}

.extranet_wrap .extranet_welcome_text {
	font-family: 'cardoregular','Times New Roman','Georgia',serif;
	color:#000;
}

.extranet_wrap .extranet_field,
.extranet_wrap .extranet_links,
.extranet_wrap .extranet_remember_me,
.extranet_wrap .form_field {
	text-align:left;
	margin-top:15px;
}

.extranet_wrap .extranet_field .label,
.extranet_wrap .form_field .field_title {
	padding-bottom:5px;
	font-family:'robotolight',Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}

.extranet_wrap .extranet_links,
.extranet_wrap .extranet_remember_me {
	font-size:0.875em;
}

.extranet_wrap .extranet_links {
	text-align:center;
}

.extranet_wrap .extranet_links a {
	text-decoration:underline;
}

.extranet_wrap .extranet_view_profile .extranet_links {
	font-size:1em;
}

.extranet_wrap .extranet_view_profile .extranet_links a {
	text-decoration:none;
}

.extranet_wrap .extranet_btn,
.extranet_wrap .extranet_edit_profile .form_buttons {
	overflow:hidden;
	margin-top:25px;
}

.extranet_wrap .extranet_edit_profile .form_buttons input,
.extranet_wrap .extranet_edit_profile .form_buttons a {
	display:inline-block;
	margin:0 8px;
}

.extranet_wrap .extranet_field.zenario_visitor_tooltip_wrap .zenario_visitor_tooltip {
	top:27px;
	right:-145px;
}

.extranet_wrap .screen_name_confirmed_info {
	margin-bottom:30px;
}

/* Image Credits, banner, MIC plugin, meta data
--------------------------------------------------------------------------------------------------*/

.zenario_banner .banner_image {
	display:inline-block;
	overflow:hidden;
}

.zenario_banner .banner_wrap_inner > a,
.zenario_banner .banner_image,
.zenario_multiple_image_container .banner_image,
.zenario_multiple_image_container .banner_image > a,
.zenario_multiple_image_container .banner_image > .banner_image_wrap {
	position:relative;
}

span.banner_image_credit,
.zenario_meta_data .sticky_image span.image_credit {
	font-size:12px;
	color:#333;
}

body.desktop span.banner_image_credit,
body.desktop .zenario_meta_data .sticky_image span.image_credit {
	letter-spacing:0.02em;
}

.zenario_banner .banner_wrap_inner > a span.banner_image_credit,
.zenario_banner .banner_image span.banner_image_credit,
body.desktop .zenario_multiple_image_container .banner_image span.banner_image_credit,
.zenario_meta_data .sticky_image span.image_credit {
	position:absolute;
	left:0;
	bottom:0;
	padding:0 8px;
	background:rgba(255,255,255,0.4);
  	white-space:nowrap;
}

.zenario_meta_data .sticky_image span.image_credit {
	padding-bottom:2px;
}

.zenario_banner .banner_wrap_inner > a span.banner_image_credit,
.zenario_banner .banner_image span.banner_image_credit,
body.desktop .zenario_multiple_image_container .banner_image span.banner_image_credit {
  	-webkit-transform: translateY(100%) rotate(-90deg);
  	-moz-transform: translateY(100%) rotate(-90deg);
  	transform: translateY(100%) rotate(-90deg);
  	-webkit-transform-origin: 0 0;
  	-moz-transform-origin: 0 0;
  	transform-origin: 0 0;
}

.zenario_banner .banner_image picture + span.banner_image_credit,
body.desktop .zenario_multiple_image_container .banner_image picture + span.banner_image_credit {
  	-webkit-transform-origin: -2px -2px;
  	-moz-transform-origin: -2px -2px;
  	transform-origin: -2px -2px;
}

.zenario_banner .banner_wrap_inner > a:hover span.banner_image_credit,
body.desktop .zenario_multiple_image_container .banner_image a:hover span.banner_image_credit {
	text-decoration:none;
}

body.desktop .zenario_multiple_image_container .banner_image > picture + span.banner_image_credit {
	bottom:auto;
  	-webkit-transform: rotate(-90deg);
  	-moz-transform: rotate(-90deg);
  	transform: rotate(-90deg);
}

body.mobile .zenario_banner .banner_wrap_inner > a span.banner_image_credit,
body.mobile .zenario_banner .banner_image span.banner_image_credit {
	max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

body.mobile .zenario_multiple_image_container .banner_image span.banner_image_credit {
	display:block;
	text-align:left;
	color:#777;
}

/* Cookies consent message
--------------------------------------------------------------------------------------------------*/

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap h1, 
.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap h2, 
.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap h3 {
	font-family:'cardoregular','Times New Roman','Georgia',serif;
	line-height:1.3em;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap h1 {
	font-size:2.5em;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap h2 {
	font-size:2.2em;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap h3 {
	font-size:1.8em;
}

.zenario_skin .zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookie > .cookie_info h5 {
	font-family:Verdana,Arial,Helvetica,Sans-Serif;
	margin:0;
}

.zenario_skin .zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookies_buttons input {
	line-height:1em;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookies_buttons input.cookie_save_preferences:hover {
	color:#FFF;
}

div.zenario_cookie_consent,
.zenario_cookie_consent_manage_popup .switch input:checked + .slider,
.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookies_buttons input,
.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookies_buttons input.cookie_save_preferences:hover,
.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form button.cancel:hover:before, 
.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form button.cancel:hover:after {
	background-color:rgb(0,101,155);
}

div.zenario_cookie_consent.cookies_explicit .zenario_cookie_consent_wrap {
	background-color:rgb(0,101,155);
}

.zenario_cookie_consent_manage_popup .switch input:disabled + .slider {
	opacity:0.5;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookies_buttons input.cookie_save_preferences:hover {
	border-color:rgb(0,101,155);
}

/* Pagination
--------------------------------------------------------------------------------------------------*/

.pag_pagination {
	margin-top:10px;
	text-align:center;
}

.pag_pagination span a {
	display:inline-block;
    margin: 0 1px 5px;
    padding: 0 8px 3px;
	color:#FFF;
	background:#555;
   	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.pag_pagination span a:hover,
.pag_pagination span.pag_page_on a {
    background:#000;
    text-decoration:none;
}

/* Sensitive content */

.zenario_sensitive_content {
	position:fixed;
	z-index:999;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.5);
}

.zenario_sensitive_content .zenario_sensitive_content_wrap {
	position:fixed;
	z-index:1000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width:560px;
	border:5px solid #1e2021;
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
}

.zenario_sensitive_content .zenario_sensitive_content_wrap,
.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_title {
	background:#1e2021;
}

.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_message,
.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_buttons {
	background:#ebebeb;
}

.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_title,
.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_message,
.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_buttons {
	padding:20px 30px;
}

.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_buttons {
	padding-top:10px;
	text-align:center;
}

.zenario_sensitive_content .zenario_sensitive_content_wrap {
	font-family:Arial,Verdana,Helvetica;
	line-height:18px;
}

.zenario_sensitive_content .zenario_sensitive_content_wrap span.red {
	color:#ff0015;
}

.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_title {
	font-size:18px;
	font-weight:700;
	color:#FFF;
}

.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_message {
	font-size:12px;
	color:#30302d;
}

.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_message h4 {
	font-size:14px;
	font-weight:700;
}

.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_message p,
.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_message h4,
.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_message ol {
	margin-top:5px;
	margin-bottom:8px;
}

.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_message ol {
	margin-left:20px;
}

.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_message ol li {
	margin-bottom:5px;
}

.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_message a {
	color:#ff0015;
	text-decoration:underline;
}

.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_buttons a {
	display:inline-block;
	height:38px;
	line-height:36px;
	padding:0 12px;
	font-size:16px;
	font-weight:700;
	background:#30302d;
	color:#FFF;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
   	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_buttons a:hover {
	opacity:0.8;
}

.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_buttons a,
.zenario_sensitive_content .zenario_sensitive_content_wrap .zenario_sc_buttons a:hover {
	text-decoration:none;
}

/* Pinned
--------------------------------------------------------------------------------------------------*/

.zenario_slot .pinned,
.zenario_slot .pinned_icon:after,
.zenario_slot .pinned_text {
	color:#5F9EA0;
}

.zenario_slot .pinned_text {
	font-size: 90%;
}

/* Shared links
--------------------------------------------------------------------------------------------------*/

.shareable_link,
.shareable_link_input {
	display:inline-block;
}

.shareable_link_input {
	position:relative;
}

.shareable_link .zenario_copy {
	width:20px;
	height:14px;
	background:url('../images/icon-copy-link.svg') no-repeat center center / 100% auto;
}

.shareable_link .zenario_copy:hover {
	background:url('../images/icon-copy-link-blue.svg') no-repeat center center / 100% auto;
}

.shareable_link .zenario_copy .fa-copy {
	display:none;
}

.shareable_link_input .zenario_visitor_tooltip {
	white-space:nowrap;
	position:absolute;
	top:25px;
	left:-40px;
}

/* Password tooltip
--------------------------------------------------------------------------------------------------*/

.zenario_password_requirements_tooltip ul li.fail {
	color:#e77676;
}

/* Use these classes for responsive videos
--------------------------------------------------------------------------------------------------*/

.video_responsive_container {
	max-width:1100px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.video_responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    text-align:center;
    margin-bottom:20px;
    width:99.9%;
     
}

.video_responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    
}