.zenario_feed_reader__default_style h1,
.zenario_feed_reader__default_style .feed_reader_data_row {
	padding:10px 0;
	border-bottom: 1px dotted #27303f;
}

.zenario_feed_reader__default_style .feed_reader_data_row h2 {
	font-size:1em;
	font-weight:bold;
	margin-bottom:5px;
}

.zenario_feed_reader__default_style h1,
.zenario_feed_reader__default_style .feed_reader_data_row p {
	margin-bottom:0;
}