.zenario_user_forms__default_style {
	background:#e5e5de;
	padding:15px 20px;
}

.zenario_user_forms__default_style .title {
	font-size:1.333em;
	line-height:1.2em;
	margin-bottom:8px;
}

.zenario_skin .zenario_user_forms__default_style input[type='text'],
.zenario_skin .zenario_user_forms__default_style input[type='password'],
.zenario_skin .zenario_user_forms__default_style input[type='email'],
.zenario_skin .zenario_user_forms__default_style textarea {
	border-color:#e5e5de;
}

.zenario_skin .zenario_user_forms__default_style input[type='text']:focus,
.zenario_skin .zenario_user_forms__default_style input[type='password']:focus,
.zenario_skin .zenario_user_forms__default_style input[type='email']:focus,
.zenario_skin .zenario_user_forms__default_style textarea:focus {
	border:1px solid #7a8080;
}

.zenario_user_forms__default_style .form_field  {
	padding-top:10px;
}

.zenario_user_forms__default_style input[type='submit'] {
	margin-top:20px;
}
