/* HTML snippet
--------------------------------------------------------------------------------------------------*/

.zenario_html_snippet table {
	width:100%;
}

.zenario_html_snippet table tr th,
.zenario_html_snippet table tr td {
	padding:5px 8px;
	border:1px solid #FFF;
}

.zenario_html_snippet table tr th {
	background:#7a8080;
	color:#fff;
	text-align:center;
}

.zenario_html_snippet table tr td {
	background:#e5e5de;
	vertical-align:top;
}

.zenario_html_snippet hr {
	width: 80%;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:10px;
	margin-top:10px;
	background-color:#cac9c4;
	color:#cac9c4;
	border: 0 none;
}

/* HTML snippet, Watch our video
--------------------------------------------------------------------------------------------------*/

.html_video_box .watch_our_video_link {
	display:block;
	background:#7A8080 url('../images/image-video-zenario.jpg') no-repeat center 0;
	color:#FFF;
	line-height:45px;
	font-size:1.333em;
	padding:195px 10px 0 25px;
}