.zenario_email_a_friend__default_style .email_friend_section {
	font-size:0.867em;
	text-align:center;
}

.zenario_email_a_friend__default_style .email_friend_section a.print_page_section_link {
	display:inline-block;
	padding-left:25px;
	background:url('../images/icon-envelope.png') no-repeat 0 center;
}

.zenario_email_a_friend__default_style .email_friend_popup {
	width:700px;
	padding:15px 20px;
}

.zenario_email_a_friend__default_style .email_friend_popup h2 {
	text-align:center;
	margin-bottom:10px;
}

.zenario_email_a_friend__default_style .email_friend_popup form {
	width:80%;
	margin:auto;
}

#colorbox.zenario_email_a_friend__default_style .email_friend_popup form input[type='text'],
#colorbox.zenario_email_a_friend__default_style .email_friend_popup form input[type='email'],
#colorbox.zenario_email_a_friend__default_style .email_friend_popup form textarea {
	display:block;
	margin:5px 0 10px;
}

#colorbox.zenario_email_a_friend__default_style .email_friend_popup form input[type='submit'] {
	position:relative;
	left:40%;
}

#colorbox.zenario_email_a_friend__default_style .errors_in_floating_box,
#colorbox.zenario_email_a_friend__default_style .email_friend_popup form input[type='text'],
#colorbox.zenario_email_a_friend__default_style .email_friend_popup form input[type='email'],
#colorbox.zenario_email_a_friend__default_style .email_friend_popup form textarea {
	width:95%;
}