.zenario_slideshow_2__default_style .slideshow_container {
	/*border:5px solid #D7D7CF;*/
	padding-bottom:20px;
}

.zenario_slideshow_2__default_style .slide_inner .content_container {
	position:absolute;
	left:8%;
	bottom:5% !important;
	background:url('../images/grey-bg-transparent.png');
	color:#FFF;
	padding:2%;
	margin-right:5%;
}

.zenario_slideshow_2__default_style .slide_title {
	font-size:2.2em;
	font-weight:bold;
	line-height:1.2em;
	text-shadow:0 1px 1px #000;
	margin-bottom:3px;
}

.zenario_slideshow_2__default_style .slide_extra_html {
	font-size:1.200em;
	font-weight:bold;
	line-height:1.3em;
	text-shadow:0 1px 1px #000;
}

.zenario_slideshow_2__default_style .arrowl, .zenario_slideshow_2__default_style .arrowldn {
    background: url("../images/slideshow-left-arrow-off-state.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.zenario_slideshow_2__default_style .arrowr, .zenario_slideshow_2__default_style .arrowrdn {
    background: url("../images/slideshow-right-arrow-off-state.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.zenario_slideshow_2__default_style .arrowl:hover {
    background: url("../images/slideshow-left-arrow-over-state.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-size:100%;
}

.zenario_slideshow_2__default_style .arrowr:hover {
    background: url("../images/slideshow-right-arrow-over-state.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-size:100%;
}

.zenario_slideshow_2__default_style .arrowl, 
.zenario_slideshow_2__default_style .arrowr, 
.zenario_slideshow_2__default_style .arrowldn, 
.zenario_slideshow_2__default_style .arrowrdn {
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    width: 4.5%;
    height: 14.2%;
    top: 40%;
    background-size:100%;
}

.zenario_slideshow_2__default_style .arrowl, 
.zenario_slideshow_2__default_style .arrowldn {
    left: 0;
}

.zenario_slideshow_2__default_style .arrowr, 
.zenario_slideshow_2__default_style .arrowrdn {
    right: 0;
}

.zenario_slideshow_2__default_style .bullet {
	position:absolute;
	bottom:0px !important;
	width:100% !important;
	height:16px !important;
	text-align:center;
	overflow:hidden;
}

.zenario_slideshow_2__default_style .bullet div {
    background: none repeat scroll 0 0 #A5A9AA;
    position:static !important;
	width:8px;
	height:8px;
	margin:0 2px 0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	display:inline-block;
}

.zenario_slideshow_2__default_style .bullet div.av {
    background: none repeat scroll 0 0 #A65B32;
}