.zenario_menu_multicolumn__default_style ul,
.zenario_menu_multicolumn__default_style ul li {
	list-style:none;
	padding:0;
	margin:0;
}

.zenario_menu_multicolumn__default_style ul,
.zenario_menu_multicolumn__default_style ul li,
.zenario_menu_multicolumn__default_style ul li a {
	display:inline-block;
	height:100%;
}

.zenario_menu_multicolumn__default_style ul {
	float:left;
}

.zenario_menu_multicolumn__default_style ul li a {
	line-height:100px;
	padding:0 30px;
}

.zenario_menu_multicolumn__default_style .columns_wrap {
	position:absolute;
	top:100px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	width:660px; /* 3 columns wide 220px each */
	z-index:99;
	background:#364155;
	overflow:hidden;
}

.zenario_menu_multicolumn__default_style ul .columns_wrap {
	opacity:0;
	visibility:hidden;
	-webkit-transition : all 200ms ease-in-out;
  	-moz-transition : all 200ms ease-in-out;
  	-o-transition : all 200ms ease-in-out;
  	transition : all 200ms ease-in-out;
}

.zenario_menu_multicolumn__default_style ul li:hover .columns_wrap {
	opacity:1;
	visibility:visible;
}

body.ie .zenario_menu_multicolumn__default_style ul .columns_wrap {
	display:none;
}

body.ie .zenario_menu_multicolumn__default_style ul li:hover .columns_wrap {
	display:block;
	opacity:1;
	visibility:visible;
}

.zenario_menu_multicolumn__default_style ul .columns_wrap .column {
	width:190px;
	margin:15px;
	float:left;
}

.zenario_menu_multicolumn__default_style ul .columns_wrap a {
	display:block;
	height:auto;
	line-height:18px;
	padding:0;
}

.zenario_menu_multicolumn__default_style ul li {
	text-transform:uppercase;
}

.zenario_menu_multicolumn__default_style ul li .columns_wrap {
	text-transform:none;
}

.zenario_menu_multicolumn__default_style ul li a:hover {
	text-decoration:none;
}

.zenario_menu_multicolumn__default_style ul li .columns_wrap a:hover {
	text-decoration:underline;
}

.zenario_menu_multicolumn__default_style ul li {
	font-size:0.933em;
}

.zenario_menu_multicolumn__default_style ul li .level3 {
	font-size:0.929em;
}

.zenario_menu_multicolumn__default_style ul li a.level1_on {
	background:#546178;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.zenario_menu_multicolumn__default_style ul li a.has_child:hover,
.zenario_menu_multicolumn__default_style ul li a.level1_on.has_child:hover {
	background:#364255;
}

.zenario_menu_multicolumn__default_style ul li .node-level-2 a {
	color:#cbb4a6;
	margin-bottom:10px;
}

.zenario_menu_multicolumn__default_style ul li .node-level-2 a,
.zenario_menu_multicolumn__default_style ul li .node-level-2-on a {
	font-weight:bold;
}

.zenario_menu_multicolumn__default_style ul li .node-level-2-on a,
.zenario_menu_multicolumn__default_style ul li .node-level-2 a:hover {
	color:#e5e5de;
}

.zenario_menu_multicolumn__default_style ul li .node-level-3 a {
	color:#FFF;
}