.zenario_search_results__default_style form input[type="text"] {
	width:50%;
}

.zenario_search_results__default_style .search_heading {
	padding:10px 0;
	font-weight:bold;
}

.zenario_search_results__default_style #search_results_tabs {
	width:100%;
	overflow:hidden;
}

.zenario_search_results__default_style #search_results_tabs div {
	display:inline-block;
}

.zenario_search_results__default_style #search_results_tabs div div {
	padding:5px 15px;
}

.zenario_search_results__default_style #search_results_tabs div a {
	display:block;
	padding:10px 15px;
	background:#CAC9C4;
	color:#27303f;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.zenario_search_results__default_style #search_results_tabs div a:hover {
	text-decoration:none;
	background:#7a8080;
	color:#FFF;
}

.zenario_search_results__default_style #search_results_tabs div.search_results_tab_on a,
.zenario_search_results__default_style #search_results_tabs div.search_results_tab_on a:hover {
	background:#E5E5DE;
	color:#27303f;
}

.zenario_search_results__default_style .search_no_results,
.zenario_search_results__default_style .search_results {
	border:5px solid #E5E5DE;
	padding:20px;
}

.zenario_search_results__default_style .search_results .search_result {
	border-bottom:1px dotted #27303f;
	padding:10px 0;
}

.zenario_search_results__default_style .search_results .search_result h2 {
	font-size:1em;
	font-weight:bold;
}