.zenario_print_page__default_style .print_page_section {
	font-size:0.867em;
	text-align:center;
}

.zenario_print_page__default_style .print_page_section a.print_page_section_link {
	display:inline-block;
	padding-left:25px;
	background:url('../images/icon-print.png') no-repeat 0 center;
}