/* Responsive menu
--------------------------------------------------------------------------------------------------*/
	
	.Top_Mobile_Menu {
		width:100%;
		background:#17202B;
		position:fixed;
		top:0;
		z-index:999;
	}
	
	.zenario_adminLoggedIn.zenario_pageMode_menu .Top_Mobile_Menu,
	.zenario_adminLoggedIn.zenario_pageMode_template .Top_Mobile_Menu,
	.zenario_adminLoggedIn.zenario_pageMode_edit .Top_Mobile_Menu {
		position:relative;
	}
	
	.zenario_menu_reponsive_multilevel .dl-menuwrapper {
		max-width:100%;
	}
	
	.zenario_skin .zenario_menu_reponsive_multilevel .dl-menuwrapper button {
   		-webkit-border-radius: 0;
   	 	-moz-border-radius: 0;
    	border-radius: 0;
    	padding:0;
	}

	.zenario_menu_reponsive_multilevel .dl-menuwrapper button {
		display:block;
		width:47px !important;
		height:77px !important;
		cursor:pointer;
		margin:0;
		background:transparent !important;
	}
	
	.zenario_menu_reponsive_multilevel .dl-menuwrapper button:after {
		width:26px;
		height: 3px;
		top: 25px;
		left: 16%;
		background:#E5E5DE;
		box-shadow:0 7px 0 #E5E5DE, 0 14px 0 #E5E5DE;
	}
	
	.zenario_menu_reponsive_multilevel .dl-menuwrapper ul,
	.zenario_menu_reponsive_multilevel ul li {
		background:#364155 !important;
	}
	
	.zenario_menu_reponsive_multilevel .dl-menuwrapper button.dl-active {
		background:#364256 url('../images/menu-resp-close.png') no-repeat center center !important;
	}
	
	.zenario_menu_reponsive_multilevel .dl-menuwrapper button.dl-active:after {
		box-shadow:none !important;
		height:0 !important;
	}
	
	.zenario_menu_reponsive_multilevel .dl-menuwrapper .dl-menu {
		margin:0;
	}
	
	.zenario_menu_reponsive_multilevel .dl-menuwrapper ul,
	.zenario_menu_reponsive_multilevel .dl-menuwrapper ul li {
		list-style:none;
		padding:0;
		margin:0;
	}
	
	.zenario_menu_reponsive_multilevel .dl-menuwrapper li a {
		font-size:14px;
		padding:10px 0 10px 20px;
	}
	
	#menu_btn.menu_btn_on {
		/*background-image:url('../images/close-icon.png');*/
	}

	.zenario_menu_reponsive_multilevel ul,
	.zenario_menu_reponsive_multilevel ul li a {
		float:none;
	}

	.zenario_menu_reponsive_multilevel .wrap_menu {
		position:absolute;
		width:100%;
		top:37px;
		left:0;
		z-index:999999;
		padding:0;
	}

	.zenario_menu_reponsive_multilevel ul,
	.zenario_menu_reponsive_multilevel ul li a {
		display:block;
	}

	.zenario_menu_reponsive_multilevel > li > a {
    	display: block;
	}

	.zenario_menu_reponsive_multilevel ul li {
		line-height:100%;
		border-top:1px solid #9F9F9F;
	}
	
	.zenario_menu_reponsive_multilevel ul li.dl-subviewopen,
	.zenario_menu_reponsive_multilevel ul li:first-child {
		border-top:0;
	}

	.zenario_skin .zenario_menu_reponsive_multilevel ul li a {
		line-height:14px;
		margin:0;
	}
	
	.zenario_menu_reponsive_multilevel .dl-menuwrapper li a {
		color:#FFF;
	}
	
	.zenario_skin .zenario_menu_reponsive_multilevel ul li {
		font-size:0.923em;
		text-transform:uppercase;
		font-size:0.895em;
		margin:0 10px;
	}
	
	.zenario_skin .zenario_menu_reponsive_multilevel ul li li,
	.zenario_skin .zenario_menu_reponsive_multilevel ul li.dl-subview {
		margin:0;
	}
	
	.zenario_skin .zenario_menu_reponsive_multilevel ul li a:hover {
		text-decoration:none;
	}
	
	.zenario_menu_reponsive_multilevel .dl-menuwrapper li.dl-back:after, 
	.zenario_menu_reponsive_multilevel .dl-menuwrapper li > a:not(:only-child):after {
		line-height: 38px;
	}

	.dl-menuwrapper li.dl-back > a {
		padding-left:20px !important;
		color:#CCB4A5 !important;
		background:url('../images/menu-resp-back-arrow.png') no-repeat 6px 12px !important;
	}
	
	.dl-menuwrapper li.dl-back:after,
	.dl-menuwrapper li > a:not(:only-child):after,
	.zenario_skin .zenario_menu_reponsive_multilevel ul li.dl-back a:before {
		content:'' !important;
	}
	
	 
	.dl-menuwrapper li > a:not(:only-child):after {
	}
	
	
	
	.zenario_menu_reponsive_multilevel_2 .menu-collapser {
	    background: none;
	    text-shadow: none;
	}
	
	.zenario_menu_reponsive_multilevel_2 .collapse-button {
	    left: 8px;
	}