.zenario_language_picker__default_style .lang_pick_box {
	text-align:right;
}

.zenario_language_picker__default_style .lang_pick_box .lang_choose_text {
	font-size:0.867em;
	color:#FFF;
	padding:10px 0;
	display:none;
}

.zenario_language_picker__default_style .lang_pick_box .lang_flag span {
	margin-left:7px;
	text-indent:-999;
	line-height:0;
	font-size:0;
}

.zenario_language_picker__default_style .lang_pick_box .lang_flag {
	display:inline-block;
}

.zenario_language_picker__default_style .lang_pick_box .lang_flag span,
.zenario_language_picker__default_style .lang_pick_box .lang_flag span a {
	width: 100%;
	height: 100%;
	display: block;
}

.zenario_language_picker__default_style .lang_choices select {
	font-size:0.867em;
	
}