.zenario_promo_menu__default_style .wrap_menu {
	position:relative;
}

.zenario_promo_menu__default_style ul,
.zenario_promo_menu__default_style ul li {
	list-style:none;
	padding:0;
	margin:0;
}

.zenario_promo_menu__default_style ul,
.zenario_promo_menu__default_style ul li,
.zenario_promo_menu__default_style ul li a {
	display:inline-block;
	height:100%;
}

.zenario_promo_menu__default_style ul {
	float:left;
}

.zenario_promo_menu__default_style ul li a {
	line-height:100px;
	padding:0 30px;
}

.zenario_promo_menu__default_style ul .columns_wrap {
	position:absolute;
	top:100px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	width:660px; /* 3 columns wide 220px each */
	z-index:99;
	background:#364155;
	overflow:hidden;
}

.zenario_promo_menu__default_style ul .columns_wrap {
	opacity:0;
	visibility:hidden;
	-webkit-transition : all 200ms ease-in-out;
  	-moz-transition : all 200ms ease-in-out;
  	-o-transition : all 200ms ease-in-out;
  	transition : all 200ms ease-in-out;
}

.zenario_promo_menu__default_style ul li:hover .columns_wrap {
	opacity:1;
	visibility:visible;
}

body.ie .zenario_promo_menu__default_style ul .columns_wrap {
	display:none;
}

body.ie .zenario_promo_menu__default_style ul li:hover .columns_wrap {
	display:block;
	opacity:1;
	visibility:visible;
}

.zenario_promo_menu__default_style ul .columns_wrap .column,
.zenario_promo_menu__default_style .feature_wrap {
	width:190px;
	margin:15px;
	float:left;
}

.zenario_promo_menu__default_style ul .columns_wrap a {
	display:block;
	height:auto;
	line-height:18px;
	padding:0;
}

.zenario_promo_menu__default_style ul li {
	text-transform:uppercase;
}

.zenario_promo_menu__default_style ul li .columns_wrap {
	text-transform:none;
}

.zenario_promo_menu__default_style ul li a:hover {
	text-decoration:none;
}

.zenario_promo_menu__default_style ul li .columns_wrap a:hover {
	text-decoration:underline;
}

.zenario_promo_menu__default_style ul li {
	font-size:0.933em;
}

.zenario_promo_menu__default_style ul li .level3,
.zenario_promo_menu__default_style ul li .level3_on {
	font-size:0.929em;
}

.zenario_promo_menu__default_style ul li.level1_on a {
	background:#546178;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.zenario_promo_menu__default_style ul li.has_child:hover a,
.zenario_promo_menu__default_style ul li.level1_on.has_child:hover a {
	background:#364255;
}

.zenario_promo_menu__default_style ul li .level2,
.zenario_promo_menu__default_style ul li .level2_on {
	margin-top:10px;
}

.zenario_promo_menu__default_style ul li .level2:first-child,
.zenario_promo_menu__default_style ul li .level2_on:first-child {
	margin-top:0;
}

.zenario_promo_menu__default_style ul li .level2 a,
.zenario_promo_menu__default_style ul li .level2_on a {
	font-weight:bold;
	margin-bottom:10px;
	color:#cbb4a6;
}

.zenario_promo_menu__default_style ul li .level2_on a,
.zenario_promo_menu__default_style ul li .level3_on a {
	text-decoration:underline;
}

.zenario_promo_menu__default_style ul li .level2 a:hover {
	color:#e5e5de;
}

.zenario_promo_menu__default_style ul li .level3,
.zenario_promo_menu__default_style ul li .level3_on {
	margin-top:2px;
	margin-bottom:5px;
	margin-left:8px;
}

.zenario_promo_menu__default_style ul li .level3 a {
	color:#FFF;
}

.zenario_promo_menu__default_style ul li .level3 a,
.zenario_promo_menu__default_style ul li .level3_on a {
	line-height:16px;
}

.zenario_promo_menu__default_style ul li.has_child:hover .columns_wrap a,
.zenario_promo_menu__default_style ul li.level1_on.has_child:hover .columns_wrap a {
	background:transparent;
}

.zenario_promo_menu__default_style .feature_wrap {
	position:relative;
}

.zenario_promo_menu__default_style .feature_wrap .feature_title,
.zenario_promo_menu__default_style .feature_wrap .feature_text {
	background:url('../images/background-90opacity-grey.png');
	width:92%;
	padding:2% 4%;
}

.zenario_promo_menu__default_style .feature_wrap .feature_title h2 {
	font-size:1.067em;
}

.zenario_promo_menu__default_style .feature_wrap .feature_text p {
	font-size:0.800em;
	line-height:14px;
}

.zenario_promo_menu__default_style .feature_wrap .feature_title h2,
.zenario_promo_menu__default_style .feature_wrap .feature_text p {
	padding:0;
	margin:0;
}

.zenario_promo_menu__default_style .feature_wrap .feature_title h2,
.zenario_promo_menu__default_style .feature_wrap .feature_text p,
.zenario_promo_menu__default_style .feature_wrap .feature_text a {
	color:#FFF;
}

.zenario_promo_menu__default_style .feature_wrap div {
	width:100%;
	display:block;
}