.zenario_menu__default_style ul,
.zenario_menu__default_style ul li {
	list-style:none;
	padding:0;
	margin:0;
}

.zenario_menu__default_style ul,
.zenario_menu__default_style ul li,
.zenario_menu__default_style ul li a {
	display:inline-block;
	height:100%;
}

.zenario_menu__default_style ul {
	float:left;
}

.zenario_menu__default_style ul li {
	position:relative;
}

.zenario_menu__default_style ul li a {
	line-height:100px;
	padding:0 30px;
}

.zenario_menu__default_style ul ul {
	opacity:0;
	visibility:hidden;
	-webkit-transition : all 200ms ease-in-out;
  	-moz-transition : all 200ms ease-in-out;
  	-o-transition : all 200ms ease-in-out;
  	transition : all 200ms ease-in-out;
}

.zenario_menu__default_style ul li:hover ul {
	opacity:1;
	visibility:visible;
}

body.ie .zenario_menu__default_style ul ul {
	display:none;
}

body.ie .zenario_menu__default_style ul li:hover ul {
	display:block;
	opacity:1;
	visibility:visible;
}

.zenario_menu__default_style ul ul {
	position:absolute;
	top:100px;
    left:0;
	width:195px;
	padding:15px;
	z-index:99;
	background:#364155;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.30);
}

.zenario_menu__default_style ul ul,
.zenario_menu__default_style ul ul li,
.zenario_menu__default_style ul ul li a {
	height:auto;
}

.zenario_menu__default_style ul ul li,
.zenario_menu__default_style ul ul li a {
	display:block;
}

.zenario_menu__default_style ul ul li a {
	line-height:16px;
	padding:3px 0 4px;
}

.zenario_menu__default_style ul li {
	font-size:0.933em;
}

.zenario_menu__default_style ul li.level1_on a {
	background:#546178;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.zenario_menu__default_style ul li:hover a {
	background:#364255;
}

.zenario_menu__default_style ul ul li a,
.zenario_skin .Top_Area .zenario_menu__default_style ul ul li a {
	color:#cbb4a6;
}

.zenario_menu__default_style ul ul li a:hover,
.zenario_skin .Top_Area .zenario_menu__default_style ul ul li a:hover,
.zenario_skin .Top_Area .zenario_menu__default_style ul ul li.level2_on a {
	color:#e5e5de;
}

.zenario_menu__default_style ul li {
	text-transform:uppercase;
}

.zenario_menu__default_style ul ul li {
	text-transform:none;
}

.zenario_menu__default_style ul li a:hover {
	text-decoration:none;
}

.zenario_menu__default_style ul ul li a:hover {
	text-decoration:underline;
}