.zenario_multiple_image_container__default_style .banner_images {
	overflow:hidden;
}

.zenario_multiple_image_container__default_style .banner_images .banner_image {
	display:inline-block;
	position:relative;
	overflow:hidden;
	margin:8px;
	background:#e5e5de;
	border:1px solid #ccc;
	padding:5px 5px 30px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 5px 5px 0 #CFCFCF;
	box-shadow: 0 5px 5px 0 #CFCFCF;
}

.zenario_multiple_image_container__default_style .banner_text {
	margin-top:10px;
	padding:5px;
	border-top:1px dotted #333;
	border-bottom:1px dotted #333;
}

.zenario_multiple_image_container__default_style .banner_text p {
	margin:0;
}

.zenario_multiple_image_container__default_style .banner_images .banner_image .banner_image_zoom {
	display:none;
	text-indent:-999;
	font-size:0;
	line-height:0;
	width:15px;
	height:15px;
	background:url('../images/magnifying-glass.png') no-repeat;
	position:absolute;
	top:10px;
	right:10px;
}

.zenario_multiple_image_container__default_style .banner_images .banner_image:hover .banner_image_zoom {
	display:block;
}