.zenario_access_key_map__default_style ul.access_key_map,
.zenario_access_key_map__default_style ul.access_key_map li {
	margin:0;
	padding:0;
	list-style:none;
}

.zenario_access_key_map__default_style ul.access_key_map li {
	margin-left:5px;
	padding-left:15px;
	background:url('../images/arrow-small-next.png') no-repeat left 4px;
}