.zenario_document_container__default_style {
	background:#e5e5de;
	padding:15px;
}

.zenario_document_container__default_style h1 {
	padding:5px 10px;
	background:#7a8080;
	color:#FFF;
	font-size:1.333em;
}

.zenario_document_container__default_style h3 {
	margin:0;
	font-size:1em;
	font-weight:bold;
}

.zenario_document_container__default_style a {
	color:#27303f;
}

.zenario_document_container__default_style .document_wrap {
	padding:5px;
	border-bottom:1px dotted #333;
	overflow:hidden;
}

.zenario_document_container__default_style .level_0,
.zenario_document_container__default_style .level_1,
.zenario_document_container__default_style .level_2,
.zenario_document_container__default_style .level_3,
.zenario_document_container__default_style .level_4,
.zenario_document_container__default_style .level_5 {
	overflow:hidden;
}

.zenario_document_container__default_style .sticky_image {
	float:left;
	margin-right:10px;
	border:1px solid #7a8080;
}

.zenario_document_container__default_style #archive_download_link {
	padding:5px 10px;
	overflow:hidden;
	background:#F0F0F0;
	text-align:center;
}