/* Layout min-width: 768px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 769px) {

	body .zenario_skin {
		background:#FFF;
		font-size:87.5%;
		padding-top:77px;
	}
	
	.Top_Area {
		overflow:hidden;
		position:fixed;
		margin-left:47px;
		width:calc(100% - 47px);
		background:transparent;
		top:0;
		z-index:999;
		margin-bottom:0;
	}
	
	.zenario_adminLoggedIn .Top_Mobile_Menu,
	.zenario_adminLoggedIn.zenario_pageMode_menu .Top_Mobile_Menu,
	.zenario_adminLoggedIn.zenario_pageMode_template .Top_Mobile_Menu,
	.zenario_adminLoggedIn.zenario_pageMode_edit .Top_Mobile_Menu {
		position:fixed;
		top: 129px;
	}
	
	.zenario_adminLoggedIn .Top_Area {
		top: 129px;
	}
	
	.Grid_Header .slot .zenario_slot {
		height:77px;
	}
	
	.Grid_Header  .Top_1 {
		float:left;
		width:80%;
		width:calc(100% - 70px);
	}
	
	.Grid_Header  .Top_3 {
		float:right;
		width:20%;
		width:70px;
	}
	
	.Full_Width {
		margin-top:10px;
	}
	
	#cboxContent {
		font-size:81.3%;
		line-height:18px;
	}
	
	.zenario_banner__default_style .banner_content {
		padding:10px;
		text-align:center;
	}
	
	.zenario_slideshow_2 .slide_title {
		font-size:1.600em;
	}
	
	.zenario_comments .post_area img {
		max-width:100%;
		height:auto;
	}
	
	.zenario_content_list__default_style .content_list_data_row div.sticky_image {
		float:none;
		margin:0 0 10px;
	}
	
	.zenario_content_list__default_style .content_list_data_row div.sticky_image img {
		margin:auto;
	}
	
	.zenario_email_a_friend .email_friend_popup {
		width:90%;
		padding:5%;
	}
	
	.zenario_google_map > div {
		width:95% !important;
	}
	
	.zenario_skin input[type='submit'],
	.zenario_skin input[type='button'],
	.zenario_skin button,
	#colorbox input[type='submit'],
	#colorbox input[type='button'],
	#colorbox button,
	.extranet_wrap a.nice_button {
		min-width:0;
	}
}



/* Layout max-width: 1200px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 1200px) {
	
	.zenario_menu ul li a,
	.zenario_promo_menu ul li a {
		padding:0 15px;
	}
}

/* Layout max-width: 1140px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 1180px) {
	img { 
		max-width: 100%; 
		height:auto !important;
	}
	
	.banner_masthead img {
		max-width: 97%;
	}
	
	.Top_1 .zenario_slot {
		margin-left:10px;
	}
	
	.Full_Width .zenario_slot,
	.Main_Area .zenario_slot {
		margin:0 10px 10px;
	}
	
	.Full_Width .zenario_slot .zenario_slot,
	.Main_Area .zenario_slot .zenario_slot {
		margin:0;
	}
	
}


/* Layout max-width: 1140px - 769px
--------------------------------------------------------------------------------------------------*/

@media all and (min-width : 769px) and (max-width: 1140px) {

	.Grid_Header .Top_1 .zenario_image_container a {
		width:100% !important;
		background-size:100% auto;
	}
	
}

/* Layout max-width: 850px - 769px
--------------------------------------------------------------------------------------------------*/

@media all and (min-width : 769px) and (max-width: 850px) {

	.zenario_menu ul li a,
	.zenario_promo_menu ul li a {
		padding:0 10px;
	}
	
}

	
/* Layout max-width: 560px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 560px) {
	
	.Full_Width {
		margin-top:5px;
	}
	
}