#organizer_leftColumn div.organizer_legend a.zenario_form_input_handler_top_level,
#organizer_leftColumn div.organizer_legend a.zenario_form_input_handler_top_level:hover,
#organizer_leftColumn div.legend_on a.zenario_form_input_handler_top_level {
	background:transparent url('../../../admin/images/sprites/sprite-grid-icons-single-col-v2.png') no-repeat scroll;
}

#organizer_leftColumn div.organizer_legend a.zenario_form_input_handler_top_level {
	background-position:-7px -386px;
}

#organizer_leftColumn div.organizer_legend a.zenario_form_input_handler_top_level:hover,
#organizer_leftColumn div.legend_on a.zenario_form_input_handler_top_level {
	background-position:-7px -436px;
}


.organizer_item_image.zenario_form_input_handler_form_submissions {
	background:  center center no-repeat;
	background-image: url('images/form-submissions-list.png');
}

.organizer_item_image.zenario_form_input_handler_rule_sets {
	background:  center center no-repeat;
	background-image: url('images/rule-sets-list.png');
}
