.zenario_plugin_nest.nest_zfea .zenario_slot {
	padding-bottom:20px;
	position:relative;
}

.zfea h1 {
	font-size:1.857em !important;
}

.zfea_form_row,
#errorDisplayRow {
	padding-bottom:10px;
	overflow:hidden;
	clear:both;
}

#row__submit {
	margin-top:20px;
}

.zfea_form_row__submit {
	text-align:center;
}

.title_with_icons {
	overflow:hidden;
	position:relative;
	border-bottom:6px solid #d9dadb;
	margin-bottom:15px;
}

.zenario_skin .title_with_icons h1 {
	min-height:20px;
	border:0;
	margin-bottom:0;
	padding-bottom:10px;
}

.title_with_icons h1,
.title_with_icons h2,
.title_with_icons h3 {
	display:inline-block;
	float:left;
}

.title_main_icons {
	overflow:hidden;
	position:relative;
	border-bottom-width:5px;
	border-bottom-style:solid;
	padding-bottom:10px;
}

.title_subheading_icons {
	border-bottom-width:3px;
}

.zfea .zfea_top_buttons,
.title_with_icons .top_buttons {
    float:right;
    text-align:right;
}

.zfea .zfea_top_buttons a,
.zfea .zfea_top_buttons input,
.top_buttons a {
	float:left;
	margin-left:8px;
}

.title_with_icons .zfea .zfea_top_buttons {
}

/* Tables
--------------------------------------------------------------------------------------------------*/

table.table_list {
	border-collapse: collapse;
	width: 100%;
	margin: 10px;
	margin: 1.0rem 0;
}

table.table_list tr th {
    background:#333;
    color:#fff;
}

table.table_list th, 
table.table_list td {
    font-size: 1em;
    line-height: 22px;
    padding:10px 8px;
}

table.table_list tr th:first-child {
	border-radius:4px 0 0 4px;
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
}

table.table_list tr th:last-child {
	border-radius:0 4px 4px 0;
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
}

table.table_list tr td {
	border-bottom:1px solid #ccc;
}

table.table_list tr .sorted_buttons {
	text-align:right;
}

/* Zfea form
--------------------------------------------------------------------------------------------------*/

.zenario_skin input[type="text"], 
.zenario_skin input[type="password"], 
.zenario_skin input[type="email"],  
.zenario_skin textarea {
	width:90%;
}

/* Zfea Search form
--------------------------------------------------------------------------------------------------*/

.zenario_skin .zfea .search_form {
	overflow:hidden;
}

.zenario_skin .zfea .search_form,
.zenario_skin .zfea .search_form input {
	height:41px;
}

.zenario_skin .zfea .search_form input {
	float:left;
	border:0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.zenario_skin .zfea .search_form input[type="search"] {
	max-width:800px;
	padding:0 0 0 15px;
	height:41px;
	line-height:36px;
	outline: none;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.zenario_skin .zfea .search_form input[type="submit"] {
	display:inline-block;
	min-width:40px;
	padding:0;
	cursor:pointer;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.zenario_skin .zfea .search_form input[type="button"] {    
	min-width:25px;
    height: 41px;
    padding: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: background-color 0.2s ease-in-out 0s;
    -moz-transition: background-color 0.2s ease-in-out 0s;
    transition: background-color 0.2s ease-in-out 0s;
    white-space: nowrap;
}

.zenario_skin .zfea .search_form input[type="search"],
.zenario_skin .zfea .search_form input[type="submit"] {
	border:2px #ccc solid;
}

.zenario_skin .zfea .search_form input[type="search"] {
	border-right:0;
}

.zenario_skin .zfea .search_form input[type="submit"] {
	border-left:0;
}

.zenario_skin .zfea .search_form input[type="button"] {
	background-color:transparent;
	color:#CCC;
}

.zenario_skin .zfea .search_form input[type="submit"],
.zenario_skin .zfea .search_form input[type="button"] {
	font-family: 'FontAwesome';
	font-size:20px;
}

.zenario_skin .zfea .search_form .clear_search {
	position:relative;
	margin-left:-65px;
}

.zenario_skin .zfea .search_form input[type="submit"]:hover {
	opacity:1;
}

/* Edit box
--------------------------------------------------------------------------------------------------*/

.zfea_edit_box {
	overflow:hidden;
	padding:20px;
	border:2px solid #ccc;
}

.zfea_edit_box h1,
.zfea_zenario_edit_company h1 {
	padding-left:40px;
	background:url('images/icon-pencil-dark-grey.svg') no-repeat 10px 10px / 16px 15px;
}

/* View user
--------------------------------------------------------------------------------------------------*/

.zfea_zenario_view_user {
	position:relative;
}

/* List papers
--------------------------------------------------------------------------------------------------*/

.zfea_zenario_list_papers .papers_wrap {
	overflow:hidden;
}

.zfea_zenario_list_papers .papers_wrap .paper {
	position:relative;
	float:none;
	width:100%;
	height:auto !important;
	margin:15px 0 30px;
	padding:0 0 15px;
	border-bottom:1px solid #ddd;
}

.zfea_zenario_list_papers .papers_wrap .paper h4 {
	margin-bottom:0;
}

.zfea_zenario_list_papers .papers_wrap .paper p.authors {
	line-height:1.2em;
}

.zfea_zenario_list_papers .papers_wrap .paper .short_abstract {
	position:relative;
	z-index:1;
	overflow:hidden;
	max-height:50px;
	padding-bottom:15px;
}

.zfea_zenario_list_papers .papers_wrap .paper .fade_layer {
	position:absolute;
	z-index:2;
	bottom:0;
	left:0;
	width:100%;
	height:50px;
	display:block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.zfea_zenario_list_papers .papers_wrap .paper .buttons {
	text-align:left;
}

.zfea_zenario_list_papers .papers_wrap .paper .buttons a {
	width:50px;
}

/* Conference
--------------------------------------------------------------------------------------------------*/

.zenario_conference_fea .documents {
	overflow:hidden;
	padding:15px;
	background:#f0f0f0;
}

.zenario_conference_fea .documents div.thumbnail {
	float:left;
	margin-right:15px;
}

.zenario_conference_fea .documents div.thumbnail img {
	border:1px solid #ccc;
}

.zenario_conference_fea .documents label {
	overflow:hidden;
	padding-top:4px;
}

/* Tokenize
--------------------------------------------------------------------------------------------------*/

.zenario_skin div.Tokenize ul,
.zenario_skin div.Tokenize ul li {
	padding:0;
	margin:0;
	list-style:none;
    position: relative;
}

.zenario_skin div.Tokenize {
	width:84%;
	max-width:480px;
	min-height:30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.zenario_skin .Tokenize .TokensContainer {
	width: 380px;
	width:calc(100% - 6px);
	height: auto;
	overflow-y: hidden;
	padding:2px;
}

.zenario_skin .zfea_row_input_button {
    float: left;
}

.zenario_skin .Tokenize .TokensContainer .Token {
	width:calc(100% - 12px);
	height: auto;
}

.zenario_skin div.Tokenize ul.TokensContainer li {
	white-space:nowrap;
}

.zenario_skin div.Tokenize ul.TokensContainer li.Token {   
	overflow:hidden;
    line-height: 18px;
    padding: 0 5px;
}

.zenario_skin div.Tokenize ul.TokensContainer li.Token, 
.zenario_skin div.Tokenize ul.TokensContainer li.TokenSearch {
	margin:0;
	float:left;
}

.zenario_skin  div.Tokenize ul.TokensContainer li.Token a.Close {
    cursor: pointer;
    float: right;
    font-size: 16px !important;
    line-height: 18px;
	margin:0 2px 0 3px !important;
    padding: 0;
}

.zenario_skin div.Tokenize ul.TokensContainer li.Token a.Close,
.zenario_skin div.Tokenize ul.TokensContainer li.Token span {
	height:auto;
	min-height:22px;
	line-height:22px !important;
}

.zenario_skin div.Tokenize ul.TokensContainer li.Token a.Close:hover {
	text-decoration:none;
}

.zenario_skin div.TokenizeMeasure, 
.zenario_skin div.Tokenize ul li span, 
.zenario_skin div.Tokenize ul.TokensContainer li.TokenSearch input {
    font-size: 12px;
}

.zenario_skin  div.Tokenize ul.TokensContainer li.Token span.zfea_picked_file_wrapper img {
	margin-top:2px;
}

.zenario_skin div.Tokenize ul.TokensContainer, 
.zenario_skin div.Tokenize ul.Dropdown {
	border:0;
	margin:1px;
}

.zenario_skin div.Tokenize .zfea_picked_file_wrapper {
	float:left;
	min-width:20px;
	padding-right:0.5em;
}

.zenario_skin .Tokenize .TokensContainer .Placeholder {
	opacity: 1;
	line-height:22px;
	padding:0 0 0 5px;
}

.zenario_skin .Tokenize.OnlyOne .TokensContainer {
	position:relative;
}

.zenario_skin .Tokenize.OnlyOne .TokenSearch {
	position:absolute;
}

.zenario_skin div.Tokenize ul.Dropdown li.Hover {
	background:#ccc !important;
	color:#555 !important;
}

/* Tokenize buttons
--------------------------------------------------------------------------------------------------*/

.zfea_form_row.zfea_form_row__image_id {
	overflow:hidden;
}

.zfea_form_row.zfea_form_row__image_id #name_for_image_id {
	display:inline-block;
	float:left;
	min-height:30px;
}

.zfea_form_row.zfea_form_row__image_id #name_for_image_id div.Tokenize {
	width:472px;
	float:left;
}

.zfea_form_row.zfea_form_row__image_id #name_for_image_id .TokenSearch {
	display:none;
}

.zfea_form_row.zfea_form_row__image_id .launch_keeper {
	margin-left:10px;
}

/* Common styles, modal window warning msg
--------------------------------------------------------------------------------------------------*/

.modal_window {
	margin:auto;
	position:relative;
	z-index:2;
	width:70%;
	-webkit-box-shadow:0 0 5px 0;
	-moz-box-shadow:0 0 5px 0;
	box-shadow:0 0 5px 0;
	padding:20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.modal_window form,
.modal_window .warning_message,
.modal_window .select_list,
.modal_window .buttons {
	text-align:center;
}

.modal_window select,
.modal_window .select_list {
	margin-top:20px;
}

.modal_window form div a.zfea_button,
.modal_window .buttons button {
	display:inline-block;
	margin:5px;
}

.modal_window #close_button {
	background-color:transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.modal_window .confirm_warning,
.zfea.confirm_warning .messageDisplay div {
	background:url("../images/icon-warning-triangle.svg") no-repeat scroll 0 0 / 47px 40px;
    min-height: 40px;
    padding: 5px 0 0 60px;
    text-align:left !important;
}

/* Buttons, nest top buttons
--------------------------------------------------------------------------------------------------*/

.nest_buttons {
	position:relative;
	overflow:hidden;
	text-align:right;
	padding:10px 0;
	margin-bottom:10px;
}

.nest_buttons a {
	float:right;
	margin-left:8px;
}

.nest_plugins_wrap > .sticky-wrapper {
	margin-bottom:10px;
}

/* Buttons, common
--------------------------------------------------------------------------------------------------*/

.zfea_button,
.nest_buttons a,
.icon_button {
	display: inline-block;
	height:26px;
	line-height:24px;
	padding:0 10px;
	text-align:center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
   	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}

.zfea_button:hover,
.nest_buttons a:hover,
.icon_button:hover {
	text-decoration:none !important;
}

.icon_button.edit_icon {
	background-image:url('images/icon-white-edit-asset.svg');
	background-repeat:no-repeat;
	background-position:center;
}

.zenario_skin .delete_icon,
.zenario_skin input[type="button"].delete_icon,
.zenario_skin .zfea_form_grouping .zfea_form_row_delete input.small_button[type="button"].delete {
	background-image:url('images/icon-delete.svg');
}

.zenario_skin .icon_button {
	width:30px;
	padding:0;
	text-indent:-999px;
	font-size:0;
	background-repeat:no-repeat;
	background-size:18px;
	background-position:center;
}

.zfea_button.delete {
	background:#B20000;
	color:#FFF;
}

.zfea_button.cancel,
.zfea_cancel {
	background: #888 !important;
    border-color: #888 !important;
    color: #FFF !important;
}

.zfea_button.cancel:hover,
.zfea_cancel:hover,
.zfea_button:hover,
.nest_buttons a:hover {
	opacity:0.8;
}

/* Common styles: pagination
--------------------------------------------------------------------------------------------------*/

.paginator_p {
	text-align:center;
	float:left;
	color:white;
	background-color:#B7B7B7;
	cursor:pointer;
	padding:2px 0 0 0;
}
	
.paginator_p_bloc {
	position:relative;
	width:3000px;
}
	
.paginator_p.over {
	background-color:#8B8B8B;
}
	
.paginator_p.selected {
	cursor: default;
	font-weight: bold;
}

.paginator_p_wrap {
	position:relative;
	overflow:hidden;
	float:left;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	line-height: 30px;
}

.paginator_slider {
	clear:left;
	height: 4px;
	top: 4px;
	left:5px;
	margin:auto;
	background: white;
	border: solid 1px black;
	position:relative;
}

.paginator_slider .ui-slider-handle {
	width: 8px;
	height: 12px;
	position: absolute;
	top: -4px;
	background-color:black;
}

.zea_pagination {
	overflow:hidden;
	padding:20px 0;
	text-align:center;
}

.zea_pagination .paginator_p_wrap {
	margin:auto;
	float:none;
}

.zea_pagination .paginator_p_wrap a.paginator_p {
	padding:0;
	color:#fff;
	background-color:#8B8B8B;
   	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.zea_pagination .paginator_p_wrap a.paginator_p.over {
	background-color:#B7B7B7;
}

.zea_pagination .paginator_p_wrap a.paginator_p.selected {
	background:#0f81ad;
	color:#FFF;
}

.zea_pagination .paginator_p_wrap a:hover {
	text-decoration:none;
}

/* Common styles: font awesome icons
--------------------------------------------------------------------------------------------------*/

.fa.fa-search {
	left:-30px;
	font-size:1.375em;
	line-height:36px;
}

.fa.fa-calendar {
	float:left;
	left:-28px;
	font-size:1.125em;
	line-height:28px;
}

.fa.fa-caret-left,
.fa.fa-circle,
.fa.fa-refresh {
	float:left;
	font-size:16px;
	padding:4px 7px 0 0;
}

.fa.fa-caret-right {
	float:right;
	font-size:18px;
	padding:4px 0 0 7px;
}

.fa.fa-angle-right {
	font-size:18px;
	padding:0 0 0 2px;
}

.fa.fa-plus {
	padding:0 5px 0 0;
}

.zenario_skin .icon_button.refresh_button {
	line-height:24px;
	font-size:18px;
	text-indent:inherit;
}

.zenario_skin .icon_button.refresh_button .fa.fa-refresh {
	float:none;
}

.icon_button.refresh_button .fa.fa-refresh {
	padding:0;
}

.input_group_icon_button .fa {
	left:8px;
	padding-right:0;
}

.zenario_skin .zfea .search_form .input-group.clear_search .fa.fa-times-circle {
	top:8px;
	font-size:18px;
}

/* RESPONSIVE tables
--------------------------------------------------------------------------------------------------*/

body.mobile .zfea_with_responsive_table .zfea_table_list_wrap { 
    overflow-x:auto;
    overflow-y:hidden;
    box-sizing: border-box;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

body.mobile .zfea_with_responsive_table .zfea_table_list_wrap th.zfea_always_visible,
body.mobile .zfea_with_responsive_table .zfea_table_list_wrap td.zfea_always_visible {
    position: absolute;
    box-sizing: border-box;
}

body.mobile .zfea_with_responsive_table .zfea_table_list_wrap td.zfea_first_col {
	background:#FDFDFD;
}

body.mobile .zfea_with_responsive_table .zfea_table_list_wrap th {
	white-space:nowrap;
}

body.mobile .zfea_with_responsive_table .zfea_table_list_wrap th.sorted_buttons {
	white-space:unset;
}

body.mobile .zfea_with_responsive_table table {
	min-width:700px;
	border-collapse:unset;
}

body.mobile .zfea_with_responsive_table .zfea_table_list_wrap th {
	border-right:1px solid #ccc;
}

body.mobile .zfea_with_responsive_table .zfea_table_list_wrap th:first-child {
	border-right:0;
}

body.mobile .zfea_with_responsive_table .zfea_table_list_wrap {
	margin-top:10px;
}

body.mobile .zfea_with_responsive_table .zfea_table_list_wrap table {
	margin-top:0;
}

body.mobile .zfea_with_responsive_table .zfea_table_list_wrap table td.sorted_buttons {
	width:220px;
}

body.mobile .zfea_assetwolf_list_assets.zfea_with_responsive_table .zfea_table_list_wrap table td.sorted_buttons {
	width:320px;
}

body.mobile .zfea_with_responsive_table .zfea_table_list_wrap::-webkit-scrollbar
{
	-webkit-appearance: none;
	width: 14px;
	height: 14px;
}

body.mobile .zfea_with_responsive_table .zfea_table_list_wrap::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, .3);
}

/**/

body.mobile table.table_list tr th:first-child {
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
}

body.mobile table.table_list tr th:last-child {
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
}

body.mobile .zfea_with_responsive_table {
	padding-bottom:10px;
}

body.mobile .zfea_with_responsive_table table {
	margin:0;
}

body.mobile .zfea_with_responsive_table table.zfea_wide_table {
	min-width:1000px;
}

body.mobile .zfea_with_responsive_table.zfea_has_1_always_visible_cols .zfea_table_list_wrap {
	width: calc(100% - 150px);
    margin-left:150px;
}

body.mobile .zfea_with_responsive_table .zfea_table_list_wrap th.zfea_always_visible,
body.mobile .zfea_with_responsive_table .zfea_table_list_wrap td.zfea_always_visible {
	width: 150px;
    left: 0;
}

body.mobile .zfea_with_responsive_table.zfea_has_1_always_visible_cols .zfea_table_list_wrap th.zfea_always_visible:nth-child(2),
body.mobile .zfea_with_responsive_table.zfea_has_1_always_visible_cols .zfea_table_list_wrap td.zfea_always_visible:nth-child(2) {
	left: 150px;
}

body.mobile .zfea_with_responsive_table.zfea_has_2_always_visible_cols .zfea_table_list_wrap th.zfea_always_visible:nth-child(2),
body.mobile .zfea_with_responsive_table.zfea_has_2_always_visible_cols .zfea_table_list_wrap td.zfea_always_visible:nth-child(2) {
	left: 150px;
}

body.mobile .zfea_with_responsive_table.zfea_has_3_always_visible_cols .zfea_table_list_wrap th.zfea_always_visible:nth-child(1),
body.mobile .zfea_with_responsive_table.zfea_has_3_always_visible_cols .zfea_table_list_wrap td.zfea_always_visible:nth-child(1) {
	display:none;
}

body.mobile .zfea_with_responsive_table.zfea_has_3_always_visible_cols .zfea_table_list_wrap th.zfea_always_visible:nth-child(2),
body.mobile .zfea_with_responsive_table.zfea_has_3_always_visible_cols .zfea_table_list_wrap td.zfea_always_visible:nth-child(2) {
	left: 0;
}

body.mobile .zfea_with_responsive_table.zfea_has_3_always_visible_cols .zfea_table_list_wrap th.zfea_always_visible:nth-child(3),
body.mobile .zfea_with_responsive_table.zfea_has_3_always_visible_cols .zfea_table_list_wrap td.zfea_always_visible:nth-child(3) {
	left: 60px;
}

body.mobile .zfea_with_responsive_table.zfea_zenario_list_conferences .zfea_table_list_wrap table td.sorted_buttons {
	width:auto;
}

body.mobile .zfea_with_responsive_table .zfea_no_items_message {
	text-align:center;
}

/* Layout max-width: 630px
--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 631px) {

	.zenario_skin .zfea .search_form input[type="search"] {
		max-width:none;
		width:calc(100% - 41px);
	}
	
}