{% if Events_List %}
	{% if Event_elements_equal_height %}
		<div class="event_listing setmychildren">
	{% else %}
		<div class="event_listing">
	{% endif %}

		{% if Title %}
			<div class="heading">
				<{{Title_Tags|e}}>{{Title}}</{{Title_Tags|e}}>
			</div>
		{% endif %}
		
		{% if Items_Message %}
			<div class="events_to_show"> 
				<{{Title_Tags_If_Items|e}}>{{Items_Message}}</{{Title_Tags_If_Items|e}}>
			</div>
		{% endif %}
		
		{% for Event in Event_Row_On_List %}
			
			{% if Event.start_year_label and Event.start_month_label %}
				{% if YearCurrentLabel is not defined or YearCurrentLabel != Event.start_year_label %}
					{% set YearCurrentLabel = Event.start_year_label %}
					<div class="year_label">
						{{YearCurrentLabel|e}}
					</div>
				{% endif %}
				
				{% if MonthCurrentLabel is not defined or MonthCurrentLabel != Event.start_month_label %}
					{% set MonthCurrentLabel = Event.start_month_label %}
					<div class="month_label">
						{{MonthCurrentLabel|e}}
					</div>
				{% endif %}
			{% endif %}
			
			{% if Event_elements_equal_height %}
				<div class="single_event tothesameheight {% if Event.Show_Pinned_Text or Event.Show_Pinned_Icon %} pinned_item {% endif %}">
			{% else %}
				<div class="single_event {% if Event.Show_Pinned_Text or Event.Show_Pinned_Icon %} pinned_item {% endif %}">
			{% endif %}
			    {% if Event.Sticky_image_HTML_tag %}
                    <div class="single_event_sticky_image">
                        <a class="single_event_image_link" href="{{Event.Link_To_Event}}">
                            {{Event.Sticky_image_HTML_tag}}
                        </a>
                    </div>
				{% endif %}
				<div class="single_event_description">
					{% if Event.Show_Pinned_Text or Event.Show_Pinned_Icon %}
						<div class="{% if Event.Pinned_Text %} pinned {% endif %} {% if Event.Show_Pinned_Icon %} pinned_icon {% endif %}">
							{% if Event.Pinned_Text %}
								<{{Event.Pinned_Text_Html_Tag|e}}>{{Event.Pinned_Text}}</{{Event.Pinned_Text_Html_Tag|e}}>
							{% endif %}
						</div>
					{% endif %}
					<div class="event_title">
						<{{Event_Title_Tags|e}}><a href="{{Event.Link_To_Event}}">{{Event.Event_Title}}</a></{{Event_Title_Tags|e}}>
					</div>
					<span class="single_event_date">{{Event.Event_Dates}}{% if Event.Event_Timezone %}, {{Event.Event_Timezone}}{% endif %}</span>
					{% if Event.Event_location_name %}
						<span class="single_event_location_name">{{Event.Event_location_name}}</span>
					{% endif %}
					{% if Event.Event_location_city %}
						<span class="single_event_location_city">{{Event.Event_location_city}}</span>
					{% endif %}
					{% if Event.Event_location_country %}
						<span class="single_event_location_country">{{Event.Event_location_country}}</span>
					{% endif %}
					<span class="single_event_description">{{Event.Event_Summary}}</span>
					{% if Show_Category and Event.Category %}
						{% if Event.Category_Landing_Page_Link %}
							<a href="{{Event.Category_Landing_Page_Link|e}}" target="_blank">
						{% endif %}
						<div class="single_event_category category_{{Event.Category_Id|e}}">{{Event.Category|e}}</div>
						{% if Event.Category_Landing_Page_Link %}
							</a>
						{% endif %}
					{% endif %}
					<a class="single_event_more_link" href="{{Event.Link_To_Event}}" >{{'More details...'|trans}}</a>
				</div>
			</div>
		{% endfor %}
		
		<div class="event_list_more_bottom">
			<a class="event_list_more_link" {{More_Link}}>{{More_Link_Title}}</a>
		</div>
	</div>
	{{Pagination}}
{% elseif No_Events %}
	{% if Title %}
		<div class="heading">
			<h2>{{Title}}</h2>
		</div>
	{% endif %}
	
    {% if No_Items_Message %}
		<div class="no_events_to_show"> 
			<{{Title_Tags_If_No_Items|e}}>{{No_Items_Message}}</{{Title_Tags_If_No_Items|e}}>
		</div>
	{% endif %}
{% endif %}