{% if Events_List %}
	{% if Event_elements_equal_height %}
		<div class="event_listing setmychildren">
	{% else %}
		<div class="event_listing">
	{% endif %}

		{% if Title %}
			<h2>{{Title}}</h2>
		{% endif %}
		
		{% for Event in Event_Row_On_List %}
			{% if Event_elements_equal_height %}
				<div class="single_event tothesameheight">
			{% else %}
				<div class="single_event">
			{% endif %}
			    {% if Event.Sticky_image_HTML_tag %}
                    <div class="single_event_sticky_image">
                        <a class="single_event_image_link" href="{{Event.Link_To_Event}}">
                            {{Event.Sticky_image_HTML_tag}}
                        </a>
                    </div>
				{% endif %}
				<div class="single_event_description">
					<div class="event_title">
						<h2><a href="{{Event.Link_To_Event}}">{{Event.Event_Title}}</a></h2>
					</div>
					<span class="single_event_date">{{Event.Event_Dates}}</span>
					{% if Event.Event_location_name %}
						<span class="single_event_location_name">{{Event.Event_location_name}}</span>
					{% endif %}
					{% if Event.Event_location_city %}
						<span class="single_event_location_city">{{Event.Event_location_city}}</span>
					{% endif %}
					{% if Event.Event_location_country %}
						<span class="single_event_location_country">{{Event.Event_location_country}}</span>
					{% endif %}
					<span class="single_event_description">{{Event.Event_Description}}</span>
					{% if Show_Category and Event.Category %}
						{% if Event.Category_Landing_Page_Link %}
							<a href="{{Event.Category_Landing_Page_Link|e}}">
						{% endif %}
						<div class="single_event_category category_{{Event.Category_Id|e}}">{{Event.Category|e}}</div>
						{% if Event.Category_Landing_Page_Link %}
							</a>
						{% endif %}
					{% endif %}
					<a class="single_event_more_link" href="{{Event.Link_To_Event}}" >{{'_MORE'|trans}}</a>
				</div>
			</div>
		{% endfor %}
	</div>
	{{Pagination}}
{% elseif No_Events %}
    <div class="no_events_to_show" > 
		{{'_NO_EVENTS_TO_DISPLAY'|trans}}
	</div>
{% endif %}
