body div.admin_login_link {
	position:fixed;
	z-index:9999999;
	
	text-align:center;
	font-size: 12px;
	
	background: #fafafa;
	border: #fafafa 0px;
	padding: 5px 9px 4px;
	
	border-radius: 7px;
	box-shadow: 0 0 10px 0 #808080;
}

body div.admin_login_link.alll {
	left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

body div.admin_login_link.allc {
	right: 47%;
}

body div.admin_login_link.allr {
	right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}


body div.admin_login_link a.admin_login_link {
    display: inline-block;
	color:#000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

body div.admin_login_link a.admin_login_link:hover {
	text-decoration: underline;
}


body div.admin_login_link a.clear_admin_cookie {
	position: absolute;
	top: -6px;
	right: 0px;
	width: 10px;
	height: 5px;
	padding-top: 4px;
	line-height: 0;
	font-size: 10px;
	
	color: #ffffff;
	background: #333333;
	text-decoration:none;
	box-shadow: 0 0 4px 0 #808080;
	
	border-radius: 6px;
	border: #333333 solid 2px;
}
body div.admin_login_link a.clear_admin_cookie:before {
	content: "×";
}

body div.admin_login_link.restore_admin_toolbar {
	/*
		Some placeholder styles for the button to show the admin toolbar.
		To do: Style this properly and add an icon!
	*/
	background: pink;
	width: 25px;
	height: 25px;
	cursor: pointer;
}