/* Styles for the counters and search engine results preview on the Meta data tab (Edit content) */
.snippet__title, 
.snippet__description,
.snippet__keywords
{
    width: 35px;
    float:left;
    margin:3px 0 0 10px !important;
    font-size:11px;
}

.snippet__title div, 
.snippet__description div,
.snippet__keywords div
{
    display:inline;
    padding: 2px 5px !important;
    text-align: center;
}

.title_red,
.description_red,
.keywords_red
{
	background: none repeat scroll 0 0 #FCA4A3;
}

.title_orange,
.description_orange,
.keywords_orange
{
	background: none repeat scroll 0 0 #FF9900;
}

.title_yellow,
.description_yellow,
.keywords_yellow
 {
	background: none repeat scroll 0 0 #FFCC33;
}

.title_green,
.description_green,
.keywords_green
 {
	background: none repeat scroll 0 0 #53F27C;
}

#snippet__google_preview .google_preview_container {
	background:#fff;
	font-family:arial,sans-serif;
	padding:5px 8px;
	max-width:42em;
	border:1px dotted #ccc;
}

#snippet__google_preview .google_preview_container h3.google_preview_title {
	color:#1122CC;
	line-height:1.4em;
	text-decoration:underline;
	font-size:medium;
}

#snippet__google_preview .google_preview_container #google_preview_url {
	color:#009933;
	font-size:14px;
}

#snippet__google_preview .google_preview_container #google_preview_description {
	color:#222;
	font-size:12px;
}

.zenario_overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	opacity: 0.5;
	background-color: black;
}

#row__title input,
#row__description textarea,
#row__keywords textarea {
	float:left;
}

#zenario_fbAdminFloatingBox {
    display: none;
    position: fixed;
    z-index: 310000;
}

#zenario_fbAdminTooltip {
    display: none;
    position: fixed;
    z-index: 330000;
}

#zenario_fbAdminMessage {
    position: fixed;
    top: 17%;
    left: 50%;
    z-index: 340000;
}

#zenario_fbAdminOrganizer {
    display: none;
    position: fixed;
    height: 100%;
    z-index: 370000;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#zenario_fbAdminInfoBox {
    display: none;
    position: fixed;
    top: 2%;
    left: 50%;
    z-index: 360000;
}

#colorbox.zenario_show_colobox_above_fab {
    z-index: 370000;
}

#zenario_fbog,
#zenario_fbog__overlay {
	z-index: 2000;
}

#zenario_fbDebugInfoBox {
	z-index: 2001;
}

.zenario_debugInfo {
	display: block;
}

/*  Hack to get intro.js working with Organizer  */
#zenario_fbog.zenario_introjs_fixPosition {
	position: absolute !important;
}

#zenario_fbAdminColumnFilter,
#zenario_fbAdminViewModeOptions,
#zenario_fbAdminColumnFilter__overlay,
#zenario_fbAdminViewModeOptions__overlay {
	z-index: 2001;
}

#zenario_fbog.zenario_organizer_over_admin_box {
	z-index: 350000;
}

#zenario_fbAdminOrganizer iframe {
	border: 0px;
	margin: 0px;
	padding: 0px;
}



/*  Default calendar icon for datepickers  */

input.zenario_datepicker {
	background-image: url("../admin/images/icons/calendar_small.gif");
	background-repeat: no-repeat;
	background-position: 98% 50%;
}


/*  Bugfix for jQueryUI Datepicker (all browsers)  */

#ui-datepicker-div {
	display: none;
}


/*  Bugfix for jQueryUI Progressbar in Admin Mode  */

#zenario_progress.ui-progressbar #zenario_progressbar.ui-progressbar-value {
	margin: 0;
}


/*  Bugfix for jQueryUI Sliders in Admin Mode  */

#zenario_abtab .thickbox .ui-slider-horizontal .ui-slider-handle {
	top: -0.19em;
}


/*  Revealing fields in Admin Boxes  */

div.zenario_show_on_open {
	display: none;
}


/*  CSS for the AJAX Loading Spinners  */



.zenario_fbAdminAJAXLoader {
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 335000;
}

#organizer_preloader_circle {
	position: absolute;
	background: url('../admin/images/store_keeper/overlay_light_grey.png');
	z-index: 60;
}

.zenario_fbAdminAJAXLoader div,
#organizer_preloader_circle div {
}

@-webkit-keyframes zenario_spinner {
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes zenario_spinner {
	to {
		transform: rotate(360deg);
	}
}

.zenario_fbAdminAJAXLoader div {
    border: 3px solid #bbb;
    border-top-color: #01d103;
}

#organizer_preloader_circle div {
    border: 3px solid #666;
    border-top-color: #01d103;
}

.zenario_fbAdminAJAXLoader div,
#organizer_preloader_circle div {
    top: 40%;
	height: 32px;
	width: 32px;
	margin: auto;
	position: relative;
    border-radius: 50%;
	-webkit-animation: zenario_spinner 1s infinite linear;
	animation: zenario_spinner 1s infinite linear;
	opacity: 0.8;
}

.zenario_adminAJAXLoaderOpen #organizer_preloader_circle {
	visibility: hidden;
}




/*  Customisations for the jQuery Upload bar  */

#zenario_progress_wrap {
	display: none;
	background:url('../admin/images/background-semi-transparent-black.png');
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:320000;
}

#zenario_progress {
	position: fixed;
	top: 45%;
	left:20%;
	width:57%;
	height: 40px;
	z-index: 999999;
	padding:5px 30px 0 10px;
}

#zenario_progress.ui-widget {
	font-size:12px;
}

#zenario_progress.ui-widget-content {
	background:#333;
	color:#FFF;
	border:2px solid #F6F6F6;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#zenario_progressbar.ui-widget-header {
	height:9px;
	background:#02CB01;
	border:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#zenario_progress #zenario_progress_stop {
	float: right;
	position: relative;
	width: 18px;
	height: 18px;
	margin: -10px -20px 0 0;
	cursor: pointer;
	background: url('../admin/images/close-icon-uploader.png') no-repeat;
}

/*
	Style "cancelled" look, when someone presses the "cancel" button
	(Note: this usually happens so quickly its hard to see; maybe there's no need to style this.)
*/
.zenario_progress_cancelled #zenario_progressbar {
}


#zenario_progress #zenario_progress_name {
	/*position: absolute;*/
	width: 100%;
	text-align: center;
	background: transparent;
	margin-bottom:5px;
	/*margin-top: 10px;*/
}



/*  Admin Mode Tooltips  */
/*  These all have !important added to them to try and prevent these styles from being overwritten by anything targeting Visitor Tooltips  */

.zenario_admin_tooltip {
	font-size: 11px !important;
	padding: 8px 10px !important;
}

.zenario_admin_tooltip {
	background-color: #333 !important;
	background-image: none !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #BDBDBD !important;
	font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	z-index: 400000;
}

.zenario_admin_tooltip,
.ui-tooltip.zenario_admin_tooltip {
	z-index: 400000;
	word-wrap: break-word;
}

body .zenario_admin_tooltip_over_tinymce {
	z-index: 65555;
}

.zenario_admin_tooltip,
.zenario_admin_tooltip a {
	color: #FFF !important;
}

.zenario_admin_tooltip .ui-tooltip-content {
	max-width: 450px;
}

.zenario_admin_tooltip p,
.zenario_admin_tooltip h3 {
    font-size: 100% !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding: 0 !important;
}

.zenario_admin_tooltip p {
    margin-top: 20px !important;
}

.zenario_admin_tooltip p:first-child {
    margin-top: 0 !important;
}

.zenario_admin_tooltip h3 {
    font-weight: bold !important;
}

.zenario_admin_tooltip .tooltip_arrow {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}


.zenario_admin_tooltip.tooltip_middle_left {
	margin-left: 8px;
}
.zenario_admin_tooltip.tooltip_middle_left .tooltip_arrow {
	display: block;
	left: -6px;
	background: left transparent no-repeat url('../admin/images/tooltip_left_black.png');
}

.zenario_admin_tooltip.tooltip_middle_right {
	margin-right: 8px;
}
.zenario_admin_tooltip.tooltip_middle_right .tooltip_arrow {
	display: block;
	right: -6px;
	background: right transparent no-repeat url('../admin/images/tooltip_right_black.png');
}

.zenario_admin_tooltip.tooltip_top_center {
	margin-top: 8px;
}
.zenario_admin_tooltip.tooltip_top_center .tooltip_arrow {
	display: block;
	top: -6px;
	background: top transparent no-repeat url('../admin/images/tooltip_up_black.png');
}

.zenario_admin_tooltip.tooltip_bottom_center .tooltip_arrow {
	display: block;
	position: relative;
	top: 13px;
	height: 5px;
	background: bottom transparent no-repeat url('../admin/images/tooltip_down_black.png');
}

.zenario_admin_tooltip.tooltip_bottom_left .tooltip_arrow {
	display: block;
	position: relative;
	top: 13px;
	height: 5px;
	background: 80% bottom transparent no-repeat url('../admin/images/tooltip_down_black.png');
}

span.zenario_conditionally_hidden {
	opacity: 0.5;
}
$span .zenario_inactive {
	background: pink !important;
}
.zenario_inactive a {
	font-style: italic;
}

/* inputs consistency between browsers */
/* Removed as it was causing checkboxes to be hidden! */
/*
input, textarea, button {
    -webkit-appearance: none; / *Safari/Chrome* /
    -moz-appearance: none; / *Firefox* /
    -ms-appearance: none; / *IE* /
    -o-appearance: none; / *Opera* /
    appearance: none;
    -webkit-border-radius: 0; 
}
*/

/*  Debug icon  */

.zenario_debug {
	position: relative;
	float: right;
	width: 18px;
}

.zenario_debug div {
	position: absolute;
	width: 18px;
	height: 18px;
	display: block;
	background: url('../admin/images/sprites/sprite-grid-icons-single-col-v2.png') no-repeat -17px -1296px;
	cursor:pointer;
}

.zenario_debug:hover div {
	background-position: -17px -1346px;
}

.zenario_at_dev_icons {
	float: right;
	width: 74px;
	height: 18px;
	padding: 5px 5px 0 0;
	overflow: hidden;
}

.zenario_at_dev_icon {
	float: right;
	width: 18px;
	height: 18px;
	margin-left: 5px;
	cursor: pointer;
}

#zenario_at_top_left_menu .organizer_item_image.zenario_dev_tools_disabled {
	background: url('../admin/images/sprites/sprite-grid-icons-single-col-v2.png') no-repeat -14px -1291px;
}

#zenario_at_top_left_menu .organizer_item_image.zenario_dev_tools_enabled {
	background: url('../admin/images/sprites/sprite-grid-icons-single-col-v2.png') no-repeat -14px -1341px;
}

/* Page preview icons */

#zenario_at .zenario_at_toolbar_container_top ul li.zenario_small_preview_icon_desktop {
	background:url('../admin/images/page_preview_icons/desktop-small-icon.png') no-repeat 0px center;
}
#zenario_at .zenario_at_toolbar_container_top ul li.zenario_small_preview_icon_laptop {
	background:url('../admin/images/page_preview_icons/laptop-small-icon.png') no-repeat 0px center;
}
#zenario_at .zenario_at_toolbar_container_top ul li.zenario_small_preview_icon_tablet {
	background:url('../admin/images/page_preview_icons/ipad-portrait-small-icon.png') no-repeat 0px center;
}
#zenario_at .zenario_at_toolbar_container_top ul li.zenario_small_preview_icon_tablet_landscape {
	background:url('../admin/images/page_preview_icons/ipad-landscape-small-icon.png') no-repeat 0px center;
}
#zenario_at .zenario_at_toolbar_container_top ul li.zenario_small_preview_icon_smartphone {
	background:url('../admin/images/page_preview_icons/mobile-small-icon.png') no-repeat 0px center;
}

#zenario_at .zenario_at_toolbar ul li li.zenario_small_preview_icon_desktop a,
#zenario_at .zenario_at_toolbar ul li li.zenario_small_preview_icon_laptop a,
#zenario_at .zenario_at_toolbar ul li li.zenario_small_preview_icon_tablet a,
#zenario_at .zenario_at_toolbar ul li li.zenario_small_preview_icon_tablet_landscape a,
#zenario_at .zenario_at_toolbar ul li li.zenario_small_preview_icon_smartphone a,
#zenario_at .zenario_at_toolbar ul li:hover li.zenario_small_preview_icon_desktop a,
#zenario_at .zenario_at_toolbar ul li:hover li.zenario_small_preview_icon_laptop a,
#zenario_at .zenario_at_toolbar ul li:hover li.zenario_small_preview_icon_tablet a,
#zenario_at .zenario_at_toolbar ul li:hover li.zenario_small_preview_icon_tablet_landscape a,
#zenario_at .zenario_at_toolbar ul li:hover li.zenario_small_preview_icon_smartphone a {
	margin-left: 8px;
}

.organizer_item_image.page_preview_size {
	background:url('../admin/images/page_preview_icons/desktop-list-icon.png') no-repeat -15px center;
}


.organizer_item_image.zenario_preview_icon_desktop {
	background:url('../admin/images/page_preview_icons/desktop-list-icon.png') no-repeat -15px center;
}
.organizer_item_image.zenario_preview_icon_laptop {
	background:url('../admin/images/page_preview_icons/laptop-list-icon.png') no-repeat -15px center;
}
.organizer_item_image.zenario_preview_icon_tablet {
	background:url('../admin/images/page_preview_icons/ipad-portrait-list-icon.png') no-repeat -15px center;
}
.organizer_item_image.zenario_preview_icon_tablet_landscape {
	background:url('../admin/images/page_preview_icons/ipad-landscape-icon.png') no-repeat -15px center;
}
.organizer_item_image.zenario_preview_icon_smartphone {
	background:url('../admin/images/page_preview_icons/mobile-list-icon.png') no-repeat -15px center;
}



/*
	Tag colours
*/


label.zenario_tag,
#zenario_fbAdminInner label.zenario_tag {
	font-weight: normal;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 9px;
	display:inline-block;
	height:21px;
	line-height: 19px;
	padding: 0 8px 0 0;
	margin-left: 5px;
	margin-right: 2px;
	color: white;
	background-color: #027dc9;
}

#zenario_fbAdminInner label.zenario_tag {
	display:unset;
	padding: 5px 8px 5px 0;
}

.zenario_ab__zenario__user_activity_band div.zenario_group_4_cols {
	padding-bottom:5px !important;
}

body.webkit label.zenario_tag,
body.webkit #zenario_fbAdminInner label.zenario_tag {
	line-height: 21px;
}

label.zenario_tag::before {
	content: '';
	border-color: transparent #027dc9;
	border-style: solid;
	border-width: 5px 5px 5px 0;
	position: relative;
	right: 5px;
}

label.zenario_tag_red,
#zenario_fbAdminInner label.zenario_tag_red {
	background-color: #e50707;
	border-color: #e50707;
}
label.zenario_tag_red::before {
	border-color: transparent #e50707;
}

label.zenario_tag_green,
#zenario_fbAdminInner label.zenario_tag_green {
	background-color: #05b106;
	border-color: #05b106;
}
label.zenario_tag_green::before {
	border-color: transparent #05b106;
}

label.zenario_tag_orange,
#zenario_fbAdminInner label.zenario_tag_orange {
	background-color: #ec590f;
	border-color: #ec590f;
}
label.zenario_tag_orange::before {
	border-color: transparent #ec590f;
}

label.zenario_tag_yellow,
#zenario_fbAdminInner label.zenario_tag_yellow {
	background-color: #c4b400;
	border-color: #c4b400;
}
label.zenario_tag_yellow::before {
	border-color: transparent #c4b400;
}

label.zenario_tag_violet,
#zenario_fbAdminInner label.zenario_tag_violet {
	background-color: #a600c4;
	border-color: #a600c4;
}
label.zenario_tag_violet::before {
	border-color: transparent #a600c4;
}

label.zenario_tag_grey,
#zenario_fbAdminInner label.zenario_tag_grey {
	background-color: #6f6f6f;
	border-color: #6f6f6f;
}
label.zenario_tag_grey::before {
	border-color: transparent #6f6f6f;
}


/*
	Placeholder text for WYSIWYG Editors
*/
.empty_contenteditable_with_placeholder,
.mce-content-body {
	min-height: 80px;
	margin-top: 10px;
}

.empty_contenteditable_with_placeholder:before {
	display: block;
	content: 'Please enter some text...';
	color: black;
	cursor:text;
}

.zenario_slot_being_edited .banner_title_input_box {
	width: 100%;
	background-color: #ffffff;
	color: #000000;
}

.zenario_slot_being_edited .zenario_banner .banner_title input,
.zenario_slot_being_edited .zenario_banner .banner_text .mce-content-body {
	background-color: #ffffff !important;
	width:calc(100% - 10px);
	padding:5px;
}

.zenario_slot_being_edited .zenario_banner .banner_text p,
.zenario_slot_being_edited .zenario_banner .banner_title *,
.zenario_slot_being_edited .zenario_banner .banner_title a,
.zenario_slot_being_edited .zenario_banner .banner_text *,
.zenario_slot_being_edited .zenario_banner .banner_text a {
	color: #000000;
}

.zenario_slot_being_edited .zenario_banner .banner_text p br {
	display:none;
}



/*
	Placeholder text for WYSIWYG Editors
*/

body .mce-menu-item-preview.mce-active {
    border-left: 5px solid #f80;
}



/*
	Little hack to try and make the TinyMCE-toolbar roughly the same height as the admin toolbar it replaces
*/

#zenario_at_toolbars .mce-menubar {
	margin: 3px 0;
}

#zenario_at_toolbars .mce-toolbar-grp {
	margin: 6px 0;
}



/*
	Make the "toasts" at the top right a bit bigger by default in admin mode,
	and tweak the opacity and icon position
*/

#toast-container.toast-top-right>div {
	width: 365px;
	font-family: verdana, arial, helvetica;
    font-size: 13px;
    opacity: 0.95;
    background-position: 15px 15px
}


/*
	Plugin previews, try to make the background of the page a checkered pattern
*/

body.zenario_showing_plugin_preview,
body.zenario_showing_plugin_preview div#zenario_skin {
	background: url('../admin/images/checkered.gif') repeat !important;
}

/*
	Link status, some placeholder styles
*/

del.zenario_link_status {
	text-decoration: none;
	position: absolute;
	z-index: 90;
	float: right;
	text-align: left;
	overflow: visible;
	line-height: 1px;
	width: 0;
	height: 0;
	margin-left: -15px;
}

del.zenario_link_status > del {
	text-decoration: none;
	position: absolute;
	z-index: 91;
	width: 16px;
	height: 16px;
	border: 0;
	opacity: 0.5;
}

del.zenario_link_status__content_not_found > del {
	background:url('../admin/images/link_status/doesnt-exist-v2.png') no-repeat center;
}

del.zenario_link_status__hidden > del {
	background:url('../admin/images/link_status/draft-v2.png') no-repeat center;
}

del.zenario_link_status__published_with_draft > del {
	background:url('../admin/images/link_status/published-with-draft-v2.png') no-repeat center;
}

del.zenario_link_status__published_with_draft_401 > del {
	background:url('../admin/images/link_status/published-with-draft-protected-v2.png') no-repeat center;
}

del.zenario_link_status__published_with_draft_403 > del {
	background:url('../admin/images/link_status/published-with-draft-403-v2.png') no-repeat center;
}

del.zenario_link_status__published_401 > del {
	background:url('../admin/images/link_status/published-protected-v2.png') no-repeat center;
}

del.zenario_link_status__published_403 > del {
	background:url('../admin/images/link_status/published-403-v2.png') no-repeat center;
}

del.zenario_link_status__spare_domain > del {
	background:url('../admin/images/link_status/spare-domain-v2.png') no-repeat center;
}

del.zenario_link_status__menu_warning > del {
	background-image: url('../admin/images/sprites/org-icons-v5.png');
    background-position: -667px -117px;
}