/*
	Styles to apply to the page when showing the preview of a plugin in admin mode
	
	Try and "fake" the grid, to get as many styles from the Skin as possible,
	while still showing the plugin on its own taking up the full width
*/


body {
	background: repeating-linear-gradient(45deg, #f0f0f0, #f0f0f0 25px, #d0d0d0 25px, #d0d0d0 50px) !important;
}

#zenario_skin,
#zenario_layout,
#zenario_citem {
	margin: 0 !important;
	padding: 0 !important;
}

.container .span {
	max-width: 100%;
}