
/*	CSS classes and styles for the editor and the preview  */

body {
	margin:0;
	overflow: hidden;
}

body.iframe {
	margin: 0;
	padding: 0;
	overflow-x: auto;
	overflow-y: hidden;
	background: #fdd5d5;
}

.grid_maker_wrap {
	background: #333;
	font-family: 'Verdana',​Arial;
	font-size: 12px;
	color:#E2E2E2;
	padding:6px;
}

#settings .ui-spinner-disabled {
	opacity: 0.7;
}

#settings .ui-spinner-disabled a {
	display: none;
}

#settings .ui-spinner span.zenario_grid_unit {
	position: relative;
	right: 25px;
	top: 2px
}


span.zenario_grid_setting_warning,
span.zenario_grid_setting_warning input {
	background-image: none;
	background-color: pink;
}

ul.zenario_grids {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0 0 30px 0;
	height: auto;
}

li.zenario_grid_add,
li.zenario_grid_cell {
	position:relative;
	float: left;
	min-height: 50px;
	padding: 0;
}
li.zenario_grid_add {
	cursor: pointer;
}
li.zenario_grid_cell {
	cursor: move;
}

.zenario_grid_sortable_target div {
	height: 100%;
	border: 2px dotted #008000;
}

.zenario_grid_cell_size {
	color:#333;
}

.zenario_grids .zenario_grids {
	background: url('../admin/images/10.png');
	outline: grey 1px solid;
}

.zenario_grids .zenario_grid_cell .ui-resizable-handle {
	width: 22px;
	height: 17px;
	margin-right:2px;
	margin-top:-5px;
	background: url('../admin/images/grid_maker/drage-left-right-icon.png');
	cursor: e-resize;
}

.zenario_grids .zenario_grid_resp_child .ui-resizable-handle {
	visibility: hidden;
}

.ui-resizable-helper {
	text-align: center;
	font-family: 'Trebuchet MS',​Arial;
	font-size: 12px;
}

body.zenario_grid_resizing_nest .ui-resizable-helper div.zenario_resizing_border,
body.zenario_grid_resizing_space_cell .ui-resizable-helper div.zenario_resizing_border {
	border: 2px dotted black;
}

body.zenario_grid_resizing_cell .ui-resizable-helper div.zenario_resizing_border {
	border: 2px dotted red;
}

.zenario_size_when_resizing {
	font-family:'Verdana',​Arial;
	font-size:12px;
	bottom:0;
	right:0;
	position:absolute;
}

.ui-resizable-helper div.zenario_size_when_resizing {
	margin: 20px;
	text-align:left;
	padding-left:5px;
}

div.zenario_grid_gutter {
	width: auto;
	/*height: 100%;*/
	overflow: hidden;
}

div.zenario_grid_cell_info {
	position: absolute;
	top: 12px;
	display: block;
	width: 24px;
	height: 24px;
	background: url('../admin/images/grid_maker/info-icon.png');
	cursor: help;
}

div.zenario_grid_delete {
	position: absolute;
	top: 12px;
	display: block;
	width: 24px;
	height: 24px;
	background: url('../admin/images/grid_maker/delete-icon.png');
	cursor: pointer;
}

.zenario_grid_faux_block,
.zenario_grid_faux_block_r,
.zenario_grid_faux_block_t {
	width:22px;
	height:1px;
	float:left;
    clear:left;
}

.zenario_grid_faux_block_r {
	float:right;
}

.zenario_grid_faux_block_t {
	height:11px;
}

div.zenario_grid_name_area,
div.area_first {
    float: left;
    clear: right;
	overflow:hidden;
}

div.zenario_grid_object_properties,
div.zenario_grid_cell_show_hide_first span {
	margin-left:5px;
}

div.zenario_grid_object_properties {
	float:left;
	margin-right: 22px;
}

div.zenario_grid_cell_size {
	float:right;
	margin-right:10px;
}

div.zenario_grid_object_properties {
	width: 100%;
}
div.zenario_grid_object_properties div {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 70%;
}

div.zenario_grid_object_properties span {
	padding-right: 20px;
}

div.zenario_grid_object_properties span,
div.zenario_grid_cell_show_hide_first span {
	cursor: text;
	color:#333;
}

div.zenario_grid_cell_resp_options,
div.zenario_grid_cell_show_hide_first {
	clear:both;
	margin-top:10px;
	overflow: hidden;
}

div.zenario_grid_cell_show_hide_first span {
	clear:both;
	display:inline-block;
	overflow:hidden;
}

div.zenario_grid_object_properties:hover span,
div.zenario_grid_border:hover div.zenario_grid_object_properties span {
	cursor:pointer;
	background: right center no-repeat url('../admin/images/grid_maker/rename-icon.png');
}

div.zenario_grid_cell_resp_options select,
div.zenario_grid_cell_show_hide_first label,
div.zenario_grid_cell_show_hide_first input {
	margin:0;
	padding:0;
	float:left;
}

div.zenario_grid_cell_resp_options select,
div.zenario_grid_cell_show_hide_first input {
	margin:2px 0 0 2px;
}

form.zenario_grid_form {
	/*height: 7em;*/
	height:auto;
	width: 20em;
}

#zenario_grid_slotname_error {
	display: none;
	color: #800000;
}

a.zenario_grid_add_slot,
a.zenario_grid_add_space,
a.zenario_grid_add_children,
a.zenario_grid_add_grid_break,
a.zenario_grid_add_grid_break_with_slot {
	cursor: pointer;
}

div.zenario_add_cell {
	padding: 10px 0;
	border: #808080 2px dashed;
	margin-top: 10px;
	background: #F5F5F5 url('../admin/images/grid_maker/add-icon.png') no-repeat center center;
	opacity:0.8;
}

div.zenario_grid_border {
	overflow:hidden;
	/*border-bottom-style: none;*/
	padding: 10px 0 5px;
	border: red 2px solid;
	margin-top: 10px;
	margin-bottom: 10px;
	background: url('../admin/images/grid_maker/white-bg.png');
	color:#333;
	font-family: 'Verdana',​Arial;
	font-size: 12px;
}

div.slot div.zenario_grid_border {
	text-align: center;
}

div.zenario_grid_space {
	padding: 10px 0;
	margin-top: 10px;
	margin-bottom: 10px;
	background: url('../admin/images/10.png');
	border: grey 1px solid;
}

div.zenario_grid_break_outer_wrap {
	background: #fdd5d5;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.zenario_grid_break {
}

div.zenario_grid_break_no_slot {
	border: #d0b5b5 1px solid;
	background: url('../admin/images/10.png');
}

div.zenario_grid_break_with_slot {
}

div.zenario_grid_break_outer_wrap div.zenario_grid_border {
	margin-top: 0;
	margin-bottom: 0;
}

.zenario_grid_preview iframe {
	border: 1px solid black;
	/*background: #fdd5d5;*/
}


/*  Different Grid Heights  */

body.iframe .zenario_grid_bg_preview .small_slot div.zenario_grid_border {
	/*border: 2px;*/
	padding: 5px 0 5px;
	height: 16px;
}

body.iframe .zenario_grid_bg_preview .medium_slot div.zenario_grid_border {
	/*border: 2px;*/
	padding: 10px 0 5px;
	height: 61px;
}

body.iframe .zenario_grid_bg_preview .large_slot div.zenario_grid_border {
	/*border: 2px;*/
	padding: 10px 0 5px;
	height: 111px;
}

body.iframe .zenario_grid_bg_preview .xlarge_slot div.zenario_grid_border {
	/*border: 2px;*/
	padding: 10px 0 5px;
	height: 161px;
}

body.iframe .zenario_grid_bg_preview .xxlarge_slot div.zenario_grid_border {
	/*border: 2px;*/
	padding: 10px 0 5px;
	height: 211px;
}








/* Settings area 
--------------------------------------------------------------------------------------------------*/

#settings .zenario_grid_options {
	clear:both;
	background:url('../admin/images/grid_maker/border.gif') repeat-x bottom;
	padding-left:25px;
}

#settings .zenario_grid_options .zenario_grid_type,
#settings .zenario_grid_options .zenario_grid_resp_and_rtl {
	float:left;
}

#settings .zenario_grid_options .zenario_grid_type,
#settings .zenario_grid_options .zenario_grid_resp_and_rtl,
#settings .zenario_grid_options .zenario_grid_dims {
	padding:12px 0;
}

#settings .zenario_grid_options .zenario_grid_resp_and_rtl {
	padding-left:2px;
	background:url('../admin/images/grid_maker/vertical-divider.gif') no-repeat left;
}

#settings .zenario_grid_i {
	width:16px;
	height:16px;
	display:block;
	text-indent:-999;
	font-size:0;
	line-height:0;
	background:url('../admin/images/grid_maker/tooltip-info-icon.png') no-repeat;
	margin-left:5px;
}

#settings .zenario_grid_type input,
#settings .zenario_grid_type label,
#settings .zenario_grid_type span,
#settings .zenario_grid_resp_and_rtl input,
#settings .zenario_grid_resp_and_rtl label,
#settings .zenario_grid_resp_and_rtl span {
	float:left;
}

#settings .zenario_grid_type input,
#settings .zenario_grid_resp_and_rtl input {
	margin-left:25px;
}

#settings .zenario_grid_type input:first-child,
#settings .zenario_grid_options .zenario_grid_dims label:first-child {
	margin-left:0;
}

#settings .zenario_grid_type span,
#settings .zenario_grid_resp_and_rtl span {
	margin-right:20px;
}

#settings .zenario_grid_options .zenario_grid_dims span {
	margin-right:8px;
}

#settings .zenario_grid_options .zenario_grid_dims select.zenario_grid_setting_col_and_gutter {
	padding:5px;
}

#settings .zenario_grid_undo_redo {
	width:80px;
	height:30px;
	padding:10px 40px 10px 10px;
	float:left;
}

#settings .zenario_grid_undo_redo a.zenario_grid_setting_undo,
#settings .zenario_grid_undo_redo a.zenario_grid_setting_redo {
	width:30px;
	height:30px;
	display:block;
	float:left;
	text-indent:-999;
	font-size:0;
	line-height:0;
	margin-left:10px;
	cursor:pointer;
}

#settings .zenario_grid_undo_redo a.zenario_grid_setting_undo {
	background:url('../admin/images/grid_maker/undo-icon-off-state.png') no-repeat;
}

#settings .zenario_grid_undo_redo a.zenario_grid_setting_redo {
	background:url('../admin/images/grid_maker/redo-icon-off-state.png') no-repeat;
}

#settings .zenario_grid_undo_redo a.zenario_grid_setting_undo:hover {
	background:url('../admin/images/grid_maker/undo-icon-over-state.png') no-repeat;
}

#settings .zenario_grid_undo_redo a.zenario_grid_setting_redo:hover {
	background:url('../admin/images/grid_maker/redo-icon-over-state.png') no-repeat;
}

#settings .zenario_grid_setting_undo_disabled,
#settings .zenario_grid_setting_redo_disabled {
	opacity: 0.5;
}

#settings #settings--tabs {
	height:36px;
	padding-top:14px;
	font-weight:bold;
}

#settings #settings--tabs a {
	display:block;
	width:102px;
	height:24px;
	padding-top:12px;
	text-align:center;
	float:left;
	margin-right:3px;
	color:#E2E2E2;
	text-shadow:0 1px 1px #000;
	background:url('../admin/images/grid_maker/tab-off-state.gif') no-repeat bottom;
	cursor:pointer;
}

#settings #settings--tabs a:hover {
	background:url('../admin/images/grid_maker/tab-over-state.gif') no-repeat bottom;
}

#settings #settings--tabs.zenario_grid_tabs_grid_selected a.zenario_grid_setting_preview_grid,
#settings #settings--tabs.zenario_grid_tabs_slots_selected a.zenario_grid_setting_edit_slots {
	color:#333;
	text-shadow:none;
	background:url('../admin/images/grid_maker/tab-on-sate.gif') no-repeat bottom;
}

#settings .ui-widget-content {
	border:0 !important;
}

#settings .ui-corner-all, 
#settings .ui-corner-bottom, 
#settings .ui-corner-right, 
#settings .ui-corner-br,
#settings .ui-corner-top, 
#settings .ui-corner-right, 
#settings .ui-corner-tr {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#settings .ui-state-default, 
#settings .ui-widget-content .ui-state-default, 
#settings .ui-widget-header .ui-state-default  {
	border:0;
}

#settings .ui-spinner .ui-spinner-input {
	margin-right:28px;
	padding:4px 0;
	text-align:right;
}

#settings .ui-spinner .zenario_grid_setting_cols {
	width:30px;
}

#settings .ui-spinner-button {
	width:21px;
}

#settings .ui-spinner-button .ui-icon {
	width:21px;
	height:15px;
}

#settings .ui-state-default.ui-spinner-up .ui-icon {
	background:url('../admin/images/grid_maker/nudge-btn-off-state-up.gif') no-repeat bottom;
}

#settings .ui-state-default.ui-spinner-up .ui-icon:hover {
	background:url('../admin/images/grid_maker/nudge-btn-over-state-up.gif') no-repeat bottom;
}

#settings .ui-state-default.ui-spinner-down .ui-icon {
	background:url('../admin/images/grid_maker/nudge-btn-off-state-down.gif') no-repeat bottom;
}

#settings .ui-state-default.ui-spinner-down .ui-icon:hover {
	background:url('../admin/images/grid_maker/nudge-btn-over-state-down.gif') no-repeat bottom;
}

/* Grid area 
--------------------------------------------------------------------------------------------------*/

.grid_panel_wrap {
	width:auto;
	overflow:hidden;
	padding: 30px 0 10px 5px;
	background:#F5F5F5 url('../admin/images/grid_maker/grid-panel-bg-shadow.gif') repeat-x bottom;
}

.grid_panel_wrap #grid {
	width:100% !important;
	margin:0 !important;
}

.grid_panel_wrap #grid.zenario_grid_slot_view,
.grid_panel_wrap #grid.zenario_grid_grid_view .zenario_grid_preview_frame {
	overflow: hidden;
	overflow-y: auto;
}

body.iframe .zenario_grid_bg_preview,
#grid .zenario_grid_bg_preview {
	background:#FFF;
	padding:1px 0;
	min-height: 50px;
}

#grid .zenario_grid_preview .zenario_grid_preview_size_wrap {
	height: 15px;
}

#grid .zenario_grid_preview .zenario_grid_preview_size {
	width:63px;
	height:31px;
	padding:8px 5px 0;
	background:url('../admin/images/grid_maker/dragger-size-box.png') no-repeat;
	position: relative;
	right: 36px;
	z-index: 2;
}

#grid .zenario_grid_preview .zenario_grid_preview_size input.zenario_grid_preview_value {
	width: 63px;
	height:24px;
	border:0;
	background:#333;
	color:#FFF;
	text-align:center;
	padding:0;
}

#grid div.zenario_grid_preview_ruler {
	height: 18px;
	background: white top left url('../admin/grid_maker/ruler_bg.php');
}

#grid .zenario_grid_preview .zenario_grid_preview_resize_buttons {
	width:198px;
	height:51px;
	margin:0 0 0 25px;
	background:#333333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:11px;
	text-shadow:0 1px 1px #000;
}

#grid .zenario_grid_preview .zenario_grid_preview_resize_buttons a {
	display:block;
	width:66px;
	height:51px;
	float:left;
	text-align:center;
	cursor:pointer;
}

#grid .zenario_grid_preview .zenario_grid_preview_resize_buttons a:hover {
	color:#42BFF7;
}

#grid .zenario_grid_preview .zenario_grid_preview_resize_buttons span {
	width:66px;
	height:19px;
	padding-top:32px;
	display:block;
	background:url('../admin/images/grid_maker/vertical-divider.gif') no-repeat left 12px;
}

#grid .zenario_grid_preview .zenario_grid_preview_resize_buttons:first-child span {
	background:none;
}

#grid .zenario_grid_preview .zenario_grid_preview_resize_buttons a.zenario_grid_preview_mobile {
	background:url('../admin/images/grid_maker/mobile-icon-off-state.gif') no-repeat center 10px;
}

#grid .zenario_grid_preview .zenario_grid_preview_resize_buttons a.zenario_grid_preview_tablet {
	background:url('../admin/images/grid_maker/tablet-icon-off-state.gif') no-repeat center 10px;
}

#grid .zenario_grid_preview .zenario_grid_preview_resize_buttons a.zenario_grid_preview_desktop {
	background:url('../admin/images/grid_maker/desktop-icon-off-state.gif') no-repeat center 10px;
}

#grid .zenario_grid_preview .zenario_grid_preview_resize_buttons a.zenario_grid_preview_mobile:hover {
	background:url('../admin/images/grid_maker/mobile-icon-over-state.gif') no-repeat center 10px;
}

#grid .zenario_grid_preview .zenario_grid_preview_resize_buttons a.zenario_grid_preview_tablet:hover {
	background:url('../admin/images/grid_maker/tablet-icon-over-state.gif') no-repeat center 10px;
}

#grid .zenario_grid_preview .zenario_grid_preview_resize_buttons a.zenario_grid_preview_desktop:hover {
	background:url('../admin/images/grid_maker/desktop-icon-over-state.gif') no-repeat center 10px;
}

#grid-slider .ui-state-default, 
#grid-slider .ui-widget-content .ui-state-default, 
#grid-slider .ui-widget-header .ui-state-default {
	border:0 !important;
	background:#343434;
}

#grid-slider.ui-slider .ui-slider-handle {
	width:8px;
}

#grid-slider.ui-slider .ui-slider-handle span {
	width:8px;
	width: 47px;
	height: 77px;
	display: block;
	float: left;
	position: relative;
	bottom: 39px;
	right: 19px;
	background:url('../admin/images/grid_maker/slide-arrows-off.png') no-repeat;
}

#grid-slider.ui-slider .ui-slider-handle:hover span {
	background:url('../admin/images/grid_maker/slide-arrows-over.png') no-repeat;
}

#grid-slider .ui-corner-all, 
#grid-slider .ui-corner-bottom, 
#grid-slider .ui-corner-right, 
#grid-slider .ui-corner-br {
	border-bottom-right-radius:2px
}

#grid-slider .ui-corner-all, 
#grid-slider .ui-corner-bottom, 
#grid-slider .ui-corner-left, 
#grid-slider .ui-corner-bl {
    border-bottom-left-radius: 2px;
}

#grid-slider .ui-corner-all, 
#grid-slider .ui-corner-top, 
#grid-slider .ui-corner-right, 
#grid-slider .ui-corner-tr {
    border-top-right-radius: 2px;
}

#grid-slider .ui-corner-all, 
#grid-slider .ui-corner-top, 
#grid-slider .ui-corner-left, 
#grid-slider .ui-corner-tl {
    border-top-left-radius: 2px;
}

/* Download links area 
--------------------------------------------------------------------------------------------------*/

#download_links {
	width:100%;
	overflow:hidden;
	background:#707070;
}

#download_links h3 {
	font-size:14px;
	font-weight:bold;
	text-shadow:0 1px 1px #000;
	padding-bottom:15px;
	margin:0;
}

#download_links h3 small {
	font-weight:normal;
	font-size:11px;
	padding-left:10px;
}

#download_links h3 large {
	font-size: 15px;
}

#download_links .download_links_box_left,
#download_links .download_links_box_middle,
#download_links .download_links_box_right {
	display:inline-block;
	float:left;
	padding:15px 35px 15px 50px;
}

#download_links div.zenario_grid_save_tf,
#download_links div.zenario_grid_downloads,
#download_links div.zenario_grid_save_css {
	background:#333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:10px 20px;
}

#download_links .zenario_grid_downloads {
	text-align: center;
}

#download_links div.zenario_grid_save_css {
	float: left;
	clear: both;
}

#download_links div.zenario_grid_save_tf .nice_button:hover,
#download_links div.zenario_grid_save_css .nice_button:hover {
	opacity:0.8;
}

#download_links div.zenario_grid_disabled .nice_button:hover {
	opacity:1;
}

#download_links div.zenario_grid_save_tf {
	float: left;
}

#download_links div.zenario_grid_downloads {
	float: right;
}

#download_links div.zenario_grid_save,
#download_links div.zenario_grid_save_as,
#download_links div.zenario_grid_download_image,
#download_links div.zenario_grid_download_css,
#download_links div.zenario_grid_download_html,
#download_links div.zenario_grid_download_zip {
	float: left;
}

#download_links .zenario_grid_disabled {
}

#download_links .zenario_grid_save_and_save_as_disabled {
}

#download_links .zenario_grid_export_section_disabled {
}

#settings .zenario_grid_options:after,
#download_links:after,
div.zenario_grid_cell_size:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ie #settings .zenario_grid_options,
.ie .#download_links {
    zoom: 1;
}

div.zenario_grid_preview_overlay {
	position: absolute;
	width: 100%;
	z-index: 10;
	display: none;
}

#grid-slider.zenario_grid_preview_resize {
	visibility: hidden;
}

#grid-slider.zenario_grid_preview_resize .ui-slider-handle {
	visibility: visible;
}

input.zenario_grid_preview_mobile {
	clear: left;
}


div.zenario_grid_download_bg {
	text-align: center;
}

#colorbox textarea {
	width: 50em;
	height: 30em;
}

/* Buttons
--------------------------------------------------------------------------------------------------*/

	form.zenario_grid_form .nice_button {
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	#download_links .nice_button,
	form.zenario_grid_form .nice_button {
		float: left;
		width: auto !important;
		width: 1px;
		white-space: nowrap;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		margin-right:10px;
	}
	
	#download_links .zenario_grid_downloads .nice_button {
		margin-right:5px;
	}
	
	#download_links .nice_button .r,
	form.zenario_grid_form .nice_button .r {
		float:right;
	}
	
	#download_links .nice_button .i,
	form.zenario_grid_form .nice_button .i {
		border: none;
		float: left;
		margin: 0;
	}
	
	#download_links .nice_button:hover,
	form.zenario_grid_form .nice_button:hover {
		cursor:pointer;
		cursor:hand;
	}

	/* Fix for IE7 */

	#download_links .nice_button .r,
	form.zenario_grid_form .nice_button .r {
		float: none;
	}

	#download_links .nice_button .i,
	form.zenario_grid_form .nice_button .i {
		float: none;
		display:block;
	}
	
	/* default settings */

	#download_links .nice_button,
	#download_links .nice_button .r,
	#download_links .nice_button .i,
	form.zenario_grid_form .nice_button,
	form.zenario_grid_form .nice_button .r,
	form.zenario_grid_form .nice_button .i  {
		height: 30px;
	}
	
	#download_links .download_btn,
	#download_links .download_btn .r,
	#download_links .download_btn .i,
	form.zenario_grid_form .nice_button,
	form.zenario_grid_form .nice_button .r,
	form.zenario_grid_form .nice_button .i  {
		height: 31px;
	}
	
	#download_links .nice_button,
	form.zenario_grid_form .nice_button {
		background:url('../admin/images/grid_maker/btn-blue-m.gif') repeat-x top;
	}
	
	#download_links .nice_button .r,
	form.zenario_grid_form .nice_button .r {
		background:url('../admin/images/grid_maker/btn-blue-l.gif') no-repeat left top;
	}
	
	#download_links .nice_button .i,
	form.zenario_grid_form .nice_button .i {
		background:url('../admin/images/grid_maker/btn-blue-r.gif') no-repeat right top;
	}
	
	#download_links .zenario_grid_disabled .nice_button {
		background:url('../admin/images/grid_maker/btn-grey-m.gif') repeat-x top;
	}
	
	#download_links .zenario_grid_disabled .nice_button .r {
		background:url('../admin/images/grid_maker/btn-grey-l.gif') no-repeat left top;
	}
	
	#download_links .zenario_grid_disabled .nice_button .i {
		background:url('../admin/images/grid_maker/btn-grey-r.gif') no-repeat right top;
	}
	
	#download_links .download_btn {
		background:url('../admin/images/grid_maker/download-btn-off-state-middle-strip.png') repeat-x top;
	}
	
	#download_links .download_btn .r {
		background:url('../admin/images/grid_maker/download-btn-off-state-left-end.png') no-repeat left top;
	}
	
	#download_links .download_btn .i {
		background:url('../admin/images/grid_maker/download-btn-off-state-right-end.png') no-repeat right top;
	}
	
	#download_links .download_btn:hover {
		background:url('../admin/images/grid_maker/download-btn-over-state-middle-strip.png') repeat-x top;
	}
	
	#download_links .download_btn:hover .r {
		background:url('../admin/images/grid_maker/download-btn-over-state-left-end.png') no-repeat left top;
	}
	
	#download_links .download_btn:hover .i {
		background:url('../admin/images/grid_maker/download-btn-over-state-right-end.png') no-repeat right top;
	}
	
	#download_links .nice_button .i,
	form.zenario_grid_form .nice_button .i {
		padding: 0px 15px 4px 15px;
	}
	
	#download_links .nice_button a.i,
	form.zenario_grid_form .nice_button a.i {
		height:24px;
		padding: 6px 15px 0 15px;
	}
	
	#download_links .download_btn a.i {
		padding-right:32px;
	}
	
	#download_links .nice_button .i,
	form.zenario_grid_form .nice_button .i {
    	font-weight:bold;
		color:#fff;
		font-size:14px;
		text-shadow:0 1px 1px #000;
		cursor:pointer;
	}
	
	#download_links div.zenario_grid_disabled .nice_button:hover,
	#download_links div.zenario_grid_disabled .nice_button .i {
		cursor:default;
	}
	
	#download_links .zenario_grid_disabled .nice_button .i {
		color:#888;
		font-weight:normal;
		text-shadow:0 1px 1px #FFF;
	}
	
	#download_links .download_btn .i {
    	font-weight:normal;
		color:#333;
		font-size:13px;
		text-shadow:0 1px 1px #FFF;
	}
	
	#download_links .nice_button a,
	#download_links .nice_button a:hover,
	form.zenario_grid_form .nice_button a,
	form.zenario_grid_form .nice_button a:hover {
		text-decoration:none;
	}
	
/* Slots view
--------------------------------------------------------------------------------------------------*/
	
	#colorbox.zenario_grid_maker #colorbox {
		color:#333;
	}

/* Popups
--------------------------------------------------------------------------------------------------*/

	#cboxOverlay {
		zoom: 1;
		filter: alpha(opacity=50) !important;
		opacity: 0.5 !important;
		background-color:#000;
		background-image:none;
	}

	#colorbox.zenario_grid_box #cboxTopLeft,
	#colorbox.zenario_grid_box #cboxTopCenter,
	#colorbox.zenario_grid_box #cboxTopRight,
	#colorbox.zenario_grid_box #cboxMiddleLeft,
	#colorbox.zenario_grid_box #cboxMiddleRight,
	#colorbox.zenario_grid_box #cboxBottomLeft,
	#colorbox.zenario_grid_box #cboxBottomCenter,
	#colorbox.zenario_grid_box #cboxBottomRight,
	#colorbox.zenario_grid_box #cboxTitle,
	#colorbox.zenario_grid_box #colorbox #cboxTopLeft,
	#colorbox.zenario_grid_box #colorbox #cboxTopCenter,
	#colorbox.zenario_grid_box #colorbox #cboxTopRight,
	#colorbox.zenario_grid_box #colorbox #cboxMiddleLeft,
	#colorbox.zenario_grid_box #colorbox #cboxMiddleRight,
	#colorbox.zenario_grid_box #colorbox #cboxBottomLeft,
	#colorbox.zenario_grid_box #colorbox #cboxBottomCenter,
	#colorbox.zenario_grid_box #colorbox #cboxBottomRight,
	#colorbox.zenario_grid_box #colorbox #cboxTitle {
		visibility: hidden;
	}
	
	#colorbox.zenario_grid_box #cboxLoadedContent {
    	/*height: 100% !important;*/
		margin-bottom:0;
	}
	
	#colorbox.zenario_grid_new_layout_box #cboxLoadedContent,
	#colorbox.zenario_grid_rename_slot_box #cboxLoadedContent {
		padding-bottom:100px;
	}

	#colorbox.zenario_grid_box #cboxClose {
    	background: url("../admin/images/grid_maker/popup-close-btn-off-state.png") no-repeat 0 0;
    	top: 5px;
    	width: 27px;
    	height: 27px;
    	position: absolute;
    	right: 5px;
	}

	#colorbox.zenario_grid_box #cboxClose:hover {
    	background: url("../admin/images/grid_maker/popup-close-btn-over-state.png") no-repeat 0 0;
	}
	
	#colorbox.zenario_grid_box #cboxContent {
		background:#F5F5F5;
		color:#333;
		border:6px solid #626262;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}

	#colorbox.zenario_grid_box {
		font-family: 'Verdana',​Arial;
		font-size: 12px;
		padding:6px;
	}
	
	#colorbox.zenario_grid_box .content_wrap {
		overflow:hidden;
		padding:10px 10px 80px;
	}
	
	#colorbox.zenario_grid_add_cell_box .content_wrap {
		padding:20px 15px 10px;
	}
	
	.zenario_grid_add_cell_box p {
		margin:26px 0;
		white-space:nowrap;
	}
	
	.zenario_grid_add_cell_box a {
		color:#333;
		padding:10px 0 10px 70px;
		cursor:pointer;
	}
	
	.zenario_grid_add_cell_box a span {
		background:#D5D5D5;
		padding:4px 8px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
	
	.zenario_grid_add_cell_box p:hover a span {
		background:#81D4FD;
	}
	
	.zenario_grid_add_cell_box a.zenario_grid_add_slot {
		background:url('../admin/images/grid_maker/add-slot-icon.gif') no-repeat 0 0;
	}
	
	.zenario_grid_add_cell_box a.zenario_grid_add_space {
		background:url('../admin/images/grid_maker/add-cell-with-empty-space-icon.gif') no-repeat 0 0;
	}
	
	.zenario_grid_add_cell_box a.zenario_grid_add_children {
		background:url('../admin/images/grid_maker/add-cell-with-nested-cells-icon.gif') no-repeat 0 0;
	}
	
	.zenario_grid_add_cell_box a.zenario_grid_add_grid_break {
		background:url('../admin/images/grid_maker/add-grid-break-placeholder.gif') no-repeat 0 0;
	}
	
	.zenario_grid_add_cell_box a.zenario_grid_add_grid_break_with_slot {
		background:url('../admin/images/grid_maker/add-slot-outside-grid-placeholder.gif') no-repeat 0 0;
	}
	
	/*
	.zenario_grid_add_cell_box a.zenario_grid_add_grid_break_group {
		background:url('../admin/images/grid_maker/add-grid-break-icon.png') no-repeat 0 0;
	}
	*/
	
	form.zenario_grid_form input[type="text"],
	#colorbox form.zenario_grid_form textarea {
		width:180px;
		border:1px solid #333;
		padding:4px;
		margin-bottom:15px;
	}
	
	#colorbox form.zenario_grid_form textarea {
		height: 3em;
	}
	
	form.zenario_grid_form #zenario_grid_error {
		color:#FF0000;
		font-size:12px;
		padding-bottom:10px;
	}
	
	form.zenario_grid_form h3 {
		padding:0;
		margin:0;
	}
	
	.zenario_grid_copy_box textarea {
		padding:10px;
	}
	
	#toast-container {
		margin-right:70px;
	}
	
	#toast-container .toast-message {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
	}
	
	#toast-container > div,
	#toast-container .toast-message a:hover {
        color: #FFF;
    }
    
    #toast-container > div {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
        filter: alpha(opacity=95);
        opacity: 0.95;
        width: 360px;
        -webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: 0 0 18px rgba(0,0,0,.75);
		-moz-box-shadow: 0 0 18px rgba(0,0,0,.75);
		box-shadow: 0 0 18px rgba(0,0,0,.75);
    }

	.toast,
	.toast-success,
	.toast-error,
	.toast-info,
	.toast-warning {
   		background-color: #202020;
		border: solid 2px #bdbdbd;
	}
	
	#toast-container > .toast-success {
		background-image:url("../admin/images/grid_maker/tick.png") !important;
	}
	
	.grid_maker_wrap #close_button {
		background: url("../admin/images/sprites/org-icons-v2.png") no-repeat;
		background-position:-58px -208px;
    	width: 34px;
    	height: 34px;
    	position: absolute;
    	right: 6px;
    	top: 6px;
    	display:block;
    	cursor: pointer;
	}
	
	.grid_maker_wrap #close_button:hover {
		background-position:-108px -208px;
    }