.zenario_slot x-zenario-cache-info.zenario_cache_info {
	position: relative;
	float: right;
	bottom: 18px;
	z-index: 9999;
}

body > x-zenario-cache-info.zenario_cache_info {
	position: fixed;
    z-index: 9999;
    text-align: center;
    font-size: 12px;
    background: #fafafa;
    border: #fafafa 0;
    padding: 8px 5px;
    border-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0 0 10px 0 gray;
    
    width:40px;
    height:33px;
    top:190px;
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

x-zenario-cache-info.zenario_cache_info x-zenario-cache-info {
	height: 22px;
	width: 22px;
	position: absolute;
	right: 15px;
	cursor: pointer;
	opacity: 0.9;
}

body > x-zenario-cache-info.zenario_cache_info x-zenario-cache-info {
	width:35px;
	right:30px;
	right:0;
	left:0;
	margin:auto;
}

.zenario_cache_box h1 {
	font-weight: 700;
	min-height: 18px;
	padding: 0 0.2em 0.2em 45px;
	position:relative;
}

.zenario_cache_box h2 {
	padding: 1em 0.3em 0.2em;
}

.zenario_slot x-zenario-cache-info.zenario_cache_info {
	bottom: auto;
}

.zenario_cache_box h1:before,
x-zenario-cache-info.zenario_cache_info x-zenario-cache-info:before {
	font-family:"FontAwesome";
	font-size:16px;
	line-height:30px;
}

.zenario_cache_box h1:before,
x-zenario-cache-info.zenario_cache_info x-zenario-cache-info:before {
	position:absolute;
	left:0;
	right:0;
	
	display:inline-block;
	width:22px;
	height:22px;
	line-height:20px;
	padding:5px;
	text-align:center;
	background-color:#FFF;
	background-position:center;
	padding:5px;
	-webkit-border-radius:50%;
	border-radius:50%;
	border:1px solid #ccc;
}

body > x-zenario-cache-info.zenario_cache_info x-zenario-cache-info:before {
	font-size:18px;
}

.zenario_cache_box h1.zenario_cache_disabled:before,
x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_cache_disabled:before {
	content:"\e069";
	color:#555;
}

.zenario_cache_box h1.zenario_cache_blocked:before,
x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_cache_blocked:before {
	content:"\f5af";
	color:#a50;
}

.zenario_cache_box h1.zenario_cache_reloaded:before,
x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_cache_reloaded:before {
	content:"\f2f9";
	color:#999;
	border-color:#555;
}

.zenario_cache_box h1.zenario_not_cached:before,
x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_not_cached:before {
	content:"\e557";
	color:#f20819;
	border-color:#f20819;
	transform:rotate(90deg);
}

.zenario_cache_box h1.zenario_cache_in_use:before,
x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_cache_in_use:before {
	content:"\f5b0";
	color:#ff7501;
	border-color:#ff7501;
}

.zenario_cache_box h1.zenario_from_cache:before,
x-zenario-cache-info.zenario_cache_info x-zenario-cache-info.zenario_from_cache:before {
	content:"\f072";
	color:#29b519;
	border-color:#29b519;
}

.zenario_cache_box table th {
	background: #F7F7F7;
	color: #444444;
	font-weight:600;
}

.zenario_cache_box table td {
	background: #444;
}

.zenario_cache_box table th.zenario_cache_rule_not_met {
	font-weight: bold;
}

.zenario_cache_box table td,
.zenario_cache_box table th {
	padding: 5px;
	border: 1px solid #E4E4E4;
}

.zenario_cache_box table td {
	white-space: nowrap;
	text-align: center;
}

.zenario_cache_box table td.zenario_cache_result,
.zenario_cache_box table tr.zenario_cache_table_last_row th,
.zenario_cache_box table tr.zenario_cache_table_last_row td {
	color:#333;
	font-weight:600;
}

.zenario_cache_box table tr.zenario_cache_met th,
.zenario_cache_box table tr.zenario_cache_met td,
.zenario_cache_box table td.zenario_cache_met {
	background:#8f4;
	border-color:#8f4;
}

.zenario_cache_box table tr.zenario_cache_not_met th,
.zenario_cache_box table tr.zenario_cache_not_met td,
.zenario_cache_box table td.zenario_cache_not_met {
	background:#f33;
	border-color:#f33;
}

.zenario_cache_box table tr td:nth-child(4) {
	text-align:left;
}

.zenario_cache_box ul {
	list-style-type: disc;
	padding-left: 3em;
}

/* Cache info on frontend */
.zenario_cache_info_tooltip,
body:not(.zenario_fbAdminFloatingBox__isOpen) .ui-widget-content.zenario_cache_info_tooltip {
	max-width:450px;
	background: #333;
	filter: Alpha(Opacity=100); /* support: IE8 */
	opacity:1 !important;
	padding:10px;
}

.zenario_cache_info_tooltip .zenario_cache_box .zenario_from_cache,
.zenario_cache_info_tooltip .zenario_cache_box h2,
.zenario_cache_info_tooltip .zenario_cache_box {
	color: #ffffff;
	font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
}

.zenario_cache_info_tooltip {
	border: 0;
}

.zenario_cache_info_tooltip {
	position:fixed;
	top:0;
	z-index: 99999999;
}

.zenario_cache_info_tooltip .zenario_cache_box .zenario_from_cache {
	font-size: 0.9em;
	font-weight: 700;
}

.zenario_cache_info_tooltip .zenario_cache_box h2 {
	font-size: 12px;
	line-height:1.5em;
	font-weight: 500;
	padding:5px 0;
}

.zenario_cache_info_tooltip .zenario_cache_box ul {
	margin-top: 5px;
	padding-bottom:5px;
	font-size: 11px;
	list-style-position: inside;
	padding-left: 10px;
}

.zenario_cache_info_tooltip .zenario_cache_box ul li {
	padding-bottom:4px;
}

.zenario_cache_info_tooltip .zenario_cache_box table {
	font-size: 11px;
	margin-top:5px;
	margin-bottom:10px;
}

.zenario_cache_info_tooltip .zenario_cache_footnote {
	font-size: 9px;
	position:relative;
	padding:3px 0 3px 20px;
}

.zenario_cache_info_tooltip .zenario_cache_footnote .zenario_cache_footnote_character {
	position:absolute;
	left:0;
	top:3px;
}


/*
	Some tweaks for icons for nested plugins
*/

.zenario_slot .zenario_slot x-zenario-cache-info.zenario_cache_info x-zenario-cache-info {
	right: 45px;
}

.zenario_slot .zenario_slot x-zenario-cache-info.zenario_cache_info x-zenario-cache-info h1:before,
.zenario_slot .zenario_slot x-zenario-cache-info.zenario_cache_info x-zenario-cache-info:before {
	width: 14px;
	height: 14px;
    line-height: 14px;
	font-size:12px;
    border-radius: 4px;
}