/*
	Styles for the on/off switches, 
	Style 1: with tick and cross,
	taken from https://proto.io/freebies/onoff/
*/

.onoffswitch {
    position: relative; width: 63px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "✓";
    padding-left: 10px;
    background-color: #40A080; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "╳";
    padding-right: 10px;
    background-color: #AAAAAA; color: #202020;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 29px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/*
	Styles for the on/off switches, 
	Style 2: with ON and OFF,
	taken from https://proto.io/freebies/onoff/
*/

.zenario_master_switch-wrap {
	position: fixed;
	top:89px;
	right: 30px;
	width: 142px;
	height: 20px;
}

.zenario_master_switch-text {
	float: left;
	display: block;
	font-size: 11px;
	padding: 0 5px 0 0;
	letter-spacing:0.2px;
	color:#000;
}

.zenario_master_switch {
	float: left;
	position: relative; 
	width: 50px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.zenario_master_switch-checkbox {
	display: none;
}
.zenario_master_switch-label {
	display: block; 
	overflow: hidden; 
	cursor: pointer;
	border: 1px solid #000; 
	border-radius: 16px;
}
.zenario_master_switch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.zenario_master_switch-inner:before, 
.zenario_master_switch-inner:after {
	display: block; 
	float: left; 
	width: 50%; 
	height: 14px; 
	padding: 0; 
	line-height: 15px;
	font-size: 9px; 
	color: white; 
	font-family: Helvetica,sans-serif; 
	font-weight: normal;
	box-sizing: border-box;
	text-transform:uppercase;
	letter-spacing:1px;
}
.zenario_master_switch-inner:before {
	content: "On";
	padding-left: 12px;
	background-color: #228113; color: #FFFFFF;
}
.zenario_master_switch-inner:after {
	content: "Off";
	padding-right: 8px;
	background-color: #555; color: #FFF;
	text-align: right;
}
.zenario_master_switch-switch {
	display: block; 
	width: 10px; 
	margin: 0;
	position: absolute; 
	top: 2px; 
	bottom: 2px;
	right: 36px;
	background: #FFF;
	border: 1px solid #FFF; 
	border-radius: 50%;
	transition: all 0.3s ease-in 0s; 
   	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.zenario_master_switch-checkbox:checked + .zenario_master_switch-label .zenario_master_switch-inner {
	margin-left: 0;
}
.zenario_master_switch-checkbox:checked + .zenario_master_switch-label .zenario_master_switch-switch {
	right: 2px; 
}

.zenario_master_switch-label:hover .zenario_master_switch-switch {
	opacity:0.8;
}


/*
	Styles for the on/off switches, 
	Style 3: with slide and circle,
	also taken from https://proto.io/freebies/onoff/
*/

.zen_col_show_hide {
    position: relative;
    float: left;
    width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.zen_col_show_hide-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.zen_col_show_hide-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 14px; padding: 0; line-height: 14px;
    border: 2px solid #E3E3E3; border-radius: 14px;
    background-color: #CCCCCC;
    transition: background-color 0.3s ease-in;
}
.zen_col_show_hide-label:before {
    content: "";
    display: block; width: 14px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 22px;
    border: 2px solid #E3E3E3; border-radius: 14px;
    transition: all 0.3s ease-in 0s; 
}
.zen_col_show_hide-checkbox:checked + .zen_col_show_hide-label {
    background-color: #14BA93;
}
.zen_col_show_hide-checkbox:checked + .zen_col_show_hide-label, .zen_col_show_hide-checkbox:checked + .zen_col_show_hide-label:before {
   border-color: #14BA93;
}
.zen_col_show_hide-checkbox:checked + .zen_col_show_hide-label:before {
    right: 0px; 
}