/*
	Common CSS rules for visitor mode
*/


/*  
	Cookie Consent form - default styles  
*/

div.zenario_cookie_consent,
.zenario_cookie_consent_manage_popup {
	font-family:Verdana,Arial,Helvetica,Sans-Serif;
	font-size:12px;
	line-height:1.6em;
}

div.zenario_cookie_consent {
	overflow:hidden;
	width:calc(100% - 20px);
	padding:10px 10px 12px;
	position: fixed;
	bottom:0;
	z-index:99;
	background: #333;
}

div.zenario_cookie_consent .zenario_cookie_consent_wrap {
	width:100%;
	max-width:980px;
	overflow:hidden;
	margin:auto;
}

div.zenario_cookie_consent .zenario_cc_message {
	width:calc(100% - 215px);
	margin:auto;
	float:left;
}

div.zenario_cookie_consent .zenario_cc_message p:first-child a {
	text-decoration:underline;
}

div.zenario_cookie_consent .zenario_cc_buttons {
	width:200px;
	padding-left:15px;
	float:right;
	text-align:right;
}

div.zenario_cookie_consent .zenario_cc_buttons div,
div.zenario_cookie_consent .zenario_cc_buttons div a {
	display:inline-block;
}

div.zenario_cookie_consent .zenario_cc_buttons div {
	padding-right:20px;
}

div.zenario_cookie_consent .zenario_cc_buttons a {
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

div.zenario_cookie_consent .zenario_cc_buttons a,
div.zenario_cookie_consent .zenario_cc_buttons a:hover {
	text-decoration:none;
}

div.zenario_cookie_consent .zenario_cc_accept a,
div.zenario_cookie_consent .zenario_cc_continue a {
	height:30px;
	line-height:28px;
	padding:0 15px;
	background:#FFFFFF;
	color:#333;
	font-weight:bold;
}

div.zenario_cookie_consent .zenario_cc_manage a {
	height:28px;
	line-height:26px;
	padding:0 15px;
	border:1px solid #FFF;
	color:#FFF;
	cursor:pointer;
}

div.zenario_cookie_consent .zenario_cc_accept a,
div.zenario_cookie_consent .zenario_cc_manage a {
	text-decoration:none;
}

div.zenario_cookie_consent .zenario_cc_accept a:hover,
div.zenario_cookie_consent .zenario_cc_continue a:hover,
div.zenario_cookie_consent .zenario_cc_manage a:hover {
	background:rgba(255,255,255,0.8);
}

div.zenario_cookie_consent .zenario_cc_manage a:hover {
	color:#333;
}

div.zenario_cookie_consent .zenario_cc_close a {
	position:absolute;
	top:10px;
	right:15px;
	display:block;
	width:15px;
	height:15px;
	text-indent:-99px;
	font-size:0;
	line-height:0;
	cursor:pointer;
}

div.zenario_cookie_consent .zenario_cc_close a:before, 
div.zenario_cookie_consent .zenario_cc_close a:after {
  position: absolute;
  right:0;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #FFF;
}

div.zenario_cookie_consent .zenario_cc_close a:before {
  transform: rotate(45deg);
}

div.zenario_cookie_consent .zenario_cc_close a:after {
  transform: rotate(-45deg);
}

div.zenario_cookie_consent,
div.zenario_cookie_consent a {
	color:#FFF;
}

div.zenario_cookie_consent .zenario_cc_message a {
	text-decoration:none;
}

div.zenario_cookie_consent .zenario_cc_message a:hover {
	text-decoration:underline;
}

body.no_js div.zenario_cookie_consent .zenario_cc_close,
.zenario_dn {
	display: none;
}

/* Cookies Explicit mode */ 

div.zenario_cookie_consent.cookies_explicit,
.zenario_cookie_consent_manage_popup {
	position:fixed;
	z-index:99;
	top:0;
	bottom:0;
	left:0;
	right:0;
    background-color: rgba(0,0,0,0.5);
    font-size:13px;
}

div.zenario_cookie_consent.cookies_explicit .zenario_cookie_consent_wrap,
.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap {
	position:fixed;
	z-index:100;
	top: 50%;
	left: 50%;
	bottom:auto;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width:860px;
	margin:auto;
	padding:30px;
}

div.zenario_cookie_consent.cookies_explicit .zenario_cookie_consent_wrap {
	background-color:rgba(0,0,0,1);
}

div.zenario_cookie_consent.cookies_explicit,
div.zenario_cookie_consent.cookies_explicit .zenario_cc_buttons {
	text-align:center;
}

div.zenario_cookie_consent.cookies_explicit .zenario_cc_message,
div.zenario_cookie_consent.cookies_explicit .zenario_cc_buttons {
	width:100%;
	float:none;
	padding:0;
}

div.zenario_cookie_consent.cookies_explicit .zenario_cc_buttons {
	margin-top:30px;
	font-size:14px;
}

div.zenario_cookie_consent.cookies_explicit .zenario_cc_buttons a {
	height:40px;
	line-height:38px;
	padding:0 25px;
}

div.zenario_cookie_consent.cookies_explicit .zenario_cc_buttons .zenario_cc_manage a {
	height:38px;
	line-height:36px;
}

.zenario_cookie_consent_manage_popup {
	background: rgba(0,0,0,0.75);
	transition: opacity 0.5s ease;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap {
	background:#FFF;
	padding:0;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form {
	padding:30px;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap h1 {
	font-size:1.6em;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap h2 {
	font-size:1.5em;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap h3 {
	font-size:1.4em;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap h1,
.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap h2,
.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap h3 {
	padding-bottom:5px;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap .cookie_title_text {
	padding:20px 30px 15px;
	border-bottom:1px solid #ccc;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookie {
	overflow:hidden;
	padding-bottom:25px;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookie > label {
	float:left;
	margin-top:2px;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookie > .cookie_info {
	overflow:hidden;
	padding-left:20px;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookie > .cookie_info h5 {
	font-size:15px;
	padding-bottom:4px;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookies_buttons {
	text-align:center;
	padding-top:10px;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookies_buttons.top {
	padding:0 0 15px;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookies_buttons input {
	height:36px;
	border:0;
	min-width:80px;
	padding:0 15px;
	margin:0 5px;
	background:#333;
	color:#fff;
	font-family:Verdana,Arial,Helvetica,Sans-Serif;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
	cursor:pointer;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookies_buttons input.cookie_save_preferences {
	border:1px solid #333;
	color:#333;
	background:transparent;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookies_buttons input.cookie_save_preferences:hover {
	color:#FFF;
	background:#333;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form button.cancel {
	position:absolute; 
	width:20px;
	height:20px;
	top:15px;
	right:15px;
	display:block;  
	text-indent:-9999px;
	background:transparent;
	border:0;
  	cursor:pointer;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form button.cancel:before, 
.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form button.cancel:after {
  position: absolute;
  left: 10px;
  content: ' ';
  height: 20px;
  width: 1px;
  background-color: #000;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form button.cancel:hover:before, 
.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form button.cancel:hover:after {
  background-color: #2a98ce;
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form button.cancel:before {
  transform: rotate(45deg);
}

.zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form button.cancel:after {
  transform: rotate(-45deg);
}

.touchscreen .zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookies_buttons input {
	-webkit-appearance: none; /*Safari/Chrome*/
	-moz-appearance: none; /*Firefox*/
	appearance: none;
	-webkit-border-radius: 0;
}

.touchscreen div.zenario_cookie_consent.cookies_explicit .zenario_cookie_consent_wrap {
	padding: 20px;
    width: calc(100% - 60px);
}
	
.touchscreen .zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap .cookie_title_text,
.touchscreen .zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form {
	padding:15px;
}
	
.touchscreen div.zenario_cookie_consent.cookies_explicit .zenario_cc_buttons a {
	padding:0 15px;
}
	
.touchscreen .zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap {
	width:90%;
	height: 85vh;
	overflow-y: auto;
}
	
.touchscreen .zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap .switch {
	transform: scale(0.8);
}
	
.touchscreen .zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap form .cookie > .cookie_info {
	padding-left:10px;
}

@media (orientation: landscape) {

	.touchscreen .zenario_cookie_consent_manage_popup .zenario_cookie_consent_manage_popup_wrap {
		height: 75vh;
	}

}

@media all and (max-width: 581px) {

	div.zenario_cookie_consent .zenario_cc_message,
	div.zenario_cookie_consent .zenario_cc_buttons {
		width:calc(100% - 20px);
		float:none;
		padding-right:20px;
	}
	
	div.zenario_cookie_consent .zenario_cc_buttons {
		padding-left:0;
		padding-top:5px;
		text-align:center;
	}
	
	div.zenario_cookie_consent .zenario_cc_accept a {
		height:24px;
		line-height:22px;
	}

}

/*
	Datepicker Hide/show different fields for date pickers, depending on whether JavaScript is enabled  
*/

body.js select.jquery_datepicker {
	display: none;
}

body.no_js input.jquery_datepicker {
	display: none;
}

#ui-datepicker-div {
	display: none; /*  Bugfix for jQueryUI Datepicker (all browsers)  */
}

/*
	Rules for minimum heights on slots
*/

.container .medium_slot .zenario_slot {
	min-height: 150px;
}

.container .large_slot .zenario_slot {
	min-height: 225px;
}

.container .xlarge_slot .zenario_slot {
	min-height: 300px;
}

.container .xxlarge_slot .zenario_slot {
	min-height: 375px;
}

/*
	Tooltip for password, applies for Admin and visitor
*/

.zenario_password_requirements_tooltip {
	text-align:left;
	display:none;
}

.zenario_password_requirements_tooltip p {
	margin-bottom:5px !important;
}

.zenario_password_requirements_tooltip ul {
	padding:0 !important;
	margin:3px 0 !important;
	line-height:1.5em !important;
}

.zenario_password_requirements_tooltip ul li {
	margin:0 0 4px 0 !important;
	text-align:left !important;
}

.zenario_password_requirements_tooltip ul li.fail,
.zenario_password_requirements_tooltip ul li.pass {
	list-style:none !important;
	background-repeat:no-repeat;
	background-position:0 2px;
	background-size:auto 12px;
	padding:0 0 0 15px !important;
}

.zenario_password_requirements_tooltip ul li.fail {
	background-image:url('../zenario/admin/images/icon-error.svg');
	color:#E30000;
}

.zenario_password_requirements_tooltip ul li.pass {
	background-image:url('../zenario/admin/images/icon-tick-green-circle.svg');
	color:#00AB00;
}

/*
	Tooltip for password, applies just visitor
*/

.zenario_visitor_tooltip_wrap {
	position:relative;
}

.zenario_visitor_tooltip_wrap .zenario_password_requirements_tooltip {
	position:absolute;
	right:0;
	top:0;
}

input[type="password"].border_red {
	border-color:#e30000 !important;
}

input[type="password"].border_green {
	border-color:#00AB00 !important;
}


/*
	TUIX Snippet link icon
*/

.zenario_tslink {
	position: relative;
	z-index:50 !important;
	float: right;
	width: 18px;
	height: 18px;
	background: url('../admin/images/icon-info-squares.svg') center center no-repeat;
	right: 24px;
}

/*
	Info
*/

.zenario_front_end_picked_item_info {
	/*position: absolute;
    top: 5px;
    right: 5px;*/
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url('../admin/images/icon-info-squares.svg') no-repeat center center;
    text-indent: -99px;
    font-size: 0;
    line-height: 0;
}

/*
	Styles for the on/off switches, used on cookie consent status plugin
*/

/* The switch - the box around the slider */
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 34px;
	}

	/* Hide default HTML checkbox */
	.switch input {display:none;}

	/* The slider */
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #8c8c8c;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.switch .slider:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.switch input:checked + .slider {
	  background-color: #2196F3;
	}
	
	.switch input:disabled + .slider {
    	background: #CCC;
    	cursor:default;
	}

	.switch input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	.switch input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}

	/* Rounded sliders */
	.switch .slider.round {
	  	border-radius: 34px;
	}

	.switch .slider.round:before {
	  	border-radius: 50%;
	}

/*
	Disabled flags on the language picker
*/

.lang_flag.lang_disabled {
	opacity: 0.3;
}

/*
	Copy-text button on forms
*/

span.zenario_copy {
	cursor: pointer;
}

/*
	Toastr
*/


#toast-container > .toast {
	font-family:Arial,Helvetica,Sans-Serif;
	font-size:13px;
}

/*
	Lazy load images
*/

.zenario_skin img.lazy {
	display:block;
}

.zenario_skin img.lazy[src=""],
.zenario_skin img.lazy:not([src]) {
  visibility: hidden;
}

/*
	Pinned
*/

.zenario_slot .pinned {
	font-size: 90%;
    padding-bottom: 5px;
}

.zenario_slot .pinned_icon:before,
.zenario_slot .page_title .pinned_icon:after {
    font-family: "FontAwesome";
    content: "\f08d";
	position:absolute;
	transform:rotateY(0deg) rotate(45deg);
}

.zenario_slot .pinned_icon {
	padding-left:18px;
	position:relative;
}

.zenario_slot .pinned_icon:before {
	left:0;
}

.zenario_slot .page_title .pinned_icon {
	padding-left:0;
}

.zenario_slot .page_title .pinned_icon:before {
	content:"";
	padding:0;
}

.zenario_slot .page_title .pinned_icon:after {
	margin-left:10px;
	font-size:20px;
}

/*
	Spinner
*/

.zenario_slot.zenario_loading_spinner {
	position:relative;
	z-index:1;
}

.zenario_slot.zenario_loading_spinner:before {
	position:absolute;
	z-index:2;
	top:0;
	bottom:0;
	left:0;
	right:0;
	content:"";
	display:block;
	background:rgba(255,255,255,0.8);
	width:100%;
	height:100%;
}

.zenario_slot.zenario_loading_spinner:after {
	position:absolute;
	z-index:3;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	display: inline-block;
  	content: " ";
	border-radius: 50%;
  	width: 3em;
  	height: 3em;
  	font-size: 10px;
  	text-indent: -9999em;
  	border-top: 1em solid rgba(0, 0, 0, 0.2);
  	border-right: 1em solid rgba(0, 0, 0, 0.2);
  	border-bottom: 1em solid rgba(0, 0, 0, 0.2);
  	border-left: 1em solid #555555;
  	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
  	-webkit-animation: loading_spinner 1.1s infinite linear;
  	animation: loading_spinner 1.1s infinite linear;
}

@-webkit-keyframes loading_spinner {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading_spinner {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
