
/*  Placeholder styles for the request icon  */

#zenario_at .zenario_at_status_icons_container .zenario_at_status_icons .zenario_at_icon_request a,
#zenario_at .zenario_at_status_icons_container .zenario_at_status_icons .zenario_at_icon_no_request a {
	width:24px;
	height:22px;
	display:block;
	float:right;
	cursor:pointer;
}

#zenario_at .zenario_at_status_icons_container .zenario_at_status_icons .zenario_at_icon_no_request a {
	background:grey url('request-icon-off-state-toolbar-view.png') no-repeat;
}

#zenario_at .zenario_at_status_icons_container .zenario_at_status_icons .zenario_at_icon_request a {
	background:yellow url('request-icon-on-state-toolbar-view.png') no-repeat;
}
