
/*  Placeholder styles for the request icon  */

#zenario_at .zenario_at_status_icons_container .zenario_at_status_icons .zenario_at_icon_request a,
#zenario_at .zenario_at_status_icons_container .zenario_at_status_icons .zenario_at_icon_no_request a {
	width:24px;
	height:22px;
	display:block;
	float:right;
	cursor:pointer;
}

#zenario_at .zenario_at_status_icons_container .zenario_at_status_icons .zenario_at_icon_no_request a {
	background:grey url('icon-notes-grey.svg') no-repeat center / 14px 14px;
}

#zenario_at .zenario_at_status_icons_container .zenario_at_status_icons .zenario_at_icon_request a {
	background:yellow url('icon-notes-grey.svg') no-repeat center / 14px 14px;
}
