
/*  Placeholder styles for the request icon  */

.view_content_no_requests,
#organizer_rightColumnContent div.organizer_row div.organizer_cell.listicon .organizer_inline_buttons div.view_content_no_requests {
	background: url('icon-notes-grey.svg') no-repeat center / 16px 16px;
	width: 16px;
	height: 16px;
}

.view_content_has_requests,
#organizer_rightColumnContent div.organizer_row div.organizer_cell.listicon .organizer_inline_buttons div.view_content_requests {
	background: url('icon-notes-yellow-v2.svg') no-repeat center / 16px 16px;
	width: 16px;
	height: 16px;
}
