<div class="extranet_wrap">
	<div class="extranet_outer_wrap">
		<div class="extranet_inner_wrap">

			{% if Message_Display %}
				<div class="extranet_message">{{Message}}</div>
			{% endif %}
			
			{% if Verification_Failed %}
				<div class="confirm_email_text">{{"We are sorry, but we were unable to find your registration. Please check whether the verification link is correct."|trans}}</div>
			{% endif %}

			{% if Verification_Already_Done %}
				<div class="confirm_email_text">{{"This email address has already been verified."|trans}}</div>
			{% endif %}

			{% if Registered_Not_Verified %}
				<div class="confirm_email_text">{{Thank_You_Verify_Email_Text}}</div>
			{% endif %}

			{% if Registered_Verified_Not_Activated %}
				<div class="confirm_email_text">{{Thank_You_Wait_For_Activation_Text}}</div>
			{% endif %}

			{% if Registered_Email_Resent %}
				<div class="confirm_email_text">{{Thank_You_Verify_Email_Resent_Text}}</div>
			{% endif %}
			
			{% if Registration_Form %}
				
				{% if Registration_Title_Section %}
					<h2>{{Registration_Title}}</h2>
				{% endif %}
				
				<div>
					{% for item in Error_Display %}
						<div class="extranet_error">{{item.Error}}</div>
					{% endfor %}
					
					<div class="extranet_field">
						<div class="label"><label for="email">{{"Email:"|trans}}</label></div>
						{{this.frameworkField({'type': "email", 'name': "email", 'id': "email", 'pattern': "new_email", 'required': "true", 'class': "extranet_text"})}}
					</div>
					
					{% if Second_Email %}
						<div class="extranet_field">
							<div class="label"><label for="email_confirm">{{"Repeat email:"|trans}}</label></div>
							{{this.frameworkField({'type': "email", 'name': "email_confirm", 'id': "email_confirm", 'class': "extranet_text"})}}
						</div>
					{% endif %}
					
					{% if Salutation %}
					<div class="extranet_field">
						<div class="label"><label for="salutation">{{"Salutation:"|trans}}</label></div>
						{{this.frameworkField({'type': "text", 'name': "salutation", 'id': "salutation", 'maxlength': "25", 'source_module': 'zenario_common_features', 'source_method': 'getSalutations', 'source_param_1': '2'})}}
					</div>
					{% endif %}
										
					<div class="extranet_field">
						<div class="label"><label for="first_name">{{"First name:"|trans}}</label></div>
						{{this.frameworkField({'type': "text", 'name': "first_name", 'id': "first_name", 'maxlength': "100", 'required': "true"})}}
					</div>
					<div class="extranet_field">
						<div class="label"><label for="last_name">{{"Last name:"|trans}}</label></div>
						{{this.frameworkField({'type': "text", 'name': "last_name", 'id': "last_name", 'maxlength': "100", 'required': "true"})}}
					</div>
					
					{% if Choose_Screen_Name %}
						<div class="extranet_field">
							<div class="label"><label for="screen_name">{{"Screen name:"|trans}}</label></div>
							{{this.frameworkField({'type': "text", 'name': "screen_name", 'id': "screen_name", 'pattern': "new_screen_name", 'required': "true", 'class': "extranet_text"})}}
						</div>
					{% endif %}
					
					{% include this.frameworkBaseDir() ~ 'includes/custom_fields.twig.html' %}
					
					{% set Password_Class_List = "extranet_field extranet_field_password_message" %}
					{% include this.frameworkBaseDir() ~ 'includes/user_passwords.twig.html' with {'Password_Class_List': Password_Class_List} %}
					
					{% include this.frameworkBaseDir() ~ 'includes/ts_and_cs_section.twig.html' %}
					
					{% include this.frameworkBaseDir() ~ 'includes/captcha.twig.html' %}
					
					<div class="extranet_btn">
						<input type="submit" name="extranet_register" class="extranet_submit" value="{{Register_Button_Text}}" />
					</div>
				</div>
				<div class="extranet_links">
					{% if Resend_Link_Section %}
					    {% if Show_Resend_Form %}
					    	<div class="extranet_link">
								<div class="extranet_link_resend_email"><a {{Resend_Link}}>{{Resend_Verification_Email_Link_Text}}</a></div>
								<div class="extranet_link_desc">{{Resend_Verification_Email_Link_Description}}</div>
							</div>
					    {% endif %}
					{% endif %}
					{% if Login_Link_Section %}
						<div class="extranet_link extranet_link_login"><a {{Login_Link}}>{{Go_Back_To_Login_Text}}</a></div>
					{% endif %}
				</div>
			{% endif %}
			
			{% if Resend_Form %}
				<h1>{{"Resend verification email"|trans}}</h1>
				<div>
					{% for item in Error_Display %}
						<div class="extranet_error">{{item.Error}}</div>
					{% endfor %}
					
					<div class="extranet_field">
						<div class="label"><label for="email">{{"Email:"|trans}}</label></div>
						{{this.frameworkField({'type': "email", 'name': "email", 'id': "email", 'pattern': "unverified_email", 'required': "true", 'class': "extranet_text"})}}
					</div>
					
					{% include this.frameworkBaseDir() ~ 'includes/captcha.twig.html' %}
					
					<div class="extranet_btn">
						<input type="submit" name="extranet_register" class="extranet_submit" value="{{'Resend verification email'|trans}}" />
					</div>
				</div>
				<div class="extranet_links">
					<div class="extranet_link"><a {{Registration_Link}}>{{"Register"|trans}}</a></div>
					{% if Login_Link_Section %}
						<div class="extranet_link"><a {{Login_Link}}>{{Go_Back_To_Login_Text}}</a></div>
					{% endif %}
				</div>
			{% endif %}
			
			{% if Logged_In %}
				{% if Welcome_Message_Section %}
					<div class="extranet_welcome_text">{{Welcome_Message}}</div>
				{% endif %}
				
				{% if Welcome_Message_2 %}
					<div class="extranet_welcome_text_2">{{Welcome_Message_2}}</div>
				{% endif %}
				
				{% if Destination_url_section %} 
					<div class="extranet_requested_link">
						{{"It looks like you requested this page:"|trans}}
						<a href="{{destURL_Link}}">{{destURL_Title}}</a>
					</div>
				{% endif %}
				<div class="extranet_links">
					{% if this.setting('show_link_to_profile_page') and Profile_Link_Section %}
						<div class="extranet_link">
							<a {{Profile_Link}}>{{"Your profile"|trans}}</a>
						</div>
					{% endif %}
					{% if this.setting('show_link_to_change_password_page') and Change_Password_Link_Section %}
						<div class="extranet_link">
							<a {{Change_Password_Link}}>{{"Change your password"|trans}}</a>
						</div>
					{% endif %}
					{% if this.setting('show_link_to_logout_page') and Logout_Link_Section %}
						<div class="extranet_link">
							<a {{Logout_Link}}>{{"Logout"|trans}}</a>
						</div>
					{% endif %}
				</div>
			{% endif %}

		</div>
	</div>
</div>