<div class="extranet_wrap">
	<div class="extranet_outer_wrap">
		<div class="extranet_inner_wrap">

			{% if Message_Display %}
				<div class="extranet_message">{{Message}}</div>
			{% endif %}
			
			{% if Verification_Failed %}
				<div class="confirm_email_text">{{"_ERROR_VERIFICATION_FAILED"|trans}}</div>
			{% endif %}

			{% if Verification_Already_Done %}
				<div class="confirm_email_text">{{"_ERROR_EMAIL_VERIFIED"|trans}}</div>
			{% endif %}

			{% if Registered_Not_Verified %}
				<div class="confirm_email_text">{{Thank_You_Verify_Email_Text}}</div>
			{% endif %}

			{% if Registered_Verified_Not_Activated %}
				<div class="confirm_email_text">{{Thank_You_Wait_For_Activation_Text}}</div>
			{% endif %}

			{% if Registered_Email_Resent %}
				<div class="confirm_email_text">{{Thank_You_Verify_Email_Resent_Text}}</div>
			{% endif %}
			
			{% if Registration_Form %}
				
				{% if Registration_Title_Section %}
					<h2>{{Registration_Title}}</h2>
				{% endif %}
				
				<div>
					{% for item in Error_Display %}
						<div class="extranet_error">{{item.Error}}</div>
					{% endfor %}
					
					{% if Choose_Screen_Name %}
						<div class="extranet_field">
							<div class="label"><label for="screen_name">{{"_SCREEN_NAME:"|trans}}</label></div>
							{{this.frameworkField({'type': "text", 'name': "screen_name", 'id': "screen_name", 'pattern': "new_screen_name", 'required': "true", 'class': "extranet_text"})}}
						</div>
					{% endif %}
					
					<div class="extranet_field">
						<div class="label"><label for="email">{{"_EMAIL:"|trans}}</label></div>
						{{this.frameworkField({'type': "text", 'name': "email", 'id': "email", 'pattern': "new_email", 'required': "true", 'class': "extranet_text"})}}
					</div>
					
					{% if Second_Email %}
						<div class="extranet_field">
							<div class="label"><label for="email_confirm">{{"Repeat email:"|trans}}</label></div>
							{{this.frameworkField({'type': "text", 'name': "email_confirm", 'id': "email_confirm", 'class': "extranet_text"})}}
						</div>
					{% endif %}
					
					<div class="extranet_field">
						<div class="label"><label for="salutation">{{"_SALUTATION:"|trans}}</label></div>
						{{this.frameworkField({'type': "text", 'name': "salutation", 'id': "salutation", 'maxlength': "25"})}}
					</div>
										
					<div class="extranet_field">
						<div class="label"><label for="first_name">{{"_FIRST_NAME:"|trans}}</label></div>
						{{this.frameworkField({'type': "text", 'name': "first_name", 'id': "first_name", 'maxlength': "100", 'required': "true"})}}
					</div>
					<div class="extranet_field">
						<div class="label"><label for="last_name">{{"_LAST_NAME:"|trans}}</label></div>
						{{this.frameworkField({'type': "text", 'name': "last_name", 'id': "last_name", 'maxlength': "100", 'required': "true"})}}
					</div>
					
					{% if User_passwords %}
						<div class="extranet_field">
							<div class="label"><label for="extranet_new_password">{{"_PASSWORD:"|trans}}</label></div>
							{{this.frameworkField({'type': "password", 'name': "extranet_new_password", 'id': "extranet_new_password", 'pattern': "new_password", 'required': "true", 'class': "extranet_password"})}}
						</div>

						<div class="extranet_field">
							<div class="label"><label for="extranet_new_password_confirm">{{"_PASSWORD_CONFIRMATION:"|trans}}</label></div>
							{{this.frameworkField({'type': "password", 'name': "extranet_new_password_confirm", 'id': "extranet_new_password_confirm", 'required': "true", 'class': "extranet_password"})}}
						</div>
					{% endif %}
					
					
					{% if Ts_And_Cs_Section %}
						<div class="extranet_field">
							{{this.frameworkField({'type': "checkbox", 'name': "extranet_terms_and_conditions", 'id': "extranet_terms_and_conditions", 'required': "true"})}}
							<label for="extranet_terms_and_conditions">{{Ts_And_Cs_Link}}</label>
						</div>
					{% endif %}
					
					{% if Captcha %}
						<div class="extranet_field">
							<div class="captcha">
							{{"_CAPTCHA:"|trans}}
							{{Captcha}}
							</div>
						</div>
					{% endif %}
					
					<div class="extranet_btn"><div class="r">
						<input type="submit" name="extranet_register" class="extranet_submit i" value="{{Register_Button_Text}}" />
					</div></div>
				</div>
				<div class="extranet_links">
					{% if Resend_Link_Section %}
						<div><a {{Resend_Link}}>{{Resend_Verification_Email_Link_Text}}</a></div>
						<div class="extranet_link_desc">{{Resend_Verification_Email_Link_Description}}</div>
					{% endif %}
					{% if Login_Link_Section %}
						<div><a {{Login_Link}}>{{Go_Back_To_Login_Text}}</a></div>
					{% endif %}
				</div>
			{% endif %}
			
			{% if Resend_Form %}
				<h1>{{"_RESEND_VERIFICATION_EMAIL_TITLE"|trans}}</h1>
				<div>
					{% for item in Error_Display %}
						<div class="extranet_error">{{item.Error}}</div>
					{% endfor %}
					
					<div class="extranet_field">
						<div class="label"><label for="email">{{"_EMAIL:"|trans}}</label></div>
						{{this.frameworkField({'type': "text", 'name': "email", 'id': "email", 'pattern': "unverified_email", 'required': "true", 'class': "extranet_text"})}}
					</div>
					
					<div class="extranet_btn"><div class="r">
						<input type="submit" name="extranet_register" class="extranet_submit i" value="{{'_RESEND_VERIFICATION_EMAIL'|trans}}" />
					</div></div>
				</div>
				<div class="extranet_links">
					<div><a {{Registration_Link}}>{{"_REGISTER"|trans}}</a></div>
					{% if Login_Link_Section %}
						<div><a {{Login_Link}}>{{Go_Back_To_Login_Text}}</a></div>
					{% endif %}
				</div>
			{% endif %}
			
			{% if Logged_In %}
				{% if Welcome_Message_Section %}
				<div class="extranet_welcome_text">{{Welcome_Message}}</div>
				{% endif %}
				{% if Destination_url_section %} 
				<div class="extranet_requested_link">
					{{"_REQUESTED_LINK:"|trans}}
					<a href="{{destURL_Link}}">{{destURL_Title}}</a>
				</div>
				{% endif %}
				<div class="extranet_links">
					{% if Change_Password_Link_Section %}
						<div>
							<a {{Change_Password_Link}}>{{"_CHANGE_PASSWORD"|trans}}</a>
						</div>
					{% endif %}
					{% if Logout_Link_Section %}
						<div>
							<a {{Logout_Link}}>{{"_LOGOUT"|trans}}</a>
						</div>
					{% endif %}
				</div>
			{% endif %}

		</div>
	</div>
</div>