<div class="file_row file_{{m.id|e}}" data-id="{{m.id|e}}">
	<div class="drag_handle"></div>
	<div class="icon" style="width:64px;height:64px;">
		<img src="{{m.thumbnail_path|e}}"
			<% if (m.rotate) { %>
				style="
					transform:         rotate({{m.rotate|e}}deg);
					-ms-transform:     rotate({{m.rotate|e}}deg);
					-moz-transform:    rotate({{m.rotate|e}}deg);
					-webkit-transform: rotate({{m.rotate|e}}deg);
					-o-transform:      rotate({{m.rotate|e}}deg);
				"
			<% } %>
		>
	</div>
	<p><a href="{{m.path|e}}" target="_blank">{{m.name|e}}</a></p>
	<span class="rotate">R</span>
	<span class="delete">X</span>
</div>