
/*  Styles for text.
	These rules are listed in the description.yaml file in the 'style_formats', 
	so they will be selectable in in the WYSIWYG Editor.  
--------------------------------------------------------------------------------------------------*/

.x-small {
	font-size: .7em;
}

.small {
	font-size: .85em;
}

.medium {
	font-size: 1em;
}

.large {
	font-size: 1.3em;
	line-height:1.2em;
}

.x-large {
	font-size: 2em;
	line-height:1.2em;
}

.code {
    font-family: monospace;
}

