<div class="wrap_menu">
<div class="wrap_menu_outer">
<div class="wrap_menu_inner">
	{% for node1 in nodes %}
		{% if not node1.is_admin_add_menu_item %}
			<ul>
				<li class="level1{% if node1.on %}_on{% endif %} level1_{{node1.ordinal|e}}{% if node1.on %}_on{% endif %} {% if node1.children %}has_child{% endif %} {% if node1.css_classes %}{{node1.css_classes|e}}{% endif %} zenario_menu_node">
					{% if not node1.active %}
						<em class="zenario_inactive">
					{% endif %}
					<a {% if node1.url %}href="{{node1.url|e}}"{% else %}class="unlinked_menu_item"{% endif %}
						{% if node1.onclick %}onclick="{{node1.onclick|e}}"{% endif %}
						{% if node1.accesskey %}accesskey="{{node1.accesskey|e}}"{% endif %}
						{% if node1.rel_tag %}rel="{{node1.rel_tag|e}}"{% endif %}
						{% if node1.target %}target="{{node1.target|e}}"{% endif %}
						{% if node1.title %}title="{{node1.title|e}}"{% endif %}>
						{{node1.name|e}}
					</a>
					{% if not node1.active %}
						</em>
					{% endif %}
					{% if node1.descriptive_text %}
						{{node1.descriptive_text}}
					{% endif %}
					{% if node1.children %}
						<div class="columns_wrap">
						<div class="column">
							{% set currentInCol = 0 %}
							{% for node2 in node1.children %}
								{% if not node2.is_admin_add_menu_item %}
									{% set currentInCol = currentInCol + 1 %}
									{% if (nodeExtraProperties[node2.mID]['top_of_column'] == 1) or (currentInCol > maxInCol) %}
										{% for i in currentInCol..maxInCol if currentInCol <= maxInCol %}
											<div class="level3 blank"></div>
										{% endfor %}
										{% set currentInCol = 1 %}
										</div><div class="column">
									{% endif %}
									<div class="level2{% if node2.on %}_on{% endif %} level2_{{node2.ordinal|e}}{% if node2.on %}_on{% endif %} {% if node2.children %}has_child{% endif %} {% if node2.css_classes %}{{node2.css_classes|e}}{% endif %} zenario_menu_node">
									{% if not node2.active %}
										<em class="zenario_inactive">
									{% endif %}
									<a {% if node2.url %}href="{{node2.url|e}}"{% else %}class="unlinked_menu_item"{% endif %}
										{% if node2.onclick %}onclick="{{node2.onclick|e}}"{% endif %}
										{% if node2.accesskey %}accesskey="{{node2.accesskey|e}}"{% endif %}
										{% if node2.rel_tag %}rel="{{node2.rel_tag|e}}"{% endif %}
										{% if node2.target %}target="{{node2.target|e}}"{% endif %}
										{% if node2.title %}title="{{node2.title|e}}"{% endif %}>
										{{node2.name|e}}
									</a>
									{% if not node2.active %}
										</em>
									{% endif %}
									{% if node2.descriptive_text %}
										{{node2.descriptive_text}}
									{% endif %}
									
									</div>
									{% for node3 in node2.children %}
										{% if not node3.is_admin_add_menu_item %}
											{% set firstNode = '' %}
											{% set currentInCol = currentInCol + 1 %}
											{% if currentInCol > maxInCol %}
												{% set currentInCol = 1 %}
												</div><div class="column">
											{% endif %}
											<div class="level3{% if node3.on %}_on{% endif %} level3_{{node3.ordinal|e}}{% if node3.on %}_on{% endif %} {% if node3.css_classes %}{{node3.css_classes|e}}{% endif %} {{firstNode}} zenario_menu_node">
											{% if not node3.active %}
												<em class="zenario_inactive">
											{% endif %}
											<a {% if node3.url %}href="{{node3.url|e}}"{% else %}class="unlinked_menu_item"{% endif %}
												{% if node3.onclick %}onclick="{{node3.onclick|e}}"{% endif %}
												{% if node3.accesskey %}accesskey="{{node3.accesskey|e}}"{% endif %}
												{% if node3.rel_tag %}rel="{{node3.rel_tag|e}}"{% endif %}
												{% if node3.target %}target="{{node3.target|e}}"{% endif %}
												{% if node3.title %}title="{{node3.title|e}}"{% endif %}>
												{{node3.name|e}}
											</a>
											{% if not node3.active %}
												</em>
											{% endif %}
											{% if node3.descriptive_text %}
												{{node3.descriptive_text}}
											{% endif %}
											</div>
										{% endif %}
									{% endfor %}
								{% endif %}
							{% endfor %}
						</div>
						{% if (nodeExtraProperties[node1.mID]['use_feature_image'] == 1) %}
							{% if nodeExtraProperties[node1.mID]['show_banner'] %}
								<div class="feature_wrap">
									<div class="feature_image" {% if rollover_js %}{{rollover_js}}{% endif %}>
										{% if (nodeExtraProperties[node1.mID]['link_type'] != 'no_link') %}
											<a href="{{nodeExtraProperties[node1.mID]['dest_url']|e}}" {% if (nodeExtraProperties[node1.mID]['open_in_new_window'] == 1) %}target="_blank"{% endif %}>
										{% endif %}
											<img id="{{containerId|e}}_feature_img" src="{{nodeExtraProperties[node1.mID]['feature_image_link']|e}}"
											{% if (nodeExtraProperties[node1.mID]['use_rollover_image'] == 1) %}
											onmouseover="{this.src='{{nodeExtraProperties[node1.mID]['feature_rollover_image_link']}}'};"
											onmouseout="{this.src='{{nodeExtraProperties[node1.mID]['feature_image_link']}}'};"
											{% endif %}/>
										{% if (nodeExtraProperties[node1.mID]['link_type'] != 'no_link') %}</a>{% endif %}
									</div>
									{% if nodeExtraProperties[node1.mID]['title'] %}
										<div class="feature_title">
											{% if (nodeExtraProperties[node1.mID]['link_type'] != 'no_link') %}
											<a href="{{nodeExtraProperties[node1.mID]['dest_url']|e}}" {% if (nodeExtraProperties[node1.mID]['open_in_new_window'] == 1) %}target="_blank"{% endif %}>
											{% endif %}
											<h2>
												{{nodeExtraProperties[node1.mID]['title']|e}}
											</h2>
											{% if (nodeExtraProperties[node1.mID]['link_type'] != 'no_link') %}</a>{% endif %}
										</div>
									{% endif %}
									{% if nodeExtraProperties[node1.mID]['text'] %}
										<div class="feature_text">
											{{nodeExtraProperties[node1.mID]['text']}}
										</div>
									{% endif %}
								</div>
							{% endif %}
						{% endif %}
						<div class="second_gallery_wrap">
							{% if node1.image_id %}
								<div class="second_gallery_item_wrap{% if (cID == node1.cID) and (cType == node1.cType) %} on{% endif %}">
									<div class="second_gallery_text">
										<a {% if node1.url %}href="{{node1.url|e}}"{% else %}class="unlinked_menu_item"{% endif %}
											{% if node1.onclick %}onclick="{{node1.onclick|e}}"{% endif %}
											{% if node1.accesskey %}accesskey="{{node1.accesskey|e}}"{% endif %}
											{% if node1.rel_tag %}rel="{{node1.rel_tag|e}}"{% endif %}
											{% if node1.target %}target="{{node1.target|e}}"{% endif %}
											{% if node1.title %}title="{{node1.title|e}}"{% endif %}>
										{{node1.name|e}}
										</a>
									</div>
									<div class="second_gallery_image">
										<a {% if node1.url %}href="{{node1.url|e}}"{% else %}class="unlinked_menu_item"{% endif %}
											{% if node1.onclick %}onclick="{{node1.onclick|e}}"{% endif %}
											{% if node1.accesskey %}accesskey="{{node1.accesskey|e}}"{% endif %}
											{% if node1.rel_tag %}rel="{{node1.rel_tag|e}}"{% endif %}
											{% if node1.target %}target="{{node1.target|e}}"{% endif %}
											{% if node1.title %}title="{{node1.title|e}}"{% endif %}>
											<img src="{{nodeExtraProperties[node1.mID]['image_link']}}" 
											{% if node1.rollover_image_id %}
											onmouseover="{this.src='{{nodeExtraProperties[node1.mID]['rollover_image_link']}}'};"
											onmouseout="{this.src='{{nodeExtraProperties[node1.mID]['image_link']}}'};"
											{% endif %}/>
										</a>
										
									</div>
								</div>
							{% endif %}
							{% for node2 in node1.children %}
								{% if node2.image_id %}
									<div class="second_gallery_item_wrap{% if (cID == node2.cID) and (cType == node2.cType) %} on{% endif %}">
										<div class="second_gallery_text">
											<a {% if node2.url %}href="{{node2.url|e}}"{% else %}class="unlinked_menu_item"{% endif %}
												{% if node2.onclick %}onclick="{{node2.onclick|e}}"{% endif %}
												{% if node2.accesskey %}accesskey="{{node2.accesskey|e}}"{% endif %}
												{% if node2.rel_tag %}rel="{{node2.rel_tag|e}}"{% endif %}
												{% if node2.target %}target="{{node2.target|e}}"{% endif %}
												{% if node2.title %}title="{{node2.title|e}}"{% endif %}>
												{{node2.name|e}}
											</a>
										</div>
										<div class="second_gallery_image">
											<a {% if node2.url %}href="{{node2.url|e}}"{% else %}class="unlinked_menu_item"{% endif %}
												{% if node2.onclick %}onclick="{{node2.onclick|e}}"{% endif %}
												{% if node2.accesskey %}accesskey="{{node2.accesskey|e}}"{% endif %}
												{% if node2.rel_tag %}rel="{{node2.rel_tag|e}}"{% endif %}
												{% if node2.target %}target="{{node2.target|e}}"{% endif %}
												{% if node2.title %}title="{{node2.title|e}}"{% endif %}>
												<img src="{{nodeExtraProperties[node2.mID]['image_link']}}" 
												{% if node2.rollover_image_id %}
												onmouseover="{this.src='{{nodeExtraProperties[node2.mID]['rollover_image_link']}}'};"
												onmouseout="{this.src='{{nodeExtraProperties[node2.mID]['image_link']}}'};"
												{% endif %}/>
											</a>
										</div>
									</div>
								{% endif %}
								{% for node3 in node2.children %}
									{% if node3.image_id %}
										
										<div class="second_gallery_item_wrap{% if (cID == node3.cID) and (cType == node3.cType) %} on{% endif %}">
											<div class="second_gallery_text">
												<a {% if node3.url %}href="{{node3.url|e}}"{% else %}class="unlinked_menu_item"{% endif %}
													{% if node3.onclick %}onclick="{{node3.onclick|e}}"{% endif %}
													{% if node3.accesskey %}accesskey="{{node3.accesskey|e}}"{% endif %}
													{% if node3.rel_tag %}rel="{{node3.rel_tag|e}}"{% endif %}
													{% if node3.target %}target="{{node3.target|e}}"{% endif %}
													{% if node3.title %}title="{{node3.title|e}}"{% endif %}>
													{{node3.name|e}}
												</a>
											</div>
											<div class="second_gallery_image">
												<a {% if node3.url %}href="{{node3.url|e}}"{% else %}class="unlinked_menu_item"{% endif %}
													{% if node3.onclick %}onclick="{{node3.onclick|e}}"{% endif %}
													{% if node3.accesskey %}accesskey="{{node3.accesskey|e}}"{% endif %}
													{% if node3.rel_tag %}rel="{{node3.rel_tag|e}}"{% endif %}
													{% if node3.target %}target="{{node3.target|e}}"{% endif %}
													{% if node3.title %}title="{{node3.title|e}}"{% endif %}>
													<img src="{{nodeExtraProperties[node3.mID]['image_link']}}" 
													{% if node3.rollover_image_id %}
													onmouseover="{this.src='{{nodeExtraProperties[node3.mID]['rollover_image_link']}}'};"
													onmouseout="{this.src='{{nodeExtraProperties[node3.mID]['image_link']}}'};"
													{% endif %}/>
												</a>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							{% endfor %}
						</div>
					{% endif %}
				</li>
			</ul>
		{% endif %}
	{% endfor %}
</div>
</div>
</div>