<div class="banner_wrap"><div class="banner_wrap_outer"><div class="banner_wrap_inner" {{Wrap}}>
	{% if Image %}
		<div class="banner_image" > 
			{% if Image_Link_Href %} 
				<a {{Image_Link_Href}}{{Target_Blank}}>
			{% endif %}
			
			<img src="{{Image_Src}}" alt="{{Image_Alt}}" title="{{Image_Title}}" {{Image_Style}}/>
			{{Rollover_Images}}
			{% if Enlarge_Image %}
				<span class="banner_image_zoom" title="{{'Enlarge this image'|trans}}">{{"Enlarge this image"|trans}}</span>
			{% endif %}
			
			{% if Image_Link_Href %} 
				</a>
			{% endif %}
		</div>
	{% endif %}

	{#
	 # The following two sections are inserted if you set Title & HTML.
	 # The section called Title is displayed conditionally on Title being set,
	 # and if so it merges it into the merge field called Title comes from the Title,
	 # and Text comes from the HTML.
	 #}
	{% if Title %}
		<div class="banner_title">
			<h2>
				{% if Link_Href %}
					<a {{Link_Href}}{{Target_Blank}}>{{Title}}</a>
				{% else %}
					{{Title}}
				{% endif %}
			</h2>
		</div>
	{% endif %}
	{% if Text %}
		<div class="banner_text">{{Text}}</div>
	{% endif %}
	
</div></div></div>
