<div class="lang_pick_box">
	{% if Prompt_Phrase_Section %}
		<div class="lang_choose_text">{{'_CHOOSE_YOUR_LANGUAGE:'|trans}}</div>
	{% endif %}
	<div class="lang_choices">
		<select id="nav" name="nav" onchange="location.href=this.value">
			{% for lang in Languages %}
				{% if lang.current_language %}
					<option value="{{lang.link|e}}" selected="selected">{{lang.name|e}}</option>
				{% else %}
					<option value="{{lang.link|e}}">{{lang.name|e}}</option>
				{% endif %}
			{% endfor %}
		</select>
	</div>
</div>