{% if RSS %}<?xml version="1.0" encoding="UTF-8" ?>
	<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
		<channel>
			<atom:link href="{{RSS_Link}}" rel="self" type="application/xml" />
			<title>{{Title}}</title>
			<link>{{Link}}</link>
			<description>{{Description}}</description>
			
			{% for item in RSS_Item %}
				<item>
					<title>{{item.Title}}</title>
					<description>{{item.Excerpt_Text}}</description>
					<link>{{item.Full_Link}}</link>
					<guid>{{item.Full_Link}}</guid>
					{% if item.Language %}
						<language>{{item.Language}}</language>
					{% endif %}
					{% if item.Date %}
						<pubDate>{{item.Date}}</pubDate>
					{% endif %}
				</item>
			{% endfor %}
		</channel>
	</rss>
{% else %}
	{% if UserCanFilterByCategory %}
		<{{Title_Tags|e}}>{{Title_With_Content}}</{{Title_Tags|e}}>
		<div class="categories">
			<div class="branch_wrap">
				<div class="category level_1">
					<a href="#" {% if SelectedCategory == 0 %}class="selected" {% endif %} onclick="{{AllBlogPostsLinks}}">{{"All categories"|trans}}{% if ShowCountOnFilter %} ({{Results}}) {% endif %}</a>
				</div>
			</div>
			{% for cat in Categories %}
				{% if (not OnlyShowCategoryWithItems) or (cat.count > 0) %}
					<div class="branch_wrap {% if TopLevelParent == cat.id %} top_level_category_selected {% endif %}">
						<div class="category level_1">
							<a href="#" {% if SelectedCategory == cat.id %}class="selected" {% endif %} onclick="{{cat.link}}">{{cat.visitorName}}{% if ShowCountOnFilter %} ({{cat.count}}) {% endif %}</a>
						</div>
						{% for child in cat.children %}
							{% if (not OnlyShowCategoryWithItems) or (child.count > 0) %}
								<div class="category level_2">
									<a href="#" {% if SelectedCategory == child.id %}class="selected" {% endif %} onclick="{{child.link}}">{{child.visitorName}}{% if ShowCountOnFilter %} ({{child.count}}) {% endif %}</a>
								</div>
							{% endif %}
					
							{% for grandchild in child.children %}
								{% if (not OnlyShowCategoryWithItems) or (grandchild.count > 0) %}
									<div class="category level_3">
										<a href="#" {% if SelectedCategory == grandchild.id %}class="selected" {% endif %} onclick="{{grandchild.link}}">{{grandchild.visitorName}}{% if ShowCountOnFilter %} ({{grandchild.count}}) {% endif %}</a>
									</div>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
	{% if Rows %}
		{% if Show_RSS_Link %}
			<div class="content_list_rss_link"><a href="{{RSS_Link}}" title="{{'Subscribe via RSS'|trans}}"><span>{{'RSS'|trans}}</span></a></div>
		{% endif %}
		<div class="content_list_listing{% if Content_Items_Equal_Height %} setmychildren {% endif %}">
			{% for item in Row %}
				<div class="content_list_data_row{% if Content_Items_Equal_Height %} tothesameheight{% endif %} data_row_{{this.oddOrEven()}}{% if item.Disabled %} disabled_link{% endif %} {% if item.Content_item_is_private %} private {% endif %}">
					{% if Show_Featured_Image %}
						<div class="sticky_image">
							<a {{item.Link}}{{item.Target_Blank}}>
								{% if item.Featured_Image_HTML %}
									{{item.Featured_Image_HTML}}
								{% endif %}
							</a>
						</div>
					{% endif %}
					<div class="content_list_text">
						{% if Show_Item_Title %}
							{% if item.Pinned or item.Pinned_Text %}
								<div class="pinned {% if item.Pinned %} pinned_icon {% endif %}">{% if item.Pinned_Text %}{{item.Pinned_Text|trans}}{% endif %}</div>
							{% endif %}
							<{{Item_Title_Tags|e}} class="content_list_title {{item.Content_Type|e}}">
								<a {{item.Link}}{{item.Target_Blank}}>{{item.Title|e}}</a> 
								{% if item.Language %}<span>({{item.Language|e}})</span>{% endif %}
							</{{Item_Title_Tags|e}}>
						{% endif %}
						{% if Show_Author_Image %}
							<div class="content_list_author_image">
								<img alt="{{item.Author_Image_Alt|e}}" src="{{item.Author_Image_Src|e}}" width="{{item.Author_Image_Width|e}}" height="{{item.Author_Image_Height|e}}"/>
							</div>
						{% endif %}
						{% if Show_Author %}
							<p class="content_list_author">{{item.Author|e}}</p>
						{% endif %}
						{% if Show_Date %}
							<p class="content_list_date">{{item.Date|e}}</p>
						{% endif %}
						{% if Show_Excerpt %}
							<div class="content_list_excerpt">{{item.Excerpt_Text}}</div>
						{% endif %}
					</div>
					
					{% if item.Logged_in_user_is_admin and item.Content_panel_organizer_href_start %}
						<div class="content_list_infoIcon">
							<a
								class="zenario_front_end_picked_item_info"
								href="{{item.Content_panel_organizer_href_start}}"
								target="_blank"
							>i</a>
						</div>
					{% endif %}
					
					{% if Show_Category and item.Category %}
						<a class="content_list_category_link" href="#" onclick="{{item.Category_Link}}">
							<div class="content_list_category category_{{item.Category_Id|e}}">{{item.Category|e}}</div>
						</a>
					{% endif %}
					
					<div class="content_list_more">
						<a {{item.Link}}{{item.Target_Blank}}>{{More_Phrase}}</a>
					</div>
				</div>
			{% endfor %}
			{% if More %}
				<a class="content_list_more_link" {{More_Link}}>{{More_Link_Title}}</a>
			{% endif %}
		</div>
	{% endif %}
	{% if No_Rows %}
		<{{Title_Tags_If_No_Items|e}}>{{Title_With_No_Content}}</{{Title_Tags_If_No_Items|e}}>
	{% endif %}
	{% if Years %}
		<form class="content_list_date_select">
			{{'Published::'|trans}}
		</form>
	{% endif %}
	{{Pagination}}

{% endif %}