/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(images/overlay.png) repeat 0 0;}
#colorbox{outline:0;}
    #cboxContent{background:#FFF;font-family:verdana,arial,helvetica,sans-serif; font-size:12px; -webkit-border-radius: 6px; margin:5px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0px 0px 5px 0px ; box-shadow: 0px 0px 5px 0px ; border:10px solid #222;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{ background:#3C3C3C; }
        #cboxTitle{position:absolute; bottom:0; left:0; color:#fff; width:100%; background:none; padding:0; }
        #cboxCurrent{position:absolute; top:-20px; height:10px; left:0px; color:#fff; background:#222; font-size:9px; padding:2px 3px; }
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:0; background:url(images/next_prev_buttons.png) no-repeat 0 0; width:30px; height:30px; text-indent:-9999px;}
        #cboxNext{position:absolute; top:50%; right:0; background:url(images/next_prev_buttons.png) no-repeat 0 -30px; width:30px; height:30px; text-indent:-9999px;}
        #cboxClose{position:absolute; top:3px; right:3px; display:block; background:url(images/close-btn.png) no-repeat top center; width:23px; height:23px; text-indent:-9999px; font-size:0; line-height:0;}
        #cboxClose:hover{background-position:0 -23px;}
        #cboxCurrent{display:none !important;}
        #cboxTitle p{background:url(images/overlay_bg_title.png) repeat 0 0; padding:4px 6px; font-size:11px;}
        
/*  ------------------------------------------------------------------------------------------------
The CSS Class Picker  */

#cboxOverlay.zenario_css_class_picker {
	z-index: 319999;
}

#colorbox.zenario_css_class_picker {
	z-index: 320000;
}


#colorbox.zenario_css_class_picker {
	font-family:verdana,arial,helvetica;
	font-size:12px;
}

#colorbox.zenario_css_class_picker .zenario_css_picker_option a {
	cursor: pointer;
}

body #colorbox.zenario_css_class_picker #cboxTopLeft,
body #colorbox.zenario_css_class_picker #cboxTopCenter,
body #colorbox.zenario_css_class_picker #cboxTopRight,
body #colorbox.zenario_css_class_picker #cboxMiddleLeft,
body #colorbox.zenario_css_class_picker #cboxMiddleRight,
body #colorbox.zenario_css_class_picker #cboxBottomLeft,
body #colorbox.zenario_css_class_picker #cboxBottomCenter,
body #colorbox.zenario_css_class_picker #cboxBottomRight,
body #colorbox.zenario_css_class_picker #cboxTitle,
body #colorbox.zenario_css_class_picker #colorbox #cboxTopLeft,
body #colorbox.zenario_css_class_picker #colorbox #cboxTopCenter,
body #colorbox.zenario_css_class_picker #colorbox #cboxTopRight,
body #colorbox.zenario_css_class_picker #colorbox #cboxMiddleLeft,
body #colorbox.zenario_css_class_picker #colorbox #cboxMiddleRight,
body #colorbox.zenario_css_class_picker #colorbox #cboxBottomLeft,
body #colorbox.zenario_css_class_picker #colorbox #cboxBottomCenter,
body #colorbox.zenario_css_class_picker #colorbox #cboxBottomRight,
body #colorbox.zenario_css_class_picker #colorbox #cboxTitle {
	visibility: hidden;
	display:none;
}

#colorbox.zenario_css_class_picker #cboxContent {
	background: #F5F5F5;
    border: 6px solid #626262;
    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
    color: #333333;
}

#colorbox.zenario_css_class_picker #cboxContent .content_wrap {
	padding:20px 0;
}

#colorbox.zenario_css_class_picker #cboxLoadedContent {
	margin-bottom:0 !important;
}

#colorbox.zenario_css_class_picker p.zenario_css_picker_option {
	margin-top:10px;
	clear:both;
	display:block;
	margin:20px 20px;
}

#colorbox.zenario_css_class_picker p.zenario_css_picker_option:first-child {
	margin-top:0;
}

#colorbox.zenario_css_class_picker p.zenario_css_picker_option span {
	white-space: nowrap;
}

#colorbox.zenario_css_class_picker p.zenario_css_picker_option a {
	padding:5px 0;
}

#colorbox.zenario_css_class_picker p.zenario_css_picker_option a span {
	background:#D5D5D5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding:4px 8px;
}

#colorbox.zenario_css_class_picker p.zenario_css_picker_source {
	font-size:11px;
	margin-top:10px;
	text-align:center;
}

#colorbox.zenario_css_class_picker p:hover {
	opacity:0.8;
}