.organizer_top_level_image.zenario_email_template_top_level {
	background: url('images/icon-email-off.svg') no-repeat center / 16px auto;
}

#zenario_at_top_left_menu .organizer_top_level_image.zenario_email_template_top_level,
#organizer_leftColumn .legend_on a.zenario_email_template_top_level,
.organizer_top_level_image.zenario_email_template_top_level:hover {
	background: url('images/icon-email-on.svg') no-repeat center / 16px auto;
}

.organizer_item_image.zenario_email_template_panel {
	background: url('images/icon-email-template-dark.svg') no-repeat center / 18px auto;
}

.zenario_email_template_manager_log__failed span,
.zenario_email_template_manager_log__sent span,
.zenario_email_template_manager_log__sent_debug_mode span {
	display:inline-block;
	height: 20px;
	padding-left: 30px;
}

.zenario_email_template_manager_log__failed span {
	background: url('images/icon-email-failed.svg') no-repeat 5px 1px / 16px auto;
}

.zenario_email_template_manager_log__sent span {
	background: url('images/icon-email-sent.svg') no-repeat 5px 1px / 16px auto;
}

.zenario_email_template_manager_log__sent_debug_mode span {
	background: url('../../../admin/images/icon-warning.svg') no-repeat 5px 1px / 16px auto;
}
