{% if Slot %}
	{% if Rows %}
		{% if Show_Title %}
			<h1>{{Title_With_Content}}</h1>
		{% endif %}
		<table cellspacing="0"><tr>
			<td class="tl"></td><td class="tc"></td><td class="xt"></td><td class="tc"></td><td class="xt"></td><td class="tc"></td><td class="xt"></td><td class="tc"></td><td class="xt"></td><td class="tc"></td><td class="tr"></td>
		</tr><tr>
			<th class="ml"></th><th class="mc first_column">
				{{"Forum"|trans}}
			</th><th class="xm"></th><th class="mc">
				{{"Threads"|trans}}
			</th><th class="xm"></th><th class="mc">
				{{"Messages"|trans}}
			</th><th class="xm"></th><th class="mc">
				{{"Last Message"|trans}}
			</th><th class="mr"></th>
		{% for item in Row %}
			</tr><tr>
				<td class="xl"></td><td class="xc"></td><td class="x"></td><td class="xc"></td><td class="x"></td><td class="xc"></td><td class="x"></td><td class="xc"></td><td class="x"></td><td class="xc"></td><td class="xr"></td>
			</tr><tr class="{{this.oddOrEven()}}">
				<td class="ml"></td><td class="mc thread_title first_column">
					{% if Show_Featured_Image %}
						<div class="sticky_image">
							<a {{item.Link}} class="{{item.Status_Class}}">
								{% if item.Featured_Image_HTML %}
									{{item.Featured_Image_HTML}}
								{% endif %}
							</a>
						</div>
					{% endif %}
					<h2><a {{item.Link}} class="{{item.Status_Class}}">{{item.Title}}</a></h2>
					{% if Show_Excerpt %}
						<div class="forum_excerpt">{{item.Excerpt_Text}}</div>
					{% endif %}
				</td><td class="xm"></td><td class="mc topics">
					{{item.Thread_Count}}
				</td><td class="xm"></td><td class="mc replies">
					{{item.Post_Count}}
				</td><td class="xm"></td><td class="mc">
					{{item.Updated_By_On}}
				</td><td class="mr"></td>
		{% endfor %}
		</tr><tr>
			<td class="bl"></td><td class="bc"></td><td class="xb"></td><td class="bc"></td><td class="xb"></td><td class="bc"></td><td class="xb"></td><td class="bc"></td><td class="xb"></td><td class="bc"></td><td class="br"></td>
		</tr></table>
	{% endif %}
	{% if No_Rows %}
	{% endif %}
	{% if Years %}
	{% endif %}
{% endif %}



{% if Threads %}
	{% if Subscribed_To_Forum %}
		<div class="subscribed forum_message">{{'You are subscribed to this forum'|trans}}</div>
	{% endif %}
	<table cellspacing="0"><tr>
		<td class="tl"></td><td class="tc"></td><td class="xt"></td><td class="tc"></td><td class="xt"></td><td class="tc"></td><td class="xt"></td><td class="tc"></td><td class="xt"></td><td class="tc"></td><td class="tr"></td>
	</tr><tr>
		<th class="ml"></th><th class="mc title_thread_title first_column">
			{{"Title"|trans}}
		</th><th class="xm"></th><th class="mc title_poster">
			{{"Posted by"|trans}}
		</th><th class="xm"></th><th class="mc title_replies">
			{{"Replies"|trans}}
		</th><th class="xm"></th><th class="mc title_updated">
			{{"Last Message"|trans}}
		</th><th class="mr"></th>
	{% for item in Thread %}
	</tr><tr>
		<td class="xl"></td><td class="xc"></td><td class="x"></td><td class="xc"></td><td class="x"></td><td class="xc"></td><td class="x"></td><td class="xc"></td><td class="x"></td><td class="xc"></td><td class="xr"></td>
	</tr><tr class="{{this.oddOrEven()}} {{item.Employee}}">
		<td class="ml"></td><td class="mc thread_title first_column">
			<h2><a href="{{item.Hyperlink}}" class="{{item.Status_Class}}">{{item.Title}}</a></h2>
		</td><td class="xm"></td><td class="mc poster">
			{{item.Posted_By}}
		</td><td class="xm"></td><td class="mc replies">
			{{item.Replies_Count}}
		</td><td class="xm"></td><td class="mc updated">
			{{item.Updated_By_On}}
		</td><td class="mr"></td>
	{% endfor %}
	</tr><tr>
		<td class="bl"></td><td class="bc"></td><td class="xb"></td><td class="bc"></td><td class="xb"></td><td class="bc"></td><td class="xb"></td><td class="bc"></td><td class="xb"></td><td class="bc"></td><td class="br"></td>
	</tr></table>
	
	{% if Confirmation_Box %}
		{{Confirmation_Box.Open_Form}}
			<div class="confirmation_box">
		
					<div class="question_icon"></div>	
						
					<div class="post_area">
						{{Confirmation_Message}}
					</div>
					
					<div class="buttons">
						<div class="control_btn"><input class="i" type="submit" value="{{Confirmation_Box.Submit_Button_Text}}" /></div>
						<div class="control_btn"><a class="i cancel" {{Confirmation_Box.Cancel_Link}}>{{'Cancel'|trans}}</a></div>
					</div>
				
			</div>
		{{Close_Form}}
	{% endif %}
	
	{{Pagination}}
	
	{% if Thread_Controls %}
		<div class="buttons">
			{% if Forum_Login_To_Post %}
				<div class="main_btn"><a class="i" {{Login_To_Post_Link}}>{{'Please login to comment'|trans}}</a></div>
			{% endif %}
			{% if Add_New_Thread %}
				<div class="main_btn"><a class="i" {{Add_New_Thread_Link}}>{{'Add thread'|trans}}</a></div>
			{% endif %}
			{% if Forum_Profile_Link %}
				<div class="main_btn"><p>{{Forum_Profile_Link}}</p></div>
			{% endif %}
		</div>
		
		<div class="buttons moderators_buttons">
			{% if Login_To_Subs_Forum %}
				<div class="main_btn"><a class="i" {{Login_To_Post_Link}}>{{'Login to subscribe to this forum'|trans}}</a></div>
			{% endif %}
			{% if Subs_To_Forum %}
				<div class="main_btn"><a class="i" {{Subs_To_Forum_Link}}>{{'Subscribe to this forum'|trans}}</a></div>
			{% endif %}
			{% if Unsubs_To_Forum %}
				<div class="forum_btn"><a class="i" {{Unsubs_To_Forum_Link}}>{{'Unsubscribe from this forum'|trans}}</a></div>
			{% endif %}
		</div>
		<div class="buttons users_buttons">
			{% if Forum_Locked %}
				<div class="forum_btn"><a class="i">{{'Further messages may not be added in this forum'|trans}}</a></div>
			{% endif %}
			{% if Mark_Forum_Read %}
				<div class="forum_btn"><a class="i" {{Mark_Forum_Read_Link}}>{{'Mark all messages as read'|trans}}</a></div>
			{% endif %}
		</div>
	{% endif %}
{% endif %}


{% if Posts %}
	{% if Subscribed_To_Thread %}
		<div class="subscribed forum_message">{{'You are subscribed to comments on this page'|trans}}</div>
	{% endif %}
  <div class="{{Post_Class}}">
	{% if Search %}
		{{Search.Open_Form}}
			{{this.frameworkField({'type': "text", 'name': "searchString", 'class': "search_term"})}}
			<input type="submit" value="{{'Search'|trans}}" class="search_button" />
		{{Search.Close_Form}}
	{% endif %}
	
	{% if Search_No_Results %}
		<div class="search_no_results">
			<p>{{"No threads were found that matched your search."|trans}}</p>
		</div>
	{% endif %}
	
	<a name="zenario_comments_start_here"></a>
	{% for item in Post %}
		{% if item.Show_Thread_Title_With_Link %}
			<h1>
				{% if item.Show_Forum_Title_With_Link %}
					<a href="{{item.Forum_Link}}">{{item.Forum_Title}}</a>
					-&gt;
				{% endif %}
				<a href="{{item.Thread_Link}}">{{item.Thread_Title}}</a>
			</h1>
		{% endif %}
		<div class="comments_box {{this.oddOrEven()}} {{item.Employee}}">
				<div class="user_info">
					<div class="user_info_avatar">
						{% if item.Show_Avatar %}
							<img class="avatar" src="{{item.Src}}" width="{{item.Width}}" height="{{item.Height}}" alt="{{item.Username}}" />
						{% endif %}
						{% if No_Avatar %}
							<div class="no_avatar"></div>
						{% endif %}
					</div>
					<div class="user_info_data">
						<div class="username">{{item.Username_Link}}</div>
						<div class="username email">{{item.Email}}</div>
						{% if item.Show_User_Title %}
							<div class="title">{{item.Title}}</div>
						{% endif %}
						{% if item.Show_Online %}
							<div class="online">{{"Online"|trans}}</div>
						{% endif %}
						{% if item.Show_Offline %}
							<div class="offline">{{"Offline"|trans}}</div>
						{% endif %}
						{% if item.Show_Post_Count %}
							<div class="post_count">{{item.Post_Count}}</div>
						{% endif %}
						{% if item.Show_Join_Date %}
							<div class="join_date">{{item.Join_Date}}</div>
						{% endif %}
				
						<div class="date_posted">{{item.Date_Posted}}
							{% if item.Pending_Post %}
								<span style="color:red;">{{"Awaiting administrator approval"|trans}}</span>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="post_area">{{item.Post_Text}}</div>
				
				<div class="post_images">
					{% for file in item.Post_Uploads_Links %}
					<div class="banner_image" >
						<a href="{{file.File_Link}}"
							{% if file.File_Thumbnail %}
								rel="colorbox-forum-{{file.Post_Id}}" class="enlarge_in_fancy_box cboxElement" data-box-title="{{file.Caption}}"
							{% endif %}
						>
						{% if file.File_Thumbnail %}
							<img src='{{file.File_Thumbnail}}'>
							<span class="banner_image_zoom" title="{{'Enlarge this image'|trans}}">{{'Enlarge this image'|trans}}</span>
						{% endif %}
						({{file.File_Extension}}) {{file.Caption}}</a><br />
					</div>
					{% endfor %}
				</div>
				
				
				{% if item.Post_Controls %}
					<div class="buttons">
					{% if item.Quote_Post %}
						<div class="quote_button control_btn"><a class="i" {{item.Quote_Post_Link}}>{{"Quote"|trans}}</a></div>
					{% endif %}
					{% if item.Edit_Post %}
						<div class="edit_button control_btn {% if User_is_admin %} admin {% endif %}">
							<a class="i" {{item.Edit_Post_Link}}>
								{% if User_is_admin %}
									{{"Edit comment (admin)"|trans}}
								{% else %}
									{{"Edit your comment"|trans}}
								{% endif %}
							</a>
						</div>
					{% endif %}
					{% if item.Delete_Post %}
						<div class="delete_button control_btn {% if User_is_admin %} admin {% endif %}">
							<a class="i" {{item.Delete_Post_Link}}>
								{% if User_is_admin %}
									{{"Delete comment (admin)"|trans}}
								{% else %}
									{{"Delete your comment"|trans}}
								{% endif %}
							</a>
						</div>
					{% endif %}
					{% if item.Approve_Post %}
						<div class="aprove_button control_btn admin"><a class="i" {{item.Approve_Post_Link}}>{{"Approve comment"|trans}}</a></div>
					{% endif %}
					{% if item.Report_Post %}
						<div class="report_button control_btn report"><a class="i" {{item.Report_Post_Link}}>{{"Report..."|trans}}</a></div>
					{% endif %}
					</div>
				{% endif %}
		</div>
	{% endfor %}
	{% if Post_Message %}
		{% if Post_Errors %}
			<div class="confirmation_box post_errors">
		
					<div class="question_icon post_error_icon"></div>	
					
					<div class="post_error_padding">&nbsp;</div>	
					
					{% for item in Post_Error %}
						<div class="post_area post_error">
							{{item.Error}}
						</div>
					{% endfor %}
					
					<div class="post_error_padding">&nbsp;</div>	
			</div>
				
			<div class="post_error_padding">&nbsp;</div>	
		{% endif %}
			
		{{Post_Message.Open_Form}}
			{% if Show_Post_Title %}
				<div class="comments_label">{{Post_Message.Title_Text}}</div>
				<div class="comments_field comments_post_title">{{Post_Message.Post_Title}}</div>
			{% endif %}
			{% if Show_Post_Name %}
				<div class="comments_label">{{"Your name:"|trans}}</div>
				<div class="comments_field comments_post_name">{{Post_Message.Post_Name}}</div>
			{% endif %}
			{% if Show_Post_Email %}
				<div class="comments_label">{{"Your email:"|trans}}</div>
				<div class="comments_field comments_post_email">{{Post_Message.Post_Email}}</div>
			{% endif %}
			
			<div class="comments_form">
					
					<div class="user_info">
						<div class="user_info_avatar">
							{% if Post_Message.Posting_Show_Avatar %}
								<img class="avatar" src="{{Post_Message.Src}}" width="{{Post_Message.Width}}" height="{{Post_Message.Height}}" alt="{{Post_Message.Username}}" />
							{% endif %}
							{% if Post_Message.Posting_No_Avatar %}
								<div class="no_avatar"></div>
							{% endif %}
						</div>
						<div class="user_info_data">
							<div class="username">{{Post_Message.Username_Link}}</div>
							<div class="username email">{{Post_Message.Email}}</div>
							{% if Post_Message.Posting_Show_Title %}
								<div class="title">{{Post_Message.Title}}</div>
							{% endif %}
							{% if Post_Message.Posting_Show_Online %}
								<div class="online">{{"Online"|trans}}</div>
							{% endif %}
							{% if Post_Message.Posting_Show_Offline %}
								<div class="offline">{{"Offline"|trans}}</div>
							{% endif %}
							{% if Post_Message.Posting_Show_Post_Count %}
								<div class="post_count">{{Post_Message.Post_Count}}</div>
							{% endif %}
							{% if Post_Message.Posting_Show_Join_Date %}
								<div class="join_date">{{Post_Message.Join_Date}}</div>
							{% endif %}
						</div>
					</div>
					
					<div class="comments_label">{{Post_Message.Label_Text}}</div>
		
					{{Post_Message.Post_Text}}
					
					
					{% if Show_File_Uploads %}  
						<div class="comments_files_upload">
							{% if Post_Uploads_Links_To_Edit %}
								<div class="comments_file_to_upload">
									<div class="uploaded_image"><a href='{{File_Link}}'><img src='{{File_Thumbnail}}'></a> </div>
									<div class="uploaded_image_options">
										<div><label>{{"Caption"|trans}}</label> <input type='text' name='file_caption_{{File_Id}}' value='{{Caption}}'></div>
										<div><label>{{"Delete"|trans}}</label> <input type='checkbox' name='remove_files[]' value='{{File_Id}}'></div>
									</div>
								</div>
							{% endif %}
						</div>
						
						<div class="comments_files_upload_form">
							<label>{{"Upload image:"|trans}}</label><input name="filesToUpload[]" type="file" multiple="multiple" accept="image/gif,image/jpeg,image/png" accept="image/gif,image/jpeg,image/png" />
						</div>
					{% endif %}
					
					{% if Captcha %}
						<div class="label">{{"Please help us combat form submissions by spam devices:"|trans}}</div>
						{{Captcha}}
					{% endif %}
					
					<div class="buttons">
						<div class="main_btn"><input class="i" type="submit" value="{{Post_Message.Submit_Button_Text}}" /></div>
						<div class="main_btn"><a class="i cancel" {{Post_Message.Cancel_Link}}>{{'Cancel'|trans}}</a></div>
					</div>
			</div>
			
			{% if Show_Post_Screening_Notice %}
				<div class="comments_label comments_screening_notice">{{"Please note that your comment will not appear until it has been verified by a site administrator."|trans}}</div>
			{% endif %}
		{{Post_Message.Close_Form}}
	{% endif %}
	{% if Confirmation_Box %}
		{{Confirmation_Box.Open_Form}}
			<div class="confirmation_box">
		
					<div class="question_icon"></div>	
						
					<div class="post_area">
						{{Confirmation_Box.Confirmation_Message}}
					</div>
					
					<div class="buttons">
						<div class="control_btn"><input class="i" type="submit" value="{{Confirmation_Box.Submit_Button_Text}}" /></div>
						<div class="control_btn"><a class="i cancel" {{Confirmation_Box.Cancel_Link}}>{{'Cancel'|trans}}</a></div>
					</div>
				
			</div>
		{{Confirmation_Box.Close_Form}}
	{% endif %}
	
	{{Pagination}}
	
	<div class="buttons">
		{% if Add_Reply %}
			<div class="{{this.oddOrEven()}} comments_description">
				<div class="comments_description_text">
					<p>{{"Please click the 'Add comment' button below if you wish to comment."|trans}}</p>
				</div>	
			</div>
			<div class="buttons">
				<div class="main_btn"><a class="i" {{Add_Reply_Link}}">{{'Add comment'|trans}}</a></div>
			</div>
		{% endif %}
		{% if Comments_Profile_Link %}
			<div class="{{this.oddOrEven()}} comments_description">
				<div class="comments_description_text">
					<p>{{Comments_Profile_Link}}</p>
				</div>
			</div>
		{% endif %}
		{% if Login_To_Post %}
			<div class="{{this.oddOrEven()}} comments_description">
				<div class="comments_description_text">
					<p>{{"Please Login if you wish to add a comment."|trans}}</p>
				</div>		
			</div>
			<div class="buttons">
				<div class="main_btn"><a class="i" {{Login_To_Post_Link}}>{{'Please Login to comment'|trans}}</a></div>	
			</div>
		{% endif %}
		<div class="moderators_buttons">
			{% if Login_To_Subs_To_Thread %}
				<div class="main_btn"><a class="i" {{Login_To_Post_Link}}">{{'Login to subscribe'|trans}}</a></div>
			{% endif %}
			{% if Subs_To_Thread %}
				<div class="main_btn"><a class="i" {{Subs_To_Thread_Link}}">{{'Subscribe'|trans}}</a></div>
			{% endif %}
			{% if Unsubs_To_Thread %}
				<div class="forum_btn"><a class="i" {{Unsubs_To_Thread_Link}}">{{'Unsubscribe'|trans}}</a></div>
			{% endif %}
			{% if Thread_Locked %}
				<div class="forum_btn"><a class="i">{{'No further comments may be added'|trans}}</a></div>
			{% endif %}
		</div>
		<div class="users_buttons">
			{% if Lock_Thread %}
				<div class="forum_btn admin"><a class="i" {{Lock_Thread_Link}}">{{'Disallow further comments'|trans}}</a></div>
			{% endif %}
			{% if Unlock_Thread %}
				<div class="forum_btn admin"><a class="i" {{Unlock_Thread_Link}}">{{'Allow further comments'|trans}}</a></div>
			{% endif %}
			{% if Move_Thread %}
				<div class="forum_btn admin"><a class="i" {{Move_Thread_Link}}>{{'Move thread'|trans}}</a></div>
			{% endif %}	
			{% if Delete_Thread %}
				<div class="forum_btn admin"><a class="i" {{Delete_Thread_Link}}">{{'Delete thread'|trans}}</a></div>
			{% endif %}	
		</div>
	</div>
  </div>
{% endif %}
