/*  Styles for commonly used Modules/Plugins.  */


/* Banners
--------------------------------------------------------------------------------------------------*/

.zenario_banner .clickablebox {
	cursor:pointer;
}

.zenario_banner .banner_image img {
	display:block;
}

.zenario_banner .banner_image {
	position:relative;
}

.zenario_banner .banner_image_zoom {
	width:25px;
	height:25px;
	display:none;
	overflow:hidden;
	position:absolute;
	right:3px;
	top:3px;
	text-indent:-999em;
	background:url('images_commonly_used/open-popup-window-icon.png');
}

.zenario_banner .banner_image:hover .banner_image_zoom {
	display:block;
}

/* Banner (default styles)
--------------------------------------------------------------------------------------------------*/

.zenario_banner__default_style .banner_title,
.zenario_banner__default_style .banner_text,
.zenario_banner__default_style .banner_more {
	padding:0 5px;
}

.zenario_banner__default_style .banner_title {
	margin-top:8px;
}

.zenario_skin .zenario_banner__default_style h2,
.zenario_skin .zenario_banner__default_style p {
	padding:0;
	margin:0;
}

.zenario_skin .zenario_banner__default_style h2 {
	font-size:1.143em;
}

.zenario_banner__default_style .banner_more {
	font-family: Georgia, Serif;
	font-style: italic;
}

.zenario_skin .zenario_banner__default_style .banner_more a {
	color:#959595;
}

/* Banners (Float image left)
--------------------------------------------------------------------------------------------------*/

.banner_with_image_floated_left:before,  
.banner_with_image_floated_left:after {  
    content: " ";  
    display: table;  
}  

.banner_with_image_floated_left:after {  
    clear: both;  
}

.banner_with_image_floated_left .banner_wrap_inner {
	width:100%;
	display:block;
	overflow:hidden;
}

.banner_with_image_floated_left .banner_image img {
	display:block;
	float:left;
	margin-right:10px;
}

.banner_with_image_floated_left .banner_image img,
.banner_with_image_floated_left .banner_title h2,
.banner_with_image_floated_left .banner_text p {
	padding:8px 0 0;
}

.banner_with_image_floated_left .banner_title h2,
.banner_with_image_floated_left .banner_text p {
	margin:0 !important;
}

/* Banners (Masthead)
--------------------------------------------------------------------------------------------------*/

.banner_masthead {
	border-top:2px solid #C4C4C4 !important;
	padding-top:30px;
}

.banner_masthead .banner_wrap {
	text-align:center;
	padding:0;
}

.zenario_skin .banner_masthead img {
	margin:auto;
	border:3px solid #EFEFEF;
}

/* Banners (Transparent content layer)
--------------------------------------------------------------------------------------------------*/

.banner_overlay .banner_image {
	position:relative;
}

.banner_overlay .inner-overlay {
	background:url('images_commonly_used/bg-black-transparent.png') repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition:opacity 0.175s linear 0.1s;  /* Chrome y Safari */
  	-o-transition:opacity 0.175s linear 0.1s;  /* Opera */
  	-moz-transition:opacity 0.175s linear 0.1s;  /* Mozilla Firefox */
  	-ms-transition:opacity 0.175s linear 0.1s;   /* Internet Explorer */
  	transition:opacity 0.175s linear 0.1s;
    opacity:0;
}

.banner_overlay:hover .inner-overlay {
	opacity:1;
}

.banner_overlay .inner-overlay-text {
	width:100%;
	position:absolute;
	bottom:0;
	padding:10px 0;
	text-align:center;
	z-index:10;
}

.banner_overlay .inner-overlay-text div {
	padding:0 10px;
}

.banner_overlay .banner_eye_icon {
	position:absolute;
	width:100%;
	height:70%;
	top:30%;
	background:url('images_commonly_used/eye-icon.png') no-repeat center top;
	z-index:9;
}

.zenario_skin .banner_overlay h2,
.zenario_skin .banner_overlay p,
.zenario_skin .banner_overlay a {
	color:#fff;
}

.zenario_skin .banner_overlay .banner_more {
	font-family: Georgia, Serif;
	font-style:italic;
}

/* Breadcrumbs (default styles)
--------------------------------------------------------------------------------------------------*/

.zenario_breadcrumbs__default_style {
	font-family: Georgia, Serif;
}

.zenario_skin .zenario_breadcrumbs__default_style a {
	color:#C3C3C3;
}

.zenario_skin .zenario_breadcrumbs__default_style .current a {
	color:#646464;
}

.zenario_skin .zenario_breadcrumbs__default_style a:hover {
	text-decoration:underline;
}


/* Contact form (default styles)
--------------------------------------------------------------------------------------------------*/

.zenario_contact_form__default_style h2 {
	border-bottom:2px solid #EFEFEF;
	padding-bottom:5px;
}

.zenario_contact_form__default_style form {
	margin-top:20px;
}

.zenario_contact_form__default_style label {
	margin:5px;
}

.zenario_skin .zenario_contact_form__default_style input[type="text"],
.zenario_skin .zenario_contact_form__default_style textarea {
	width:80%;
	margin:3px 0 10px;
}

.zenario_skin .zenario_contact_form__default_style input[type="button"],
.zenario_skin .zenario_contact_form__default_style input[type="submit"] {
	font-family: Georgia, Serif;
	font-weight:bold;
	font-size:1.286em;
	background:#656565;
	color:#FFF;
	border:0;
	padding:5px 20px;
	margin-right:10px;
	cursor:pointer;
    -webkit-transition:all 0.175s linear 0.1s;  /* Chrome y Safari */
  	-o-transition:all 0.175s linear 0.1s;  /* Opera */
  	-moz-transition:all 0.175s linear 0.1s;  /* Mozilla Firefox */
  	-ms-transition:all 0.175s linear 0.1s;   /* Internet Explorer */
  	transition:all 0.175s linear 0.1s;
}

.zenario_skin .zenario_contact_form__default_style input[type="button"]:hover,
.zenario_skin .zenario_contact_form__default_style input[type="submit"]:hover {
	background:#959595;
}

.zenario_contact_form__default_style .contact_form_error {
	color:#DF0000;
	background:#FFDFDF;
	margin-bottom:20px;
	padding:5px 10px;
}

.zenario_contact_form__default_style .contact_form_message {
	background:#EFEFEF;
    padding: 10px;
}

.zenario_contact_form__default_style .contact_form_message:before {
    content:  "\2713  ";
}

/* Content list (default styles)
--------------------------------------------------------------------------------------------------*/

.zenario_content_list__default_style {
	overflow:hidden;
}

.zenario_content_list__default_style .content_list_rss_link {
	clear:both;
	overflow:hidden;
	padding-bottom:5px;
	border-bottom:2px solid #EFEFEF;
}

.zenario_content_list__default_style .content_list_rss_link a {
	display:inline-block;
	float:right;
	padding:0 4px;
	font-family: Georgia, Serif;
	font-size:0.857em;
	background:#656565;
	color:#FFF;
}

.zenario_content_list__default_style .content_list_data_row {
	width:100%;
	overflow:hidden;
	padding:10px 0 20px;
	border-bottom:2px solid #EFEFEF;
}

.zenario_skin .zenario_content_list__default_style .content_list_data_row h2,
.zenario_skin .zenario_content_list__default_style .content_list_data_row p {
	padding:0;
	margin:0;
}

.zenario_skin .zenario_content_list__default_style .content_list_data_row h2 {
	font-family: Georgia, Serif;
	font-weight:bold;
	font-size:1.143em;
	margin-bottom:3px;
}

.zenario_skin .zenario_content_list__default_style .content_list_data_row p {
	line-height:18px;
	font-size:0.929em;
}

.zenario_content_list__default_style .content_list_data_row h2 a:hover {
	text-decoration:none;
}

.zenario_skin .zenario_content_list__default_style p.content_list_date,
.zenario_skin .zenario_content_list__default_style a.content_list_more_link {
	color:#959595;
	font-family: Georgia, Serif;
	font-style:italic;
}

.zenario_content_list__default_style div.sticky_image {
	float:right;
	margin-left:10px;
}


/* Footer (default styles)
--------------------------------------------------------------------------------------------------*/

.zenario_footer__default_style {
	text-align:center;
}

.zenario_footer__default_style,
.zenario_skin .zenario_footer__default_style a {
	color:#656565;
}

.zenario_skin .zenario_footer__default_style a:hover {
	color:#181818;
}


/* HTML snippet
--------------------------------------------------------------------------------------------------*/

.zenario_html_snippet {
	overflow:hidden;
}

.zenario_html_snippet table td {
	background:#C3C3C3;
	color:#181818;
	vertical-align:top;
}

.zenario_html_snippet table th,
.zenario_html_snippet table thead td {
	background:#4A4849;
	color:#FFF;
	font-weight:bold;
}

.zenario_html_snippet table th,
.zenario_html_snippet table td {
	padding:8px 10px;
	border:1px solid #FFF;
}

.zenario_skin .zenario_html_snippet ul,
.zenario_skin .zenario_html_snippet ol {
	margin-left:40px;
	color:#181818;
}


/* Language picker (select list)
--------------------------------------------------------------------------------------------------*/

.zenario_language_picker {
	float:right;
}

.zenario_language_picker .lang_choose_text {
	float:left;
	margin-right:8px;
	color:#959595;
}

.zenario_language_picker .lang_choices,
.zenario_language_picker .lang_choices select,
.zenario_language_picker .lang_choices::after,
.zenario_language_picker .lang_choices::before {
    display: inline-block;
    vertical-align: top;
    height: 19px;
}
 
.zenario_language_picker .lang_choices::after,
.zenario_language_picker .lang_choices::before {
    content: "";
    pointer-events: none;
}
 
.zenario_language_picker .lang_choices,
.zenario_language_picker .lang_choices::after {
    background: #FFF;
    border:0;
}
 
.zenario_skin .zenario_language_picker .lang_choices select {
    margin: 0;
    padding: 0;
    border: 1px solid #FFFFFF;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size:11px;
    color: #4a4949;
    outline: none;
}

.webkit .zenario_skin .zenario_language_picker .lang_choices select {
	padding:2px 17px 0 2px;
}
 
.zenario_language_picker .lang_choices option {
    background: transparent;
    border:0;
}
 
.zenario_language_picker .lang_choices {
    border: solid 1px #C8C8C8;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
 
.zenario_language_picker .lang_choices::before {
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 4px;
    width: 0;
    height: 0;
    border:0;
    border: solid 4px transparent;
    border-top-color: rgba(0, 0, 0, .6);
    background: transparent;
}
 
.zenario_language_picker .lang_choices::after {
    position: relative;
    left: 0;
    width: 20px;
    margin: 0 0 0 -22px;
}
 
.zenario_language_picker .lang_choices:hover::before {
    border-top-color: #C8C8C8;
}

/* Menu horizontal (default styles)
--------------------------------------------------------------------------------------------------*/

.zenario_skin .zenario_menu ul,
.zenario_skin .zenario_menu ul li {
	padding:0;
	margin:0;
	list-style:none;
}

.zenario_menu__default_style {
	width:auto;
	z-index:50;
	float:right;
	margin-top:30px;
}

.zenario_menu__default_style,
.zenario_menu__default_style ul,
.zenario_menu__default_style ul li {
	position: relative;
}

.zenario_menu__default_style ul {
	z-index:101;
}

.zenario_menu__default_style ul .left_end,
.zenario_menu__default_style ul .right_end {
	display:none;
}

.zenario_menu__default_style ul li,
.zenario_menu__default_style ul li a {
	display: block;
}

.zenario_menu__default_style ul,
.zenario_menu__default_style ul li a {
	float:left;
}

.zenario_menu__default_style ul li a {
	margin-left:35px;
}

.zenario_menu__default_style ul ul {
	display: none;
}

.zenario_menu__default_style ul li a {
	font-size:1em;
	text-transform:uppercase;
}

.zenario_menu__default_style ul li a:hover {
	text-decoration:none;
}

.zenario_menu__default_style ul li a {
	color:#C3C3C3;
	-webkit-transition:all 0.3s ease-out;  /* Chrome y Safari */
  	-o-transition:all 0.3s ease-out;  /* Opera */
  	-moz-transition:all 0.3s ease-out;  /* Mozilla Firefox */
  	-ms-transition:all 0.3s ease-out;   /* Internet Explorer */
  	transition:all 0.3s ease-out;
}

.zenario_menu__default_style ul li a:hover,
.zenario_menu__default_style ul li.level1_on a {
	color:#181818;
}

.zenario_skin .zenario_menu__default_style ul li {
	margin-bottom:8px;
	display:inline-block;
}

.zenario_skin .zenario_menu__default_style ul li a {
	padding-bottom:2px;
}

.zenario_skin .zenario_menu__default_style ul li.level1_on a {
	padding-bottom:0;
	border-bottom:2px solid #C3C3C3;
}


/* Menu vertical (default styles)
--------------------------------------------------------------------------------------------------*/

.zenario_skin .zenario_menu_vertical__default_style ul,
.zenario_skin .zenario_menu_vertical__default_style ul li {
	padding:0;
	margin:0;
	list-style:none;
}

.zenario_menu_vertical__default_style .wrap_menu_inner {
	border-bottom:2px solid #C2C2C2;
}

.zenario_menu_vertical__default_style .wrap_menu_inner {
	padding-bottom:8px;
}

.zenario_skin .zenario_menu_vertical__default_style h2 {
	font-family: Georgia, Serif;
	font-weight:bold;
	font-size:1.286em;
	padding:0 15px;
	margin-bottom:0;
}

.zenario_menu_vertical__default_style ul li.level1_1,
.zenario_menu_vertical__default_style ul li.level1_1_on {
	border-top:2px solid #C2C2C2;
	padding-top:15px;
	margin-top:15px;
}

.zenario_skin .zenario_menu_vertical__default_style ul li a {
	display:block;
	padding:8px 15px;
	-webkit-transition:all 0.3s ease-out;  /* Chrome y Safari */
  	-o-transition:all 0.3s ease-out;  /* Opera */
  	-moz-transition:all 0.3s ease-out;  /* Mozilla Firefox */
  	-ms-transition:all 0.3s ease-out;   /* Internet Explorer */
  	transition:all 0.3s ease-out;
}

.zenario_skin .zenario_menu_vertical__default_style ul li li a {
	padding:4px 15px 4px 35px;
}

.zenario_skin .zenario_menu_vertical__default_style ul li li li a {
	padding-left:45px;
}

.zenario_skin .zenario_menu_vertical__default_style ul li li li li a {
	padding-left:55px;
}

.zenario_skin .zenario_menu_vertical__default_style ul li li li li li a {
	padding-left:65px;
}

.zenario_skin .zenario_menu_vertical__default_style ul li li li li li li a {
	padding-left:75px;
}

.zenario_skin .zenario_menu_vertical__default_style h2 a {
	color:#656565;
}

.zenario_skin .zenario_menu_vertical__default_style ul li {
	font-size:0.929em;
}

.zenario_skin .zenario_menu_vertical__default_style ul li li {
	font-size:1em;
}

.zenario_skin .zenario_menu_vertical__default_style ul li a,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li a,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on li a,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li a,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li a,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li.level5_on li a {
	color:#959595;
}

.zenario_skin .zenario_menu_vertical__default_style ul li a:hover,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li a:hover,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on li a:hover,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li a:hover,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li a:hover,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li.level5_on li a:hover,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on a,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on a,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on a,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on a,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li.level5_on a,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on li.level3_on li.level4_on li.level5_on li.level6_on a {
	color:#181818;
}

.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on a,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on a {
	background: url('images_commonly_used/small-right-arrow.png') no-repeat left 10px;
}

.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li a,
.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on li a {
	background:none;
}

.zenario_skin .zenario_menu_vertical__default_style ul li.level1_on li.level2_on a {
	background-position:22px 5px;
}

.zenario_skin .zenario_menu_vertical__default_style ul li a:hover {
	text-decoration:none;
}

/* Plugin nest
--------------------------------------------------------------------------------------------------*/

.zenario_skin .zenario_plugin_nest .nest_tabs ul,
.zenario_skin .zenario_plugin_nest .nest_tabs ul li {
	list-style:none;
	padding:0;
	margin:0;
}

/* Plugin nest (Slider - including styling for tabs as dots and next/previous buttons if they are enabled) 
--------------------------------------------------------------------------------------------------*/

.nest_slideshow {
	width:auto;
}

.nest_slideshow .nest_wrap {
	background:#EFEFEF;
	padding:28px 20px;
}

.nest_slideshow .nest_wrap,
.nest_slideshow .nest_tabs {
	clear:both;
	width:auto;
}

.nest_slideshow .nest_plugins_wrap {
	width:auto;
	margin:auto;
	overflow:hidden;
}

.nest_slideshow .nest_plugins_wrap .nest_plugins {
	width:auto;
	height:auto;
	overflow: -moz-scrollbars-vertical;
	overflow-x: hidden;
	overflow-y: auto;
}

.nest_slideshow .nest_tabs {
	position:absolute;
	width:100%;
	text-align:center;
	bottom:10px;
	left:0;
}

.zenario_skin .nest_slideshow .nest_tabs ul {
	padding:0;
}

.nest_slideshow {
	position: relative;
}

.nest_slideshow .nest_tabs ul {
	z-index:80;
}

.nest_slideshow .nest_tabs ul .left_end,
.nest_slideshow .nest_tabs ul .right_end {
	display:none;
}

.nest_slideshow .nest_tabs ul,
.nest_slideshow .nest_tabs ul li {
	z-index:1;
}

.nest_slideshow .nest_tabs ul {
	margin-right:1px;
}

.nest_slideshow .nest_tabs ul,
.nest_slideshow .nest_tabs ul li {
	display: inline;
}

.nest_slideshow .nest_tabs ul li a {
	width:10px;
	height:10px;
	display:inline-block;
	text-indent:-999px;
	font-size:0;
	background:url('images_commonly_used/sequencer-dot-off-state.png') no-repeat 0 0;
}

.nest_slideshow .nest_tabs ul li a:hover,
.nest_slideshow .nest_tabs ul li.tab_on a {
	background:url('images_commonly_used/sequencer-dot-on-state.png') no-repeat 0 0;
}

.nest_slideshow .prev,
.nest_slideshow .next,
.nest_slideshow .prev_disabled,
.nest_slideshow .next_disabled {
	position:absolute;
	display:block;
	width:25px;
	height:44px;
	top:50%;
	z-index:99;
}

.nest_slideshow .prev span,
.nest_slideshow .next span,
.nest_slideshow .prev_disabled span,
.nest_slideshow .next_disabled span {
	display:none;
}

.nest_slideshow .prev,
.nest_slideshow .prev_disabled {
	left:20px;
}

.nest_slideshow .next,
.nest_slideshow .next_disabled {
	right:20px;
}

.nest_slideshow .prev {
	background:url('images_commonly_used/slideshow-left-arrow-off.png') no-repeat;
}

.nest_slideshow .prev:hover {
	background:url('images_commonly_used/slideshow-left-arrow-over.png') no-repeat;
}

.nest_slideshow .next {
	background:url('images_commonly_used/slideshow-right-arrow-off.png') no-repeat;
}

.nest_slideshow .next:hover {
	background:url('images_commonly_used/slideshow-right-arrow-over.png') no-repeat;
}

/* Plugin nest (Social media)
--------------------------------------------------------------------------------------------------*/

.nest_social_media {
	float:right;
}

.nest_social_media:before,  
.nest_social_media:after {  
    content: " ";  
    display: table;  
}  
.nest_social_media:after {  
    clear: both;  
}

.nest_social_media .zenario_slot {
	display:inline;
	float:left;
	margin-left:8px;
	opacity:1;
	-webkit-transition:all 0.175s linear 0.1s;  /* Chrome y Safari */
  	-o-transition:all 0.175s linear 0.1s;  /* Opera */
  	-moz-transition:all 0.175s linear 0.1s;  /* Mozilla Firefox */
  	-ms-transition:all 0.175s linear 0.1s;   /* Internet Explorer */
  	transition:all 0.175s linear 0.1s;
}

.nest_social_media .zenario_slot:hover {
	opacity:0.85;
}


/* Plugin nest (Picture gallery)
--------------------------------------------------------------------------------------------------*/

.nest_gallery {
	width:100% !important;
	overflow:hidden;
	border-bottom:2px solid #EFEFEF !important;
}

.nest_gallery .nest_title {
	border:2px solid #EFEFEF;
	padding:3px;
}

.zenario_skin .nest_gallery .nest_title h1 {
	background:#EFEFEF;
	font-size:1.429em;
	padding:10px;
	margin:0;
}

.nest_gallery .zenario_banner {
	display:inline-block;
	margin:20px 7px;
}

.nest_gallery .zenario_banner .banner_wrap {
	position:relative;
}

.nest_gallery .zenario_banner .banner_image {
	padding:5px;
	border:1px solid #EEEEEE;
	position:relative;
}

.nest_gallery .zenario_banner .banner_image_zoom,
.nest_gallery .banner_content {
    width: 100%;
    position: absolute;
    opacity:0;
	transition: opacity 0.175s linear 0.1s;
}

.nest_gallery .zenario_banner .banner_image_zoom {
	display:block;
	background:#333 url('images_commonly_used/zoom-icon.png') no-repeat center;
    height: 100%;
    top:0;
    left:0;
}

.nest_gallery .banner_content {
	bottom:0;
	padding:15px 0;
	text-align:center;
	z-index:10;
}

.nest_gallery .zenario_banner:hover .banner_image_zoom,
.nest_gallery .zenario_banner:hover .banner_content {
	opacity:0.8;
}

.nest_gallery .banner_content div {
	padding:0 10px;
}

.zenario_skin .nest_gallery h2,
.zenario_skin .nest_gallery p,
.zenario_skin .nest_gallery a {
	color:#fff;
	text-align:center;
}

.zenario_skin .nest_gallery .banner_more {
	font-family: Georgia, Serif;
	font-style:italic;
}

/* Plugin nest (Tabbed content)
--------------------------------------------------------------------------------------------------*/

.nest_tabbed .nest_tabs {
	width:100%;
	overflow:hidden;
	clear:both;
}

.nest_tabbed .nest_tabs ul,
.nest_tabbed .nest_tabs ul li,
.nest_tabbed .nest_tabs ul li a {
	display:inline;
}

.nest_tabbed .nest_tabs ul li a {
	float:left;
	margin-right:4px;
	padding:8px 15px;
	background:#EFEFEF;
	border:2px solid #EFEFEF;
	border-bottom:0;
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}

.nest_tabbed .nest_tabs ul:first-child li a {
	margin-left:12px;
}

.nest_tabbed .nest_tabs ul li.tab_on a {
	background:#FFF;
}

.nest_tabbed .nest_tabs ul li a:hover {
	text-decoration:none;
}

.nest_tabbed .nest_plugins_wrap {
	overflow:hidden;
	clear:both;
	border:2px solid #EFEFEF;
	padding:8px 8px 8px 5px;
	margin-top:-2px;
}

.nest_tabbed .nest_plugins_wrap .banner_image {
	float:left;
	margin-right:15px;
}

.zenario_skin .nest_tabbed .nest_plugins_wrap h2 {
	font-size:1.143em;
	font-family: Georgia, Serif;
	font-weight:bold;
}

.zenario_skin .nest_tabbed .nest_plugins_wrap .banner_more {
	font-family: Georgia, Serif;
	font-style:italic;
}

.zenario_skin .nest_tabbed .nest_plugins_wrap p {
	line-height:18px;
	font-size:0.929em;
}

.zenario_skin .nest_tabs ul li a,
.zenario_skin .nest_tabbed .nest_plugins_wrap .banner_more a {
	color:#959595;
}

.zenario_skin .nest_tabs ul li a:hover,
.zenario_skin .nest_tabs ul li.tab_on a {
	color:#181818;
}

/* Search results (entry box)
--------------------------------------------------------------------------------------------------*/

.zenario_search_results,
.zenario_search_results form {
	padding:0;
	margin:0;
}

.zenario_search_results .search_entry_box {
	width:auto;
	overflow:hidden;
	float:right;
}

.zenario_search_results .search_entry_box label {
	float:left;
	padding:5px 5px 0 0;
	color:#959595;
}

.zenario_search_results .search_entry_box input {
	float:left;
}

.zenario_search_results .search_entry_box input[type="text"] {
	min-width:100px;
	max-width:108px;
	height:17px;
	padding:2px 5px;
	border:0;
	background:url('images_commonly_used/search-box.gif') no-repeat no-repeat;
	color:#959595;
	font-size:0.929em;
}

.zenario_search_results .search_entry_box input.search_entry_button {
	width:21px;
	height:21px;
	border:0;
	cursor:pointer;
	background:url('images_commonly_used/search-box-button.gif') no-repeat;
	font-size:0;
	line-height:0;
	text-indent:-999px;
}


/* Search results (search area)
--------------------------------------------------------------------------------------------------*/

.zenario_search_results {
	width:auto;
	overflow:hidden;
}

.zenario_search_results .search_area {
	width:100%;
	clear:both;
	overflow:hidden;
}

.zenario_search_results .search_results,
.zenario_search_results .search_no_results {
	width:auto;
}

.zenario_search_results .search_box  {
	float:right;
}

.zenario_search_results .search_heading {
	clear:both;
	float:none;
	display:block;
	margin:10px 0px 20px 0px;
}

.zenario_search_results .search_input_box,
.zenario_search_results .search_entry_button {
	float:left;
}

.zenario_search_results .search_area .search_input_box {
	padding:1px;
	margin-right:5px;
}

.zenario_search_results .search_results,
.zenario_search_results .search_no_results  {
	padding:10px;
	z-index:0;
	position: relative;
}

.zenario_search_results .search_no_results p {
	text-align:center;
}

.zenario_search_results .search_results .search_result {
	overflow: hidden;
	padding: 10px 15px 5px 15px;
	margin-bottom: 2px;
	border-top:1px dotted #DADBD7;
}

.zenario_search_results div.search_results div.search_result:first-child {
	border-top:0;
}

.zenario_search_results .search_result_summary  {
	clear: both;
}

.zenario_search_results .search_result br  {
	display: none;
}

.zenario_search_results .search_result_title {
	font-weight:bold;
}

.zenario_search_results .search_result_title h2 b {
	font-weight: normal;
}

.zenario_search_results .search_heading,
.zenario_search_results h1,
.zenario_search_results h2,
.zenario_search_results h3,
.zenario_search_results h4,
.zenario_search_results h5,
.zenario_search_results h6 {
	font-size:1.231em !important;
	font-weight:normal;
}

.zenario_search_results .search_heading {
	font-family: Georgia, Serif;
}

.zenario_search_results .search_results,
.zenario_search_results .search_no_results  {
	border: 2px solid #C3C3C3;
}

.zenario_search_results .search_heading {
	color:#656565;
}

.zenario_search_results .search_categories {
	width:auto;
	clear:both;
	margin-top:20px;
	font-size:1em;
	background:#EFEFEF;
	padding-bottom:10px;
}

.zenario_search_results .search_categories h1 {
	color:#fff;
	background:#C3C3C3;
	padding:10px;
	margin-bottom:10px;
}

.zenario_search_results .search_categories ul,
.zenario_search_results .search_categories ul li {
	list-style:none;
	padding:0;
}

.zenario_search_results .search_categories ul {
	margin:5px 0 5px 10px;
}

.zenario_search_results .search_categories ul.all_categories li {
	font-weight:bold;
}

.zenario_search_results .search_categories ul li {
	padding:3px 0 3px 15px;
	background:url('images_commonly_used/small-right-arrow.png') no-repeat 0 6px;
}


/* Social tools (default styles)
--------------------------------------------------------------------------------------------------*/ 

.zenario_email_a_friend .email_friend_section a {
	display:block;
	width:30px;
	height:31px;
	font-size:0;
	line-height:0;
	text-indent:-999px;
	background:url('images_commonly_used/email-icon.gif') no-repeat;
}
    
.zenario_email_a_friend .email_friend_popup {
	width:530px;
	height:380px;
	padding:15px 25px;
	text-align:left;
}

.zenario_email_a_friend .email_friend_popup form {
	padding:12px 0px 0px 0px;
}

.zenario_email_a_friend .email_friend_popup form,
.zenario_email_a_friend .email_friend_popup .email_friend_popup_close {
	padding-left:50px;
}

.zenario_email_a_friend .email_friend_popup form,
.zenario_email_a_friend .email_friend_popup input,
.zenario_email_a_friend .email_friend_popup textarea {
	width:400px;
}

.zenario_email_a_friend .email_friend_popup input,
.zenario_email_a_friend .email_friend_popup textarea {
	padding:3px 4px;
	margin:5px 0px 10px 0px;
}

.zenario_email_a_friend .email_friend_popup .email_friend_popup_button {
	float:right;
	width:auto;
	border:none;
	padding:2px;
	margin:5px 0px 5px 0px;
}

.zenario_email_a_friend .email_friend_popup .email_friend_popup_close {
	padding-top:5px;
}

.zenario_email_a_friend .email_friend_popup_msg_sent,
.zenario_email_a_friend .email_friend_popup_error_msg {
	margin-top:15px;
}

.zenario_email_a_friend .email_friend_popup .email_friend_popup_close a {
	text-decoration:underline;
}

.zenario_email_a_friend .email_friend_popup h2 {
	padding-top:5px;
	margin-bottom:10px;
}

.zenario_email_a_friend .errors_in_floating_box {
	padding-top:3px;
}

.zenario_email_a_friend .email_friend_popup .email_friend_popup_button {
	border:0;
	padding:5px 20px;
	margin-right:10px;
	cursor:pointer;
    -webkit-transition:all 0.175s linear 0.1s;  /* Chrome y Safari */
  	-o-transition:all 0.175s linear 0.1s;  /* Opera */
  	-moz-transition:all 0.175s linear 0.1s;  /* Mozilla Firefox */
  	-ms-transition:all 0.175s linear 0.1s;   /* Internet Explorer */
  	transition:all 0.175s linear 0.1s;
}

.zenario_email_a_friend .email_friend_popup input,
.zenario_email_a_friend .email_friend_popup textarea {
	padding:3px 5px;
	border:1px solid #C2C2C2;
}

.zenario_email_a_friend .email_friend_popup,
.zenario_email_a_friend .email_friend_popup input,
.zenario_email_a_friend .email_friend_popup textarea {
	color:#656565;
}

.zenario_email_a_friend .email_friend_popup a,
.zenario_email_a_friend .email_friend_popup h2 {
	color:#181818;
}

.zenario_email_a_friend .email_friend_popup .email_friend_popup_button {
	color:#FFF;
}

.zenario_email_a_friend .email_friend_popup {
	background:#EFEFEF;
}

.zenario_email_a_friend .email_friend_popup .email_friend_popup_button {
	background:#656565;
}

.zenario_email_a_friend .email_friend_popup .email_friend_popup_button:hover {
	background:#959595;
}

.zenario_email_a_friend .email_friend_popup h2,
.zenario_email_a_friend .email_friend_popup .email_friend_popup_button {
	font-family: Georgia, Serif;
}

.zenario_email_a_friend .email_friend_popup .email_friend_popup_button {
	font-weight: bold;
}

.zenario_email_a_friend .email_friend_popup form,
.zenario_email_a_friend .email_friend_popup input,
.zenario_email_a_friend .email_friend_popup textarea,
.zenario_email_a_friend .email_friend_popup_msg_sent,
.zenario_email_a_friend .errors_in_floating_box {
	font-size:14px;
}

.zenario_email_a_friend .email_friend_popup .email_friend_popup_button {
	font-size:18px;
}

.zenario_email_a_friend .email_friend_popup h2 {
	font-size:22px;
}

.zenario_email_a_friend .email_friend_popup #cboxClose {
	display:none;
}

.zenario_email_a_friend .errors_in_floating_box {
	color:#DF0000;
	background:#FFDFDF;
	padding:5px 10px;
}

.zenario_email_a_friend .email_friend_popup_msg_sent {
	background: #E6E6E6;
    padding: 10px;
}

.zenario_email_a_friend .email_friend_popup_msg_sent:before {
    content:  "\2713  ";
}