/*  Styles for pagination.
	Most Modules generate pagination by calling an API function,
	so pagination will be standardised across your site.  */

.pag_pagination {
	clear:both;
	width:100%;
	float:none;
	margin-top:20px;
	font-size:0.786em;
	text-align:center;
}

.pag_pagination span,
.pag_pagination span a {
	display: inline-block;
}

.pag_pagination span a {
    margin: 2px 2px 5px;
    min-width: 18px;
    padding: 4px 7px;
    text-align: center;
    -webkit-transition:all 0.1s ease-out;  /* Chrome y Safari */
  	-o-transition:all 0.1s ease-out;  /* Opera */
  	-moz-transition:all 0.1s ease-out;  /* Mozilla Firefox */
  	-ms-transition:all 0.1s ease-out;   /* Internet Explorer */
  	transition:all 0.1s ease-out;
  	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.zenario_skin .pag_pagination a {
	color:#181818;
	background:#EFEFEF;
}

.zenario_skin .pag_pagination .pag_page_on a {
	background:#C3C3C3;
}

.zenario_skin .pag_pagination a:hover {
	background:#4a4949;
	color:#FFF;
}

.zenario_skin .pag_pagination a,
.zenario_skin .pag_pagination a:hover {
	text-decoration:none;
}