@media all and (max-width: 960px) {
	
	.container > .span {
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	
	.container_12 .span12 {
		width:95%;
	}
	
	img {
		max-width: 100% !important;
		height: auto !important;
	}

}