<div
	id="organizer_item_{{m.id|escape}}"
	data-id="{{m.id|escape}}"
	onclick="zenarioO.itemClick('{{m.id|escape}}', event, false, true);"
	ondblclick="return zenarioO.itemClickThrough('{{m.id|escape}}', event);"
	class="
		organizer_item
		{{m.css_class|escape}}
		{{m.selected? ' organizer_selected' : ''|escape}}
		
		<% if (zenarioO.chooseButtonActive()) { %>
			{{zenarioO.checkItemPickable(m.id)? 'organizer_can_choose' : 'organizer_cant_choose'|escape}}
		<% } %>
	"
>
	<% if (zenarioO.itemButtonsExist) { %>	
		<div class="organizer_checkbox_at_top_left" onclick="zenarioO.itemClick('{{m.id|escape}}', event, true); return false;" ondblclick="return zenario.stop(event);">
			<input type="checkbox" {{m.selected? ' checked="checked"' : ''}} id="organizer_itemcheckbox_{{m.id|escape}}" />
		</div>
	<% } %>
	<div class="organizer_image_container" title="{{m.tooltip|escape}}">
		<div class="organizer_image {{m.image_css_class|escape}}" {{m.image? 'style="background-image: url(\'' + htmlspecialchars(m.image) + '\');"' : ''}}></div>
		<div class="organizer_image_sticky_marker"></div>
		<div class="organizer_image_shared_marker"></div>
	</div>
	<div class="organizer_legend">
		{{m.label}}
	</div>
	{{zenarioA.microTemplate(zenarioO.tuix.grid_view_microtemplate, m)}}

</div>