<div id="organizer_tab_details_inner" class="tab_details_inner">
	<div class="tab_details_header">
		<h5>{{m.label|e}}</h5>
		<input class="add_new_field" type="button" value="Add new field"/>
	</div>
	<div id="organizer_tab_details" class="tab_details">
		<div class="field">
			<div class="title">Label:</div>
			<div class="value">
				<input id="tab__label" type="text" value="{{m.label}}"/>
			</div>
		</div>
		<% if (m.is_system_field == false) { %>
			<div class="field">
				<div class="title">Conditional display on field:</div>
				<div class="value">
					<select id="tab__parent_field_id" name="parent_id">
						<option value=""
							<% if (m.parent_field_id == false) { %>
								selected="selected"
							<% } %>
						> -- No conditional display -- </option
						<% _.each(m.parent_id_select_list, function(tab) { %>
							<optgroup label="{{tab.label}}">
								<% _.each(tab.fields, function(field) { if (field.type == 'checkbox' || field.type == 'group') { %>
									<option value="{{field.id}}"
										<% if (m.parent_field_id == field.id) { %>
											selected="selected"
										<% } %>
									>
										{{field.label}}
									</option>
								<% }}); %>
							</optgroup>
						<% }); %>
					</select>
				</div>
			</div>
		<% } %>
	</div>
	<input id="organizer_remove_form_tab" type="button" value="Delete tab"/>
</div>