<div id="organizer_rightColumnTitle" class="zenario_toolbar_header">
	<div id="organizer_panelTitle"></div>
	<div id="organizer_backButton" style="visibility: hidden;"></div>
</div>
<div id="organizer_header" class="zenario_toolbar_header">
	<div class="headerPanel headerPanelControls">
		
		<div id="organizer_search_placeholder"></div>
		
		<div id="organizer_topRightButtons" onclick="zenarioO.closeInfoBox();">
			
		
			<div id="organizer_viewOptions" class="viewMode toolbar secondToolbar">
				<div id="organizer_listViewOptionsDropdown" data-step="8" data-position="down" data-intro="<p><strong>Adjust view</strong></p><p>This button lets you sort how you wish to view items in the panel, using filters.</p>"> 
						<a onclick="zenarioO.showViewOptions(event);" title="{{zenarioA.phrase.skAdjustView}}"></a></div>
			</div>
		
			<div id="organizer_advancedSearch" class="viewMode toolbar secondToolbar">
				<div id="organizer_openAdvancedSearch" onclick="zenarioO.openAdvancedSearch(event);"><a title="{{zenarioA.phrase.skAdvancedSearch}}"></a></div>
				<div id="organizer_clearAdvancedSearch" onclick="zenarioO.clearAdvancedSearch(event);"><a id="organizer_clearAdvancedSearchA"></a></div>
			</div>

		
			<div class="viewMode toolbar secondToolbar">
				<div id="organizer_refreshRightColumn" data-step="7" data-position="down" data-intro="<p><strong>Refresh</strong></p><p>This is a refresh button. Used to refresh a page to ensure changes are applied.</p>">
						<a onclick="zenarioO.refresh();" title="{{zenarioA.phrase.skRefreshView}}"></a></div>
			</div>
		
			<div class="viewMode toolbar firstToolbar">
				<span id="organizer_viewModeSelected">
			
				<div id="organizer_switch_to_list_view" data-step="6" data-position="down" data-intro="<p><strong>List view</strong></p><p>This allows you to view items in the panel in a list view, usually used for content items/ pages.</p>">
						<a onclick="return zenarioO.changeView('list');" title="{{zenarioA.phrase.skListView}}"></a>
					</div>
				
					<div id="organizer_switch_to_grid_view" data-step="5" data-position="down" data-intro="<p><strong>Grid view</strong></p><p>This allows you to view items in the panel area in a grid view, usually used for images.</p>">
						<a onclick="return zenarioO.changeView('grid');" title="{{zenarioA.phrase.skGridView}}"></a>
					</div>
				
				
				
												
				</span>
			</div>
			
			<div id="organizer_quickFilter"></div>
		
			<% if (zenario.showDevTools) { %>
				<div class="viewMode toolbar secondToolbar">
					<div id="organizer_debug_button" class="zenario_debug" onmouseover="zenarioO.infoBox(this);" onclick="zenarioO.closeInfoBox(); zenarioA.debug('zenarioO');"><div></div></div>
				</div>
			<% } %>
		</div>
		
		
	</div>
</div>
<div class="organizer_rightColumnOptions_panel" onmouseover="zenarioO.closeInfoBox();">
	<div id="organizer_rightColumnOptions" class="organizer_toolbar clearfix">
		<div class="toolbar" id="organizer_itemToolbar">
			<span id="organizer_itemToolbarButtons" class="toolbarButtons"></span>
		</div>
	
		<div class="toolbar" id="organizer_collectionToolbar">
			<span id="organizer_collectionToolbarButtons" class="toolbarButtons"></span>
		</div>
	
		<div class="toolbar" id="organizer_previousToolbar">
			<span id="organizer_previousToolbarButtons" class="toolbarButtons"></span>
		</div>
			
		<div class="organizer_dropToUpload">
			<span>{{zenarioA.phrase.dropToUpload}}</span>
		</div>
			
	</div>
	<div id="organizer_rightColumnApplyCancel" class="organizer_toolbar clearfix">
		<div class="toolbar" id="organizer_applyCancelToolbar">
			<span id="organizer_applyCancelToolbarButtons" class="toolbarButtons">
				<ul>
					<li class="label_without_icon">
						<a href="#" onclick="return false;" id="organizer_applyButton">
							<span>{{zenarioA.phrase.applyChanges}}</span>
						</a>
					</li>
				</ul><ul>
					<li class="label_without_icon">
						<a href="#" onclick="zenarioO.refresh(); return false;" id="organizer_cancelButton">
							<span>{{zenarioA.phrase.cancel}}</span>
						</a>
					</li>
				</ul>
			</span>
		</div>
	</div>
</div>
<div id="organizer_rightColumnContent" onclick="zenarioO.itemBGClick();" onmouseover="zenarioO.closeInfoBox();"></div>