<input id="refresh" type="button" value="Reload" onclick="devTools.load();" />

<% var i = 0; %>

<select id="view" onchange="devTools.updateEditor();">
	<% if (devTools.skMap) { %>
		<optgroup label="{{++i|escape}}. Source Files (for top level navigation and panel locations)">
	<% } else if (devTools.mode == 'zenarioO') { %>
		<optgroup label="{{++i|escape}}. Source Files (for this panel)">
	<% } else { %>
		<optgroup label="{{++i|escape}}. Source Files">
	<% } %>
	
	<% for (var file in m.files) { %>
		<option
			value="{{file|escape}}"
			{{file == m.selectedFile? ' selected="selected"' : ''}}
		>{{ m.files[file] |escape}}</option>
	<% } %>
	</optgroup>
	
	<optgroup label="{{++i|escape}}. Combined Source">
		<option value="combined" {{'combined' == m.selectedFile? ' selected="selected"' : ''}}>Combined source files (static)</option>
	</optgroup>
	
	<% if (!devTools.skMap) { %>
		<% if (m.organizer_query_ids || m.organizer_query_details) { %>
			<optgroup label="{{++i|escape}}. Storekeeper Queries">
				<% if (m.organizer_query_ids && m.organizer_query_details) { %>
					<option value="organizer_query_ids" {{'organizer_query_ids' == m.selectedFile? ' selected="selected"' : ''}}>Looking for matching ids and sorting them</option>
					<option value="organizer_query_details" {{'organizer_query_details' == m.selectedFile? ' selected="selected"' : ''}}>Getting the full details of rows on the current page</option>
				
				<% } else if (m.organizer_query_ids) { %>
					<option value="organizer_query_ids" {{'organizer_query_ids' == m.selectedFile? ' selected="selected"' : ''}}>Looking for matching ids and sorting them (no results were found)</option>
				
				<% } else { %>
					<option value="organizer_query_details" {{'organizer_query_details' == m.selectedFile? ' selected="selected"' : ''}}>Getting the full details of all rows in the correctly sorted order</option>
				<% } %>
			</optgroup>
		<% } %>
		<optgroup label="{{++i|escape}}. Current">
			<option value="current" {{'current' == m.selectedFile? ' selected="selected"' : ''}}>Current value (dynamic)</option>
		</optgroup>
	<% } %>
</select>


<div class="ssh_links">
	<span>SFTP links ▼</span>
	<ul>
		<% for (var path in m.paths) { %>
			<li>
				<a href="sftp://{{sshPath|escape}}{{path|escape}}">
					{{m.paths[path]|escape}}/
				</a>
			</li>
		<% } %>
	</ul>
</div>

<div class="ssh_links">
	<span>SSH links ▼</span>
	<ul>
		<% for (var path in m.paths) { %>
			<li>
				<a href="ssh://{{sshPath|escape}}{{path|escape}}">
					{{m.paths[path]|escape}}/
				</a>
			</li>
		<% } %>
	</ul>
</div>

<div class="asterisk_explination">
	Files marked with a * contain the currently selected element or property.
</div>
