<div id="organizer_field_details_inner" class="field_details_inner">
	<div class="field_details_header">
		<div class="field_details_header_options">
			<input class="add_new_field" type="button" value="Add new field"/>
		</div>
		<div class="field_details_header_content">
			<h5>{{m.field_label|e}}</h5>
		</div>
	</div>
	<div id="organizer_field_details_tabs" class="field_details_tabs">
		<div 
			id="field_tab__details"
			class="tab <% if (m.currentFieldTab == 'details') { %>on<% } %>" 
			onclick="zenarioO.pi.showFieldDetailsSection('details');"
		>
			Details
		</div>
		<% if (['radios', 'centralised_radios', 'select', 'centralised_select', 'text', 'textarea'].indexOf(m.type) != -1) { %>
			<div 
				id="field_tab__advanced" 
				class="tab <% if (m.currentFieldTab == 'advanced') { %>on<% } %>" 
				onclick="zenarioO.pi.showFieldDetailsSection('advanced');"
			>
				Advanced
			</div>
		<% } %>
		<% if ((['select', 'radios', 'checkboxes'].indexOf(m.type) != -1) && !m.field_id) { %>
			<div 
				id="field_tab__values" 
				class="tab <% if (m.currentFieldTab == 'values') { %>on<% } %>" 
				onclick="zenarioO.pi.showFieldDetailsSection('values');"
			>
				Values
			</div>
		<% } %>
	</div>
	
	<div id="organizer_field_details" class="field_details">
		
		<form id="organizer_field_details_form">
		
		<!-- START Details tab -->
		<div 
			id="field_section__details" 
			class="section"
			<% if (m.currentFieldTab != 'details') { %>
				style="display:none;
			<% } %>"
		>
			
			<div class="field">
				<div class="title">Name:</div>
				<div class="value">
					<input name="name" type="text" value="{{m.name|e}}" maxlength="255"/>
				</div>
				<div class="note_below">
					This is used to identify this field for admins and is not seen by users.
				</div>
			</div>
			
			<% if (['checkbox','checkboxes','date','editor','radios','centralised_radios','select','centralised_select','text','textarea','url','attachment','section_description','calculated','restatement'].indexOf(m.type) != -1) { %>
				<div class="field">
					<div class="title">Label:</div>
					<div class="value">
						<input id="field__field_label" name="field_label" type="text" value="{{m.field_label|e}}" maxlength="255"/>
					</div>
					<div class="note_below">
						This will be the field label as seen by the user. 
					</div>
				</div>
				
				<div class="field" id="field__readonly_or_mandatory">
					<div class="title">Mandatory / Read-only:</div>
					<div class="value">
						<select name="readonly_or_mandatory">
							{{zenarioA.microTemplate('zenario_organizer_admin_box_builder_select_values', m.readonly_or_mandatory_options)}}
						</select>
					</div>
					<div class="note_below">
						Choose whether this field is mandatory or read-only.
					</div>
				</div>
				
				<% if (m.readonly_or_mandatory == 'conditional_mandatory') { %>
					<div class="field" id="field__mandatory_condition_field_id">
						<div class="title">Mandatory on condition field:</div>
						<div class="value">
							<select name="mandatory_condition_field_id">
								{{zenarioA.microTemplate('zenario_organizer_admin_box_builder_select_values', m.mandatory_condition_field_id_options)}}
							</select>
						</div>
						<div class="note_below">
							Select a field that this field will rely on from the current form (the following types of field are allowed: checkbox, radios, select, centralised radios and centralised select)
						</div>
					</div>
					
					<% if (m.mandatory_condition_field_id) { %>
						<div class="field">
							<div class="title">Mandatory if:</div>
							<div class="value">
								<select name="mandatory_condition_field_value">
									{{zenarioA.microTemplate('zenario_organizer_admin_box_builder_select_values', m.mandatory_condition_field_value_options)}}
								</select>
							</div>
						</div>
					<% } %>
					
				<% } else if (m.readonly_or_mandatory == 'mandatory') { %>
				
					<div class="field">
						<div class="title">Error message when field is incomplete:</div>
						<div class="value">
							<input name="required_error_message" type="text" value="{{m.required_error_message|e}}" maxlength="255"/>
						</div>
						<div class="note_below">
							Enter an error message when this field is incomplete.
						</div>
					</div>
				<% } %>
				
				<div class="field" id="field__visibility">
					<div class="title">Visibility:</div>
					<div class="value">
						<select name="visibility">
							{{zenarioA.microTemplate('zenario_organizer_admin_box_builder_select_values', m.visibility_options)}}
						</select>
					</div>
				</div>
				
				<% if (m.visibility == 'visible_on_condition') { %>
					<div class="field" id="field__visible_condition_field_id">
						<div class="title">Visible on condition field:</div>
						<div class="value">
							<select name="visible_condition_field_id">
								{{zenarioA.microTemplate('zenario_organizer_admin_box_builder_select_values', m.visible_condition_field_id_options)}}
							</select>
						</div>
						<div class="note_below">
							Select a field that this fields visibility will rely on from the current form (the following types of field are allowed: checkbox, radios, select, centralised radios and centralised select)
						</div>
					</div>
					
					<% if (m.visible_condition_field_id) { %>
						<div class="field">
							<div class="title">Visible if:</div>
							<div class="value">
								<select name="visible_condition_field_value">
									{{zenarioA.microTemplate('zenario_organizer_admin_box_builder_select_values', m.visible_condition_field_value_options)}}
								</select>
							</div>
						</div>
					<% } %>
				<% } %>
			<% } %>
			
			<% if (m.type == 'text') { %>
				<div class="field" id="field__validation">
					<div class="title">Validation:</div>
					<div class="value">
						<select name="validation">
							{{zenarioA.microTemplate('zenario_organizer_admin_box_builder_select_values', m.validation_options)}}
						</select>
					</div>
				</div>
				
				<% if (['email', 'URL', 'integer', 'number', 'floating_point'].indexOf(m.field_validation) != -1) { %>
					<div class="field">
						<div class="title">Error message when validation fails:</div>
						<div class="value">
							<input name="validation_error_message" type="text" value="{{m.validation_error_message|e}}" maxlength="255"/>
						</div>
						<div class="note_below">
							Enter an error message when validation fails. 
						</div>
					</div>
				<% } %>
			<% } %>
			
			<% if (m.type == 'text') { %>
				<div class="field">
					<div class="title">Width:</div>
					<div class="value">
						<select name="size">
							{{zenarioA.microTemplate('zenario_organizer_admin_box_builder_select_values', m.size_options)}}
						</select>
					</div>
					<div class="note_below">
						Size of the input box on the page.
					</div>
				</div>
			<% } %>
			
			<% if (m.type == 'text' || m.type == 'textarea') { %>
				<div class="field">
					<div class="title">Placeholder:</div>
					<div class="value">
						<input name="placeholder" type="text" value="{{m.placeholder|e}}" maxlength="255"/>
					</div>
					<div class="note_below">
						Enter a value to be displayed as a placeholder until the user enters something.
					</div>
				</div>
			<% } %>
			
			<% if (['checkbox','checkboxes','date','editor','radios','centralised_radios','select','centralised_select','text','textarea','url','attachment','calculated','restatement'].indexOf(m.type) != -1) { %>
				<div class="field">
					<div class="title">Note to user:</div>
					<div class="value">
						<input name="note_to_user" type="text" value="{{m.note_to_user|e}}" maxlength="255"/>
					</div>
					<div class="note_below">
						Enter a note to the user that will be displayed below this field.
					</div>
				</div>
			
				<div class="field">
					<div class="title">CSS classes:</div>
					<div class="value">
						<input name="css_classes" type="text" value="{{m.css_classes|e}}" maxlength="255"/>
					</div>
					<div class="note_below">
						Enter a list of classes separated by spaces that'll be applied to this field.
					</div>
				</div>
			
				<div class="field">
					<div class="title">Wrapper div class:</div>
					<div class="value">
						<input name="div_wrap_class" type="text" value="{{m.div_wrap_class|e}}" maxlength="255"/>
					</div>
					<div class="note_below">
						Enter a class for a wrapper div around this field and all fields below until a page break or a field with a different wrapper div is found.
					</div>
				</div>
			<% } %>
			
			<% if (m.type == 'page_break') { %>
				<div class="field">
					<div class="title">Next button text:</div>
					<div class="value">
						<input name="next_button_text" type="text" value="{{m.next_button_text|e}}" maxlength="255"/>
					</div>
					<div class="note_below">
						Enter the text for the next button used on the form page before this page break.
					</div>
				</div>
				
				<div class="field">
					<div class="title">Back button text:</div>
					<div class="value">
						<input name="previous_button_text" type="text" value="{{m.previous_button_text|e}}" maxlength="255"/>
					</div>
					<div class="note_below">
						Enter the text for the back button used on the form page before this page break.
					</div>
				</div>
			<% } %>
			
			<% if (m.type == 'calculated') { %>
				<div class="field">
					<div class="title">Numeric field A:</div>
					<div class="value">
						<select name="numeric_field_1">
							{{zenarioA.microTemplate('zenario_organizer_admin_box_builder_select_values', m.numeric_field_1_options)}}
						</select>
					</div>
				</div>
				
				<div class="field">
					<div class="title">Numeric field B:</div>
					<div class="value">
						<select name="numeric_field_2">
							{{zenarioA.microTemplate('zenario_organizer_admin_box_builder_select_values', m.numeric_field_2_options)}}
						</select>
					</div>
				</div>
				
				<div class="field">
					<div class="title">Calculation type:</div>
					<div class="value">
						<select name="calculation_type">
							{{zenarioA.microTemplate('zenario_organizer_admin_box_builder_select_values', m.calculation_type_options)}}
						</select>
					</div>
				</div>
			<% } %>
			
			<% if (m.type == 'restatement') { %>
				<div class="field">
					<div class="title">Field to mirror:</div>
					<div class="value">
						<select name="restatement_field">
							{{zenarioA.microTemplate('zenario_organizer_admin_box_builder_select_values', m.restatement_field_options)}}
						</select>
					</div>
				</div>
			<% } %>
		</div>
		<!-- END Details tab -->
		
		<!-- START advanced tab -->
		<% if (['radios', 'centralised_radios', 'select', 'centralised_select', 'text', 'textarea'].indexOf(m.type) != -1) { %>
			<div 
				id="field_section__advanced" 
				class="section" 
				<% if (m.currentFieldTab != 'advanced') { %>
					style="display:none;
				<% } %>"
			>
				
				<div class="field" id="field__default_value_options">
					<div class="title">Default value options:</div>
					<div class="value">
						{{zenarioA.microTemplate('zenario_organizer_admin_box_builder_radio_values', m.default_value_mode_options)}}
					</div>
				</div>
				
				<% if (m.default_value_mode == 'value') { %>
					<% if (['radios', 'centralised_radios', 'select', 'centralised_select'].indexOf(m.type) != -1) { %>
						<div class="field">
							<div class="title">Default value:</div>
							<div class="value">
								<select name="default_value_lov">
									{{zenarioA.microTemplate('zenario_organizer_admin_box_builder_select_values', m.default_value_lov_options)}}
								</select>
							</div>
							<div class="note_below">
								Select a value to pre-populate this field.
							</div>
						</div>
					<% } else { %>
						<div class="field">
							<div class="title">Default value:</div>
							<div class="value">
								<input name="default_value_text" type="text" value="{{m.default_value|e}}" maxlength="255"/>
							</div>
							<div class="note_below">
								Enter a value to pre-populate this field.
							</div>
						</div>
					<% } %>
				<% } else if (m.default_value_mode == 'method') { %>
					
					<div class="field">
						<div class="title">Module class name:</div>
						<div class="value">
							<input name="default_value_class_name" type="text" value="{{m.default_value_class_name|e}}" maxlength="255"/>
						</div>
					</div>
					<div class="field">
						<div class="title">Static method name:</div>
						<div class="value">
							<input name="default_value_method_name" type="text" value="{{m.default_value_method_name|e}}" maxlength="255"/>
						</div>
					</div>
					<div class="field">
						<div class="title">Parameter 1:</div>
						<div class="value">
							<input name="default_value_param_1" type="text" value="{{m.default_value_param_1|e}}" maxlength="255"/>
						</div>
					</div>
					<div class="field">
						<div class="title">Parameter 2:</div>
						<div class="value">
							<input name="default_value_param_2" type="text" value="{{m.default_value_param_2|e}}" maxlength="255"/>
						</div>
					</div>
				<% } %>
				
			</div>
		<% } %>
		<!-- END advanced tab -->
		
		<!-- START values tab -->
		<% if ((['select', 'radios', 'checkboxes'].indexOf(m.type) != -1) && !m.field_id) { %>
			<div 
				id="field_section__values" 
				class="section" 
				<% if (m.currentFieldTab != 'values') { %>
					style="display:none;
				<% } %>"
			>
				<div id="field_values_list"></div>
				<input type="button" id="organizer_add_a_field_value" value="Add a value"/>
			</div>
		<% } %>
		<!-- END values tab -->
		
		</form>
	</div>
</div>