<strong>
	<% if (m.parent && m.parent.schema && m.parent.schema.additionalProperties) { %>
		Element
	<% } else { %>
		Property
	<% } %>
</strong>

<br>
<em>
	&nbsp; &nbsp;
	<% if (m.parent && m.parent.schema && m.parent.schema.additionalProperties) { %>
		Appears in an array and can have any name
	<% } else { %>
		Describes its parent and has a specific name
	<% } %>
</em>

<% if (m.schema && m.schema.additionalProperties && m.schema.additionalProperties.properties) { %>
	<br/>
	<label>Type:</label>
	<span>Array of elements</span>
	<br/>
	<em>
		&nbsp; &nbsp;
		Its children are elements and can have any name
	</em>

<% } else if (m.schema && m.schema.additionalProperties && m.schema.additionalProperties.type) { %>
	<br/>
	<label>Type:</label>
	<span>Array of {{m.schema.additionalProperties.type|escape}}</span>
	<br/>
	<em>
		&nbsp; &nbsp;
		Its children are elements and can have any name
	</em>

<% } else if (m.schema && m.schema.type) { %>
	<br/>
	<label>Type:</label>
	<span>{{m.schema.type|escape}}</span>
	
	<% if (m.schema.type == 'object') { %>
		<br/>
		<em>
			&nbsp; &nbsp;
			Its children are properties and have specific names
		</em>
	<% }  %>

<% } else if (m.schema && m.schema.enum) { %>
	<br/>
	<label>Enum:</label>
	<span>
		<% if (typeof m.schema.enum == 'string') { %>
			enum ({{m.schema.enum|escape}})
		<% } else { %>
			enum ({{m.schema.enum.join(', ')|escape}})
		<% } %>
	</span>
<% } %>

<% if (m.schema.description) { %>
	<span class="tooltip_desc">
		{{marked(m.schema.description, {breaks: true})}}
	</span>
<% } %>