<div class="zenario_tutorial">
	<div id="zenario_tutorial_video_banner" class="zenario_tutorial_video_banner">
		{{m.main_video_title|e}}
	</div>
	<div id="zenario_tutorial_main_video" class="main_video">
		{{zenarioA.microTemplate('zenario_tutorial_main_video', m)}}
	</div>
	<div id="zenario_tutorial_slideshow_container" class="other_videos">
		<% if (m.videos.length) { %>
			
			{{zenarioA.microTemplate('zenario_tutorial_slideshow', m)}}
			
		<% } else { %>
			<div class="no_other_videos">
				<p>We are sorry there are no other videos currently available</p>
			</div>
		<% } %>
	</div>
	<div class="help_tour_outer">
		<div class="help_tour_inner">
			<p class="help_tour_message">Use our quick help tour so you can get to know key functionality</p>
			
				<div class="auto_open_option">
					<input 
						type="checkbox" 
						id="zenario_show_help_tour_next_time" 
						onchange="zenarioA.toggleShowHelpTourNextTime();" 
						<% if (m.show_help_tour_next_time) { %>
							checked="checked"
						<% } %>
					/>
					<label for="zenario_show_help_tour_next_time">Show me the help tour when entering Organizer</label>
				</div>
			
		</div>
		<div class="video_start_tour">
			<span class="start_button" onclick="$.colorbox.close(); zenarioA.showHelp('#zenario_fbog [data-intro]:visible');">
				Start the tour
			</span>
		</div>
	</div>
	<div class="video_end"></div>
</div>