<div id="organizer_itemCountWrap">
	<div id="organizer_pagination">
		<% if (m.itemCount) { %>
			<div id="organizer_item_count">
				<% if (m.pageStart && m.pageStop) { %>
					{{m.pageStart|escape}} - {{m.pageStop|escape}} of
				<% } %>
				{{m.itemCount|escape}}
			</div>
		<% } %>
		<% if (m.pageCount && m.pageCount > 1) { %>
			<% if (m.page > 1) { %>
				<div id="organizer_page_first" class="organizer_page_button" onclick="zenarioO.goToPage(1);"></div>
			<% } else { %>
				<div id="organizer_page_first" class="organizer_page_button organizer_page_button_disabled pagination_disabled_first"></div>
			<% } %>
		
			<div class="organizer_page_numbers">
				<div class='paginator_p_wrap'> 
					<div class='paginator_p_bloc'> 
						<!--<a class='paginator_p'></a> // page number : dynamically added --> 
					</div> 
				</div>
			
				<div class="paginator_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"> 
					<a class="ui-slider-handle ui-state-default ui-corner-all"></a> 
				</div> 
			</div> 

			<% if (m.page < m.pageCount) { %>
				<div id="organizer_page_last" class="organizer_page_button" onclick="zenarioO.goToLastPage();"></div> 
			<% } else { %>
				<div id="organizer_page_last" class="organizer_page_button organizer_page_button_disabled pagination_disabled_last"></div> 
			<% } %>
		<% } %>
	</div>
</div>