<li class="dd-item dd3-item {{m.canDrag? 'organizer_menu_handle' : ''|escape}}" data-id="{{m.id|escape}}">
	{{zenarioA.microTemplate('zenario_organizer_hierarchy_documents_row', m)}}
	
	<% if (m.items && m.items.length) { %>
		<ol class="dd-list">
			{{zenarioA.microTemplate('zenario_organizer_hierarchy_documents_group', m.items)}}
		</ol>
	<% } else if (zenarioO.tuix.__item_parents__ && zenarioO.tuix.__item_parents__[m.id]) {%>
		<ol class="dd-list">
			<li class="organizer_hierarchy_view_lazy_loading"></li>
		</ol>
	<% } %>
</li>
