<div class="zenario_jqmBor"><div class="zenario_jqmBor"><div class="zenario_jqmBor"><div class="zenario_jqmBor">
	<div class="zenario_jqmHead"><div><div>
		<a class="zenario_jqmClose" onclick="return zenarioAB.closeButton();" href="#">
			<div><p>{{zenarioA.phrase.close}}</p></div>
		</a>
		<div class="zenario_jqmTitle"><div><div id="zenario_jqmTitle"></div></div></div>
	</div></div></div>
	<div class="zenario_jqmMain"><div class="zenario_jqmMainBor"><div class="zenario_jqmMainBor">
		<div id="zenario_jqmTabs"></div>
		<div id="zenario_fbMain" class="zenario_fbMain">
			<% if (zenarioA.adminSettings.show_dev_tools) { %>
				<div class="zenario_debug" onclick="zenarioA.debug('zenarioAB');"><div></div></div>
			<% } %>
			
			<div class="zenario_jqmWinBor"><div class="zenario_jqmWinBor" id="zenario_fbAdminInner">
				<div id="zenario_abtab" style="display: none;"></div>
			</div></div>
			
			<div class="zenario_fbButtons" id="zenario_fbButtons"></div>
		</div>
	</div></div></div>
	<div class="zenario_jqmFoot"></div>
</div></div></div></div>