<div class="extranet_wrap">
    <div class="extranet_outer_wrap">
        <div class="extranet_inner_wrap">
            {% if Message_Display %}
                <div class="extranet_message">{{Message}}</div>
                {% if Login_Link_Section %}
                    <div class="extranet_links">
                    	<div><a {{Login_Link}}>{{"Go back to login"|trans}}</a></div>
                    </div>
                {% endif %}
            {% endif %}
            
            {% if Main_Title %}
            	<h1>{{"Reset your password"|trans}}</h1>
            {% endif %}
            
			{% for item in Error_Display %}
				<div class="extranet_error">{{item.Error}}</div>
			{% endfor %}
            
            {% if Contact_For_Reset %}
            	<p>{{Contact_For_Reset_Message}}</p>
            {% endif %}
            
            {% if Reset_Password_Form %}
                <div>
                    <div class="extranet_field">
                        <div class="label"><label for="extranet_email">{{"Please enter your email address:"|trans}}</label></div>
                        {{this.frameworkField({'type': "email", 'name': "extranet_email", 'id': "extranet_email", 'pattern': "email", 'required': "true", 'class': "extranet_text"})}}
                    </div>
                    <div class="extranet_btn"><div class="r"><input type="submit" name="extranet_send_reset_email" class="extranet_submit i" value="{{'Reset password'|trans}}" /></div></div>
                </div>
                <div class="extranet_links">
					{% if Resend_Link_Section %}
						<div><a {{Resend_Link}}>{{"Resend Verification Email"|trans}}</a></div>
						<div class="extranet_link_desc">{{"Use this if you have previously registered but not received your verification email."|trans}}</div>
					{% endif %}
                    {% if Login_Link_Section %}
                        <div><a {{Login_Link}}>{{"Go back to login"|trans}}</a></div>
                    {% endif %}
                </div>
            {% endif %}
            
            {% if Reset_Password_Form_Passwords %}
                <div>
                	<input type="hidden" name="hash" value="{{hash}}"/>
                	<input type="hidden" name="extranet_reset_password" value="{{extranet_reset_password}}"/>
                    <div class="extranet_field zenario_visitor_tooltip_wrap">
                        <div class="label"><label for="extranet_new_password">{{"Your new password:"|trans}}</label></div>
                        {{this.frameworkField({'type': "password", 'name': "extranet_new_password", 'id': "extranet_new_password", 'pattern': "new_password", 'required': "true",
                        'class': "extranet_password", oninput: "zenarioP.updatePasswordNotifier('#extranet_new_password', " ~ json_encode(Password_Requirements_Settings) ~ ", '#password_message', false, false)"})}}
                    </div>
                    
                    <div>
						<span id="password_message" class="title_orange">{{'Please enter a password.'|trans}}</span>
					</div>
                    
                    <div class="extranet_field">
                        <div class="label"><label for="extranet_new_password_confirm">{{"Repeat your new password:"|trans}}</label></div>
                        {{this.frameworkField({'type': "password", 'name': "extranet_new_password_confirm", 'id': "extranet_new_password_confirm", 'required': "true", 'class': "extranet_text"})}}
                    </div>
                    <div class="extranet_btn"><div class="r"><input type="submit" name="extranet_change_password" class="extranet_submit i" value="{{'Reset password'|trans}}" /></div></div>
                </div>
            {% endif %}
            
            {% if Login %}
                <div class="extranet_links">
                    {% if Login_Link_Section %}
                        <div><a {{Login_Link}}>{{"Go back to login"|trans}}</a></div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
