#organizer_leftColumn div.organizer_legend a.locations_top_level {
	background: url('images/locations-leftbar-icons.png') no-repeat center 0px;
}

#organizer_leftColumn div.legend_on a.locations_top_level,
#organizer_leftColumn div.organizer_legend a.locations_top_level:hover {
	background-position:center -35px;
}



#organizer_rightColumn div.organizer_row div.organizer_cell div.zenario_location_manager_location,
#organizer_rightColumn #organizer_panelTitle div.zenario_location_manager_location {
	background:url('images/location-list-icon.png') no-repeat -15px center;
}

#organizer_rightColumn div.organizer_row div.organizer_cell div.zenario_location_manager_sector,
#organizer_rightColumn #organizer_panelTitle div.zenario_location_manager_sector {
	background: 1px 2px no-repeat;
	background-image: url('images/location-manager-sector-list.png');
}

#organizer_rightColumn div.organizer_row div.organizer_cell div.zenario_location_manager_supplier,
#organizer_rightColumn #organizer_panelTitle div.zenario_location_manager_supplier {
	background: center center no-repeat;
	background-image: url('images/suppliers-list-icons.png');
}

#organizer_rightColumn div.organizer_row div.organizer_cell div.zenario_location_manager_areas,
#organizer_rightColumn #organizer_panelTitle div.zenario_location_manager_areas {
	background: center center no-repeat;
	background-image: url('images/areas-list-icon.png');
}

#organizer_rightColumn div.organizer_row div.organizer_cell div.zenario_location_manager_ratings,
#organizer_rightColumn #organizer_panelTitle div.zenario_location_manager_ratings {
	background: center center no-repeat;
	background-image: url('images/accreditors-list-icon.png');
}


