<div class="banner_wrap"><div class="banner_wrap_outer"><div class="banner_wrap_inner" {{Wrap}}>
	{# If a title has been set show the title. #}
	{% if Title %}
		<div class="banner_title">
			<{{Title_Tags}}>
				{% if Link_Href %}
					<a {{Link_Href}}{{Target_Blank}}>{{Title}}</a>
				{% else %}
					{{Title}}
				{% endif %}
			</{{Title_Tags}}>
		</div>
	{% endif %}
	
	{# If text has been set show the text. #}
	{% if Text %}
		<div class="banner_text">{{Text}}</div>
	{% endif %}

	{# If more link text has been set show the more link. #}
	{% if More_Link_Text %}
		<div class="banner_more">
			<a {{Link_Href}}{{Target_Blank}}>{{More_Link_Text}}</a>
		</div>
	{% endif %}
	
	{# If an image has been set then show the image. #}
	{% if Image  %}
		<div class="banner_image" > 
			{% if Image_Link_Href %} 
				<a {{Image_Link_Href}}{{Target_Blank}}>
			{% endif %}
			
				<img src="{{Image_Src}}" alt="{{Image_Alt}}" {{Image_Style}}/>
				{{Rollover_Images}}
			
			{% if Enlarge_Image %}
				<span class="banner_image_zoom" title="{{'Enlarge this image'|trans}}">{{"Enlarge this image"|trans}}</span>
			{% endif %}
			
			{% if Image_Link_Href %} 
				</a>
			{% endif %}
		</div>
	{% endif %}
</div></div></div>