{% include this.frameworkBaseDir() ~ 'includes/title_anchor.twig.html' %}

<div class="banner_wrap"><div class="banner_wrap_outer"><div class="banner_wrap_inner" {{Wrap}}>
	{% include this.frameworkBaseDir() ~ 'includes/privacy_warning.twig.html' %}

	{% if Title %}
		<div class="banner_title">
			<{{Title_Tags}}>
				{% if Link_Href and not Enlarge_Image %}
					<a {{Link_Href}}{{Target_Blank}}>{{Title}}</a>
				{% else %}
					{{Title}}
				{% endif %}
			</{{Title_Tags_Close}}>
		</div>
	{% endif %}
	
	{% include this.frameworkBaseDir() ~ 'includes/banner_text.twig.html' %}

	{% if More_Link_Text %}
		<div class="banner_more">
			{{More_Link_Text}}
		</div>
	{% endif %}
	
	{% if Background_Image %}
		<a {{Image_Link_Href}}{{Target_Blank}} id="{{Image_css_id}}"></a>
	{% elseif Image %}
		<div class="banner_image">
			{% include this.frameworkBaseDir() ~ 'includes/image_link_href_start.twig.html' %}
			
			{% include this.frameworkBaseDir() ~ 'includes/image.twig.html' %}
			
			{% include this.frameworkBaseDir() ~ 'includes/image_link_href_end.twig.html' %}
		</div>
	{% endif %}
</div></div></div>