{% if Change_country_button %}
	<div class="user_form_click_here" {{Button_js}}>
		<h3>{{Country_name}}</h3>
	</div>
	<div id="country_id" class="{{Country_id}}" style="display:none;"></div>
{% elseif Show_picker %}
	<div class="zenario_country_language_picker">
		<div class="zenario_country_language_picker_wrap">
			<div class="zenario_country_language_picker_header"></div>
			<div class="zenario_country_language_picker_body">
				<p>Please select the country that you are interested in purchasing products for.<br>This will enable us to show you products which comply with local safety regulations.</p>
				<div class="columns">
				<div class="column column_1">
					<h3>Africa:</h3>
					<ul>
						{% if "ZA" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=ZA&user_lang={% if "en-za" in Active_languages|keys %}en-za{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">South Africa</a></li>{% endif %}
					</ul>
		
					<h3>Asia:</h3>
					<ul>
						{% if "CN" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=CN&user_lang={% if "cn" in Active_languages|keys %}cn{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">China</a></li>{% endif %}
	
						{% if "IN" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=IN&user_lang={% if "en-in" in Active_languages|keys %}en-in{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">India</a></li>{% endif %}
	
						{% if "ID" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=ID&user_lang={% if "id" in Active_languages|keys %}id{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">Indonesia</a></li>{% endif %}
	
						{% if "JP" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=JP&user_lang={% if "ja" in Active_languages|keys %}ja{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">Japan</a></li>{% endif %}
	
						{% if "KR" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=KR&user_lang={% if "ko" in Active_languages|keys %}ko{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">South Korea</a></li>{% endif %}
	
						{% if "RU" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=RU&user_lang={% if "ru" in Active_languages|keys %}ru{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">Russia</a></li>{% endif %}
	
						{% if "SA" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=SA&user_lang={% if "ar" in Active_languages|keys %}ar{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">Saudi Arabia</a></li>{% endif %}
					</ul>
				</div>

				<div class="column column_2">
					<h3>Australasia:</h3>
					<ul>
						{% if "AU" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=AU&user_lang={% if "en-au" in Active_languages|keys %}en-au{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">Australia</a></li>{% endif %}
					</ul>
		
					<h3>Europe:</h3>
					<ul>
						{% if "FR" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=FR&user_lang={% if "fr" in Active_languages|keys %}fr{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">France</a></li>{% endif %}
	
						{% if "DE" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=DE&user_lang={% if "de" in Active_languages|keys %}de{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">Germany</a></li>{% endif %}
	
						{% if "IT" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=IT&user_lang={% if "it" in Active_languages|keys %}it{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">Italy</a></li>{% endif %}
	
						{% if "ES" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=ES&user_lang={% if "es" in Active_languages|keys %}es{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">Spain</a></li>{% endif %}
	
						{% if "TR" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=TR&user_lang={% if "tr" in Active_languages|keys %}tr{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">Turkey</a></li>{% endif %}
	
						{% if "GB" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=GB&user_lang={% if "en-gb" in Active_languages|keys %}en-gb{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">United Kingdom</a></li>{% endif %}
					</ul>
				</div>

				<div class="column column_3">
					<h3>North America:</h3>
					<ul>
						{% if "US" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=US&user_lang={% if "en-us" in Active_languages|keys %}en-us{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">USA</a></li>{% endif %}
	
						{% if "CA" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=CA&user_lang={% if "en-ca" in Active_languages|keys %}en-ca{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">Canada</a></li>{% endif %}
					</ul>
		
					<h3>South America:</h3>
					<ul>
						{% if "AR" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=AR&user_lang={% if "es" in Active_languages|keys %}es{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">Argentina</a></li>{% endif %}
	
						{% if "BR" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=BR&user_lang={% if "pt" in Active_languages|keys %}pt{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">Brazil</a></li>{% endif %}
	
						{% if "MX" in Active_countries|keys %}<li><a href="zenario/modules/zenario_country_language_picker/fun/select_country.php?country_id=MX&user_lang={% if "es" in Active_languages|keys %}es{% else %}{{Default_language}}{% endif %}&cID={{cID}}&cType={{cType}}">Mexico</a></li>{% endif %}
					</ul>
				</div>
			</div>
			</div>
		</div>
	</div>
{% else %}
<div class="zenario_country_language_picker_change_country_confirmation">
	<div class="message_wrap">
		<h4>Change country</h4>
		<p>Are you sure you want to change country?</p>
		<div class="message_bottom">
			<span class="message_button cancel" rel="colorbox" onclick="$.colorbox.close();">Cancel</span>
			<span class="message_button" id="change_country_button" onclick="changeCountryConfirm('{{ajaxURL}}');">Change</span>
		</div>
	</div>
</div>
{% endif %}