# You must use a tab-size of 4 spaces to edit this file.
---
plugin_settings:
	tabs:
		first_tab:
			label: Display
			fields:
				trigger:
					plugin_setting:
						name: trigger
					label: 'Trigger for Revelations:'
					type: radios
					values:
						click:
							label: >
								Clicking on a Tab reveals that Panel, clicking again hides
								it.
						hover:
							label: >
								Hovering the mouse over a Tab reveals that Panel, leaving
								with the mouse hides it.
					value: hover
					note_below: >
						Visitors without JavaScript enabled in their browsers will
						see behavior similar to "hover".
				fx:
					plugin_setting:
						name: fx
					label: 'Effect for Revelations:'
					type: radios
					values:
						none:
							label: None
						fade:
							label: Fade
						slide:
							label: Slide
						slide_and_scroll:
							label: Slide, then scroll the page down
					value: fade
					format_onchange: Yes
					note_below: >
						Visitors without JavaScript enabled in their browsers will
						see behavior similar to "none".
				speed:
					plugin_setting:
						name: speed
					label: 'Animation duration:'
					type: text
					value: "500"
					post_field_html: ms
					validation:
						required_if_not_hidden: Please enter an animation duration.
						numeric: The animation duration must be numeric.
		size:
			label: Size
			fields:
				banner_canvas:
					plugin_setting:
						name: banner_canvas
					label: 'Constrain the size of any Banner images:'
					type: select
					value: unlimited
					values:
						unlimited:
							ord: "1"
							label: Unlimited size
						fixed_width:
							ord: "2"
							label: Constrain by width
						fixed_height:
							ord: "3"
							label: Constrain by height
						fixed_width_and_height:
							ord: "4"
							label: Constrain by width and height
						resize_and_crop:
							ord: "5"
							label: Resize and crop
					format_onchange: Yes
				banner_width:
					plugin_setting:
						name: banner_width
					label: 'Width:'
					type: text
					validation:
						required_if_not_hidden: Please enter a width.
						numeric: The width must be a number.
					value: ""
					maxlength: "5"
					style: 'width: 5em;'
					post_field_html: '&nbsp;pixels'
				banner_height:
					plugin_setting:
						name: banner_height
					label: 'Height:'
					type: text
					validation:
						required_if_not_hidden: Please enter a height.
						numeric: The height must be a number.
					value: ""
					maxlength: "5"
					style: 'width: 5em;'
					post_field_html: '&nbsp;pixels'
	module_class_name: zenario_revealable_panel
