{% if access_denied %}
	<div class="access_denied">
		<p class="access_denied_title">{{'You do not have permission to view this page'|trans}}</p>
	</div>
{% endif %}

{% if url_not_complete %}
	<div class="url_not_complete">
		<p class="url_not_complete_title">{{'The URL provided is not complete'|trans}}</p>
	</div>
{% endif %}

{% if no_location_selected %}
	<div class="no_location_selected">
		<p class="no_location_selected">{{'No location selected, this slot will be blank in visitor mode.'|trans}}</p>
	</div>
{% endif %}

{% if show_title %}
	<div class="location">
		<h1 class="main_title">{{'Location description sheet:'|trans}} {{location.description|e}}</h1>
	</div>
{% endif %}

{% if show_details %}
	{% if show_image %}
		<img alt="Location Image" src="{{location.image_url|e}}" width="{{location.image_width|e}}" height="{{location.image_height|e}}" />
	{% endif %}
	<div class="title">{{location.description|e}}</div>
	<div class="address_container">
		{% if show_address %}
			<div class="address_label">{{'Address:'|trans}}</div>
			{% if location.address1 %}
				<div class="address">{{location.address1|e}}</div>
			{% endif %}
			{% if location.address2 %}
				<div class="address">{{location.address2|e}}</div>
			{% endif %}
		{% endif %}
		{% if show_locality and location.locality %}
			<div class="address">{{location.locality|e}}</div>
		{% endif %}
		{% if show_city and location.city %}
			<div class="address">{{location.city|e}}</div>
		{% endif %}
		{% if show_state and location.state %}
			<div class="address">{{location.state|e}}</div>
		{% endif %}
		{% if show_postcode and location.postcode %}
			<div class="address">{{location.postcode|e}}</div>
		{% endif %}
		{% if show_country and location.country %}
			<div class="address">{{location.country|e}}</div>
		{% endif %}
		{% if show_region and location.region %}
			<div class="address">{{location.region|e}}</div>
		{% endif %}
	</div>
	<div class="contact_details_container">
    	{% if show_phone and location.phone %}
    	<div class="phone_container">
        	<div class="phone_label">{{'Phone:'|trans}}</div>
        	<div class="phone">{{location.phone|e}}</div>
    	</div>
    	{% endif %}
    	
    	{% if show_fax and location.fax %}
    	<div class="fax_container">
        	<div class="fax_label">{{'Fax:'|trans}}</div>
        	<div class="fax">{{location.fax|e}}</div>
    	</div>
    	{% endif %}
    	
    	{% if show_email and location.email %}
    	<div class="email_container">
        	<div class="email_label">{{'Email:'|trans}}</div>
        	<div class="email"><a href="mailto:{{location.email|e}}">{{location.email|e}}</a></div>
    	</div>
    	{% endif %}
    	
    	{% if show_website and location.url %}
    	<div class="url_container">
        	<div class="url_label">{{'Url:'|trans}}</div>
        	<div class="url"><a href="{{location.url|e}}" target="_blank">{{location.url|e}}</a></div>
    	</div>
    	{% endif %}
    </div>

{% endif %}

{% if show_map %}
	<div class="map">
		<iframe
			id="map"
			style="width: {{map_width|e}}px; height: {{map_height|e}}px;"
			src="zenario/ajax.php?moduleClassName=zenario_google_map&method_call=showStandalonePage&lng={{location.longitude|e}}&lat={{location.latitude|e}}&zoom={{location.map_zoom|e}}&addMarkerAtCentre=true"
		>
		</iframe>
	</div>
{% endif %}