<div class="cookie_form">
	<div class="cookie_message_and_status {{Status_Css_Class}}">
		<div class="cookie_message">
			{{"Your current cookie status on this website is:"|trans}}
		</div>
		<div class="cookie_status">
			{{Status}}
		</div>
	</div>
	
	{% if Accepted_Cookies %}
		<div class="cookie_button_area">
			<div class="cookie_button_message">
				{{"Click here to reject further cookies."|trans}}
			</div>
			<div class="cookie_button">
				<a href="{{Reject_Link}}">{{"Reject Cookies"|trans}}</a>
			</div>
		</div>
	{% endif %}
	{% if Rejected_Cookies %}
		<div class="cookie_button_area">
			<div class="cookie_button_message">
				{{"Click here to opt in to cookies on this site."|trans}}
			</div>
			<div class="cookie_button">
				<a href="{{Accept_Link}}">{{"Accept Cookies"|trans}}</a>
			</div>
		</div>
	{% endif %}
</div>