{% if drawingGoogleMap %}
	<!-- This is the HTML for the google map iframe -->
	<div id="{{mapId|escape}}" class="zenario_lmal_map zenario_lmal_map_wrap"></div>
	
	{% for location in locations %}
		<script type="text/html" id="{{location.htmlId|escape}}">
			<div class="zenario_lmal_map_popout">
				<div class="zenario_lmal_close_map_popout">
					<a onclick="zenario_location_map_and_listing.closeInfoWindow();">X</a>
				</div> 
				<h3>{{location.name|escape}}</h3>
		
				{% set addressline = [] %}
				{% if location.address1 %}
					{% set addressline = addressline|merge([location.address1]) %}
				{% endif %}
				{% if location.address2 %}
					{% set addressline = addressline|merge([location.address2]) %}
				{% endif %}
				{% if location.locality %}
					{% set addressline = addressline|merge([location.locality]) %}
				{% endif %}
				{% if location.city %}
					{% set addressline = addressline|merge([location.city]) %}
				{% endif %}
				{% if location.state %}
					{% set addressline = addressline|merge([location.state]) %}
				{% endif %}
				{% if location.postcode %}
					{% set addressline = addressline|merge([location.postcode]) %}
				{% endif %}
				
				{% if location.map_image %}
					<div class="image map"> 
						<img src="{{location.map_image}}">
					</div>
				{% endif %}
				
				{% if addressline|length %}
					<div class="zenario_lmal_addressline">
						{{addressline|escape|join(', ')}}
					</div>
				{% endif %}
		
				{% if location.phone %}
					{% set phone = location.phone|escape %}
					<div class="zenario_lmal_phone">
						{% trans %}
							T: {{phone}}
						{% endtrans %}
					</div>
				{% endif %}
				{% if location.email %}
					<div class="zenario_lmal_email">
						<a href="mailto:{{location.email|escape}}">{{location.email|escape}}</a>
					</div>
				{% endif %}		
				{% if location.url %}
					<div class="zenario_lmal_url">
						<a target="_blank" href="{{location.url|escape}}">{{location.url|escape}}</a>
					</div>
				{% endif %}
				{% if location.descriptive_page %}
					<div class="button view_descriptive_page map">
						<a target="_blank" href="{{location.descriptive_page|escape}}">{{button_label|escape}}</a>
					</div>
				{% endif %}
			</div>
		</script>
	{% endfor %}


{% else %}
	<!-- This is the HTML for the main plugin -->
	{% if show_list_and_map_in_seperate_tabs %}
		<ul class="list_map_tabs">
			<li {% if currentView == 'list' %} class="on" {% else %} onclick="{{listViewOnClick}}" {% endif %}>{{'List'|trans}}</li>
			<li {% if currentView == 'map' %} class="on" {% else %} onclick="{{mapViewOnClick}}"  {% endif %}>{{'Map'|trans}}</li>
		</ul>
	{% endif %}
	
	{% if not show_list_and_map_in_seperate_tabs or currentView == 'map' %}
		<div class="zenario_lmal_map zenario_lmal_map_iframe_wrap">
			<iframe id="{{mapIframeId|escape}}" src="{{mapIframeSrc|escape}}"></iframe>
		</div>
		
		{% if show_list_and_map_in_seperate_tabs and countries %}
			{{openForm}}
			<input type="hidden" name="map_view" value="1"/>
			<div class="zenario_lmal_select_country">
				{{'Select Country'|trans}}
				<select name="country_id" onchange="$(this.form).submit();">
					{% for key,value in countries %}
						<option
							{% if key == country_id %}
								selected="selected"
							{% endif %}
							value="{{key|escape}}"
						>
							{{value|escape}}
						</option>
					{% endfor %}
				</select>
			</div>
			{{closeForm}}
		{% endif %}
	{% endif %}
	
	{% if not show_list_and_map_in_seperate_tabs or currentView == 'list' %}
		{% if countries or enable_postcode_search %}
			{{openForm}}
		{% endif %}
	
		{% if countries %}
			<div class="zenario_lmal_select_country">
				{{'Select Country'|trans}}
				<select name="country_id" onchange="$(this.form).submit();">
					{% for key,value in countries %}
						<option
							{% if key == country_id %}
								selected="selected"
							{% endif %}
							value="{{key|escape}}"
						>
							{{value|escape}}
						</option>
					{% endfor %}
				</select>
			</div>
		{% endif %}
	
		{% if enable_postcode_search %}
			<div class="zenario_lmal_postcode_search">
				{{'Search by Postcode'|trans}}
				{% if postcode_error %}
					<div class="error">{{postcode_error|escape}}</div>
				{% endif %}
				<input name="postcode" type="text" value="{{postcode|escape}}"/>
				<input name="postcode_search" type="submit" value="{{'Search'|trans}}"/>
			</div>
		{% endif %}
	
		{% if countries or enable_postcode_search %}
			{{closeForm}}
		{% endif %}
	
		{% if postcode_search_success %}
			<div class="zenario_postcode_results_title">
				<h2>{{'Results'|trans}}</h2>
			</div>
		{% endif %}
	
		<div class="zenario_lmal_key">
			{% for tab in tabs %}
				{% if tab.title %}
					<div class="zenario_lmal_tab_title zenario_lmal_marker {{tab.marker_css_class|escape}}">
						{{ tab.title | trans | escape }}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	
	
		{% if show_locations_list %}
			<div class="zenario_lmal_tabs">
				<div class="zenario_lmal_scrollable_area">
					{% for tab in tabs %}
						<div class="zenario_lmal_tab {{tab.css_class|escape}}">
				
							{% if tab.title %}
								<div class="zenario_lmal_tab_title">
									{{ tab.title | trans | escape }}
								</div>
							{% endif %}
				
							{% for location in tab.locations %}
								<div class="zenario_lmal_location {{location.htmlId|escape}}" onclick="{{location.listingClick|escape}}">
									
									{% if location.list_image %}
										<div class="image list"> 
											<img src="{{location.list_image}}">
										</div>
									{% endif %}
									
									<h3>
										{% if location.postcode_index %}
											{{location.postcode_index|escape}} 
										{% endif %}
										{{location.name|escape}}
									</h3>
								
									{% if location.postcode_distance %}
										<span class="postcode_distance">{{location.postcode_distance|escape}}</span>
									{% endif %}
								
									{% if location.nearest %}
										<span class="nearest">{{'(nearest)'|trans}}</span>
									{% endif %}
								
									{% set addressline = [] %}
									{% if location.address1 %}
										{% set addressline = addressline|merge([location.address1]) %}
									{% endif %}
									{% if location.address2 %}
										{% set addressline = addressline|merge([location.address2]) %}
									{% endif %}
									{% if location.locality %}
										{% set addressline = addressline|merge([location.locality]) %}
									{% endif %}
									{% if location.city %}
										{% set addressline = addressline|merge([location.city]) %}
									{% endif %}
									{% if location.state %}
										{% set addressline = addressline|merge([location.state]) %}
									{% endif %}
									{% if location.postcode %}
										{% set addressline = addressline|merge([location.postcode]) %}
									{% endif %}
								
									{% if addressline|length %}
										<div class="zenario_lmal_addressline">
											{{addressline|escape|join(', ')}}
										</div>
									{% endif %}
						
									{% if location.phone %}
										{% set phone = location.phone|escape %}
										<div class="zenario_lmal_phone">
											{% trans %}
												T: {{phone}}
											{% endtrans %}
										</div>
									{% endif %}
									{% if location.email %}
										<div class="zenario_lmal_email">
											<a href="mailto:{{location.email|escape}}">{{location.email|escape}}</a>
										</div>
									{% endif %}	
									{% if location.url %}
										<div class="zenario_lmal_url">
											<a target="_blank" href="{{location.url|escape}}">{{location.url|escape}}</a>
										</div>
									{% endif %}        
									{% if location.summary %}
										{% set description = location.summary|escape %}
										<div class="zenario_lmal_description">
											{{description}}
										</div>
									{% endif %}
									{% if location.descriptive_page %}
										<div class="button view_descriptive_page list">
											<a target="_blank" href="{{location.descriptive_page|escape}}">{{button_label|escape}}</a>
										</div>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	{% endif %}
{% endif %}