#organizer_leftColumn div.organizer_legend a.Projects_top_level {
	background: url('images/icon-development-projects-off.png') no-repeat center / 20px 20px;
}

#organizer_leftColumn div.legend_on a.Projects_top_level,
#organizer_leftColumn div.organizer_legend a.Projects_top_level:hover,
#zenario_at_top_left_menu .organizer_top_level_image.Projects_top_level{ 
	background: url('images/icon-development-projects-on.png') no-repeat center / 20px 20px;
}
     
.organizer_item_image.project_locations__projects {
	background: url('images/icon-projects-dark.png') no-repeat center / 20px 20px;
}

.organizer_item_image.zenario__project_locations_sector {
	background: url('images/icon-sectors.svg') no-repeat center / auto 18px;
}


.organizer_item_image.zenario__project_locations_service {
	background: url('images/icon-services-dark.svg') no-repeat center / auto 18px;
}
