<!--shifted to top html
 <div class="download_links_box_middle">
	<div class="download_links_box_middle_wrapper">
		<div class="zenario_grid_save_tf {{(window.zenarioAdminHasSavePerms? 'zenario_grid_save_and_save_as_active' : 'zenario_grid_save_and_save_as_disabled zenario_grid_disabled" title="' + zenarioA.phrase.gridExportToFSDisabled)}}">
			<h3>{{zenarioA.phrase.gridSaveTemplate}}</h3>
			
			<div class="zenario_grid_save">
				<div class="nice_button"><div class="r"><a class="i" <% if (window.zenarioAdminHasSavePerms) { %>onclick="zenarioSD.save();" <% } %>>{{zenarioA.phrase.gridSave}}</a></div></div>
			</div>
	
			<div class="zenario_grid_save_as">
				<div class="nice_button"><div class="r"><a class="i" <% if (window.zenarioAdminHasSavePerms) { %>onclick="zenarioSD.save(true);" <% } %>>{{zenarioA.phrase.gridSaveAs}}</a></div></div>
			</div>
		</div>
	</div>
</div>
-->

<!-- removed this div tag-JS  
<div class="download_links_box_right">
	<div class="zenario_grid_downloads">
		<h3>{{zenarioA.phrase.gridDownloadTitle}}</h3>
		
		<div class="zenario_grid_download_image">
			<div class="nice_button download_btn"><div class="r"><a class="zenario_grid_download i" href="{{htmlspecialchars(m.src + '&image=1&png+1')}}">{{zenarioA.phrase.gridDownloadImage}}</a></div></div>
		</div>
		
		<div class="zenario_grid_download_css">
			<div class="nice_button download_btn"><div class="r"><a class="zenario_grid_copy zenario_grid_copy_css i" href="{{htmlspecialchars(m.src + '&css=1&copy=1')}}">{{zenarioA.phrase.gridDownloadCSS}}</a></div></div>
		</div>
		
		<div class="zenario_grid_download_html">
			<div class="nice_button download_btn"><div class="r"><a class="zenario_grid_copy zenario_grid_copy_html i" href="{{htmlspecialchars(m.src + '&html=1&copy=1')}}">{{zenarioA.phrase.gridDownloadHTML}}</a></div></div>
		</div>
		
		<% if (window.zenarioAdminHasZipPerms) { %>
			<div class="zenario_grid_download_zip">
				<div class="nice_button download_btn"><div class="r"><a class="zenario_grid_download i" href="{{htmlspecialchars(m.src + '&zip=1')}}" target="_blank">{{zenarioA.phrase.gridDownloadZip}}</a></div></div>
			</div>
		<% } %>
	</div>
</div>
-->
