<div class="content_wrap">
	<p><a class="zenario_grid_add_slot"><span>{{zenarioA.phrase.gridAddSlot}}</span></a></p>
	<p><a class="zenario_grid_add_space"><span>{{zenarioA.phrase.gridAddSpace}}</span></a></p>
	<p><a class="zenario_grid_add_children"><span>{{zenarioA.phrase.gridAddChildren}}</span></a></p>
	
	<% if (m.level == 0) { %>
		<p><a class="zenario_grid_add_grid_break"><span>{{zenarioA.phrase.gridAddGridBreak}}</span></a></p>
		<p><a class="zenario_grid_add_grid_break_with_slot"><span>{{zenarioA.phrase.gridAddGridBreakWithSlot}}</span></a></p>
	<% } %>
</div>